
/*====================================================================
*    common all
/*==================================================================*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bfbfbf;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    /* form clear */
    -webkit-appearance: none !important;
}

/* ----- Clearfix ----- */
.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*====================================================================
*    mixin
/*==================================================================*/

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
  @media (min-width: ($bp1281)) {
    @content;
  }
}

$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}

$bp1024: 1024px;

@mixin bp1024 {
  @media (max-width: ($bp1024)) {
    @content;
  }
}

$bp980: 980px;

@mixin bp980 {
  @media (max-width: ($bp980)) {
    @content;
  }
}

$bp930: 930px;

@mixin bp930 {
  @media (max-width: ($bp930)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents{
    display: block !important;

    @include bp768 {
        display: none !important;
    };
}
.sp_contents{
    display: none !important;

    @include bp768 {
        display: block !important;
    };
}

.pc_inline{
    display: inline !important;

    @include bp768 {
        display: none !important;
    };
}
.sp_inline{
    display: none !important;

    @include bp768 {
        display: inline !important;
    };
}

.pc_flex{
    display: flex !important;

    @include bp768 {
        display: none !important;
    };
}
.sp_flex{
    display: none !important;

    @include bp768 {
        display: flex !important;
    };
}

/* ----- Clearfix ----- */
.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*====================================================================
*    All
/*==================================================================*/
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    color: #222;
    box-sizing: border-box;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #fff;

    a{
        transition: .2s;
        display: block;
        text-decoration: none;
        color: #222;

        &:visited{
            color: #222;
        }

        &:hover{
            opacity: 0.8;
        }
    }

    img,svg{
        width: 100%;
        display: block;
    }

    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;
    }

    .slick-list:focus {
        outline: none;
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin: 0;
    }

    .slick-slide{
        outline: none;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-vertical .slick-slide {
        display: block;
        height: auto;
    }

    .slick-slide > .slick-slider-img {
        position: relative;
        display: block;
        width: 100%;
    }

    .slick-slide .image {
        width: 100%;
        margin: 0 auto;
    }

    .slick-slide img.slick-loading {
        display: none;
    }

    h2{
        font-size: .22rem;
        line-height: 1;
        letter-spacing: 0.27em;
    
        @include bp1281 {
            font-size: 22px;
        };

        span{
            display: block;
            font-size: .13rem;
            line-height: 1;
            letter-spacing: 0.04em;
            margin-top: 15px;
        
            @include bp1281 {
                font-size: 13px;
            };
        }
    }

    .breadArea{
        margin: 20px 0 10px;

        @include bp768 {
            width: 89.33%;
            margin: 77px auto 22px;
        };
        
        ul{
            display: flex;

            li{
                position: relative;

                a{
                    font-size: .11rem;
                    line-height: 1;
                    letter-spacing: 0.01em;
                    color: #707070;
                    text-decoration: underline;
                    font-weight: 300;
                
                    @include bp1281 {
                        font-size: 11px;
                    };
                }

                &:nth-child(n + 2){
                    margin-left: 23px;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: -14px;
                        background-image: url(../Contents/ImagesPkg/commons/icn_bread.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 4px;
                        height: 7.286px;
                    }
                }

                &:last-child{
                    a{
                        color: #161616;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .checkArea{
        margin-top: 80px;

        @include bp768 {
            width: 89.33%;
            margin: 40px auto 0;
        };

        &_ttl{
            font-size: .14rem;
            line-height: 1;
            letter-spacing: 0;
            color: #0F0F0F;
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            margin-bottom: 30px;
        
            @include bp1281 {
                font-size: 14px;
            };

            @include bp768 {
                margin-bottom: 15px;
            };
        }

        &_list{
            display: flex;

            @include bp768 {
                flex-wrap: wrap;
            };

            &--col{
                width: 13.73%;
                position: relative;

                @include bp768 {
                    width: 23.28%;
                };

                &:nth-child(n + 2){
                    margin-left: .63%;

                    @include bp768 {
                        margin-left: 2.24%;
                    };
                }

                &:nth-child(n + 8){
                    display: none;

                    @include bp768 {
                        display: block;
                    };
                }

                &:nth-child(4n + 1){
                    @include bp768 {
                        margin-left: 0;
                    };
                }

                &:nth-child(n + 5){
                    @include bp768 {
                        margin-top: 15px;
                    };
                }

                &:nth-child(n + 9){
                    @include bp768 {
                        display: none;
                    };
                }

                .soldout{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 40px;
                    font-weight: 500;
                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                    font-size: .12rem;
                    line-height: 40px;
                    letter-spacing: 0.08em;
                    text-align: center;
                    background-color: rgba(241,248,253,.8);
                
                    @include bp1281 {
                        font-size: 12px;
                    };
                }
            }
        }
    }
}

/*====================================================================
*    HEADER
/*==================================================================*/
header{
    width: 100%;
    z-index: 999;
    transition: transform .5s ease-in-out;
    border-bottom: 1px solid #E8E8E8;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0);

    @include bp980 {
        border-bottom: 1px solid #ccc;
    };

    &.hide{
        transform: translateY(-100%);
    }

    .headerCts{
        background-color: #fff;
        padding: 45px 0 15px;
        position: relative;

        @include bp980 {
            padding: 20px 0;
        };

        &_inner{
            width: 93.75%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include bp980 {
                width: 88%;
                align-items: center;
            };
        }

        &_main{
            width: 64.17%;

            @include bp980 {
                width: 40.91%;
                max-width: 135px;
            };

            h1{
                width: 200px;
                margin-bottom: 35px;

                @include bp980 {
                    width: 100%;
                    margin-bottom: 0;
                };
            }

            ul{
                display: flex;
                margin-bottom: 9px;

                @include bp980 {
                    display: none;
                };

                .menuList{
                    margin-right: 20px;

                    &:last-child{
                        margin-right: 0;
                    }

                    a{
                        font-size: .13rem;
                        line-height: 1;
                        letter-spacing: 0.04em;
                        position: relative;
                    
                        @include bp1281 {
                            font-size: 13px;
                        };
                    }

                    &.about{
                        padding-left: 30px;
                        position: relative;

                        &::before{
                            content: "";
                            position: absolute;
                            top: -5px;
                            left: 0;
                            background-color: #E8E8E8;
                            width: 1px;
                            height: 20px;
                        }
                    }

                    .megaMenu{
                        visibility: hidden;
                        transition: opacity .4s cubic-bezier(.445,.05,.55,.95),visibility .4s cubic-bezier(.445,.05,.55,.95);
                        opacity: 0;
                        position: absolute;
                        top: 141px;
                        left: 0;
                        width: 100%;
                        background-color: #fff;
                        padding: 40px 0 45px;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        z-index: 9999;

                        ul{
                            display: flex;
                            justify-content: center;
                            margin-bottom: 40px;

                            li{
                                &:nth-child(n + 2){
                                    margin-left: 30px;
                                }

                                a{
                                    font-size: .14rem;
                                    line-height: 1;
                                    letter-spacing: 0.08em;
                                    font-weight: 500;
                                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                
                                    @include bp1281 {
                                        font-size: 14px;
                                    };
                                }
                            }
                        }

                        &_item{
                            padding-top: 40px;
                            position: relative;
                            display: flex;
                            justify-content: center;

                            &::before{
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                width: 100%;
                                max-width: 1060px;
                                margin: auto;
                                height: 1px;
                                background-color: #EAEAEA;
                            }

                            &--list{
                                width: 150px;

                                &:nth-child(n + 2){
                                    margin-left: 20px;
                                }

                                p{
                                    margin-top: 20px;
                                    font-size: .12rem;
                                    line-height: 1;
                                    letter-spacing: 0.27em;
                                    text-align: center;
                                
                                    @include bp1281 {
                                        font-size: 12px;
                                    };

                                    span{
                                        display: block;
                                        margin-top: 10px;
                                        font-size: .12rem;
                                        line-height: 1;
                                        letter-spacing: 0.04em;
                                        color: #CCCCCC;
                                    
                                        @include bp1281 {
                                            font-size: 12px;
                                        };
                                    }

                                    &.lh{
                                        line-height: 1.5;

                                        span{
                                            line-height: 1.5;
                                        }
                                    }
                                }
                            }
                        }

                        &_btn{
                            width: 234px;
                            height: 50px;
                            line-height: 50px;
                            border: 1px solid #222222;
                            font-size: .12rem;
                            letter-spacing: 0.1em;
                            text-align: center;
                            margin: 40px auto 0;
                        
                            @include bp1281 {
                                font-size: 12px;
                            };
                        }
                    }

                    &.on{
                        .linkTxt{
                            display: inline;

                            &::after{
                                content: "";
                                position: absolute;
                                bottom: -20px;
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background-color: #222222;
                            }
                        }

                        .megaMenu{
                            visibility: visible;
                            opacity: 1;
                            transition: opacity .4s cubic-bezier(.445,.05,.55,.95),visibility .4s cubic-bezier(.445,.05,.55,.95);
                        }
                    }
                }
            }
        }

        &_sub{
            width: 41.83%;
            position: relative;

            @include bp980 {
                width: 55.13%;
                max-width: 182px;
            };

            ul{
                display: flex;
                margin-bottom: 25px;
                position: absolute;
                top: -44px;
                right: 0;

                @include bp980 {
                    display: none;
                };

                li{
                    &:nth-child(n + 2){
                        margin-left: 20px;
                    }

                    a{
                        font-size: .12rem;
                        line-height: 1;
                        letter-spacing: 0.04em;
                        font-weight: 300;
                    
                        @include bp1281 {
                            font-size: 12px;
                        };
                    }

                    &:first-child{
                        a{
                            display: inline-block;

                            &:nth-child(2){
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            &--wrap{
                display: flex;
                align-items: center;

                .spSearch{
                    display: none;

                    @include bp980 {
                        /* display: block;
                        width: 20px;
                        margin-right: 15.53%; */
                        display: none;
                    };
                }

                .searchArea{
                    width: 48.12%;
                    margin-right: 6.98%;
                    position: relative;

                    @include bp980 {
                        display: none;
                    };
        
                    &_txt{
                        input{
                            border-radius: 0;
                            -webkit-box-sizing: content-box;
                            -webkit-appearance: none;
                            appearance: none;
                            border: 1px solid #CCCCCC;
                            box-sizing: border-box;
                            outline: none;
                            background: #fff;
                            line-height: 1;
                            padding: 10px;
                            margin: 0;
                            box-sizing: border-box;
                            font-size: .12rem;
                            line-height: 1;
                            letter-spacing: 0.04em;
                            color: #222;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            width: 100%;
        
                            @include bp1281 {
                                font-size: 12px;
                            };
        
                            &::placeholder{
                                color: #C7C7C7;
                            }
                        }
                    }
        
                    &_btn{
                        width: 15px;
                        position: absolute;
                        top: 10px;
                        right: 20px;
                        cursor: pointer;
                    }
                }

                .heartArea{
                    /* width: 4.96%; */
                    width: 23px;
                    margin-right: 1.98%;

                    @include bp980 {
                        display: none;
                    };
                }

                .myArea{
                    width: 17.96%;
                    margin-right: 0.98%;

                    @include bp980 {
                        width: 38.96%;
                        margin-right: 0;
                    };

                    img{
                        width: 17px;
                        margin: 0 auto 5px;
                    }

                    p{
                        text-align: center;
                        font-size: .10rem;
                        line-height: 1;
                        letter-spacing: 0;
                        transform: scale(.8);
                        white-space: nowrap;
                    
                        @include bp1281 {
                            font-size: 10px;
                        };
                    }
                }

                .bagArea{
                    width: 16.28%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include bp980 {
                        width: 37.44%;
                    };

                    p{
                        font-size: .13rem;
                        line-height: 1;
                        letter-spacing: 0.04em;
                        text-align: left;
                    
                        @include bp1281 {
                            font-size: 13px;
                        };

                        @include bp980 {
                            font-size: .12rem;
                        };
                    }

                    &_num{
                        width: 30px;
                        height: 30px;
                        border: 1px solid #222222;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p{
                            text-align: center;
                            font-size: .12rem;
                            line-height: 1;
                            letter-spacing: 0.04em;
                        
                            @include bp1281 {
                                font-size: 12px;
                            };
                        }
                    }
                }

                .spLine{
                    display: none;

                    @include bp980 {
                        display: block;
                        width: 25px;
                        margin-left: auto;
                    };

                    .line{
                        @include bp980 {
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: #222222;
                        };

                        &:nth-child(n + 2){
                            @include bp980 {
                                display: block;
                                width: 100%;
                                margin-top: 8px;
                            };
                        }
                    }
                }
            }
        }
    }

    .headerInner{
        display: none;

        @include bp980 {
            display: block;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            height: 0;
            z-index: 9999;
            transform: translateX(-100%);
            transition: opacity .4s cubic-bezier(.445,.05,.55,.95), visibility .4s cubic-bezier(.445,.05,.55,.95) .4s;
            opacity: 0;
            visibility: hidden;
        };

        &_close{
            position: fixed;
            top: 20px;
            right: 12px;
            width: 20px;
        }

        &_inner{
            width: 88%;
            height: 100%;
            background-color: #fff;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        &_login{
            padding-bottom: 25px;
            border-bottom: 1px solid #E8E8E8;

            a{
                font-size: .14rem;
                line-height: 1;
                letter-spacing: 0;
                font-weight: 300;
                color: #161616;
                padding: 0 20px;
            
                @include bp1281 {
                    font-size: 14px;
                };

                &:nth-child(2){
                    margin-top: 15px;
                }
            }
        }

        &_bnr{
            width: 87.88%;
            margin: 0 auto 30px;
        }

        &_cat{
            &--list{
                padding: 25px 30px;
                border-top: 1px solid #E8E8E8;
                position: relative;
                background-color: #F1F8FD;

                p{
                    font-size: .14rem;
                    line-height: 1;
                    letter-spacing: 0.1em;
                
                    @include bp1281 {
                        font-size: 14px;
                    };
                }

                &::before{
                    content: "";
                    position: absolute;
                    top: 25px;
                    right: 26px;
                    display: block;
                    width: 1px;
                    height: 14px;
                    background-color: #222;
                }

                &::after{
                    content: "";
                    position: absolute;
                    top: 31px;
                    right: 19px;
                    display: block;
                    width: 14px;
                    height: 1px;
                    background-color: #222;
                }

                ul{
                    display: none;
                    margin-top: 16px;

                    li{
                        border-top: 1px solid #FFFFFF;
                        padding: 16px 10px;

                        &.indent{
                            padding: 16px 30px;
                        }

                        a{
                            font-size: .14rem;
                            line-height: 1;
                            font-weight: 300;
                            letter-spacing: 0.1em;
                        
                            @include bp1281 {
                                font-size: 14px;
                            };
                        }
                    }
                }

                &.on{
                    &::before{
                        content: none;
                    }
                }
            }
        }

        &_about{
            &--list{
                border-bottom: 1px solid #E8E8E8;
                padding: 24px 20px;

                a{
                    font-size: .14rem;
                    line-height: 1;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                
                    @include bp1281 {
                        font-size: 14px;
                    };
                }
            }
        }

        &_pdc{
            font-size: .12rem;
            line-height: 1;
            letter-spacing: 0.1em;
            padding: 32px 20px 16px;
            background-color: #F1F8FD;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            font-weight: 500;
        
            @include bp1281 {
                font-size: 12px;
            };
        }

        &_blue{
            margin: 0 0 16px;

            &--list{
                padding: 25px 20px;
                border-top: 1px solid #E8E8E8;
                position: relative;
                background-color: #F1F8FD;

                a{
                    font-size: .14rem;
                    line-height: 1;
                    letter-spacing: 0.1em;
                
                    @include bp1281 {
                        font-size: 14px;
                    };
                }
            }
        }

        &_link{
            margin: 0 0 25px;
            padding: 0 20px;

            &--list{
                border-bottom: 1px solid #E8E8E8;
                padding: 16px 0;

                &:last-child{
                    border-bottom: none;
                }

                a{
                    font-size: .14rem;
                    line-height: 1;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                
                    @include bp1281 {
                        font-size: 14px;
                    };
                }
            }
        }

        &_mag{
            background-color: #fff;
            border: 1px solid #E8E8E8;
            padding: 22px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin: 0 auto 30px;
            width: 87.88%;

            img{
                width: 20px;
                margin-right: 10px;
            }

            p{
                font-size: .12rem;
                line-height: 1;
                letter-spacing: 0.04em;
                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                font-weight: 500;
            
                @include bp1281 {
                    font-size: 12px;
                };
            }
        }

        &_sns{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 37.58%;
            margin: 0 auto;

            &_list{
                @include bp980 {
                    width: 24.19%;
                };

                &.fb{
                    @include bp980 {
                        width: 12.9%;
                    };
                }
            }
        }
    }

    /* MENU OPEN */
    &.open{
        &::after{
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh; /* 変数をサポートしていないブラウザのフォールバック */
            height: calc(var(--vh, 1vh) * 100);
            background-color: rgba(34,34,34,.6);
            z-index: 9998;
        }

        .headerInner{
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            transition: transform .4s cubic-bezier(.445,.05,.55,.95), opacity .4s cubic-bezier(.445,.05,.55,.95) .3s, visibility .4s cubic-bezier(.445,.05,.55,.95) .3s;
            height: 100vh; /* 変数をサポートしていないブラウザのフォールバック */
            height: calc(var(--vh, 1vh) * 100);

            &_inner{
                padding: 24px 0 40px;
            }
        }
    }

    .searchSp{
        display: none;
    
        @include bp980 {
            background-color: #F0F3F5;
            padding: 20px 30px 30px;
            position: fixed;
            left: 0;
            width: 100%;
            z-index: 999;
        };
    
        &.on{
            @include bp980 {
                display: block;
            };
        }
    
        p{
            font-size: .14rem;
            line-height: 1;
            letter-spacing: 0.02em;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            font-weight: 500;
            margin-bottom: 10px;
        
            @include bp1281 {
                font-size: 14px;
            };
        }
    
        &_input{
            position: relative;
    
            input{
                border-radius: 0;
                -webkit-box-sizing: content-box;
                -webkit-appearance: none;
                appearance: none;
                border: none;
                box-sizing: border-box;
                outline: none;
                background: #fff;
                line-height: 1;
                padding: 15px;
                margin: 0;
                box-sizing: border-box;
                font-size: .13rem;
                line-height: 1;
                letter-spacing: 0.04em;
                color: #222;
                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                width: 100%;
    
                @include bp1281 {
                    font-size: 13px;
                };
            }
        }
    
        &_btn{
            width: 20px;
            position: absolute;
            top: 13px;
            right: 20px;
            cursor: pointer;
        }
    }
}

/*====================================================================
*    COMMON
/*==================================================================*/
#wrap{
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    transition: all .6s cubic-bezier(.165,.84,.44,1);

    &.open{
        overflow-y: hidden;
        overflow-x: hidden;
        opacity: 0;
        transition: all .6s cubic-bezier(.165,.84,.44,1) .6s;
    }
}

/*====================================================================
*    TOP
/*==================================================================*/
#top{
    .mvArea{
        width: 93.75%;
        margin: 15px auto 120px;

        @include bp768 {
            width: 100%;
            padding-bottom: 25px;
            margin: 25px auto 72px;
            border-bottom: 1px solid #CCCCCC;
        };

        &_slide{
            width: 94.17%;

            @include bp768 {
                width: 100%;
            };

            .slick-dots {
                bottom: 0;
                left: 79.65%;
                top: unset;
                overflow: hidden;
                display: flex;

                @include bp768 {
                    left: unset;
                    right: 20px;
                    width: auto;
                };

                li {
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    margin: 0;
                    border: 1px solid #CCCCCC;
                    border-radius: 50%;
                    transition: all .7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;

                    &.slick-active {
                        background-color: #3E6572;
                        border: 1px solid #3E6572;
                    }

                    button {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;

                        &::before {
                            content: none;
                        }
                    }

                    &:nth-child(n + 2){
                        margin-left: 8px;
                    }
                }
            }

            &--list{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @include bp768 {
                    display: block;
                    margin: 0 4px;
                };

                .mvPic{
                    width: 75.22%;
                    display: flex;
                    justify-content: space-between;

                    @include bp768 {
                        width: 100%;
                    };

                    &_list{
                        /* width: 49.41%; */
                        width: 100%;

                        /* @include bp768 {
                            width: 100%;
                        };

                        &:nth-child(2){
                            @include bp768 {
                                display: none;
                            };
                        } */
                    }
                }

                .mvTxt{
                    width: 21%;
                    margin-bottom: 50px;
                    margin-right: 1px;

                    @include bp768 {
                        width: 100%;
                        margin: 15px auto 0;
                        transition: .3s opacity ease;
                    };

                    &_ttl{
                        font-size: .26rem;
                        font-weight: 300;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-bottom: 15px;
                        word-break: break-word;
                        text-align: left;
                    
                        @include bp1281 {
                            font-size: 26px;
                        };

                        @include bp768 {
                            font-size: .22rem;
                        };
                    }

                    &_txt{
                        font-size: .13rem;
                        line-height: 1.69;
                        letter-spacing: 0.04em;
                        margin-bottom: 24px;
                    
                        @include bp1281 {
                            font-size: 13px;
                        };
                    }

                    &_btn{
                        width: 100%;
                        height: 50px;
                        font-size: .12rem;
                        line-height: 50px;
                        border: 1px solid #222222;
                        letter-spacing: 0.1em;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 12px;
                        };

                        @include bp768 {
                            width: 68.66%;
                        };
                    }
                }

                &:not(.slick-center){
                    .mvTxt{
                        @include bp768 {
                            opacity: 0;
                        };
                    }
                }
            }
        }
    }

    .promoArea{
        width: 91.41%;
        margin: 0 0 120px auto;

        @include bp768 {
            width: 94.67%;
            margin: 0 0 80px auto;
        };

        &_slide{
            margin-top: 40px;

            @include bp768 {
                margin-top: 24px;
            };

            .slide-arrow {
                position: absolute;
                top: -90px;
                right: 9.4%;
                bottom: unset;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                width: 40px;
                height: 40px;
                z-index: 2;

                @include bp768 {
                    top: -73px;
                    right: 20px;
                };

                &.prev-arrow {
                    right: 13.68%;

                    @include bp768 {
                        right: 68px;
                    };
                }
            }

            &--list{
                margin-right: 20px;

                @include bp768 {
                    margin-right: 8px;
                };

                .date{
                    font-size: .11rem;
                    line-height: 1;
                    color: #666666;
                    letter-spacing: 0.04em;
                    font-weight: 300;
                    margin: 15px 0 10px;
                
                    @include bp1281 {
                        font-size: 11px;
                    };
                }

                .cts{
                    font-size: .13rem;
                    line-height: 1.69;
                    letter-spacing: 0.04em;
                    font-weight: 500;
                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                
                    @include bp1281 {
                        font-size: 13px;
                    };
                }
            }
        }
    }

    .PickupArea{
        width: 82.81%;
        margin: 0 auto 120px;

        @include bp768 {
            width: 89.33%;
            margin: 0 auto 80px;
        };

        h2{
            @include bp768 {
                line-height: 1.45;
            };
        }

        &_box{
            margin: 40px 0 0;
            display: flex;

            @include bp768 {
                margin: 30px 0 0;
                flex-wrap: wrap;
                justify-content: space-between;
            };

            &--list{
                width: 23.58%;
                margin-right: 1.89%;

                @include bp768 {
                    width: 100%;
                    margin-right: 0;
                };

                &:nth-child(4n){
                    margin-right: 0;
                }

                &:nth-child(n + 2){
                    @include bp768 {
                        margin-top: 40px;
                    };
                }

                a{
                    @include bp768 {
                        display: flex;
                        justify-content: space-between;
                    };
                }

                .pic{
                    @include bp768 {
                        width: 43%;
                    };
                }

                .cts{
                    font-size: .13rem;
                    line-height: 1.69;
                    letter-spacing: 0.04em;
                    margin-top: 15px;

                    @include bp1281 {
                        font-size: 13px;
                    };

                    @include bp768 {
                        width: 53%;
                        margin-top: 5px;
                    };

                    span{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .13rem;
                        line-height: 1.69;
                        letter-spacing: 0.04em;
                        display: block;
                        margin-bottom: 5px;
    
                        @include bp1281 {
                            font-size: 13px;
                        };
                    }
                }
            }
        }
    }

    .linkArea{
        margin: 0 0 120px;
        display: flex;
        justify-content: space-between;

        @include bp768 {
            margin: 0 0 100px;
            display: block;
        };

        .slick-dots {
            @include bp768 {
                bottom: -18px;
                left: 0;
                right: 0;
                top: unset;
                overflow: hidden;
                display: flex;
                justify-content: center;
                width: auto;
            };

            li {
                @include bp768 {
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    margin: 0;
                    border: 1px solid #CCCCCC;
                    border-radius: 50%;
                    transition: all .7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
                };

                &.slick-active {
                    @include bp768 {
                        background-color: #3E6572;
                        border: 1px solid #3E6572;
                    };
                }

                button {
                    @include bp768 {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                    };

                    &::before {
                        content: none;
                    }
                }

                &:nth-child(n + 2){
                    @include bp768 {
                        margin-left: 8px;
                    };
                }
            }
        }

        &_list{
            width: calc(100% / 3);

            @include bp768 {
                width: 84%;
            };
        }
    }

    .keywordsArea{
        width: 54.69%;
        margin: 0 auto 80px;

        @include bp768 {
            width: 89.33%;
            margin: 0 auto 40px;
        };

        h2{
            text-align: center;
        }

        &_list{
            margin: 20px 0;
            text-align: center;
            font-size: 0;

            @include bp768 {
                margin: 15px 0 25px;
                text-align: left;
            };

            li{
                display: inline-block;
                margin: 0 10px 20px;
                border: 1px solid #CCCCCC;
                border-radius: 2px;

                @include bp768 {
                    margin: 0 15px 15px 0;
                };

                a{
                    font-size: .13rem;
                    line-height: 1;
                    letter-spacing: 0.04em;
                    background-color: #fff;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                
                    @include bp1281 {
                        font-size: 13px;
                    };

                    &:hover{
                        background-color: #5392A8;
                        opacity: 1;
                        color: #fff;
                    }
                }
            }
        }

        &_search{
            position: relative;

            &--input{
                input{
                    border-radius: 0;
                    -webkit-box-sizing: content-box;
                    -webkit-appearance: none;
                    appearance: none;
                    border: none;
                    box-sizing: border-box;
                    outline: none;
                    background: #EFEDED;
                    line-height: 1;
                    padding: 20px;
                    margin: 0;
                    box-sizing: border-box;
                    font-size: .13rem;
                    line-height: 1;
                    letter-spacing: 0.04em;
                    color: #222;
                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                    width: 100%;

                    @include bp1281 {
                        font-size: 13px;
                    };

                    &::placeholder{
                        color: #C7C7C7;
                    }
                }
            }

            &--btn{
                width: 20px;
                position: absolute;
                top: 18px;
                right: 30px;
                cursor: pointer;
            }
        }
    }

    .bnrArea_01{
        width: 82.81%;
        margin: 0 auto 200px;

        @include bp768 {
            width: 100%;
            margin: 0 auto 120px;
        };
    }

    .lineupArea{
        width: 91.41%;
        margin: 0 0 0 auto;

        @include bp768 {
            width: 94.67%;
        };

        &_list{
            margin-bottom: 200px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include bp768 {
                margin-bottom: 120px;
                display: block;
            };

            &--txt{
                width: 40.17%;

                @include bp768 {
                    width: 100%;
                    margin-bottom: 24px;
                };

                .lead{
                    font-size: .22rem;
                    line-height: 1.73;
                    letter-spacing: 0.04em;
                    font-weight: 300;
                    margin: 20px 0 30px;

                    @include bp1281 {
                        font-size: 22px;
                    };

                    @include bp768 {
                        line-height: 1.45;
                        margin: 15px 0 20px;
                    };
                }

                .txt{
                    font-size: .13rem;
                    line-height: 2.31;
                    letter-spacing: 0.08em;
                    margin-bottom: 30px;

                    @include bp1281 {
                        font-size: 13px;
                    };

                    @include bp768 {
                        display: none;
                    };
                }

                .lineupBtn{
                    width: 100%;
                    max-width: 230px;
                    height: 50px;
                    font-size: .12rem;
                    line-height: 50px;
                    letter-spacing: 0.1em;
                    border: 1px solid #222222;
                    text-align: center;

                    @include bp1281 {
                        font-size: 12px;
                    };

                    @include bp768 {
                        width: 64.79%;
                    };
                }
            }

            &--slide{
                width: 59.83%;
                margin: 0;
                padding-bottom: 40px;

                @include bp768 {
                    width: 100%;
                    padding-bottom: 25px;
                };

                .slick-track{
                    @include bp768 {
                        margin-left: -100px;
                    };
                }

                .slide-arrow {
                    position: absolute;
                    top: 7.14vw;
                    right: 30px;
                    bottom: unset;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    width: 50px;
                    height: 50px;
                    z-index: 2;

                    @include bp768 {
                        top: 23.38vw;
                        right: 20px;
                    };

                    &.prev-arrow {
                        display: none;
                    }
                }

                .slick-dots {
                    bottom: 0;
                    left: 0;
                    top: unset;
                    overflow: hidden;
                    display: flex;
                    width: 100%;

                    @include bp768 {
                        width: 94.37%;
                    };
    
                    li {
                        width: 100%;
                        height: 3px;
                        background-color: #CCCCCC;
                        margin: 0;
                        border: none;
                        transition: all .7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
    
                        &.slick-active {
                            background-color: #3E6572;
                        }
    
                        button {
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            margin: 0;
    
                            &::before {
                                content: none;
                            }
                        }
                    }
                }

                .slideList{
                    width: 31.43%;
                    margin-right: 20px;

                    @include bp768 {
                        width: 61.97%;
                        margin-right: 9px;
                    };

                    .name{
                        padding: 20px 10px 24px;
                        font-size: .12rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-weight: 700;
                        text-decoration: underline;
    
                        @include bp1281 {
                            font-size: 12px;
                        };

                        @include bp768 {
                            padding: 20px 10px 15px;
                        };
                    }

                    .cts{
                        padding: 0 10px;
                        font-size: .13rem;
                        line-height: 1.69;
                        letter-spacing: 0.04em;
    
                        @include bp1281 {
                            font-size: 13px;
                        };
                    }
                }
            }
        }
    }

    .journalArea{
        width: 82.81%;
        margin: 0 auto 120px;

        @include bp768 {
            width: 89.33%;
            margin: 0 auto 80px;
        };

        h2{
            @include bp768 {
                line-height: 1.45;
            };

            span{
                @include bp768 {
                    margin-top: 8px;
                };
            }
        }

        &_box{
            margin: 40px 0 56px;
            display: flex;

            @include bp768 {
                margin: 30px 0 15px;
                flex-wrap: wrap;
                justify-content: space-between;
            };

            &--list{
                width: 23.58%;
                margin-right: 1.89%;

                @include bp768 {
                    width: 47.76%;
                    margin-right: 0;
                };

                &:nth-child(4n){
                    margin-right: 0;
                }

                &:nth-child(n + 3){
                    @include bp768 {
                        margin-top: 40px;
                    };
                }

                .date{
                    font-size: .11rem;
                    line-height: 1;
                    letter-spacing: 0.04em;
                    color: #666666;
                    font-weight: 300;
                    margin: 15px 0 10px;

                    @include bp1281 {
                        font-size: 11px;
                    };
                }

                .cts{
                    font-size: .13rem;
                    line-height: 1.69;
                    letter-spacing: 0.04em;
                    font-weight: 500;
                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

                    @include bp1281 {
                        font-size: 13px;
                    };
                }
            }
        }

        &_btn{
            width: 230px;
            height: 50px;
            border: 1px solid #222222;
            font-size: .12rem;
            line-height: 50px;
            letter-spacing: 0.1em;
            text-align: center;
            margin: 0 auto;

            @include bp1281 {
                font-size: 12px;
            };

            @include bp768 {
                width: 68.66%;
            };
        }
    }

    .bnrArea_02{
        width: 82.81%;
        margin: 0 auto 120px;

        @include bp768 {
            width: 100%;
            margin: 0 auto 80px;
        };
    }

    .messageArea{
        width: 63.141%;
        margin: 0 auto 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

        @include bp768 {
            width: 100%;
            margin: 0 auto 120px;
            display: block;
        };

        &_pic{
            width: 49.351%;

            @include bp768 {
                width: 100%;
                margin-bottom: 40px;
            };
        }

        &_txt{
            width: 50.649%;

            @include bp768 {
                width: 100%;
            };

            &--inner{
                /* width: 52%; */
                /* max-width: 241px; */
                width: 100%;
                margin: 0 auto;

                @include bp768 {
                    width: 64.27%;
                };
            }

            &--ttl{
                font-size: .24rem;
                font-weight: 300;
                line-height: 1.67;
                letter-spacing: 0.04em;
                margin-bottom: 20px;
    
                @include bp1281 {
                    font-size: 24px;
                };
            }

            &--txt{
                font-size: .13rem;
                font-weight: 300;
                line-height: 2.62;
                letter-spacing: 0.04em;
                margin-bottom: 35px;
    
                @include bp1281 {
                    font-size: 13px;
                };
            }

            &--name{
                font-size: .18rem;
                line-height: 1;
                letter-spacing: 0.18em;
                margin-bottom: 40px;
    
                @include bp1281 {
                    font-size: 18px;
                };

                span{
                    font-size: .12rem;
                    line-height: 1;
                    letter-spacing: 0.08em;
                    margin-bottom: 15px;
                    display: block;
        
                    @include bp1281 {
                        font-size: 12px;
                    };
                }
            }

            &--btn{
                width: 100%;
                max-width: 230px;
                height: 50px;
                border: 1px solid #222222;
                font-size: .12rem;
                line-height: 50px;
                letter-spacing: 0.1em;
                text-align: center;
    
                @include bp1281 {
                    font-size: 12px;
                };

                @include bp768 {
                    width: 95.44%;
                };
            }
        }
    }

    .infoMediaArea{
        width: 82.81%;
        margin: 0 auto 170px;
        display: flex;
        justify-content: space-between;

        @include bp768 {
            width: 89.33%;
            margin: 0 auto 70px;
            display: block;
        };

        .infoArea{
            width: 51.42%;

            @include bp768 {
                width: 100%;
                margin-bottom: 80px;
            };

            &_box{
                margin-top: 30px;

                dl{
                    display: flex;

                    @include bp768 {
                        display: block;
                    };
                    
                    dt{
                        width: 86px;

                        @include bp768 {
                            width: 100%;
                            margin-bottom: 10px;
                        };

                        p{
                            font-size: .11rem;
                            color: #666666;
                            line-height: 1.69;
                            letter-spacing: 0.04em;
                            font-weight: 300;
                
                            @include bp1281 {
                                font-size: 11px;
                            };

                            @include bp768 {
                                line-height: 1;
                            };
                        }
                    }

                    dd{
                        width: calc(100% - 86px);

                        @include bp768 {
                            width: 100%;
                        };

                        a, p{
                            font-size: .13rem;
                            line-height: 1.69;
                            letter-spacing: 0.04em;
                            text-decoration: underline;
                
                            @include bp1281 {
                                font-size: 13px;
                            };
                        }
                    }
                    
                    &:nth-child(n + 2){
                        margin-top: 20px;

                        @include bp768 {
                            margin-top: 30px;
                        };
                    }
                }
            }
        }

        .mediaArea{
            width: 40.57%;

            @include bp768 {
                width: 100%;
            };

            &_txt{
                font-size: .14rem;
                line-height: 1.57;
                letter-spacing: 0.02em;
                font-weight: 300;
                margin: 15px 0;
    
                @include bp1281 {
                    font-size: 14px;
                };

                @include bp768 {
                    margin: 15px 0 25px;
                };
            }

            &_box{
                display: flex;
                justify-content: space-between;

                @include bp768 {
                    flex-wrap: wrap;
                };

                &--list{
                    width: 23.26%;
                    background-color: #F0F3F5;
                    padding: 10px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    @include bp768 {
                        width: 49.25%;
                    };
                    
                    p{
                        font-size: .10rem;
                        line-height: 1.4;
                        letter-spacing: 0.04em;
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        text-align: center;
                        width: 100%;
            
                        @include bp1281 {
                            font-size: 10px;
                        };
                    }

                    &:nth-child(1){
                        img{
                            width: 60%;
                            margin: 20px auto 14px;

                            @include bp768 {
                                width: 36.36%;
                            };
                        }
                    }

                    &:nth-child(2){
                        img{
                            width: 65%;
                            margin: 10px auto 13px;

                            @include bp768 {
                                width: 39.39%;
                                margin: 12px auto 11px;
                            };
                        }
                    }

                    &:nth-child(3){
                        @include bp768 {
                            margin-top: 5px;
                        };

                        img{
                            width: 40.23%;
                            margin: 28px auto 23px;

                            @include bp768 {
                                width: 27.31%;
                                margin: 25px auto 20px;
                            };
                        }
                    }

                    &:nth-child(4){
                        @include bp768 {
                            margin-top: 5px;
                        };
                        
                        img{
                            width: 30.75%;
                            margin: 27px auto 22px;

                            @include bp768 {
                                width: 24.32%;
                                margin: 20px auto 15px;
                            };
                        }
                    }
                }
            }
        }
    }

    .instaArea{
        width: 82.81%;
        margin: 0 auto 160px;

        @include bp768 {
            width: 89.33%;
            margin: 0 auto 80px;
        };

        h2{
            @include bp768 {
                line-height: 1.45;
            };
        }

        &_box{
            display: flex;
            align-items: center;
            margin-top: 15px;

            img{
                width: 20px;
                margin-right: 10px;
            }

            a{
                font-size: .12rem;
                line-height: 1;
                letter-spacing: 0.18em;
    
                @include bp1281 {
                    font-size: 12px;
                };
            }
        }

        #instafeed{
            display: flex;
            margin-top: 30px;

            @include bp768 {
                flex-wrap: wrap;
            };

            div{
                width: calc(100% / 5);

                @include bp768 {
                    width: calc(100% / 3);
                };

                &:last-child{
                    display: none;

                    @include bp768 {
                        display: block;
                    };
                }
            }
        }
    }

    .brandsArea{
        width: 82.81%;
        margin: 0 auto 80px;

        @include bp768 {
            width: 89.33%;
        };

        h2{
            text-align: center;
            margin-bottom: 40px;

            @include bp768 {
                text-align: left;
                margin-bottom: 30px;
            };
        }

        &_box{
            display: flex;
            justify-content: space-between;

            @include bp768 {
                display: block;
            };

            &--list{
                width: 32.08%;

                @include bp768 {
                    width: 100%;
                };

                &:nth-child(n + 2){
                    @include bp768 {
                        margin-top: 15px;
                    };
                }
            }
        }
    }

    .modalArea{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* 変数をサポートしていないブラウザのフォールバック */
        height: calc(var(--vh, 1vh) * 100);
        background-color: rgba(17,17,17,.9);
        z-index: 99999;

        .closeIcn{
            position: absolute;
            top: -60px;
            right: -60px;
            width: 40px;
            cursor: pointer;
            z-index: 2;

            @include bp768 {
                position: absolute;
                top: 10px;
                right: 20px;
            };
        }

        &_inner{
            width: 100%;
            // max-width: 734px;
            max-width: 655px;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #F1F8FD;
            transform: translate(-50%,-50%);
            padding: 80px 0;

            @include bp768 {
                width: 89.33%;
                padding: 20px 10px;
            };

            &.tate{
                max-width: 400px;
            }

            .modalTtl{
                font-size: .24rem;
                font-weight: 500;
                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                line-height: 1;
                letter-spacing: 0.02em;
                margin-bottom: 20px;
                text-align: center;
            
                @include bp1281 {
                    font-size: 24px;
                };

                @include bp768 {
                    font-size: .20rem;
                    line-height: 1.4;
                    margin-bottom: 15px;
                };
            }

            .modalTxt{
                font-size: .13rem;
                font-weight: 300;
                line-height: 1.69;
                letter-spacing: 0.02em;
                text-align: center;
            
                @include bp1281 {
                    font-size: 13px;
                };

                @include bp768 {
                    line-height: 1.5;
                };

                .fwBold{
                    font-weight: 500;
                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                }

                a{
                    display: inline;
                    text-decoration: underline;
                    color: #327CCF;
                }
            }
        }
    }
}

/*====================================================================
*    FOOTER
/*==================================================================*/
footer{
    width: 100%;

    .footGuide{
        width: 82.03%;
        margin: 0 auto 80px;
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
    
        @include bp768 {
            width: 100%;
            margin: 0 auto;
            padding-top: 0;
            display: block;
            border-top: 1px solid #CCCCCC;
        };

        &_list{
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% / 3);
            position: relative;
    
            @include bp768 {
                justify-content: inherit;
                width: 100%;
                padding: 25px 0;
            };

            &::after{
                content: "";
                position: absolute;
                top: -28px;
                right: 0;
                bottom: -40px;
                width: 1px;
                background-color: rgba(204, 204, 204, .5);
    
                @include bp768 {
                    top: unset;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #CCCCCC;
                };
            }

            &:nth-child(2){
                padding: 0 0 0 2.5%;
    
                @include bp768 {
                    padding: 25px 0;
                };
            }

            &:last-child{
                &::after{
                    content: none;
                }
            }

            &--pic{
                width: 12.86%;
                margin-right: 5.71%;
    
                @include bp768 {
                    width: 25.33%;
                    margin: 0;
                };

                img{
                    @include bp768 {
                        width: 47.37%;
                        margin: auto;
                    };
                }

                &.pic02{
                    width: 14.29%;
    
                    @include bp768 {
                        width: 25.33%;
                    };

                    img{
                        @include bp768 {
                            width: 52.63%;
                        };
                    }
                }
            }

            &--txt{
                width: 70%;

                @include bp768 {
                    width: 66.67%;
                    margin-right: 20px;
                };

                .guideTtl{
                    font-size: .16rem;
                    font-weight: 500;
                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                    line-height: 1;
                    letter-spacing: 0.04em;
                    margin-bottom: 12px;
                
                    @include bp1281 {
                        font-size: 16px;
                    };

                    @include bp768 {
                        font-size: .14rem;
                        margin-bottom: 10px;
                    };
                }

                .guideTxt{
                    font-size: .12rem;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                
                    @include bp1281 {
                        font-size: 12px;
                    };

                    a{
                        display: inline;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footMain{
        background-color: #F0EDED;
        padding: 60px 0 50px;

        @include bp768 {
            padding: 40px 0;
        };

        &_inner{
            width: 82.81%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            position: relative;

            @include bp768 {
                width: 100%;
                display: block;
            };

            &--menu{
                width: 62.26%;
                display: flex;
                justify-content: space-between;

                @include bp768 {
                    display: none;
                };

                ul{
                    margin-right: 8.5%;

                    &:last-child{
                        margin-right: 0;
                    }

                    li{
                        margin-bottom: 25px;

                        a, p{
                            font-size: .12rem;
                            line-height: 1.1;
                            letter-spacing: 0.04em;
                        
                            @include bp1281 {
                                font-size: 12px;
                            };
                        }
                    }

                    &.sns{
                        li{
                            padding-left: 22px;
                            background-repeat: no-repeat;
                            background-position: left center;

                            &.ig{
                                background-image: url(../Contents/ImagesPkg/commons/instagram.svg);
                                background-size: 12px 12px;
                            }

                            &.tw{
                                background-image: url(../Contents/ImagesPkg/commons/twitter.svg);
                                background-size: 12px 9px;
                            }

                            &.fb{
                                background-image: url(../Contents/ImagesPkg/commons/facebook.svg);
                                background-size: 6px 12px;
                                background-position: left 3px center;
                            }
                        }
                    }
                }
            }

            &--contact{
                width: 33.49%;

                @include bp768 {
                    width: 100%;
                };

                .contactBox{
                    width: 79.72%;
                    margin: 0 0 40px auto;

                    @include bp768 {
                        width: 75.47%;
                        margin: 0 auto 40px;
                    };

                    &_ttl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .13rem;
                        line-height: 1;
                        letter-spacing: 0.04em;
                        margin-bottom: 10px;
                    
                        @include bp1281 {
                            font-size: 13px;
                        };
                    }

                    &_num{
                        display: flex;
                        justify-content: space-between;

                        &--pic{
                            width: 8.21%;
                            margin-right: 5.3%;
                        }

                        &--txt{
                            width: 86.49%;

                            .num{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .24rem;
                                line-height: 1;
                                letter-spacing: 0.04em;
                                margin-bottom: 5px;
                                color: #222;
                            
                                @include bp1281 {
                                    font-size: 24px;
                                };

                                span{
                                    font-size: .10rem;
                                    line-height: 1;
                                    letter-spacing: 0.02em;
                                    color: #222;
                                    display: inline-block;
                                    margin-left: 10px;
                                    vertical-align: middle;
                                
                                    @include bp1281 {
                                        font-size: 10px;
                                    };
                                }
                            }

                            .time{
                                font-size: .11rem;
                                line-height: 1;
                                letter-spacing: 0.02em;
                                color: #444444;
                            
                                @include bp1281 {
                                    font-size: 11px;
                                };
                            }
                        }
                    }
                }

                .magBox{
                    width: 79.72%;
                    margin: 0 0 54px auto;

                    @include bp768 {
                        width: 100%;
                        margin: 0 0 30px;
                    };

                    &.mrgB0{
                        margin-bottom: 0;
                    }

                    &_btn{
                        background-color: #fff;
                        padding: 22px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        margin-bottom: 10px;

                        @include bp768 {
                            width: 75.47%;
                            margin: 0 auto 40px;
                            margin-bottom: 15px;
                        };

                        img{
                            width: 20px;
                            margin-right: 10px;
                        }

                        p{
                            font-size: .10rem;
                            line-height: 1;
                            letter-spacing: 0.04em;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-weight: 700;
                        
                            @include bp1281 {
                                font-size: 10px;
                            };
                        }
                    }

                    &_txt{
                        font-size: .10rem;
                        line-height: 1.6;
                        letter-spacing: 0.02em;
                        text-align: right;
                    
                        @include bp1281 {
                            font-size: 10px;
                        };

                        @include bp768 {
                            font-size: .12rem;
                            line-height: 1.5;
                            text-align: center;
                        };
                    }
                }

                .snsBox{
                    display: none;

                    @include bp768 {
                        display: flex;
                        justify-content: space-between;
                        width: 37.33%;
                        margin: 0 auto 40px;
                    };

                    &_list{
                        @include bp768 {
                            width: 21.43%;
                        };

                        &.fb{
                            @include bp768 {
                                width: 11.43%;
                            };
                        }
                    }
                }

                .payBox{
                    @include bp768 {
                        width: 89.33%;
                        margin: 0 auto 25px;
                    };
                }
            }

            &--link{
                display: none;

                @include bp768 {
                    margin-bottom: 25px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                };

                li{
                    margin-right: 10px;

                    &:last-child{
                        margin-right: 0;
                    }

                    a{
                        font-size: .12rem;
                        line-height: 2;
                        letter-spacing: 0.02em;
                        text-decoration: underline;
                    }
                }
            }

            &--copy{
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: .10rem;
                font-weight: 300;
                line-height: 1;
                letter-spacing: 0.04em;
            
                @include bp1281 {
                    font-size: 10px;
                };

                @include bp768 {
                    position: unset;
                    bottom: unset;
                    left: unset;
                    text-align: center;
                };
            }
        }
    }
}

/*====================================================================
*    Fade
/*==================================================================*/
.fade_in{
    opacity: 0;
    transform: translate3d(0, 0, 0);

    &.on{
        -webkit-animation: fade_in 1.5s ease .2s forwards;
        -moz-animation: fade_in 1.5s ease .2s forwards;
        animation: fade_in 1.5s ease .2s forwards;

        &.fade_in--2{
            -webkit-animation: fade_in 1.5s ease .3s forwards;
            -moz-animation: fade_in 1.5s ease .3s forwards;
            animation: fade_in 1.5s ease .3s forwards;
        }

        &.fade_in--3{
            -webkit-animation: fade_in 1.5s ease .4s forwards;
            -moz-animation: fade_in 1.5s ease .4s forwards;
            animation: fade_in 1.5s ease .4s forwards;
        }

        &.fade_in--4{
            -webkit-animation: fade_in 1.5s ease .5s forwards;
            -moz-animation: fade_in 1.5s ease .5s forwards;
            animation: fade_in 1.5s ease .5s forwards;
        }

        &.fade_in--5{
            -webkit-animation: fade_in 1.5s ease .6s forwards;
            -moz-animation: fade_in 1.5s ease .6s forwards;
            animation: fade_in 1.5s ease .6s forwards;
        }

        &.fade_in--6{
            -webkit-animation: fade_in 1.5s ease .7s forwards;
            -moz-animation: fade_in 1.5s ease .7s forwards;
            animation: fade_in 1.5s ease .7s forwards;
        }
    }
}
.fade_in.on{
    -webkit-animation: fade_in 1.5s ease .2s forwards;
    -moz-animation: fade_in 1.5s ease .2s forwards;
    animation: fade_in 1.5s ease .2s forwards;
}

@keyframes fade_in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade_bottom{
    opacity: 0;
    transform: translate3d(0, 20px, 0);

    &.on{
        -webkit-animation: fade_bottom .5s ease .2s forwards;
        -moz-animation: fade_bottom .5s ease .2s forwards;
        animation: fade_bottom .5s ease .2s forwards;

        &.fade_bottom--2{
            -webkit-animation: fade_bottom .5s ease .4s forwards;
            -moz-animation: fade_bottom .5s ease .4s forwards;
            animation: fade_bottom .5s ease .4s forwards;
        }

        &.fade_bottom--3{
            -webkit-animation: fade_bottom .5s ease .6s forwards;
            -moz-animation: fade_bottom .5s ease .6s forwards;
            animation: fade_bottom .5s ease .6s forwards;
        }

        &.fade_bottom--4{
            -webkit-animation: fade_bottom .5s ease .8s forwards;
            -moz-animation: fade_bottom .5s ease .8s forwards;
            animation: fade_bottom .5s ease .8s forwards;
        }

        &.fade_bottom--5{
            -webkit-animation: fade_bottom .5s ease 1s forwards;
            -moz-animation: fade_bottom .5s ease 1s forwards;
            animation: fade_bottom .5s ease 1s forwards;
        }

        &.fade_bottom--6{
            -webkit-animation: fade_bottom .5s ease 1.2s forwards;
            -moz-animation: fade_bottom .5s ease 1.2s forwards;
            animation: fade_bottom .5s ease 1.2s forwards;
        }

        &.fade_bottom--7{
            -webkit-animation: fade_bottom .5s ease 1.4s forwards;
            -moz-animation: fade_bottom .5s ease 1.4s forwards;
            animation: fade_bottom .5s ease 1.4s forwards;
        }
    }
}
@keyframes fade_bottom {
    0%{
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/*====================================================================
*    import
/*==================================================================*/
/* @import "./product/style"; */