
// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

$Sp-maxWidth : 89.3%;


// bread

#companyprofile {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}

// first Views

.companyprofile {
    width: 1020px;
    margin: 0 auto 40px;
    @include bp768(){
        width: 100%;
    }
    &__title {
        margin: 56px auto;
        @include bp768(){
            width: $Sp-maxWidth;
        }
        h2 {
            font-family: $jaMid;
            font-weight: 500;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 42px;
            @include bp768(){
                font-size: .26rem;
            }
        }
    }

    
    &__wrap {
        width: 1020px;
        margin: 0 auto 40px;
        border: solid 1px #E3E3E3;
        border-bottom: none;
        @include bp768(){
            width: 89.3%;
            margin: 0 auto 40px;
        }

        &--Items {
            width: 100%;
            display: flex;
            align-items: center;
            @include bp768(){
                align-items: initial;
            }

            dd {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 2;
                text-align: left;
                color: #222;
                padding: 16px 0px 16px 20px;
                background: #F0F3F5;
                width: 260px;
                border: solid 1px #fff;

                @include bp768(){
                    width: 47.7%;
                    font-size: .14rem;
                    padding: 16px 10px 16px 16px;
                    display: flex;
                    align-items: center;
                }
            }
            dt {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 2;
                text-align: left;
                color: #222;
                padding: 16px 0px 16px 20px;
                width: 759.5px;
                border-left: none;
                word-break: break-all;
                border-bottom: solid 1px #E3E3E3;

                @include bp768(){
                    width: 52.3%;
                    font-size: .14rem;
                    padding: 16px 10px 16px 16px;
                }
            }

            &:nth-child(6) {

                dd {
                    padding: 44px 16px 45px 20px;
                    @include bp768(){
                        padding: 16px 10px 16px 16px;
                    }
                }
            }
            &:nth-last-child(1){
                dd {
                    border-bottom: solid 1px #E3E3E3;
                }
            }
        }
    } 
}

