﻿<%--
=========================================================================================================
  Module      : 後付款(TriLink後払い)注意書きユーザーコントロール(PaymentDescriptionTriLinkAfterPay.ascx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ Control Language="C#" AutoEventWireup="true" Inherits="BaseUserControl" %>

<%-- 後付款(TriLink後払い)注意書き表示 --%>
<pre>
<strong>◆『台湾後払い決済いサービス』の詳細</strong>
台湾唯一の後払い決済サービスです。
ご注文の確定後、台湾全土の四台コンビニ約10,000
店舗及び銀行ATMにてお支払いいただける「請求番
号」が記載されたメールを送信いたします。
メール内に記載の支払い期限までにお支払いいただ
くようお願いいたします。<br />
<strong>◆ご注意</strong>
注文者の住所と配送先が台湾の時のみに利用できる
決済となります。ご利用限度額はご購入者様一人当
たりNTD10,000元です。他のEC店舗でのご利用も合
算した金額となります。<span style="text-decoration: underline">お客様情報が正しく入力さ
れなかった場合、与信審査が通らない場合がござい
ます。</span>詳細は下記「後付款 案内ページ」をク
リックしてご確認ください。
<div class="txtc" style="text-align: center">
<a href="https://www.afterpay.com.tw/customer" target="_blank">後付款 案内ページ</a>
</div>
</pre>