
// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

$Sp-maxWidth : 89.3%;


// bread

#faq {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}

// first Views

.faq {
    width: 1020px;
    margin: 56px auto 80px;
    @include bp768(){
        width: 100%;
    }

    h2 {
        font-family: $jaMid;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: 0.04em;
        line-height: 2;
        text-align: left;
        color: #222;
        margin-bottom: 40px;
        @include bp768(){
            width: 89.3%;
            font-size: .26rem;
            margin: 0 auto 25px;
        }

    }

    &__containerArea {
        display: grid;
        grid-template-columns: 220px 1fr;
        justify-content: space-between;
        @include bp768(){
            display: block;
        }

        &--sideMenu {
            grid-column: 1;
            .column {
                margin-bottom: 40.5px;
                &__title {
                    font-family: $jaMid;
                    font-weight: bold;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    line-height: 1.64;
                    text-align: left;
                    color: #222;
                    border-bottom: solid 1px #161616;
                    padding-bottom: 8.5px;

                }
                .row {
                    a {text-decoration: none;}
                    .child-items {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 13px;
                        letter-spacing: 0.02em;
                        line-height: 1.38;
                        text-align: left;
                        color: #222;
                        padding: 16.5px 0 16.5px 8.5px;
                        border-bottom: solid 1px #E3E3E3;
                        
                    }
                }
            }
            // slideMenu act passi
            .active {
                background: #F8F8F8;
            }
            .passive {
                background:none;
            }
            @include bp768(){
                display: none;
            }
        }

        &--faqContents {
            grid-column: 2;
            margin-left: 40px;
            @include bp768(){
                margin-left: 0;
            }
            .column {
                .title {
                    font-family:$jaMid;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.02em;
                    line-height: 1.22;
                    text-align: left;
                    color: #222;
                    width: 100%;
                    background: #F1F8FD;
                    padding: 16px 0 16px 24px;
                    margin: 0 auto 40px;
                    @include bp768(){
                        font-size: .18rem;
                    }
                }
                .row  {
                    margin: 0 auto 56px;
                    &__title {
                        font-family: $jaMid;
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #0f0f0f;
                        margin: 0 auto 24px;
                        @include bp768(){
                            font-size: .16rem;
                            width: 89.3%;
                            margin: 0 auto 24px;
                        }

                    }
                    .par {
                        &:nth-last-child(1){
                            border-bottom: solid 1px #E5E5E5;;
                        }
                        .child-items {
                            padding: 24px 0 24px 58px;
                            border: solid 1px #E5E5E5;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include bp768(){
                                padding: 24px 20px 24px 58px;
                            }

                            &:nth-child(n+1){
                                border-bottom: none;
                            }

                            p {
                                font-family: $Jalight;
                                font-weight: 300;
                                font-size: 14px;
                                letter-spacing: 0.02em;
                                line-height: 2;
                                text-align: left;
                                color: #222;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    display: inline-block;
                                    width: 21px;
                                    height: 16px;
                                    background: url("../images/Q.png") no-repeat;
                                    background-size: cover;
                                    left: -37.5px;
                                    top: 7px;
                                    @include bp768(){
                                        top: 30%;
                                    }
                                }
                                @include bp768(){
                                    font-size: .14rem;
                                    width: 77%;
                                }
                            }

                            .toggleBtn {
                                font-size: 0;
                                padding-right: 40px;
                                position: relative;
                                overflow: hidden;
                                @include bp768(){
                                    padding: 6px 20px;
                                }

                                &::after {
                                    content:"";
                                    position: absolute;
                                    width:100%;
                                    height:100%;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    background: #fff;
                                    z-index: -1;
                                
                                }
                                img {
                                    width: 14px;
                                }
                            }
                        }
                        .child-items-Answer {
                            padding: 24px 58px 24px 58px;
                            background: #E5E5E5;

                            p {
                                font-family: $Jalight;
                                font-weight: 300;
                                font-size: 14px;
                                letter-spacing: 0.02em;
                                line-height: 2;
                                text-align: left;
                                color: #222;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    display: inline-block;
                                    width: 21px;
                                    height: 16px;
                                    background: url("../images/A.png") no-repeat;
                                    background-size: cover;
                                    left: -37.5px;
                                    top: 7px;
                                }

                                a {
                                    text-decoration: none;
                                    color: #82ade9;
                                    font-weight: 500;
                                }
                                @include bp768(){
                                    font-size: .14rem;
                                }
                            }
                        }
                    }
                    .answer {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 14px;
                        letter-spacing: 0.02em;
                        line-height: 2;
                        text-align: left;
                        color: #222;
                        @include bp768(){
                            font-size: .14rem;
                        }
                    }
                }
            }
        }
    }
}