/*====================================================================
*    mixin
/*==================================================================*/

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
  @media (min-width: ($bp1281)) {
    @content;
  }
}

$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

/*====================================================================
*    renewal
/*==================================================================*/
#renewal{
    width: 100%;
    margin: 0 auto 40px;
        
    @include bp768 {
        margin: 0;
    };

    .kvArea{
        position: relative;
        margin-bottom: 60px;

        &_txt{
            position: absolute;
            top: 10.94vh;
            left: 8.59%;

            h2{
                font-weight: 500;
                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                font-size: 1rem;
                line-height: 1;
                letter-spacing: 0.05em;
                margin-bottom: 15px;
            
                @include bp1281 {
                    font-size: 14px;
                };
            }

            p{
                font-weight: 500;
                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                font-size: .16rem;
                line-height: 1.75;
                letter-spacing: 0.04em;
            
                @include bp1281 {
                    font-size: 16px;
                };
            }
        }
    }
}
