
// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

$Sp-maxWidth : 89.3%;


// bread

#shopList {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}

// first Views

.shopList {
    width: 1020px;
    margin: 0 auto;
    @include bp768(){
        width: 100%;
    }
    &__title {
        margin: 56px auto;
        @include bp768(){
            width: $Sp-maxWidth;
        }
        h2 {
            font-family: $jaMid;
            font-weight: 500;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: left;
            color: #222;
            @include bp768(){
                font-size: .26rem;
            }
        }
        p {
            font-family:$en;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            @include bp768(){
                font-size: .12rem;
            }

        }
    }
}

.shopList {
    &__ankerLink {
        width: 285px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        @include bp768(){
            width: $Sp-maxWidth;
            margin: 0 auto 32px;
        }
        a {
            font-family: $jaMid;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            text-decoration: none;
            position: relative;
            padding-right: 11px;
            @include bp768(){
                font-size: .14rem;
                padding-right: 5%;
            }
            &::after {
                position: absolute;
                content: "｜";
                display: inline-block;
                right: -2px;
            }

            &:nth-last-child(1) {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.shopList {
    &__listWrapContainer {
        width: 100%;

        &--oneSection {
            width: 100%;
            margin: 0 auto 80px;

            h3 {
                background: #F1F8FD;
                font-family: $jaMid;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 1.5;
                text-align: left;
                color: #1e2d37;
                padding: 16px 0 16px 24px;
                margin: 0 auto 32px;
                @include bp768(){
                    font-size: .14em;
                }

            }

            .flexWrap {
                width: 95.2%;
                display: flex;
                margin: 0 auto;
                justify-content: space-between;
                flex-wrap: wrap;
                font-size: 0;
                @include bp768(){
                    display: block;
                }

                li {
                    width: 45.2%;
                    border-bottom: solid 1px #EAECEE;
                    margin-bottom: 32px;
                    list-style: none;
                    padding-bottom: 32px;
                    @include bp768(){
                        width: $Sp-maxWidth;
                        margin: 0 auto 32px;
                    }
                    .shopName {
                        font-family: $jaMid;
                        font-weight: 500;
                        font-size: 18px;
                        letter-spacing: 0.02em;
                        line-height: 1.55;
                        text-align: left;
                        color: #222;
                        margin-bottom: 16px;
                        @include bp768(){
                            font-size: .18rem;
                        }
                    }
                    .shopAdress {
                        span {
                            display: block;
                            font-family: $en;
                            font-weight: 300;
                            font-size: 13px;
                            letter-spacing: 0.02em;
                            line-height: 2;
                            text-align: left;
                            color: #222;
                        }
                    }
                    a {
                        font-family: $en;
                        font-weight: normal;
                        text-decoration: underline;
                        font-size: 13px;
                        letter-spacing: 0.02em;
                        line-height: 2;
                        text-align: left;
                        color: #222;
                        vertical-align: top;
                    }
                }

            }
        }
    }
}


.shopList {
    &__bottom {
        width: 95.2%;
        margin: 0 auto;
        border: solid 1px #EAECEE;
        padding: 24px;
        @include bp768(){
            padding: 24px 10px;
        }

        &--title {
            font-family: $jaMid;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.02em;
            line-height: 1.75;
            text-align: left;
            color: #222;
            margin-bottom: 16px;
            @include bp768(){
                font-size: .16em;
            }
        }

        .las{
            font-family: $en;
            font-weight: 500;
            margin-top: 24px;
        }
        &--text {
            display: block;
            font-family: $Jalight;
            font-weight: 300;
            font-size: 13px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            @include bp768(){
                font-size: .13em;
            }

        }
    }
}