﻿<%--
=========================================================================================================
  Module      : カスタムページテンプレート画面(CustomPageTemplate.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
--%>
<%-- ▽ユーザーコントロール宣言領域▽ --%>
<%-- △ユーザーコントロール宣言領域△ --%>
<%@ Page Title="定期便新規お申し込みキャンペーン | SIMPLISSE(シンプリス) produced by 山本未奈子" MetaDescription="はじめての方へ10日間のお試しセット｜ウェルカムパッケージ" Language="C#" Inherits="ContentsPage" MasterPageFile="~/Form/Common/DefaultPage.master" %>
<%--

下記のタグはファイル情報保持用です。削除しないでください。
<%@ FileInfo LayoutName="Default" %><%@ FileInfo LastChanged="システム管理者" %>

--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<%-- ▽編集可能領域：HEAD追加部分▽ --%>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/style.css?12">
<%-- △編集可能領域△ --%>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<%-- ▽編集可能領域：コンテンツ▽ --%>

<!-- about -->
<article id="regularly">
	<!--▽ パンくず ▽-->
	<div class="breadArea pc_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					定期便新規お申し込みキャンペーン
				</a>
			</li>
		</ul>
	</div>
    <!--△ パンくず △-->
    
    <!-------->
    <section class="listBrandsArea regularly">
        <div class="regularly__title">
            <div class="logo">
                <img src="images/logo.png" alt="">
            </div>
            <h2>
                定期便サービスのご案内
            </h2>
        </div>
        <p class="regularly__title--sub">
            毎日のケアをお得にご使用いただくため、<br>
            SIMPLISSE 定期便サービスでは、<br class="sp_contents">さまざまな特典をご用意しています
        </p>
        <div class="regularly__boxContainer">
            <div class="box">
                <div class="title">
                    <p>特典 01</p>
                </div>
                <div class="content-wrap">
                    <div class="content">
                        <div>
                            <p class="content__title">
                                初回 50%OFF
                            </p>
                            <p class="content-content">
                                お気に入りの商品も、気になっていた商品も、<br>
                                50%OFFでお得にスタート。
                            </p>
                            <p class="content-sub">
                                ※解約は6回目のお届け完了以降<br>
                                お電話（0120-370-063）にて承ります。
                            </p>
                        </div>
                        <div>
                            <p class="content__title">
                                2回目以降もずっとお得。<br class="sp_contents">特別価格 15%OFF
                            </p>
                            <p class="content-content">
                                続けてこそ、その良さを実感できるから。<br>
                                続けやすい毎回15%OFF＆送料無料で<br class="sp_contents">お届けいたします。
                            </p>
                        </div>
                    </div>
                    <div class="icon1">
                        <img src="images/icon-6.png" alt="">
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="title">
                    <p>特典 02</p>
                </div>
                <div class="content-wrap">
                    <div class="content">
                        <div>
                            <p class="content__title">
                                日本全国送料無料
                            </p>
                            <p class="content-content">
                                定期便サービスをご利用のお客様は、<br>
                                日本国内のどこへでも<br class="sp_contents">送料無料でお届けいたします。
                            </p>
                            <p class="content-sub">
                                ※海外への配送につきまして詳しくはオンラインストアの<br class="sp_contents">「ショッピングガイド」をご確認ください。
                            </p>
                        </div>
                    </div>
                    <div class="icon2">
                        <img src="images/icon-1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="title">
                    <p>特典 03</p>
                </div>
                <div class="content-wrap">
                    <div class="content">
                        <div>
                            <p class="content__title">
                                毎回1,000円OFFクーポン<br class="sp_contents">PRESENT
                            </p>
                            <p class="content-content">
                                毎回商品をお届けするたびに、<br class="sp_contents">オンラインストアでご利用いただける<br>
                                1,000円分のクーポンをプレゼント!
                            </p>
                            <p class="content-sub">
                                ※OTHER BRANDS商品にもお使いいただけます。<br>
                                ※定期便商品及び商品価格合計（税込／会員割引後）が<br class="sp_contents">10,000円以下の場合は、ご利用いただけません。
                            </p>
                        </div>
                    </div>
                    <div class="icon3">
                        <img src="images/icon-2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="title">
                    <p>特典 04</p>
                </div>
                <div class="content-wrap">
                    <div class="content">
                        <div>
                            <p class="content__title">
                                ご継続特典PRESENT
                            </p>
                            <p class="content-content">
                                7回目のお届け以降、豪華商品をプレゼント!<br>
                                プレゼントの内容は届いてからのお楽しみ!
                            </p>
                            <p class="content-sub">
                                ※プレゼントのお届けは不定期となります。
                            </p>
                        </div>
                    </div>
                    <div class="icon4">
                        <img src="images/icon-3.png" alt="">
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="title">
                    <p>特典 05</p>
                </div>
                <div class="content-wrap">
                    <div class="content">
                        <div>
                            <p class="content__title">
                                ご自身のペースで続けられる<br class="sp_contents">お届けサイクル設定
                            </p>
                            <p class="content-content">
                                ご都合に合わせてお届け日の間隔を<br class="sp_contents">設定できます。<br class="pc_contents">お届けサイクルは<br class="sp_contents">マイページ内で簡単に変更いただけます。
                            </p>
                            <p class="f-text">選べるお届けサイクル</p>
                            <div class="f-text__img">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="images/delivery-sp.png">
                                    <img src="images/delivery.png" alt="">
                                </picture>
                            </div>
                            <p class="content-sub sp-sub">
                                ※お届けサイクルの変更は次回お届け予定日の7日前まで変更可能です。
                            </p>
                        </div>
                    </div>
                    <div class="icon5">
                        <img src="images/icon-4.png" alt="">
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="title">
                    <p>特典 06</p>
                </div>
                <div class="content-wrap">
                    <div class="content">
                        <div>
                            <p class="content__title">
                                お届け日の変更・スキップも<br class="sp_contents">いつでもOK<br>
                                マイページから簡単変更。
                            </p>
                            <p class="content-content">
                                商品が溜まったり不在が続くときには、<br class="sp_contents">お届け日の変更・スキップ<br class="pc_contents">を。設定はマイペー<br class="sp_contents">ジからいつでも簡単に変更いただけます。
                            </p>
                            <p class="content-sub">
                                ※各種変更は次回お届け予定日の7日前まで変更可能です。<br>
                                ※続けてスキップされる場合は「最長2回お届け分」まで<br class="sp_contents">とさせていただきます。<br>
                                ※お届け日の延長は、元の予定日の15日後まで<br class="sp_contents">ご選択いただけます。
                            </p>
                        </div>
                    </div>
                    <div class="icon6">
                        <img src="images/icon-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="regularly__explainContainer">
            <div class="regularly__explainContainer--block">
                <p class="title">
                    返品について
                </p>
                <p class="sub">
                    「SIMPLISSE定期便サービス」 は、 定期的なお届けを対象としておりますのでお客様のこ都合による返品交換はお受け付けいたしかねます。<br>
                    万一、 商品に破損や不具合がこでざいました際にはお取り替えいたします。
                </p>
            </div>

            <div class="regularly__explainContainer--block">
                <p class="title">
                    解約は6回目のお届け後より
                </p>
                <p class="sub">
                    特別価格でのご提供となりますため、各商品6回目までのお受取りをお願いいたします。ご解約は6回目のお届け完了後から承ります。
                    <span>
                        ※「トータルプログラム27」および「UVディフェンス プロ」をリニューアル前よりご継続の方は、ご解約後に再度お申込みされる場合には新価格の適用となります。<br>
                        ※皮膚疾患等やむを得ない事情により6回目未満での解約をご希望の場合、お届け済みの商品につきまして定価との差額をご請求させていただきます。
                    </span>
                </p>
            </div>

            <div class="regularly__explainContainer--block">
                <p class="title">
                    会員ご優待割引について
                </p>
                <p class="sub">
                    「SIMPLISSE定期便サービス」 は、 ご継続いただきやすいよう低価格で設定しておりますため、会員ご優待割引はご利用いただけません。<br>何卒ご了承ください。
                </p>
            </div>
        </div>  

        <div class="regularly__shopItems">
            <div class="regularly__title">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <h2>
                    定期便サービス対象商品
                </h2>
            </div>
            <div class="regularly__shopItems__BeautyInner">
                <p class="title">
                    BEAUTY
                </p>
                <ul class="regularly__shopItems__BeautyInner-box">
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000483&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item1.png" alt="シンプリス ブライトニングクリアセット">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            ブライトニングクリアセット
                        </p>
                        <p class="item--effct">
                            保湿／導入&ブライトニングクリア美容液<br>
                            各60g（朝・夜約２ヵ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            17,600円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                8,800円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                14,960円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item2 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000484&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item2.png" alt="シンプリス エイジングケアセット">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            エイジングケアセット
                        </p>
                        <p class="item--effct">
                            保湿／導入&エイジングケア美容液<br>
                            60g/55g（朝・夜約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            18,920円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                9,460円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                16,082円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item3 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001005&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item3.png" alt="シンプリス コンセントレートライン セラム">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            コンセントレートライン セラム
                        </p>
                        <p class="item--effct">
                            目元用集中美容液<br>
                            15g（約1ヶ月半分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            12,375円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                6,188円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                10,519円    
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item4 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000608&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item4.png" alt="シンプリス コンセントレートライン セラム">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            エンリッチメントオイルセラム
                        </p>
                        <p class="item--effct">
                            オイル美容液<br>
                            28ml（朝・夜約1〜2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            13,200円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                6,600円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                11,220円   
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item5 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001033&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item5.png" alt="シンプリス モーニングクレンジング ウォーター">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            モーニングクレンジング ウォーター
                        </p>
                        <p class="item--effct">
                            朝用拭き取りローション<br>
                            300ml（約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            3,850円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                1,925円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                3,273円 
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item6 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000954&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item6.png" alt="シンプリス  ジェントルクレンジング クリーム">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            ジェントルクレンジング クリーム
                        </p>
                        <p class="item--effct">
                            メイク落とし<br>
                            180g（約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            4,125円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                2,063円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                3,506円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item7 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001035&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item7.png" alt="シンプリス ディープ クレンジング ジェルクリーム">
                        </div>
                        <p class="item--title">
                            シンプリス ディープ<br>
                            クレンジング ジェルクリーム
                        </p>
                        <p class="item--effct">
                            メイク落とし<br>
                            180g（約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            4,125円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                2,063円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                3,506円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item8 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000010&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item8.png" alt="シンプリス UVモイスチャライザー">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            UVモイスチャライザー
                        </p>
                        <p class="item--effct">
                            日焼け止め化粧下地<br>
                            35g（約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            5,060円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                2,530円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                4,301円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item9 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001293&cat=sen") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item9.png" alt="シンプリス センシュアル フェミニン デオウォッシュ">
                        </div>
                        <p class="item--title">
                            シンプリス センシュアル<br>
                            フェミニン デオウォッシュ
                        </p>
                        <p class="item--effct">
                            ボディ用洗浄料<br>
                            160ml（約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            3,630円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                1,815円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                3,086円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item10 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001281&cat=sen") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item10.png" alt="シンプリス センシュアル フェミニン デュオセラム">
                        </div>
                        <p class="item--title">
                            シンプリス センシュアル<br>
                            フェミニン デュオセラム
                        </p>
                        <p class="item--effct">
                            ボディ用美容液<br>
                            V-lite 22.5g/V-tite 22.5g（約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            6,930円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                3,465円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                5,890円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item11 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000513&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item11.png" alt="シンプリス ＋ インセンス スキャルプ＆ヘア シャンプー">
                        </div>
                        <p class="item--title">
                            シンプリス ＋ インセンス<br>
                            スキャルプ＆ヘア シャンプー
                        </p>
                        <p class="item--effct">
                            ノンシリコーン シャンプー<br>
                            300ml
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            4,620円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                2,310円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                3,927円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item12 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000512&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item12.png" alt="シンプリス ＋ インセンス スキャルプ＆ヘア トリートメント">
                        </div>
                        <p class="item--title">
                            ノンシリコーン　トリートメント<br>
                            240g
                        </p>
                        <p class="item--effct">
                            ノンシリコーン シャンプー<br>
                            300ml
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            4,620円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                2,310円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                3,927円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item13 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001043&cat=bty") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item13.png" alt="シンプリス フォーメン 男性用美容液">
                        </div>
                        <p class="item--title">
                            シンプリス フォーメン<br>
                            男性用美容液
                        </p>
                        <p class="item--effct">
                            美容液<br>
                            40g（朝・夜約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            7,150円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                3,575円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                6,077円
                            </p>
                        </div>
                    </li>
                    </a>
                </ul>
            </div>

            <div class="regularly__shopItems__WinllessInner">
                <p class="title">
                    WELLNESS
                </p>
                <ul class="regularly__shopItems__WinllessInner-box">
                    <!-- item14 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001141&cat=sen") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item14.png" alt="シンプリス センシュアル ネンマク ケア">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            センシュアル ネンマク ケア
                        </p>
                        <p class="item--effct">
                            サプリメント
                            44.6g （30袋/30日分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            9,396円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                4,698円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                7,987円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item15 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000543&cat=wel") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item15.png" alt="シンプリス トータルプログラム27">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            トータルプログラム27
                        </p>
                        <p class="item--effct">
                            サプリメント<br>
                            124g（60袋/30日分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            12,960円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                6,480円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                11,016円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item16 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000382&cat=wel") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item16.png" alt="シンプリス パーフェクトダイエット プラス＋">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            パーフェクトダイエット プラス＋
                        </p>
                        <p class="item--effct">
                            サプリメント<br>
                            58.8g（30袋/30日分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            11,016円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                5,508円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                9,364円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item17 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000677&cat=wel") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item17.png" alt="シンプリス パーフェクトリポカット">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            パーフェクトリポカット
                        </p>
                        <p class="item--effct">
                            サプリメント<br>
                            63.8g（30袋/30日分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            9,504円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                4,752円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                8,078円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item18 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000605&cat=wel") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item18.png" alt="シンプリス ウィメンズバランス 30+">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            ウィメンズバランス 30+
                        </p>
                        <p class="item--effct">
                            サプリメント<br>
                            16.9g（30袋/30日分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            13,608円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                6,804円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                11,567円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item19 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000888&cat=wel") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item19.png" alt="シンプリス UVディフェンス プロ">
                        </div>
                        <p class="item--title">
                            シンプリス<br>
                            UVディフェンス プロ
                        </p>
                        <p class="item--effct">
                            サプリメント<br>
                            21.7g（30袋/30日分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            9,288円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                4,644円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                7,895円
                            </p>
                        </div>
                    </li>
                    </a>
                </ul>
            </div>

            <div class="regularly__shopItems__otherBrandsInner">
                <p class="title">
                    OTHER <br class="sp_contents">BRANDS
                </p>
                <ul class="regularly__shopItems__otherBrandsInner-box">
                    <!-- item20 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000001138&cat=oth") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item21.png" alt="ダマイ サーマル スリムティー">
                        </div>
                        <p class="item--title">
                            ダマイ サーマル スリムティー
                        </p>
                        <p class="item--effct">
                            ＜ハーブティー＞<br>
                            1箱 48.0g（24袋/24日分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            4,104円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                2,052円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                3,488円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item21 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000942&cat=oth") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item20.png" alt="ダマイ セルリファーム フェイスクリーム">
                        </div>
                        <p class="item--title">
                            ダマイ セルリファーム<br>
                            フェイスクリーム
                        </p>
                        <p class="item--effct">
                            ＜美容クリーム＞<br>
                            50g（約2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            9,020円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                4,510円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                7,667円
                            </p>
                        </div>
                    </li>
                    </a>
                    <!-- item22 -->
                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Product/ProductDetail.aspx?shop=0&pid=40000000538&cat=oth") %> ">
                    <li class="item">
                        <div>
                            <img src="images/item22.png" alt="ダマイ セルリファーム ボディクリーム">
                        </div>
                        <p class="item--title">
                            ダマイ セルリファーム<br>
                            ボディクリーム
                        </p>
                        <p class="item--effct">
                            ＜ボディクリーム＞<br>
                            200g（約1〜2ヶ月分）
                        </p>
                        <p class="item--price">
                            <span class="normal">
                                通常
                            </span>
                            <span class="tax">
                                税込
                            </span>
                            9,680円
                        </p>
                        <div class="speacialPrice">
                            <p class="speacialPrice__first">
                                定期初回50%OFF
                            </p>
                            <p class="item--price__first">
                                <span class="tax__first">
                                    税込
                                </span>
                                4,840円
                            </p>
                        </div>
                        <div class="speacialPrice">
                            <p class="speacialPrice__second">
                                2回目以降15%OFF
                            </p>
                            <p class="item--price__second">
                                <span class="tax">
                                    税込
                                </span>
                                8,228円
                            </p>
                        </div>
                    </li>
                    </a>
                </ul>
            </div>

            <div class="regularly__faqInnerwrapbk">
                <div class="regularly__faqInnerwrap">
                    <p class="regularly__faqInnerwrap--title">
                        定期便サービス Q&A
                    </p>
                    <div class="regularly__faqInnerwrap--faqContents">
                        <div class="column">
                            <div class="row">
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            解約したあと、また再開できますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            「SIMPLISSE 定期便サービス」は6回目のお届け完了後からご解約または再開が可能です。<a href="<%= WebSanitizer.HtmlEncode(this.SecurePageProtocolAndHost + Constants.PATH_ROOT + Constants.PAGE_FRONT_INQUIRY_INPUT) %>"target="_blank">お問合せフォーム</a>またはお電話（0120-370-063）にてお申し付けください。 SIMPLISSE 定期便ご解約後に再開された場合、初回特別価格適用外、お届け回数はリセットされ1回目からとなります。また、「トータルプログラム27」および「UVディフェンス プロ」をリニューアル前よりご継続の方がご解約後、再開される場合には新価格の適用となります。 <br><br>※2021年1月27日（水）以前に「DAMAI」商品の定期便をお申し込みいただいていた方はお届け回数に関わらず、ご解約いただけます。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            通常購入商品と一緒に定期便商品を購入することはできますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            一緒に購入していただくことができません。お手数ですが、通常購入商品と分けて決済をお願いいたします。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            通常購入商品と、定期便商品を一緒に届けてもらえますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            通常商品のご購入手続きの際、備考欄に「定期便商品同梱希望」の旨をご記入ください。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            次回の定期便のお届け日や、お届けのサイクルを変更したいのですが？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            可能です。お届け日のご変更は、マイページ内「定期購入情報詳細」にて、次回配送日「次回配送日変更」から、次回配送日の 7日前 までご変更が可能です。またお届けサイクルは、マイページ内「定期購入情報詳細」にて、定期購入設定「サイクル変更」からご変更いただけます。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            使い切れない時や長期不在時は、どのような方法がありますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            定期便サービスでは、「お届け日の変更」「次回配送スキップ」「お届けサイクル変更」をご用意しております。ご都合に合わせて、ご利用ください。マイページ内での各種ご変更は、次回お届け予定日の7日前までとなります。<br>
                                            ■ お届け日の変更：マイページ内「定期購入情報詳細」にて、定期購入設定の「次回配送日変更」から定期便のお届け日をご変更いただけます。※次回お届け予定日の15日後までご変更可能。<br>
                                            ■ 次回配送スキップ：マイページ内「定期購入情報詳細」にて、該当の定期便商品の「次回配送スキップ」を実行いただくと、次回のお届けをスキップして、その次のお届けから自動的に再開いたします。<br>
                                            なお、スキップは「最長2回お届け分」とさせていただきます。<br>
                                            ■ お届けサイクル変更：マイページ内「定期購入情報詳細」にて、定期購入設定の「サイクル変更」から定期便のお届けサイクルをご変更いただけます。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            定期購入は、どのような支払方法がありますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            クレジットカード決済・代金引換・NP後払い・Amazon Payよりお選びいただけます。<br>
                                            なお、ご入力内容に不備のある場合や、カード会社より取引不可との連絡があった場合は、当社よりご連絡を差し上げます。ご連絡が繋がらない場合は、「NP後払い」によるお支払いとさせていただきますので、ご了承ください。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            NP後払いとはどのような支払方法ですか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            定期便商品の到着を確認してから、「コンビニ」「郵便局」「銀行」で後払いできる手数料無料・安心・簡単な決済方法です。 請求書は、お届けの商品に同梱にてお送りいたしますので、発行から14日以内にお支払いをお願いします。ご利用限度額は累計残高で55,000円（税込）までとなります。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            定期購入は、シンプリス 会員割引の対象になりますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            定期購入にてお申込みいただいた商品は、シンプリス 会員ご優待割引対象外となります。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            定期購入で商品を申込んだ場合、オンラインストアで行われるキャンペーンの対象となりますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            単品のご購入のみ対象のキャンペーンにつきましては、定期便は対象外となります。キャンペーンによって、定期便が対象のものもございますので、詳しくはキャンペーン詳細をご確認ください。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            定期便での購入金額は、会員ランク判定に換算されますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            定期購入でお届けする商品のご購入金額は、毎月のご購入履歴として合算され、会員ランクアップ判定に反映されます。獲得された 会員ランクによる会員割引は、通常商品をご購入の際に適用されます。
                                        </p>
                                    </div>
                                </div>
                                <div class="par">
                                    <div class="child-items">
                                        <p>
                                            海外発送はできますか？
                                        </p>
                                        <div class="toggleBtn">
                                            <img src="images/open.png" alt="">
                                        </div>
                                    </div>
                                    <div class="child-items-Answer">
                                        <p>
                                            海外への定期便配送もお承りしております。商品代金の他に送料をいただく他、関税がかかる場合がございます。詳しくは、<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/faq/") %>">海外への配送・送料について</a>をご確認ください。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------->


    	<!--▽ パンくず ▽-->
	<div class="breadArea sp_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					定期便新規お申し込みキャンペーン
				</a>
			</li>
		</ul>
	</div>
    <!--△ パンくず △-->
    
        
    <script>
        $(function() {
        $('.column .row a').click(function() {
        var speed = 200;
        var href = $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);

        if ($(window).width() > 768) {
        var position = target.offset().top - 50;
        } else {
        var position = target.offset().top - 100;
        }
        $("html, .shopList").animate({
        scrollTop: position
        }, speed, "swing");
        return false;
    });
    })

    $(function() {
        var toggle = $('.toggleBtn');
        var toggleOpenArea = $('.child-items-Answer');

        toggleOpenArea.css('display', 'none');

        toggle.on('click', function(){
            $(this).parent().next().slideToggle(200)
        })
    })
    </script>

</article>
<!-- // about -->
<%-- △編集可能領域△ --%>
</asp:Content>
