@charset "UTF-8";
/*
基本セッティングはここに記述します。
*/
@media screen and (max-width: 767px) {
  main {
    padding-top: 113px;
  }
}

@media print, screen and (min-width: 768px) {
  main {
    margin-top: 133px;
  }
}

.commonLinktype--01 {
  color: white;
  background-color: #4C4948;
  display: inline-block;
  border: 1px solid #4C4948;
}

@media screen and (max-width: 767px) {
  .commonLinktype--01 {
    font-size: 10px;
    font-size: 0.625rem;
    padding: 7px 25px 7px 25px;
    line-height: 1;
    font-family: "TBゴシック M","TBGothic M";
  }
}

@media print, screen and (min-width: 768px) {
  .commonLinktype--01 {
    font-size: 23px;
    font-size: 1.4375rem;
    padding: 11px 60px 12px 60px;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -webkit-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -moz-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    font-family: "TBゴシック M","TBGothic M";
  }
}

@media print, screen and (min-width: 768px) {
  .commonLinktype--01:hover {
    background-color: white;
    color: #4C4948;
  }
}

.commonLinktype--02 {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
  -webkit-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
  -moz-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
}

.commonLinktype--02:hover {
  opacity: 0.7;
}

.inlineblockCenter {
  text-align: center;
}

/*# sourceMappingURL=maps/secondCommon.css.map */