
// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

$Sp-maxWidth : 89.3%;


// bread

#info {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}

// first Views

.info {
    width: 1020px;
    margin: 0 auto 40px;
    @include bp768(){
        width: 100%;
    }
    &__title {
        margin: 56px auto;
        @include bp768(){
            width: $Sp-maxWidth;
        }
        h2 {
            font-family: $jaMid;
            font-weight: 500;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 42px;
            @include bp768(){
                font-size: .26rem;
            }
        }
        &--date {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 1.8;
            text-align: left;
            color: #0f0f0f;
            @include bp768(){
                font-size: .14rem;
            }
        }
        .block {
            margin-bottom: 34px;
            &--title {
                font-family: $jaMid;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 1.8;
                text-align: left;
                color: #0f0f0f;
                @include bp768(){
                    font-size: .14rem;
                }
                
            }
            &--content {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 1.8;
                text-align: left;
                color: #0f0f0f;
                @include bp768(){
                    font-size: .14rem;
                }
            }
            .sub {
                margin: 34px auto;
            }
            .formTitle {
                font-weight: 500;
                color: #82ade9;

                &__tel {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    line-height: 1.8;
                    text-align: left;
                    color: #0f0f0f;
                    @include bp768(){
                        font-size: .14rem;
                    }
                    span {
                        font-size: 18px;
                        @include bp768(){
                            font-size: .18rem;
                        }
                    }
                }

                &__detail {
                    span {
                        display: block;
                        font-family: $jaMid;
                        font-weight: 500;
                        font-size: 12px;
                        letter-spacing: 0.02em;
                        line-height: 1.8;
                        text-align: left;
                        color: #0f0f0f;
                        @include bp768(){
                            font-size: .12rem;
                        }
                    }
                }
            }
        }

    }
}

