﻿<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link href="../../../Css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6485914/6168352/css/fonts.css" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?5cbdc2165410404182bf22b0e90393a3" charset="utf-8"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css">
	<script type="text/javascript" src="../../Js/script.js"></script>
</head>
<body>
	







<!-- shoppingGuide -->
<article id="shoppingGuide">
	<!--▽ パンくず ▽-->
	<div class="breadArea pc_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					ショッピングガイド
				</a>
			</li>
		</ul>
	</div>
	<!--△ パンくず △-->

	<section class="ttlArea">
		<h2>ショッピングガイド</h2>
	</section>

	<section class="shoppingGuideArea">
		<div class="shoppingGuideArea_cts">
			<div class="shoppingGuideArea_cts--list">
				<h3>大切な方への贈り物に　ギフトラッピングサービス</h3>
				<div class="columnArea">
					<div class="wrappingPic">
						<div class="wrappingPic_list">
							<img src="./images/gift_01.jpg">
						</div>
						<div class="wrappingPic_list">
							<img src="./images/gift_02.jpg">
						</div>
						<div class="wrappingPic_list">
							<img src="./images/gift_03.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="shoppingGuideArea_cts--list">
				<h3>ギフトラッピングサービスについて</h3>
				<div class="columnArea">
					<p>
						シンプリス オンラインストアでは、オリジナルギフトバッグによるラッピングサービスを承っております。<br>
						お客様ご自身でラッピングされる場合は、ギフトラッピングキットを1個につき300円（税込）でご提供いたします。ラッピング済みの商品をご希望の場合は、1個につき700円（税込）にて承ります。商品をご注文の際にどちらかご選択ください。<span class="fwBold">ギフトバッグは「S・M・Lサイズ」の3サイズ展開の中から、商品の大きさに合わせてお選びいたします</span>のでお任せください。また、包装個数分の紙袋もお付けいたします。
					</p>
					<div class="wrappingAbout">
						<p class="wrappingAbout_ttl">ラッピングキットのご提供のみ</p>
						<div class="wrappingAbout_box">
							<div class="wrappingAbout_box--pic">
								<img src="./images/gift_04.jpg">
							</div>
							<div class="wrappingAbout_box--txt">
								<p class="boxTtl">
									ラッピングはお客様ご自身で行なっていただきます。<br>
									1個につき300円（税込）
								</p>
								<p class="boxTxt">
									■ラッピングキット内容<br>
									・ギフトバッグ　1個<br>
									・リボン　1個<br>
									・オリジナルタグ　1個<br>
									・紙袋　1個<br>
									<br>
									■オリジナルギフトバッグ仕様<br>
									Sサイズ：W240 × H400<br>
									Mサイズ：W350 × H480<br>
									Lサイズ：W400 × H600<br>
									<br>
									素材：白不織布
								</p>
							</div>
						</div>
					</div>
					<div class="wrappingAbout">
						<p class="wrappingAbout_ttl">商品をラッピングしてお届け</p>
						<div class="wrappingAbout_box">
							<div class="wrappingAbout_box--pic">
								<img src="./images/gift_05.jpg">
							</div>
							<div class="wrappingAbout_box--txt">
								<p class="boxTtl">
									商品をラッピングしてお届けいたします。<br>
									1個につき700円（税込）
								</p>
								<p class="boxTxt">
									※複数商品を個別にラッピングする場合は、<br>
									包装個数×700円（税込）をいただいております。<br>
									注文方法は、Q&Aをご確認ください。<br>
									※ショッピングバッグ（紙袋）は、包装個数分が同梱されます。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shoppingGuideArea_cts--list">
				<h3>ギフトラッピングご注文方法</h3>
				<div class="columnArea">
					<p>
						1）ご希望の商品をカートに入れ、「カート画面」にて、「ラッピングキットはこちらから」のバナーを選択してください。
					</p>
					<img class="howtoPic" src="./images/howto_01.jpg">
					<p>
						2）商品詳細ページで「通常購入ボタン」を選択してください。
					</p>
					<img class="howtoPic" src="./images/howto_02.jpg">
				</div>
			</div>
			<div class="shoppingGuideArea_cts--list">
				<h3>注意事項</h3>
				<div class="columnArea">
					<p>
						・ギフトバッグのサイズはお選びいただけません。商品の大きさに合わせて弊社にて指定させていただきます。<br>
						・メーカー直送品や商品の形状によっては、ラッピングサービスをご利用できない場合もございます。<br>
						・メッセージカードや熨斗のサービスは承っておりません。<br>
						・ギフトラッピングのご購入は、商品と同時注文の場合に限らせていただきます。また、ご購入の商品数を超えてのラッピングキットのお届けは承りかねますので予めご了承ください。<br>
						・ご購入後の商品のギフトラッピングお申し込み、および再申し込みはお受けできません。<br>
						・ラッピングサービスは返品対象外です。
					</p>
				</div>
			</div>
			<div class="shoppingGuideArea_cts--list">
				<h3>Q&A</h3>
				<div class="columnArea">
					<div class="qaArea">
						<p class="qaArea_ttl">
							Q. 納品書に商品金額が印字されますか？
						</p>
						<p class="qaArea_txt">
							「ギフト配送」を選択された場合、および、ご注文者様とご配送先のお名前が異なる場合は、納品書に商品明細は記載されますが、金額は印字されません。
						</p>
					</div>
					<div class="qaArea">
						<p class="qaArea_ttl">
							Q. 複数商品を1つにまとめてラッピングできますか？
						</p>
						<p class="qaArea_txt">
							ご購入のすべての商品を1つにまとめてラッピングご希望の場合は、「有料ラッピング × 1個（¥500）」をお選びください。商品のサイズ・数量等によって、ご希望に沿えない場合もございますので、予めご了承ください。
						</p>
					</div>
					<div class="qaArea">
						<p class="qaArea_ttl">
							Q. 一度に注文した複数商品を個別にラッピングできますか？
						</p>
						<p class="qaArea_txt">
							可能です。例えば、3つの商品を2つと1つ分けてにラッピングをご希望の場合は、「有料ラッピング × 2個（¥1,000）」をお選びいただいた上、備考欄にてどの組み合わせで包装するかをお知らせください。
						</p>
					</div>
					<div class="qaArea">
						<p class="qaArea_ttl">
							Q. 領収書は発行できますか？
						</p>
						<p class="qaArea_txt">
							ご注文時、備考欄に「領収書発行希望」の文言と「ご希望の但し書き」をご記入ください。ご注文者様宛に別途郵送いたします。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="shoppingGuideArea_menu">
			<ul>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/#a01") %>">
						会員登録について
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/#a02") %>">
						ご注文方法について
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/#a03") %>">
						お支払いについて
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/#a04") %>">
						商品の発送について
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/#a05") %>">
						配送・送料について
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/#a06") %>">
						合わせ買い商品について
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/#a07") %>">
						返品・交換について
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/faq/") %>">
						よくあるご質問について
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/benefits/") %>">
						会員特典のご案内
					</a>
				</li>
				<li>
					<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/guide/wrapping/") %>">
						ラッピングについて
					</a>
				</li>
			</ul>
		</div>
	</section>

	<!--▽ パンくず ▽-->
	<div class="breadArea sp_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					ショッピングガイド
				</a>
			</li>
		</ul>
	</div>
	<!--△ パンくず △-->
</article>
<!-- // shoppingGuide -->







</body>
</html>