﻿<%--
=========================================================================================================
  Module      : ソーシャルログイン 連携コールバック画面(CooperationCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2017 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" inherits="Form_User_SocialLogin_CooperationCallback, App_Web_cooperationcallback.aspx.2c259e00" %>