﻿<%--
=========================================================================================================
  Module      : ソーシャルログイン ランディングカートコールバック画面(LandingCartCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" inherits="Form_User_SocialLogin_LandingCartCallback, App_Web_landingcartcallback.aspx.2c259e00" %>
