﻿<%--
=========================================================================================================
  Module      : ソーシャルログイン 注文者決定コールバック画面(OrderCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2017 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" inherits="Form_User_SocialLogin_OrderCallback, App_Web_ordercallback.aspx.2c259e00" %>