﻿<%--
=========================================================================================================
  Module      : ソーシャルログイン 会員情報入力コールバック画面(UserRegistInputCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" inherits="Form_User_SocialLogin_LoginCallback, App_Web_userregistinputcallback.aspx.2c259e00" %>