﻿<%--
=========================================================================================================
  Module      : カスタムページテンプレート画面(CustomPageTemplate.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
--%>
<%-- ▽ユーザーコントロール宣言領域▽ --%>
<%-- △ユーザーコントロール宣言領域△ --%>
<%@ Page Title="プライバシーポリシー | SIMPLISSE(シンプリス) produced by 山本未奈子" MetaDescription="" Language="C#" Inherits="ContentsPage" MasterPageFile="~/Form/Common/DefaultPage.master" %>
<%--

下記のタグはファイル情報保持用です。削除しないでください。
<%@ FileInfo LayoutName="Default" %><%@ FileInfo LastChanged="システム管理者" %>

--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<%-- ▽編集可能領域：HEAD追加部分▽ --%>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/style.css">
<%-- △編集可能領域△ --%>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<%-- ▽編集可能領域：コンテンツ▽ --%>

<!-- about -->
<article id="privacy">
	<!--▽ パンくず ▽-->
	<div class="breadArea pc_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					プライバシーポリシー
				</a>
			</li>
		</ul>
	</div>
	<!--△ パンくず △-->
    <!----->
    <section class="listBrandsArea privacy">
        <div class="privacy__title">
            <h2>
                プライバシーポリシー
            </h2>
            <div class="block">
                <p class="block--title">
                    はじめに
                </p>
                <p class="block--content">
                    個人情報保護の重要性を認識し、適切に利用し、保護することが社会的責任であると考え、個人情報の保護に努めることをお約束いたします。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    1.個人情報の定義
                </p>
                <p class="block--content">
                    個人情報とは、個人に関する情報であり、氏名、生年月日、性別、電話番号、電子メールアドレス、職業、勤務先等、特定の個人を識別し得る情報をいいます。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    2.個人情報の収集・利用
                </p>
                <p class="block--content">
                    当社は、以下の目的のため、その範囲内においてのみ、個人情報を収集・利用いたします。当社による個人情報の収集・利用は、お客様の自発的な提供によるものであり、お客様が個人情報を提供された場合は、当社が本方針に則って個人情報を利用することをお客様が許諾したものとします。
                </p>
                <p class="block--content sub">
                    ・ご注文された当社の商品をお届けするうえで必要な業務<br>
                    ・新商品の案内など、お客様に有益かつ必要と思われる情報の提供<br>
                    ・業務遂行上で必要となる当社からの問い合わせ、確認、およびサービス向上のための意見収集<br>
                    ・各種のお問い合わせ対応
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    3.共同利用
                </p>
                <p class="block--content">
                    当社は、以下によって個人情報を共同利用することがあります。<br>
                    ・共同して利用される個人データの項目：お客様ご本人から特に申入れがある場合を除いて、お客様ご本人の全ての個人データ<br>
                    ・共同して利用する者の範囲：MNC New York株式会社 及び グループ会社 株式会社Be-A Japan<br>
                    ・個人情報の管理について責任を有する者：MNC New York株式会社
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    4.個人情報の第三者提供
                </p>
                <p class="block--content">
                    当社は、法令に基づく場合等正当な理由によらない限り、事前に本人の同意を得ることなく、個人情報を第三者に開示・提供することはありません。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    5.委託先の監督
                </p>
                <p class="block--content">
                    当店は、お客様へ商品やサービスを提供する等の業務遂行上、個人情報の一部を外部の委託先へ提供する場合があります。その場合、業務委託先が適切に個人情報を取り扱うように管理いたします。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    6.個人情報の管理
                </p>
                <p class="block--content">
                    当社は、個人情報の漏洩、滅失、毀損等を防止するために、個人情報保護管理責任者を設置し、十分な安全保護に努め、また、個人情報を正確に、また最新なものに保つよう、お預かりした個人情報の適切な管理を行います。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    7.情報内容の照会、修正または削除
                </p>
                <p class="block--content">
                    当社は、お客様が当社にご提供いただいた個人情報の照会、修正または削除を希望される場合は、ご本人であることを確認させていただいたうえで、合理的な範囲ですみやかに対応させていただきます。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    8.セキュリティーについて
                </p>
                <p class="block--content">
                    シンプリスオンラインストアはお客様からの個人情報を登録していただく際「SSL（Secure Socket Layer）」により、お客様の個人情報をインターネット上で暗号化し保護する仕組みを導入しています。ご注文内容やクレジットカード番号などお客様の大切な情報は暗号化して送られますので、安心してお買い物をお楽しみいただけます。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    9.免責事項
                </p>
                <p class="block--content">
                    本サイトのご利用は、お客様の責任において行われるものとします。<br>
                    本サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。本サイトのご利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。本サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    10.著作権
                </p>
                <p class="block--content">
                    本サイトに掲載されている全てのコンテンツは、当社または原著作者、その他の権利所有者に帰属しています。書面による許可なく、個人的な目的以外で使用することは禁止されています。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    11.ポリシーの変更について
                </p>
                <p class="block--content">
                    当社は、本プライバシーポリシーを変更する場合、その変更内容を本サイト内に一定期間掲載いたします。利用者の皆様へは、変更内容の掲載をもって通知をしたものとします｡
                </p>
                <p class="block--content sub">
                    改定：2016年8月28日<br>
                    改定：2021年1月28日
                </p>
            </div>
        </div>

    </section>

    <div class="breadArea sp_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					プライバシーポリシー
				</a>
			</li>
		</ul>
	</div>
    <!--△ パンくず △-->

</article>
<!-- // about -->
<%-- △編集可能領域△ --%>
</asp:Content>
