﻿<%--
=========================================================================================================
  Module      : ソーシャルログイン ログインコールバック画面(LoginCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2017 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" inherits="Form_User_SocialLogin_LoginCallback, App_Web_logincallback.aspx.2c259e00" %>