﻿<%--
=========================================================================================================
  Module      : ソーシャルログイン かんたん会員登録コールバック画面(UserEasyRegisterCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2017 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" inherits="Form_User_SocialLogin_UserEasyRegisterCallback, App_Web_usereasyregistercallback.aspx.2c259e00" %>