/*====================================================================
*    mixin
/*==================================================================*/

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
  @media (min-width: ($bp1281)) {
    @content;
  }
}

$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

/*====================================================================
*    about
/*==================================================================*/
#about{
    .listBrandsArea{
        position: relative;
        width: 79.69%;
        margin: 0 auto;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 49.87%;
    
            @include bp768 {
                height: 83.28%;
            };
        }

        &.beauty{
            &::after{
                background-color: #F1F8FD;
            }
        }

        .catBox{
            display: flex;
            position: relative;
            z-index: 2;

            @include bp768 {
                display: block;
            };

            .catPic{
                width: 29.41%;

                @include bp768 {
                    width: 40%;
                    margin: 0 auto 20px;
                };
            }

            .catTxt{
                width: 70.59%;
                background-color: #fff;
                padding: 6.875vw 0 0 130px;

                @include bp768 {
                    width: 100%;
                    background-color: transparent;
                    padding: 0;
                };

                &_brand{
                    font-size: .22rem;
                    line-height: 1;
                    letter-spacing: 0.27em;
                    margin-bottom: 20px;
            
                    @include bp1281 {
                        font-size: 22px;
                    };

                    @include bp768 {
                        margin-bottom: 15px;
                        text-align: center;
                    };
                }

                &_lead{
                    font-size: .22rem;
                    line-height: 1.45;
                    letter-spacing: 0.04em;
                    font-weight: 300;
                    margin: 0 0 40px;

                    @include bp1281 {
                        font-size: 22px;
                    };

                    @include bp768 {
                        font-size: .16rem;
                        line-height: 1.63;
                        margin: 0;
                        text-align: center;
                    };
                }

                &_cts{
                    font-size: .13rem;
                    line-height: 2.31;
                    letter-spacing: 0.08em;

                    @include bp1281 {
                        font-size: 13px;
                    };

                    @include bp768 {
                        display: none;
                    };
                }
            }
        }
    }
}
