﻿.keyword-search
{
    position: relative;
    display: inline-block;
}

.keyword-search-submit
{
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    font-size: 20px;
    color: #666;
}

    .keyword-search-submit .icon-search
    {
        color: #4ca750;
    }

.icon-search:before
{
    visibility: hidden;
    content: "\e91a";
}
/* line 308, ../../develop/scss/_w2cmsManager/Css/_detail.scss */
.layout-edit-parts-head .keyword-search-input
{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

input[name="search"]
{
    border: 1px solid #999;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    background: #fff url(../../Contents/ImagesPkg/icn_advanceSearch.png) right 50% no-repeat;
}

input[name="ctl00$ContentPlaceHolder1$BodySearchCoordinate$tbSearchCoordinate"]
{
    border: 1px solid #999;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    background: #fff url(../../Contents/ImagesPkg/icn_advanceSearch.png) right 50% no-repeat;
}

    input[name="ctl00$ContentPlaceHolder1$BodySearchCoordinate$tbSearchCoordinate"]::-ms-clear
    {
        visibility: hidden;
    }

.box2
{
    padding: 0.5em 0.8em;
    font-weight: bold;
    color: black; /*文字色*/
    background: #FFF;
    border: solid 3px #e8e8e8; /*線*/
    border-radius: 10px; /*角の丸み*/
}

.coordinate
{
    overflow: hidden;
}

.coordinateImage ul li
{
    display: inline-block;
    vertical-align: top; /* 中央を揃える */
    margin-bottom: 10px;
}

    .coordinateImage ul li img
    {
        width: 100px;
        margin: 5px 5px 5px 5px;
    }

.coordinateSubImage ul
{
    font-size: 0;
}

    .coordinateSubImage ul li
    {
        display: inline-block;
        vertical-align: top; /* 中央を揃える */
        margin: 2.5px 2.5px 2.5px 2.5px;
    }

.ddl
{
    width: 120px;
    padding: 0px 0px 3px 0px;
}

.MoreList
{
    margin: 10px 0 30px;
    clear: both;
}

.MoreList .title
{
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
}

.MoreList .productCheckList
{
    float: left;
    margin: 3px;
}

.MoreList .productCheckList ul
{
    width: 187.5px;
}

.MoreList .productCheckList ul li
{
    margin: 3px 0;
    line-height: 1.5;
}

.MoreList .productCheckList ul li p
{
    line-height: 1.5;
}

    .MoreList .productCheckList ul li p strike
    {
        color: #f00;
    }

.MoreList .productCheckList ul li.thumnail img
{
    width: 187.5px;
    height: 250px;
    margin-bottom: 20px;
}

.MoreList .productCheckList ul li.thumnail
{
    position: relative;
    text-align: center;
}

.MoreList .productCheckList ul li.thumnail .soldout
{
    color: #fff;
    word-wrap: normal;
    position: absolute;
    top: 45%;
    left: 0%;
    text-align: center;
    width: 100%;
    height: 26px;
    line-height: 26px;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.parent
{
    /*親要素*/
    position: relative;
    background: orange;
    height: 200px;
    clear: left;
}

    .parent p
    {
        position: absolute;
        top: 50%;
        left: 40%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100px;
        text-align: center; /*一応BOX内の文字も中央寄せ*/
        font-size: 3em;
        white-space: nowrap;
        color: white;
    }

.coordinate
{
    overflow: hidden;
}

.coordinateImage ul li
{
    display: inline-block;
    vertical-align: top; /* 中央を揃える */
    margin-bottom: 10px;
}

    .coordinateImage ul li img
    {
        width: 100px;
        margin: 5px 5px 5px 5px;
    }

.coordinateSubImage ul
{
    font-size: 0;
}

    .coordinateSubImage ul li
    {
        display: inline-block;
        vertical-align: top; /* 中央を揃える */
        margin: 2.5px 2.5px 2.5px 2.5px;
    }

.accesstop_info
{
    padding: 20px 100px 0;
    position: relative;
}

.accesstop_brandlogo
{
    width: 76px;
    height: 76px;
    position: absolute;
    top: 10px;
    left: 80px;
    z-index: 10;
}

.accesstop_brand
{
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Poppins',NotoSans, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    color: #888888;
    text-align: center;
}

.accesstop_shop
{
    font-size: 10px;
    font-weight: bold;
    font-family: NotoSans;
    text-align: center;
}

.accesstop_date
{
    font-size: 10px;
    font-weight: bold;
    font-family: 'Poppins',NotoSans, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    color: #888888;
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 10;
}

.coodinate_itemphoto
{
    padding: 30px 0 0px 10px;
}

    .coodinate_itemphoto .coodinate_subtitle
    {
        font-size: 13px;
        font-weight: bold;
        font-family: NotoSans;
        margin-bottom: 20px;
    }

    .coodinate_itemphoto ul li:nth-child(2n-1)
    {
        clear: both;
    }

    .coodinate_itemphoto ul li
    {
        width: 50%;
        padding-right: 10px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
    }

    .coodinate_itemphoto .item_photo
    {
        margin-bottom: 5px;
        position: relative;
        vertical-align: middle;
    }

    .coodinate_itemphoto .coodinate_price
    {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .coodinate_itemphoto .coodinate_item
    {
        margin-bottom: 5px;
        font-size: 10px;
        font-weight: bold;
        width: 100%;
        overflow: hidden;
        height: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.item_price
{
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.item_price
{
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.coodinate_itemphoto .item_photo img
{
    width: 100%;
    height: auto;
    /* vertical-align: middle; */
}

.borderlink
{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 0.5px solid #333;
    padding-top: 5px;
    padding-bottom: 5px;
}

.borderTitle
{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flexbox
{
    display: flex;
    flex-direction: row; /* デフォルト値 */
    align-items: stretch; /* デフォルト値 */
    justify-content: flex-start; /* デフォルト値 */
    flex-wrap: nowrap; /* デフォルト値 */
    align-content: stretch; /* デフォルト値 */
    -webkit-flex-wrap: wrap;        /* Safari etc. */
    -ms-flex-wrap    : wrap;        /* IE10        */
    flex-wrap        : wrap;
    width     : 780px;
}

.bl-hot {
    height: auto;
}
.coordinatethumb .rank {
    padding: 9px 0 0;
    text-align: center;
    font-family: Times , serif;
    font-style: italic;
    font-weight: bold;
}

#dvTopRanking .listProduct {
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.rankingList {
	float: left;
	border: 1px solid #d0d0d0;
	margin: -1px 0 0 -1px;
	position: relative;
	background-color: #fff;
}

#dvTopRanking .listProduct .rankingList {
	float: none;
}

.rankingList.column4 { width: 192px; }
.rankingList.column5 { width: 155px; }

.rankingList ul { padding: 10px; }
.rankingList ul li { margin-bottom: 5px; }
.rankingList ul li.name { font-size: 93%; line-height: 1.8; }
.rankingList ul li.thumb {
	text-align: center;
}
.rankingList ul li.item { margin-bottom: 0; }

.rankingList.column4 ul li.thumb img {
	width: 170px;
	height: 170px;
}

.rankingList.column4 ul li.coordinatethumb img {
	width: 170px;
}

.rankingList.column5 ul li.thumb img {
	width: 133px;
	height: 133px;
}

/* ランク */
.rankingList .rank {
	padding: 9px 0 0;
	text-align: center;
	font-family: Times , serif;
	font-style: italic;
	font-weight: bold;
}

.rankingList ul li.price {
	font-size: 93%;
	line-height: 1.8;
	padding-top: 5px;
	border-top: 1px dotted #d0d0d0;
}

.rankingList ul li.price p {
	line-height: 1.5;
}

.rankingList.bl-hover {
	background-color: #fafafa;
}

/* 在庫切れ */
.rankingList li .soldout {
	color: #fff;
	word-wrap: normal;
	position: absolute;
	top: 33%;
	left: 0%;
	text-align: center;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background-color: #000;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#dvTopRanking .rankingList li .soldout { top: 36%; }
.rankingList.column5 li .soldout { top: 28%; }

.rankingList li.icon img {
	height: 20px;
	border: none;
}

.rankingList li.favorite {
	font-size: 77%;
}

.rankingList.column4 .variationview_wrap {
	top: -1px !important;
	left: 191px !important;
}

.rankingList.column5 .variationview_wrap {
	top: -1px !important;
	left: 153px !important;
}

.rankingList .variationview_wrap img {
	width: 60px !important;
	height: 60px !important;
}

.beforefollow {
    float: right;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}

.afterfollow {
    float: right;
    background: 0 0;
    border-color: #dbdbdb;
    color: #262626;
}

a.btn.beforefollow:hover {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}
a.btn.afterfollow:hover {
    background: 0 0;
    border-color: #dbdbdb;
    color: #262626;
}
