﻿@charset "UTF-8";

/*
#Contents div,
#Contents form,
#Contents ul,
#Contents li,
#Contents dl,
#Contents dt,
#Contents dd,
#Contents p { line-height: 1.5em; }
*/

/* 注文内容関連　*/
.orderBox{background: url(../../Contents/ImagesPkg/common/bg_boxB.gif) repeat-y left top;margin-top:15px;}
.orderBox a{text-decoration: underline;}
.orderBox a:hover{text-decoration: none;}
.orderBox h3{background: url(../../Contents/ImagesPkg/common/top_boxB.gif); font-size: 11px; color: #FFFFFF; padding: 5px 11px 5px 11px;}
.orderBox h3 div.cartNo{text-align:left;float:left;}
.orderBox h3 div.cartLink{text-align:right;}
.orderBox h3 div.cartLink a{font-size:9px;color:#FFFFFF;}
.orderBox h4{border:#ADC3D0 solid 1px;background-color:#C8D3DA;color:#333333;padding:8px 0px 8px 11px;font-size:12px;}
.orderBox div.bottom{background: url(../../Contents/ImagesPkg/common/btm_boxB.gif) no-repeat left bottom;padding-bottom:13px;}
.orderBox div.last div.box{ border-bottom:none!important;}
.orderBox div.box{padding:14px 21px 15px 21px;margin-bottom:2px;border-bottom:#C2CFD7 solid 1px;}
.orderBox div.box div{ width:298px;}
.orderBox div.box em{font-style:normal;font-weight:bold;color:#333333;display:block;padding-bottom:8px;}
.orderBox div.box dl{width:298px;padding-bottom:15px;}
.orderBox div.box dt{width:120px;float:left;padding:1px 0px;clear:left;}
.orderBox div.box dd{padding:1px 0px 1px 130px;}
.orderBox div.box dd p{width:168px;}
*html .orderBox div.box dd p{width:165px;}

.orderBox div.list{padding:14px 21px 15px 21px;}
.orderBox div.list p{padding-top:10px;}
.orderBox div.list dt{color:#333333;font-weight:bold;padding:3px 0px 3px 5px;background-color:#ECF2F5;margin:5px 0px 5px 0px;}
.orderBox div.list dt input{vertical-align:sub!important;}
.orderBox div.list dd p{padding:5px 0px 10px 0px!important;}
.orderBox div.list li{padding:10px 0px 0px 11px;background: url(../../Contents/ImagesPkg/common/bg_spot.gif) no-repeat 0em 1.2em;}
.orderBox div.memo {padding:14px 21px 5px 21px;}

.orderBox div.userProduct{padding:0px 21px;border-bottom:#C2CFD7 solid 1px;}
.orderBox div.userProduct div{ width:298px;padding:10px 0px 11px 0px;background: url(../../Contents/ImagesPkg/common/line_dottedB.gif) repeat-x left bottom;}
.orderBox div.userProduct div.last{background:none!important;}
.orderBox div.userProduct dl{width:298px;font-size:10px;}
.orderBox div.userProduct dt{width:48px;float:left;}
.orderBox div.userProduct dt a{ display:block; text-align:center;}
.orderBox div.userProduct dt img { width: 100%; }
.orderBox div.userProduct dt a img { width: 100%; }
.orderBox div.userProduct dd{width:228px;float:right;}
.orderBox div.userProduct dd strong{display:block;padding-top:15px;}
.orderBox div.userProduct dd strong a{color:#333333;padding-left:10px;background: url(../../Contents/ImagesPkg/common/arrow_C.gif) no-repeat 0em 0.5em; display:block;font-size: 12px;}

.userBox{background: url(../../Contents/ImagesPkg/common/bg_boxC.gif) repeat-y left top;margin-top:15px;}
.userBox a{text-decoration: underline;}
.userBox a:hover{text-decoration: none;}
.userBox div.top{background: url(../../Contents/ImagesPkg/common/top_boxC.gif) no-repeat left top;}
.userBox div.bottom{background: url(../../Contents/ImagesPkg/common/btm_boxC.gif) no-repeat left bottom; padding:10px 21px 21px 21px;}
.userBox img{ vertical-align:middle;}
.userBox dt{ padding-top:17px; font-weight:bold; color:#333333;}
.userBox dt span{ font-weight:normal!important;}
.userBox dd{padding-top:2px;}
.userBox dd small.btn_add_sea{display:none;}
.userBox dd a.gotop{float:right; color:#333333;}

.userList{padding:14px 21px 15px 21px;}
.userList img{ vertical-align:middle;}
.userList dt{ padding-top:17px; font-weight:bold; color:#333333;}
.userList dt span{ font-weight:normal!important;}
.userList dd{padding-top:2px;}
.userList dd.last{ padding-bottom:0px!important;}
.userList div.subbox{
	margin:18px 0px 2px 0px;
	padding-top:4px;
	background: url(../../Contents/ImagesPkg/common/top_sub_boxA.gif) no-repeat left top;
}
*html .userList div.subbox{ margin-bottom:10px!important;}
.userList div.subbox input{ vertical-align:sub!important;}
.userList div.subbox p{padding:11px 15px;background-color:#EEEEEE;}
.userList div.subbox span{ display:block; padding-top:5px;}
.userList div.subbox img{ display:block;}


.orderComplete{ padding:0px 20px 20px 20px; width:837px; margin:0 auto;}
*html .orderComplete{ width:877px;}
.orderComplete p, dt, dd{text-align:left;}
.orderComplete h3{background: url(../../Contents/ImagesPkg/common/top_boxD.gif) no-repeat left top;font-size:11px;color:#FFFFFF;padding:5px 0px 5px 11px;}
.orderComplete h4{border:#ADC3D0 solid 1px;background-color:#C8D3DA;color:#333333;padding:2px 0px 2px 11px;font-size:12px;}
.orderComplete div.background{
	background: url(../../Contents/ImagesPkg/common/bg_boxD.gif) repeat-y left top;width:837px;
}
.orderComplete div.bottom{
	background: url(../../Contents/ImagesPkg/common/btm_boxD.gif) no-repeat left bottom;width:837px;
}
.orderDetail{
	padding:0px 30px 6px 30px; margin:15px 0px 10px 0px; width:777px;
	background: url(../../Contents/ImagesPkg/common/line_solidC.gif) repeat-y left top;
}
.orderDetail2{
	padding:0px 30px 6px 30px; margin:15px 0px 10px 0px; width:777px;
}
*html .orderDetail{width:837px;}
.suborderDetail{width:777px;}
.orderComplete div.orderDetail div.left,
.orderComplete div.orderDetail div.right{width:360px;}
.orderComplete div.orderDetail div.left div,
.orderComplete div.orderDetail div.right div{width:360px;}
.orderComplete div.orderDetail em{font-style:normal;font-weight:bold;color:#333333;display:block;padding-bottom:8px;}
.orderComplete div.orderDetail dl{width:355px;padding-bottom:8px;}
.orderComplete div.orderDetail dl.last{ padding-bottom:0px!important;}
.orderComplete div.orderDetail dt{ width:140px;float:left;padding:1px 0px;}
.orderComplete div.orderDetail dd{padding:1px 0px 1px 150px;}
.orderComplete div.orderDetail dd p{width:200px;}
.orderComplete div.orderDetail dd.paymentinfo
{
	padding:5px 0px 1px 0px;
}
.orderComplete div.orderDetail dd.paymentinfo table
{
	padding:5px;
	border :solid 2px #888;
}
.orderComplete div.orderDetail dd.paymentinfo table td
{
	vertical-align :top;
	font-size:10px;
}



.orderComplete div.productList{ padding:0px 0px 0px 0px; width:807px; margin:0px 15px;}
.orderComplete div.product{ padding:15px 0px; width:807px;border-bottom:#DDDDDD solid 1px;}
.orderComplete div.product div{ width:787px; margin:0px 10px;}
.orderComplete div.productList dl.name{width:486px;float:left;}
.orderComplete div.productList dl.name dt{width:70px;float:left;}
.orderComplete div.productList dl.name dt a{ display:block; text-align:center;}
.orderComplete div.productList dl.name dd{ width:395px; float:right;font-weight:bold;}
.orderComplete div.productList dl.name dd span{ display:block; padding-top:25px;}
.orderComplete div.productList dl.name dd a{color:#333333;padding-left:10px;background: url(../../Contents/ImagesPkg/common/arrow_C.gif) no-repeat 0em 0.4em;}
.orderComplete div.productList p.subtotal{width:170px;text-align:right;float:right;padding-top:25px; font-weight:bold;}
.orderComplete div.productList td.name{width:486px;}
.orderComplete div.productList td.name dl{width:486px;float:left;}
.orderComplete div.productList td.name dt{width:70px;float:left;}
.orderComplete div.productList td.name dt a{ display:block; text-align:center;}
.orderComplete div.productList td.name dd{ width:395px; float:right;font-weight:bold;}
.orderComplete div.productList td.name dd span{ display:block; padding-top:25px;}
.orderComplete div.productList td.name dd a{color:#333333;padding-left:10px;background: url(../../Contents/ImagesPkg/common/arrow_C.gif) no-repeat 0em 0.4em;}
.orderComplete div.productList td.quantity{width:120px;text-align:left;vertical-align:middle;}
.orderComplete div.productList td.subtotal{text-align:right;font-weight:bold;vertical-align:middle;}

.orderComplete div.productList div.product2{ padding:8px 0px 0px 0px; width:807px;border-bottom:#DDDDDD solid 1px;}
.orderComplete div.productList div.product2 dl.name dd span{padding-top:10px; display:block;}
.orderComplete div.productList div.product2 p.quantity{text-align:left;}
.orderComplete div.productList div.product2 p.subtotal{width:170px;text-align:right;float:right;padding-top:10px; font-weight:bold;}
.orderComplete div.orderDetail div.box {width:360px; padding: 10px 10px 15px 15px; float:left}

.orderComplete div.cartOrder{padding-top:20px; width:807px;}
.orderComplete div.cartOrder dl{ width:260px!important;}
.orderComplete div.subcartOrder{width:775px; padding-bottom:10px;}
.orderComplete div.sumBox{width:338px; float:left;margin-top:0px!important;}

.orderComplete .productList { width: 96% !important; }

.orderComplete div.sumBox dl{width:338px!important;background: none!important;padding-top:0px!important;margin-top:0px!important;}
.orderComplete div.priceList{ padding-top:0px!important; width:260px!important; float:right;}
.orderComplete div.priceList div{ width:260px;}

.orderCompleteSum{padding:0px 20px;background: url(../../Contents/ImagesPkg/common/line_solidB.gif) repeat-y left top; width:837px; margin: 0 auto; }
*html .orderCompleteSum{ width:877px;}
.suborderCompleteSum{ width:837px;}
.orderCompleteSum div.sumBox{width:338px;margin-top:0px!important;}
.orderCompleteSum div.sumBox dl{width:338px!important;background: none!important;padding-top:0px!important;margin-top:0px!important;}
.orderCompleteSum div.sumBox p{width:338px;}
.orderCompleteSum span{ display:block; padding-top:10px; float:right;}
.orderCompleteSum div.left,
.orderCompleteSum div.right{ width:378px;}

/* 決済画面 */
.orderSettlement{ padding:0px 20px 20px 20px; width:837px;}
*html .orderSettlement{ width:877px;}
.orderSettlement h3{background: url(../../Contents/ImagesPkg/common/top_boxD.gif) no-repeat left top;font-size:11px;color:#FFFFFF;padding:5px 0px 5px 11px;}
.orderSettlement div.background{
	background: url(../../Contents/ImagesPkg/common/bg_boxD.gif) repeat-y left top;width:837px;
}
.orderSettlement div.bottom{
	background: url(../../Contents/ImagesPkg/common/btm_boxD.gif) no-repeat left bottom;width:837px;
}
.orderDetail{
	padding:0px 30px 6px 30px; margin:15px 0px 10px 0px; width:777px;
	background: url(../../Contents/ImagesPkg/common/line_solidC.gif) repeat-y left top;
}
*html .orderDetail{width:837px;}
.suborderDetail{width:777px;}
.orderSettlement div.orderDetail em{font-style:normal;font-weight:bold;color:#333333;display:block;padding-bottom:8px;}
.orderSettlement div.productList td.name{width:60%;float:left;}
.orderSettlement div.productList td.quantity{width:40%;text-align:left;}
.orderSettlement div.status{font-style:normal;font-size:large;font-weight:bold;color:#333333;display:block; padding:4px 0px 8px 0px;float:right;} 

/* カート選択 */
/*#dvOrderBox *{color: black;background: transparent;margin: 0;padding: 0;}*/
#dvOrderBox p{margin:0px;padding:0px;}
#dvOrderBox h2,
#dvOrderBox h3{clear: both;font-weight: normal;line-height: 1.2;margin:0px;}
/*
#dvOrderBox a:link{color:#3876DA;line-height:1.4;text-decoration:none;}
#dvOrderBox a:visited{color:#3876DA;line-height:1.4;text-decoration:none;}
#dvOrderBox a:hover{color:#3876DA;line-height:1.4;text-decoration:underline;}
#dvOrderBox a:active{color:#3876DA;line-height:1.4;}
*/

#dvOrderBox table{}
#dvOrderBox table img{vertical-align:middle;}
#dvOrderBox table .productPrice img { height: 20px; }
#dvOrderBox table td,
#dvOrderBox table th{empty-cells:show;vertical-align:middle;color:#333;}
#dvOrderBox table td img,
#dvOrderBox table th img{}
#dvOrderBox table th{text-align:left;}
#dvOrderBox table td{line-height:1.4!important;}
#dvOrderBox h2{margin:20px 0px 20px 0px;font:bold 12px "ＭＳ Ｐゴシック";}
#dvOrderBox h3{margin:10px 0px 10px 0px;font:bold 12px "ＭＳ Ｐゴシック", Arial;}
#dvOrderBox{
	/*width:700px;margin-left:75px;margin-top:10px;*/
	width:100%;
	margin: 10px 0;
}
#dvOrderBox #dvCartSelect{}
#dvOrderBox #dvCartSelect p{margin:5px 0px 20px 0px;padding:10px;background-color:#ececec;line-height:1.6;}
#dvOrderBox #dvCartSelect table{width:100%;padding:0;margin:0px 0px 20px 0px;border-spacing:0;empty-cells:show;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse;}
#dvOrderBox #dvCartSelect table th{border-top-style:solid;border-top-width:1px;padding:4px;font-weight:bold;text-align:left;}
#dvOrderBox #dvCartSelect table td{border-top-style:solid;border-top-width:1px;padding:4px;text-align:left;}
#dvOrderBox #dvCartSelect table .productImg{width:80px!important;text-align:center;}
#dvOrderBox #dvCartSelect table .productName{width:300px;}
#dvOrderBox #dvCartSelect table .productName img { height: 20px; }
#dvOrderBox #dvCartSelect table .productPrice{width:200px;}
#dvOrderBox #dvCartSelect table .remark{width:100px;text-align:center;}
#dvOrderBox #dvCartSelect table .remark .addCheckAll{text-decoration-line: underline;}
#dvOrderBox #dvCartSelect table .remark .removeCheckAll{text-decoration-line: underline;}

#dvOrderBox .dvOrderBtnBox{margin:0px;padding-top:20px;padding-bottom:10px;}
#dvOrderBox .dvOrderBtnBox p{text-align:center;}
#dvOrderBox .dvOrderBtnBox p span{margin:0px 5px;}

#dvOrderBox table{border-color:#ccc;background-color:#ececec;}
#dvOrderBox table th{color:#444!important;border-color:#ccc;}
#dvOrderBox table td{border-color:#ccc;background-color:#fff;}

/* 注文配送先選択（ギフト）　*/
.orderBoxLarge {border:#C2CFD7 solid 1px;margin:5px 0px 15px 0px;}
.orderBoxLarge a{text-decoration: underline;}
.orderBoxLarge a:hover{text-decoration: none;}
.orderBoxLarge h3{background-color:#7799aa;font-size:11px;color:#FFFFFF;padding:5px 11px 5px 11px;}
.orderBoxLarge h3 div.cartNo{text-align:left;float:left;}
.orderBoxLarge h3 div.cartNo a{font-size:11px;color:#FFFFFF;}
.orderBoxLarge h3 div.cartLink{text-align:right;}
.orderBoxLarge h3 div.cartLink a{font-size:10px;color:#FFFFFF;}
.orderBoxLarge h4{border:#ADC3D0 solid 1px;background-color:#C8D3DA;color:#333333;padding:	2px 11px 2px 11px;font-size:12px;}
.orderBoxLarge h4 div.cartNo{text-align:left;float:left;}
.orderBoxLarge h4 div.cartLink{text-align:right;}
.orderBoxLarge h4 div.cartLink a{font-size:10px;}
.orderBoxLarge h5{border:#ADC3D0 solid 1px;background-color:#E8F3FA;color:#333333;padding:2px 0px 2px 11px;font-size:12px; margin:0px 1px 10px 1px;}
.orderBoxLarge h5 a{font-size:11px;}
/*.orderBoxLarge div.bottom{padding-bottom:13px;}*/
.orderBoxLarge div.addShipping{clear:both;padding:2px 0px 2px 0px;background-color:#EBF0FF;}

.orderBoxLarge div.last div.box{ border-bottom:none!important;}
.orderBoxLarge div.box{padding:14px 21px 15px 21px;margin-bottom:2px;border-bottom:#C2CFD7 solid 1px;}
.orderBoxLarge div.box div{ width:298px;}
.orderBoxLarge div.box em{font-style:normal;font-weight:bold;color:#333333;display:block;padding-bottom:8px;}
.orderBoxLarge div.box dl{width:298px;padding-bottom:15px;}
.orderBoxLarge div.box dt{width:120px;float:left;padding:1px 0px;}
.orderBoxLarge div.box dd{padding:1px 0px 1px 130px;}
.orderBoxLarge div.box dd p{width:168px;}

*html .orderBoxLarge div.box dd p{width:165px;}

.orderBoxLarge div.list{padding:14px 21px 15px 21px;}
.orderBoxLarge div.list p{padding-top:10px;}
.orderBoxLarge div.list dl{padding:3px 0px 0px 0px;}
.orderBoxLarge div.list dt{clear:both;float:left;width:120px;height:20px;color:#333333;font-weight:bold;padding:2px 0px 2px 5px;background-color:#ECF2F5;margin:0px 0px 5px 0px;}
.orderBoxLarge div.list dt input{vertical-align:sub!important;}
.orderBoxLarge div.list dd {float:left; width:250px; padding:2px 0px 2px 5px!important;}
.orderBoxLarge div.list dd.error {margin:0px 0px 0px 0px;padding:0px 0px 0px 0px!important;}

.orderBoxLarge div.list li{padding:10px 0px 0px 11px;background: url(../../Contents/ImagesPkg/common/bg_spot.gif) no-repeat 0em 1.2em;}
.orderBoxLarge div.memo {padding:14px 21px 5px 21px;}


.orderBoxLarge div.userListFloat{ float:left; width:405px; background-color:#F8FBFF; padding:10px; margin:5px; height:100% }
.orderBoxLarge div.userListWide{ float:left; width:842px; background-color:#F8FBFF; padding:10px; margin:5px; height:100% }
.orderBoxLarge div.userListWide .inner{ padding:10px 10px 0px 10px;}

.orderBoxLarge div.userProductBox{ width:842px; background-color:#F8FBFF; padding:10px 10px 5px 10px;  margin:5px; height:100% }
.orderBoxLarge div.userProductTitle{padding:0px 2px 0px 20px;}
.orderBoxLarge div.userProduct{padding:0px 21px;}
.orderBoxLarge div.userProduct div{ background-color:#F8FBFF;width:405px;padding:10px 0px 5px 0px;background: url(../../Contents/ImagesPkg/common/line_dottedB.gif) repeat-x left bottom;}
.orderBoxLarge div.userProduct div.last{background:none!important;}
.orderBoxLarge div.userProduct dl{width:298px;font-size:10px;}
.orderBoxLarge div.userProduct dt{width:48px;float:left;}
.orderBoxLarge div.userProduct dt a{ display:block; text-align:center;}
.orderBoxLarge div.userProduct dd{width:228px;float:right;}
.orderBoxLarge div.userProduct dd strong{display:block;padding-top:15px;}
.orderBoxLarge div.userProduct dd strong a{color:#333333;padding-left:10px;background: url(../../Contents/ImagesPkg/common/arrow_C.gif) no-repeat 0em 0.5em;}
.orderBoxLarge div.userProduct p.quantity input{border:#AAAAAA solid 1px;width:28px;text-align:center;}


/* LandingOrderPage */

.LandingOrderPage #Contents div.main,
.LandingOrderPage #Contents div.submain { width: 850px !important; padding: 0; background-image: none;}
.LandingOrderPage .columnLeft,
.LandingOrderPage #Contents .columnLeft div.column { width: 450px !important; }
.LandingOrderPage .userBox { background-image: none; }
.LandingOrderPage .userBox dt {
	background-color: #eee;
	padding: 4px;
}
.LandingOrderPage .userBox dd {
	padding: 4px 4px 20px;
}
.LandingOrderPage .userBox div.bottom {
	background-image: none;
	padding: 0;
}

/* 同梱注文選択画面 / OrderCombineSelectList */
.OrderCombineSelectlist table:hover {
	background-color: #fbfbfb;
}
.OrderCombineSelectlist table:last-child {
	margin-bottom: 30px;
}
.OrderCombineSelectlist .title {
	width: 100%;
	font-size: 15px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #333;
}
.OrderCombineSelectlist table {
	width: 100%;
	border-bottom: 1px solid;
}
.OrderCombineSelectlist .selected {
	background-color: #f1f1f1;
}
.OrderCombineSelectlist .radio {
	width: 60px;
	border-bottom: 1px solid #333;
	text-align: center;
	cursor: pointer;
}
.OrderCombineSelectlist table td {
	padding: 7px;
	line-height: 1.3;
}
.OrderCombineSelectlist table th {
	padding: 7px;
	line-height: 1.3;
	width: 150px;
	font-weight: normal;
	text-align: right;
}
.InternationalShippingAttention {
    color: red;
}

/*領収書情報入力用*/
.order-amazonpay-receipt {
  width: 780px;
  padding: 0 50px;
  margin: 20px auto;
}
.order-amazonpay-receipt h4 {
  border:#ADC3D0 solid 1px;
  background-color:#C8D3DA;
  color:#333333;
  padding:8px 0 8px 11px;
  font-size:12px;
}
.order-amazonpay-receipt div.input {
  border: 1px solid #bbb;
  border-radius: 6px;
}
.order-amazonpay-receipt .receipt-info { padding: 14px 21px 15px 21px; }
.order-amazonpay-receipt .receipt-info dt { padding-top: 10px; }
.order-amazonpay-receipt .receipt-info dd { padding-top: 10px; }
.order-amazonpay-receipt .receipt-info p { padding-top: 5px; }