﻿@charset "UTF-8";

/*========================================
 お勧め商品
=========================================*/
/* Topページ用（お勧め商品） */
/*
#divBottomArea #dvRecommend{margin-top:10px;width:337px;float:left;}
#divBottomArea #dvRecommend dd{margin-top:5px;}
#divBottomArea #dvRecommend dd ul li.thumnail{
	width:80px;
	margin-right:5px;
	padding:10px 0px;
	text-align:center;
	border:solid 1px #ccc;
	float:left;
}
#divBottomArea #dvRecommend dd ul li.productInfo{line-height:1.5;}
.soldout {color:#FF0000;word-wrap:normal;}
*/

/* 商品詳細ページ用（お勧め商品） */
.tblLayout_ProductDetail #dvRecommend{}
.tblLayout_ProductDetail #dvRecommend dl{}
.tblLayout_ProductDetail #dvRecommend dl dd{margin-right:5px;}
.tblLayout_ProductDetail #dvRecommend dl dd.productInfoList ul li{margin:1px 0px;line-height:1.4;}
.tblLayout_ProductDetail #dvRecommend dl dd.productInfoList ul li.thumnail{
	text-align:center;
	width:39px;
	border:solid 1px #ccc;
	float:left;
	margin-right:3px;
	padding:2px 0px;
}
.tblLayout_ProductDetail #dvRecommend dl dd.productInfoList ul li.thumnail img{}
.tblLayout_ProductDetail #dvRecommend dl dd.productInfoList ul li.productInfo{width:113px;float:right;}
.tblLayout_ProductDetail #dvRecommend dl dd.toList{text-align:right;}

/* 商品一覧ページ用（お勧め商品） */
.tblLayout_ProductList #dvRecommend{}
.tblLayout_ProductList #dvRecommend dl{}
.tblLayout_ProductList #dvRecommend dl dd{margin-right:5px;}
.tblLayout_ProductList #dvRecommend dl dd.productInfoList ul li{margin:1px 0px;line-height:1.4;}
.tblLayout_ProductList #dvRecommend dl dd.productInfoList ul li.thumnail{
	text-align:center;
	width:39px;
	border:solid 1px #ccc;
	float:left;
	margin-right:3px;
	padding:2px 0px;
}
.tblLayout_ProductList #dvRecommend dl dd.productInfoList ul li.thumnail img{}
.tblLayout_ProductList #dvRecommend dl dd.productInfoList ul li.productInfo{width:113px;float:right;}
.tblLayout_ProductList #dvRecommend dl dd.toList{text-align:right;}


/*========================================
 商品ランキング
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvSalesRanking{width: 164px;}
#dvSalesRanking dl{}
#dvSalesRanking dl dd{margin-right:5px;}
#dvSalesRanking dl dd.productInfo ul li{margin:1px 0px;}
#dvSalesRanking dl dd.productInfo ul li ul li.thumnail{text-align:center;width:39px;border:solid 1px #ccc;float:left;margin-right:3px;padding:2px 0px;}
#dvSalesRanking dl dd.productInfo ul li ul li.thumnail img{}
#dvSalesRanking dl dd.productInfo ul li ul li.productName{width:113px;float:right;}
#dvSalesRanking dl dd.toList{text-align:right;}


/*========================================
 商品検索ボックス
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvProductSearch{background:url(../../Contents/ImagesPkg/searchbox_bg.jpg) left top repeat-y;margin-bottom:10px;padding:0;}
#dvProductSearch dl{background:url(../../Contents/ImagesPkg/searchbox_btm.jpg) left bottom no-repeat;margin:0;padding:0;padding-bottom:5px;}
#dvProductSearch dl dd{padding:0;margin:3px 5px;}
#dvProductSearch select{width:150px;}
#dvProductSearch input.text{width:100px;}


/*========================================
 商品詳細検索ボックス
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
.dvProductAdvancedSearch {
	margin-bottom: 10px;
}

.dvProductAdvancedSearch h3 {
	width: 100%;
	text-align: center;
	background-color: #e1e1e1;
	padding: 10px 0;
	cursor: pointer;
}
.pageAdvancedSearch .dvProductAdvancedSearch h3 { cursor: default; }

.dvProductAdvancedSearch .toogle {
	background-color: #fafafa;
	display: none;
}
.pageAdvancedSearch .dvProductAdvancedSearch .toogle { display: block; }

.dvProductAdvancedSearch .button {
	text-align: center;
	padding: 5px 0;
}

.dvProductAdvancedSearch input[radio] { vertical-align: top; }

.dvProductAdvancedSearch table {
	width: 100%;
	/*border-top: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;*/
}

.dvProductAdvancedSearch table th,
.dvProductAdvancedSearch table td{
	padding: 7px;
	/*border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;*/
}

.dvProductAdvancedSearch table th { width: 85px; }

.dvProductAdvancedSearch table td select { width: 200px; }

.dvProductAdvancedSearch table td ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 5px 3px;
}
.dvProductAdvancedSearch table td ul li label { margin-left: 3px; }
.dvProductAdvancedSearch .sort-price li { width: 200px; }

/*========================================
 カテゴリ検索ボックス
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvCategorySearch{background:url(../../Contents/ImagesPkg/searchbox_bg.jpg) left top repeat-y;margin-bottom:10px;width: 164px;}
#dvCategorySearch dl{background:url(../../Contents/ImagesPkg/searchbox_btm.jpg) left bottom no-repeat;margin:0;padding:0;padding-bottom:5px;}
#dvCategorySearch ul{padding:0;margin:5px 0 2px 3px;text-align:left;}
#dvCategorySearch ul li{list-style:none;background:url(../../Contents/ImagesPkg/mark_top.jpg) left top no-repeat;margin:3px 0 0 2px;padding:0 0 0 17px;}
#dvCategorySearch ul ul{margin:5px 0 0 -17px;padding:0 3px 0 0;}
#dvCategorySearch ul ul li{background:url(../../Contents/ImagesPkg/mark_circle.gif) left top no-repeat;padding:0 0 0 9px;margin:3px 0 0 9px;}
#dvCategorySearch ul ul ul{margin:5px 0 0 0;padding:0;}


/*========================================
 商品表示履歴（最近チェックした商品）
=========================================*/
#dvCheckList {
	margin: 10px 0 30px;
	clear: both;
}
#dvCheckList .title {
	font-size: 15px;
	font-weight: bold;
	padding: 8px;
	border-bottom: 1px solid #333;
}
#dvCheckList .productCheckList {
	float: left;
	margin: 3px;
}
#dvCheckList .productCheckList ul {
	width: 150px;
}
#dvCheckList .productCheckList ul li {
	margin: 3px 0;
	line-height: 1.5;
}
#dvCheckList .productCheckList ul li p { line-height: 1.5; }
#dvCheckList .productCheckList ul li p strike { color: #f00; }
#dvCheckList .productCheckList ul li.thumnail img {
	width: 150px;
}

#dvCheckList .productCheckList ul li.thumnail {
	position: relative;
	text-align: center;
}

#dvCheckList .productCheckList ul li.thumnail .soldout {
	color: #fff;
	word-wrap: normal;
	position: absolute;
	top: 45%;
	left: 0%;
	text-align: center;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background-color: #000;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}


/*========================================
 ミニカート
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
/*
.dvMiniCart *{color:#333;margin:0px;padding:0px;}
.dvMiniCart{background:url(../../Contents/ImagesPkg/minicart_bg.jpg) top left repeat-y;padding:0px;margin-bottom:10px;}
.dvMiniCart h3{margin-top:0px;padding-top:0px;margin-bottom:10px;}
.dvMiniCart ul{background:url(../../Contents/ImagesPkg/minicart_bg_btm.jpg) bottom left no-repeat;padding-bottom:3px;margin:0px;}
.dvMiniCart li{margin:0px 8px 12px 8px;}
.dvMiniCart li span{color:#000000!important;}
.dvMiniCart li.productInfo span.productName{margin-bottom:5px;display:block!important;}
.dvMiniCart li.productInfo span.productPrice{margin-bottom:10px;display:block!important;}
.dvMiniCart li.productInfo{border-bottom:1px #ccc solid;display:block;margin:0px 8px 12px 8px;}
.dvMiniCart li.priceTotal{margin:0px 8px 12px 8px;text-align:right;}
.dvMiniCart li.vacant{margin:0px 8px 12px 8px;}
.dvMiniCart li.viewCartLink{margin:0px 8px 12px 8px;text-align:right;margin-bottom:5px;}
.dvMiniCart li span span{display:inline;padding:0px 3px;margin:0px;color:#ff0000!important;}
*/

.wrapMiniCart {
	display: none;
	position: absolute;
	right: 0;
	top: 48px;
	z-index: 999;
}

.dvMiniCart {
	background-color: #fff;
	width: 300px;
	z-index: 102;
	text-align: left;
}

.dvMiniCart h3 {
	font-size: 116%;
	padding: 5px 10px 0;
}

.dvMiniCart .inner {
	padding: 5px 10px;
}

.dvMiniCart ul { border-top: 1px solid #333; }
.dvMiniCart ul li {
	padding: 5px 0;
	line-height: 1.5;
	font-size: 12px;
}

.dvMiniCart ul li.productInfo {
	border-bottom: 1px dotted #333;
}

.dvMiniCart ul li.productInfo a { text-decoration: underline; }
.dvMiniCart ul li.productInfo a:hover { text-decoration: none; }

.dvMiniCart ul li.productInfo .pimg { float: left; }
.dvMiniCart ul li.productInfo .productName,
.dvMiniCart ul li.productInfo .productPrice {
	float: right;
	width: 215px;
}

.dvMiniCart ul li.priceTotal { text-align: right; }
.dvMiniCart ul li.viewCartLink a {
	width: 100%;
	padding: 5px 0;
}

/*========================================
 新着情報
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvInformationArea{
	margin: 10px auto;
	width: 96%;
}
#InformationList #dvInformationArea{}
#dvInformationArea dl dt{
	font-size: 15px;
	padding: 5px;
}
#dvInformationArea dl dt,
#InformationList #dvInformationArea dl dt{
}
#InformationList #dvInformationArea dl dd{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 3px 0;
}
#dvInformationArea dl dd ul li,
#InformationList #dvInformationArea dl dd ul li{line-height:1.4;}
#InformationList #dvInformationArea dl dd ul li{}
#InformationList #dvInformationArea dl dd ul li span.infoDate{
	float:left;
	width:90px;
	display:block;
	text-align:left;
	padding: 3px;
	font-weight: bold;
}
#dvInformationArea dl dd ul li span.infoContent{
	float:right;
	width:545px;
	display:block;
	text-align:left;
	padding: 3px;
}
#dvInformationArea dl dd ul li span.infoContent a { text-decoration: underline; }
#InformationList #dvInformationArea .InformationFooter{
	text-align: center;
	padding: 10px 0;
}

/*========================================
 スタッフ一覧パーツ
=========================================*/
 .story_wrap .right_blk #top_recommend_curetor {
  background-color: #f4f4f4;
  padding: 40px 20px 0;
  margin-bottom: 25px;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curetor_ttl {
  font-family: semplicitapro, sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 177px;
  margin: 0 auto 36px;
  font-size: 23px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: .05em;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curetor_ttl .ttl_white {
  display: block;
  color: #fff;
  text-shadow: 1px  1px 0px #0a0e1f,
  -1px  1px 0px #0a0e1f,
  1px -1px 0px #0a0e1f,
  -1px -1px 0px #0a0e1f,
  1px  0px 0px #0a0e1f,
  0px  1px 0px #0a0e1f,
  -1px  0px 0px #0a0e1f,
  0px -1px 0px #0a0e1f;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curetor_ttl .ttl_small {
  display: block;
  font-size: 11px;
  padding-top: 9px;
  letter-spacing: .1em;
  font-weight: normal;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk {
  width: 125px;
  margin: auto;
  margin-bottom: 28px;
}


 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a:hover .curator_img::before, .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a:hover img {
  opacity: .7;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a img {
  display: block;
  width: 100%;
  height: 100%;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a .curator_img {
  display: block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: 12px;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk .curator_img::before {
  border-radius: 50%;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk .curator_img.bg_orange {
  border: 2px solid grey;
  padding: 2px;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a .curator_img.bg_orange img {
  border-radius: 50%;
}

 .story_wrap .right_blk #top_recommend_curetor .recommend_curator_inner .curator_blk a .curator_name {
  display: block;
  font-size: 13px;
  text-align: center;
}