﻿@charset "UTF-8";

/* レコメンドレスポンスエリア共通 */
.dv_recommend {
	display: table;
	padding: 0px;
	margin: 3px;
	width: 100%;
	table-layout: fixed;
}
.dv_rc_items {
	display: table-cell;
	width: 20%;
	margin: -1px 0 0 -1px;
	float:left;
}
.dv_rc_img img{
	width: 150px;
	height: 150px;
}

/* カートページ用 */
div[id*="recommender_pc4"] .dv_rc_items {
	width: 16.666%;
}

/* 注文完了ページ用 */
div[id*="recommender_pc5"] .dv_rc_items {
	width: 16.666%;
}

/* マイページ用 */
div[id*="recommender_pc6"] .dv_rc_items {
	width: 23%;
}

/* お気に入りページ、入荷リクエストページ用 */
div[id*="recommender_pc9"] .dv_rc_items {
	width: 23%;
}