﻿@charset "UTF-8";

/*==============================================================================================
 * 全体の設定値を初期化
==============================================================================================*/
/*#dvUserBox *{
	font-size: 100%;
	margin: 0;
	padding: 0;
	font:normal 12px "ＭＳ Ｐゴシック", Arial, Osaka, "ヒラギノ角ゴ Pro W3";
}*/

#dvUserBox .btmbtn {
	clear: both;
	margin-top: 10px;
}

/*==============================================================================================
 * 各タグを初期化
==============================================================================================*/
#dvUserBox p,
#dvUserBox pre,
#dvUserBox address,
#dvUserBox cite,
#dvUserBox ins{margin:0px;padding:0px;}
#dvUserBox ins{
	font:11px normal "メイリオ" , "ヒラギノ",tahoma, "ＭＳ Ｐゴシック"!important;
	font:10px normal "メイリオ" , "ヒラギノ",tahoma, "ＭＳ Ｐゴシック";
	color:#666!important;
	text-decoration:none;
}
#dvUserBox h1,
#dvUserBox h2,
#dvUserBox h3,
#dvUserBox h4,
#dvUserBox h5,
#dvUserBox h6{font-weight: normal;line-height: 1.2;margin:0px;}
#dvUserBox ul,
#dvUserBox li{
	list-style:none;
	margin:0;
	padding:0;
	line-height:1.4;
	list-style:none;
}
/*
#dvUserBox input{padding:2px;background-color:#fff;}
*/
#dvUserBox select{background-color:#fff;}
#dvUserBox textarea{background-color:#fff;}

/*==============================================================================================
 * Form内のパーツの設定
==============================================================================================*/
input.nameFull{width:208px;} /* 名前用(フルネーム) */
input.nameFirst{width:100px;} /* 苗字用 */
input.nameLast{width:100px;} /* 名前用 */
input.nickname{width:100px;} /* ニックネーム用 */
select.year{width:60px;} /* 年選択ボックス */
select.month{width:45px;} /* 月選択ボックス */
select.date{width:45px;} /* 日付選択ボックス */
input.mailAddr{width:250px;} /* メールアドレス用 */
input.zipFirst{width:50px;} /* 郵便番号前 */
input.zipLast{width:70px;} /* 郵便番号後 */
select.district{width:100px;} /* 都道府県選択ボックス */
input.addr{width:250px;} /* 市区町村用 */
input.addr2{width:250px;} /* 番地・建物名用 */
input.tel{width:150px;} /* 電話番号用 */
input.tel1,
input.tel2,
input.tel3{width:50px;} /* 問合せ内容 */
textarea.inquirytext{width:400px;} /* カード番号 */
input.cardNo1,
input.cardNo2,
input.cardNo3,
input.cardNo4{width:60px;}
input.loginId{width:120px;} /* ログインID用 */
input.loginIdInMailAddr{width:160px;} /* ログインID用(メールアドレスのログインID利用時) */
input.loginPass{width:120px;} /* ログインパスワード用 */
input.orderCount{width:30px;} /* カート注文数 */
input.password{width:120px;}
input.nameShipping{width:208px;} /* 配送先名 */
#dvUserBox label{color:#333;padding:0px 3px;} /* ラジオボタンラベル用 */
#dvUserBox input{vertical-align:middle;}

/* チェックボックス、ラジオボタン用の縦の整列 */
.checkBox input{vertical-align:middle;}
.radioBtn input{vertical-align:middle;}
.checkBox label{vertical-align:middle;}
.radioBtn label{vertical-align:-3px;}
*+html .radioBtn label{vertical-align:0px;} /* ie7用 */
* html .radioBtn label{vertical-align:-2px;} /* ie6以下 */
* html>body .radioBtn label{vertical-align:0px;}

/*==============================================================================================
 * Table内のパーツの設定
==============================================================================================*/
/*----------------------------------------------------------------------------------------------
 ユーザー系テーブル
----------------------------------------------------------------------------------------------*/
#dvUserBox table{}

/* テーブル内の画像 */
#dvUserBox table img{vertical-align:middle;} /* inputなどの要素と並びを揃える */
#dvUserBox table td #imgProductImage,
#dvUserBox table td .imgProductImage,
#dvUserBox table td #picture { width: 100%; }

/* ----- 注文系テーブル セルの一括指定 ----- */
#dvUserBox table td,
#dvUserBox table th{empty-cells:show;vertical-align:middle;color:#333;}

/* 注文系テーブル セル内の画像 */
#dvUserBox table td img,
#dvUserBox table th img{}

/* ----- 注文系th要素全体 ----- */
#dvUserBox table th{text-align:left;font-weight:normal;}

/* ラジオボタンの左マージン回避 */
#dvUserBox table th input{margin-left:-7px;}
#dvUserBox table th label{font-weight:bold;vertical-align:-1px;}

/* ----- 注文系td要素全体 ----- */
#dvUserBox table td{line-height:1.4!important;}

/* 注釈 */
#dvUserBox table td ins{margin-left:2px!important;}

/*==============================================================================================
 * 見出し系の設定値
==============================================================================================*/
/* ----- ページの見出し ----- */
#dvUserBox h2{
	padding:20px 0px 20px 20px;
	font-size: 22px;
	border-top: 4px solid #333;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

/* ----- ブロックごとの見出し ----- */
#dvUserBox h3{
	margin:0px 0px 10px 0px;
	font-size: 18px;
}
/* ----- 未定 ----- */
#dvUserBox h4{
	margin:0px 0px 10px 0px;
	font-size: 15px;
}

/* ----- 未定 ----- */
#dvUserBox h5{
	text-align:left;
	font:bold 12px "ＭＳ Ｐゴシック", Arial;
	padding:0px 0px 0px 5px;
	border-left-style:solid;
	border-left-width:5px;
	border-left-color:#666;
	margin:10px 0px 0px 0px;
}

/* ----- メニューの見出し ----- */
#dvUserBox h6{}


/*==============================================================================================
 ユーザー系外枠
 * ユーザー系のプロパティはこのIDの中に記述
==============================================================================================*/
#dvUserBox{text-align:left;padding-bottom:20px;margin:0;position:relative;margin-top:10px;}

/*==============================================================================================
 ユーザー系コンテンツ枠
==============================================================================================*/
#dvUserContents{width:100%;margin:20px 0;}
/* フロート用コンテンツ枠 */
#dvUserFltContents{width:740px;margin:0;float:right;display:inline;}

#dvUserContents .unit,
#dvUserFltContents .unit {
	padding: 20px;
	border: 1px solid #ccc;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系パンくず
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvHeaderRegistClumbs p,
#dvUserBox #dvHeaderModifyClumbs p,
#dvUserBox #dvHeaderWithdrawClumbs p,
#dvUserBox #dvHeaderUserShippingClumbs p,
#dvUserBox #dvHeaderUserCreditCardClumbs p
 {
	text-align: center;
	padding: 9px 0px 9px 0px;
}

/*==============================================================================================
ユーザー系情報領域
 * ファイル名でIDを振る。
 * 例(CartListページの場合)、#dvOrderBox #dvCartList
==============================================================================================*/
/*----------------------------------------------------------------------------------------------
 ユーザー系マイページ
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvMyPage{}

/*----------------------------------------
 ユーザおすすめ商品一覧
-----------------------------------------*/
#dvUserBox #dvMyPage #dvUpSell{margin-top:20px;}
#dvUserBox #dvMyPage #dvUpSell dl dt{border-bottom:solid 1px #ccc;padding-bottom:1px;margin-bottom:2px;}
#dvUserBox #dvMyPage #dvUpSell dl dd.productInfo ul li.productInfoList{
	width:220px;
	float:left;
	margin:2px 0px;
	height:80px;
}
#dvUserBox #dvMyPage #dvUpSell dl dd.productInfo ul li ul li.thumnail{
	text-align:center;
	width:80px;
	border:solid 1px #ccc;
	float:left;
	margin-right:3px;
	padding:2px 0px;
}
#dvUserBox #dvMyPage #dvUpSell dl dd.productInfo ul li ul li.productName{
	width:115px;
	float:right;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系お気に入りリスト
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvFavoriteList{}
#dvUserBox #dvFavoriteList p{}

/*----------------------------------------
 お気に入りリストブロック
-----------------------------------------*/
#dvUserBox #dvFavoriteList .dvFavoriteList{}

/* ===== お気に入りリストテーブル ===== */
#dvUserBox #dvFavoriteList table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvFavoriteList table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvFavoriteList table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}
/* 商品画像 */
#dvUserBox #dvFavoriteList table .productImage{width:80px;}
.favoriteProductImage { position: relative; }
/* 商品型番 */
#dvUserBox #dvFavoriteList table .productPatternNum{}
/* 商品名 */
#dvUserBox #dvFavoriteList table .productName{width:360px;}
/* 削除ボタン列 */
#dvUserBox #dvFavoriteList table .delete{width:50px;}
/* ページャ */
#dvUserBox #dvFavoriteList .pager{border:none;}

/*----------------------------------------------------------------------------------------------
 ユーザー系アドレス帳 アドレス帳一覧
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserShippingList{}
#dvUserBox #dvUserShippingList p{}

/*----------------------------------------
 アドレス帳一覧ブロック
-----------------------------------------*/
#dvUserBox #dvUserShippingList .dvUserShippingList{}

/* ===== お気に入りリストテーブル ===== */
#dvUserBox #dvUserShippingList table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserShippingList table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserShippingList table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}
/* 配送先名 */
#dvUserBox #dvUserShippingList table .shippingName{width:160px;}
/* お届け先 */
#dvUserBox #dvUserShippingList table .shippingAddr{width:300px;}
/* 更新・削除ボタン列 */
#dvUserBox #dvUserShippingList table .updatedelete{width:120px;}
#dvUserBox #dvUserShippingList table .updatedelete a { margin-bottom: 3px; }
/* 追加ボタン例 */
#dvUserBox #dvUserShippingList table .insert{
	border-bottom-style:none;
	background-color:#ffffff;
	text-align:right;
}


/*----------------------------------------------------------------------------------------------
 ユーザー系 アドレス帳 アドレス帳の入力
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserShippingInput{}
#dvUserBox #dvUserShippingInput p{margin:5px 0px 1px 0px;}
#dvUserBox #dvUserShippingInput .dvUserShippingInfo,
#dvUserBox #dvUserShippingConfirm .dvUserShippingInfo{
	margin-bottom:20px;
}
#dvUserBox #dvUserShippingInput table,
#dvUserBox #dvUserShippingConfirm table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}
/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserShippingInput table th,
#dvUserBox #dvUserShippingConfirm table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:170px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserShippingInput table td,
#dvUserBox #dvUserShippingConfirm table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}
#dvUserBox #dvUserShippingInput table table{
	padding:0;
	margin:0;
	border:none;
	border-top-width:0px;
	width:auto;
}
#dvUserBox #dvUserShippingInput table table td{
	border:none;
	border-top-width:0px;
	padding:0px;
	margin:0px;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 アドレス帳 入力内容の確認
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserShippingConfirm{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 クレジットカード クレジットカード一覧
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserCreditCardList{}
#dvUserBox #dvUserCreditCardList p{}

/*----------------------------------------
 クレジットカード一覧ブロック
-----------------------------------------*/
#dvUserBox #dvUserCreditCardList .dvUserCreditCardList{}

/* ===== クレジットカードリストテーブル ===== */
#dvUserBox #dvUserCreditCardList table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserCreditCardList table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserCreditCardList table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}
/* クレジットカード名 */
#dvUserBox #dvUserCreditCardList table .CreditcardName{width:160px;}
/* クレジットカード詳細 */
#dvUserBox #dvUserCreditCardList table .CreditCardDetail{width:300px;}
#dvUserBox #dvUserCreditCardList table .CreditCardDetail li{line-height:1.4;}
#dvUserBox #dvUserCreditCardList table .CreditCardDetail .itemname{float:left;width:80px;}
#dvUserBox #dvUserCreditCardList table .CreditCardDetail .iteminfo{float:left;width:200px;}
#dvUserBox #dvUserCreditCardList table .CreditCardDetail .separator{float:left;width:10px;}
/* 削除ボタン列 */
#dvUserBox #dvUserCreditCardList table .delete{width:120px;text-align:right;padding-right:15px}
/* 追加ボタン */
#dvUserBox #dvUserCreditCardList table .insert{
	border-bottom-style:none;
	background-color:#ffffff;
	text-align:right;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 クレジットカード クレジットカードの入力
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserCreditCardInput{}
#dvUserBox #dvUserCreditCardInput p{margin:5px 0px 1px 0px;}
#dvUserBox #dvUserCreditCardInput .dvUserCreditCardInfo,
#dvUserBox #dvUserCreditCardConfirm .dvUserCreditCardInfo{
	margin-bottom:20px;
}
#dvUserBox #dvUserCreditCardInput table,
#dvUserBox #dvUserCreditCardConfirm table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}
/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserCreditCardInput table th,
#dvUserBox #dvUserCreditCardConfirm table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:170px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserCreditCardInput table td,
#dvUserBox #dvUserCreditCardConfirm table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 クレジットカード 入力内容の確認
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserCreditCardConfirm{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 購入履歴一覧
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvOrderHistoryList{}
/* ソートボックス */

#sortBox { padding: 5px 0; }
#sortBox .box {
	float: left;
	margin-right: 20px;
	padding: 5px;
}
#sortBox .title {
	float: left;
	margin-right: 10px;
	line-height: 25px;
}
#sortBox ul { 
	float: left;
}

#sortBox ul li {
	float: left;
	border-left: 1px solid #fff;
}

#sortBox ul li.active {
	color: #fff;
	line-height: normal;
	font-size: 85%;
	background-color: #636363;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
}

#sortBox ul li a {
	display: block;
	background-color: #efefef;
	line-height: normal;
	font-size: 85%;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
}

#sortBox ul li a:hover { background-color: #dadada; }


/*----------------------------------------
 購入履歴一覧ブロック
-----------------------------------------*/
#dvUserBox #dvOrderHistoryList .dvOrderHistoryList{}

/* ===== 購入履歴一覧テーブル一段目 ===== */
#dvUserBox #dvOrderHistoryList table{
	width:100%;
	padding:0;
	margin:15px 0 0;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ===== 購入履歴一覧テーブル二段目 ===== */
#dvUserBox #dvOrderHistoryList table.orderHistoryList_secondTable{
	margin-top: 0;
	border-top-style: none;
}

/* =====定期購入履歴一覧テーブル二段目 ===== */
#dvUserBox #dvFixedPurchaseList table.fixedPurchaseList_secondTable{
	margin-top: 0;
	border-top-style: none;
}

/* ===== 購入商品情報テーブル ===== */
#dvUserBox #dvOrderHistoryContain table{
	width:100%;
	padding:0;
	margin:15px 0 0;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ===== 定期購入商品情報テーブル ===== */
#dvUserBox #dvFixedPurchaseList table.dvFixedPurcharseContain{
	margin-top: 0;
	border-top-style: none;
	border-color: #ccc;
	background-color: #ececec;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvOrderHistoryList table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px 8px;
	text-align:center;
	width:560px;
}

/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvOrderHistoryList table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px 8px;
	text-align:left;
}

#dvUserBox #dvOrderHistoryList tbody.orderContents{
    background-color: #fbfbfb;
}

#dvUserBox #dvOrderHistoryList tbody.orderContents:hover{
    background-color: #f9f7f7;
}

#dvUserBox #dvOrderHistoryList tbody.orderContents td{
    background-color: transparent;
}

#dvUserBox #dvOrderHistoryList tbody.orderContents:hover td a { color: #333; }

/* ご注文番号 */
#dvUserBox #dvOrderHistoryList table .orderNum{width:150px;text-align:center;}
/* ご購入日 */
#dvUserBox #dvOrderHistoryList table .orderDate{width:150px;text-align:center;}
/* お支払い金額合計 */
#dvUserBox #dvOrderHistoryList table .paymentTotal{text-align:right;padding-right:20px;width:150px;text-align:center;}
/* ご注文状況 */
#dvUserBox #dvOrderHistoryList table .orderStatus{width:150px;text-align:center;text-align:center;}
/* 詳細ボタン */
#dvUserBox #dvOrderHistoryList table .btnDetail{width:55px;text-align:center;}
/* 配送希望日 */
#dvUserBox #dvOrderHistoryList table .shippingDate{width:240px;text-align:center;}
/* 定期購入ID */
#dvUserBox #dvOrderHistoryList table .fixedPurchaseId{width:240px;text-align:center;}
/* 注文一覧・商品一覧の表示切替 */
#dvUserBox #dvOrderHistoryList .displayType{float:left;}

#dvUserBox #dvOrderHistoryList table .orderItemProductInfo { width: 220px; }

/* 商品表示エリア */
#dvUserBox #dvOrderHistoryList tbody.orderContents .itemArea{
  width: 100%;
  margin: 5px 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* 商品タイトル */
#dvUserBox #dvOrderHistoryList tbody.orderContents .itemArea .itemTitle{
  width: 100%;
  padding: 5px;
  margin: 0 10px;
  display: inline-block;
}

/* ----- 出荷予定日 ----- */
#dvUserBox #dvOrderHistoryList table th.scheduledShippingDate{
border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px 8px;
	text-align:center;
	width:260px;
}

#dvUserBox #dvOrderHistoryList table td.scheduledShippingDate{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#fbfbfb;
	padding:10px 8px;
	text-align:center;
	width:300px;
}

/* ----- 商品名 ----- */
#dvUserBox #dvOrderHistoryList table td.itemTitle{
border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#fbfbfb;
	padding:30px 8px;
}

/* ----- 商品画像 ----- */
#dvUserBox #dvOrderHistoryList table td.itemImage{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#fbfbfb;
	padding:10px 8px;
	text-align:center;
	width: 53px;
}

/* ----- 商品名情報 ----- */
#dvUserBox #dvOrderHistoryList table th.orderName {
	display:inline-block;
	text-align:left;
	width:53px;
}

/* ----- 注文数情報 ----- */
#dvUserBox #dvOrderHistoryList table th.itemCount {
	text-align: center;
	width: 190px
}

/* ----- 空カラム（∵tableカラム数を一致させる） ----- */
#dvUserBox #dvOrderHistoryList table th.emptyColumn {
	text-align:center;
}

/* ----- 定期購入設定 ----- */
#dvUserBox #dvOrderHistoryContain table th.scheduledShippingDate {
	display:inline-block;
	text-align:center;
	width:270px;
}



/* ----- 購入商品 ----- */
#dvUserBox #dvOrderHistoryList table.dvOrderHistoryContain {
	margin-top:0;
	border-top-style: none;
	border-color: #ccc;
	background-color: #ececec;
}

/* ----- 注文数 ----- */
#dvUserBox #dvOrderHistoryList table td.itemCount {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #fbfbfb;
	padding: 10px 8px;
	text-align:center;
	width:95px;
}

#dvUserBox #dvFixedPurchaseList table td.itemCount {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #fbfbfb;
	padding: 10px 8px;
	text-align:center;
	width:100px;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 購入履歴詳細
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvOrderHistoryDetail{}

/* ===== 購入履歴詳細テーブル ===== */
#dvUserBox #dvOrderHistoryDetail table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvOrderHistoryDetail table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:170px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvOrderHistoryDetail table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}
/*----------------------------------------
 購入履歴詳細ブロック ご注文情報
-----------------------------------------*/
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryInfo{}
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryInfo .orderTotal{font-weight:bold;}
/*----------------------------------------
 購入履歴詳細ブロック お届け先情報
-----------------------------------------*/
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryShipping{}


/*----------------------------------------
 購入履歴詳細ブロック 商品一覧
 * テーブルのつなげるために上のborderを消す
-----------------------------------------*/
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct table *{width:auto;}
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct table,
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct table th{}
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct .productName{width:300px;}
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct .productPrice,
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct .orderCount,
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct .taxRate,
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct .orderSubtotal{text-align:right;}

/* テーブルブロックごとの余白 */
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryInfo table,
#dvUserBox #dvOrderHistoryDetail .dvOrderHistoryProduct table{margin-bottom:20px;}

/*----------------------------------------
 購入履歴合計額ブロック
-----------------------------------------*/
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap{width:100%;position:relative;}
/* ===== 合計情報ブロック ===== */
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum{width:300px;float:right;}

/* ----- 商品合計、配送料金、ポイント情報 ----- */
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl.orderSum{}

/* ----- 総合計 ----- */
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl.orderTotal{
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#ccc;
	border-bottom-color:#ccc;
	margin:5px 0px 0px 0px;
	padding:3px 0px;
	height:2.4em;
}
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl.orderTotal dt,
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl.orderTotal dd{font-weight:bold;}

/* 項目名 */
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl dt{
	margin-top:8px;
	width:150px;
	text-align:right;
	line-height:1.4em;
}
/* 値 */
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl dd{
	width:110px;
	text-align:right;
	margin-top:-1.3em;
	margin-left:170px;
	margin-right:0;
}
/* 会員ランク割引額*/
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl dd.MemberRankUse span{color:#ff0000;}
/* ポイント利用額 */
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl dd.pointUse span{color:#ff0000;}
/* クーポン割引額 */
#dvUserBox #dvOrderHistoryDetail .dvOrderSumWrap .dvOrderSum dl dd.couponUse span{color:#ff0000;}

/*----------------------------------------------------------------------------------------------
   注文履歴一覧画面でのカート投入時フローティングウィンドウ表示
   PC、スマートフォンで同じものを利用
----------------------------------------------------------------------------------------------*/
/* フローティングウィンドウデザイン */
#addCartResultPopup
{
	display: none;
	position: absolute;
	z-index: 0;
	background: #FDFDFD;
	width: 200px;
	height: 200px;
	border:2px solid #777;
	text-align: center;
	box-shadow: 8px 8px 16px #AAA;
}

/* フローティングウィンドウ内、タイトル */
#addCartResultPopup .popupTitle
{
	width:100%;
	background:#EFEFEF;
	border-bottom:solid 1px #DDD;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
}

/* フローティングウィンドウ内、非表示ボタン */
#addCartResultPopup .closePopup
{
	cursor:pointer;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 定期購入情報一覧
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvFixedPurchaseList{}

/*----------------------------------------
 定期購入情報一覧ブロック
-----------------------------------------*/
#dvUserBox #dvFixedPurchaseList .dvFixedPurchaseList{}

/* ===== 定期購入情報一覧テーブル ===== */
#dvUserBox #dvFixedPurchaseList table{
	width:100%;
	padding:0;
	margin:15px 0 0;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvFixedPurchaseList table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:170px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvFixedPurchaseList table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px 8px;
	text-align:left;
}

#dvUserBox #dvFixedPurchaseList tbody.orderContents{
    background-color: #fbfbfb;
}

#dvUserBox #dvFixedPurchaseList tbody.orderContents:hover{
    background-color: #f9f7f7;
}

#dvUserBox #dvFixedPurchaseList tbody.orderContents td{
    background-color: transparent;
}

#dvUserBox #dvFixedPurchaseList tbody.orderContents:hover td a { color: #333; }

/* 定期購入ID */
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseId{width:230px;text-align:center;}
#dvUserBox #dvFixedPurchaseList table th.fixedPurchaseId{width:33%;text-align:center;}
#dvUserBox #dvFixedPurchaseList table tb.fixedPurchaseId{width:230px;text-align:center;}
/* 定期購入ステータス */
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseStatus{width:33%;text-align:center;}
/* 定期購入設定 */
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseTerm{width:33%;}
/* 最終購入日 */
#dvUserBox #dvFixedPurchaseList table .lastOrderDate{width:145px;text-align:center;}
/* 次回配送日 */
#dvUserBox #dvFixedPurchaseList table .nextShippingDate{width:145px;text-align:center;}
/* 購入回数 */
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseCount{text-align:center;width:35px;}
/* 詳細ボタン */
#dvUserBox #dvFixedPurchaseList table .btnDetail{text-align:center;width:65px;}
/* 定期購入ステータス（通常) */
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseStatus .fixedPurchaseStatus_10{
	color:#333333;
	font-weight:bold;
}
/* 定期購入ステータス（決済エラー停止) */
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseStatus .fixedPurchaseStatus_11,	/*決済エラー停止*/
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseStatus .fixedPurchaseStatus_12{	/*在庫エラー停止*/
	color:#ff0000;
	font-weight:bold;
}
/* 定期購入ステータス（キャンセル) */
#dvUserBox #dvFixedPurchaseList table .fixedPurchaseStatus .fixedPurchaseStatus_30{}

/* 商品表示エリア */
#dvUserBox #dvFixedPurchaseList tbody.orderContents .itemArea{
  width: 100%;
  margin: 5px 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* 商品タイトル */
#dvUserBox #dvFixedPurchaseList tbody.orderContents .itemArea .itemTitle{
  width: 100%;
  padding: 5px;
  margin: 0 10px;
  display: inline-block;
}

/* ----- 商品名情報エリア ----- */
#dvUserBox #dvFixedPurchaseList table td.itemTitle{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#fbfbfb;
	padding:30px 8px;
	width: 160px;
}

#dvUserBox #dvFixedPurchaseList table tr.itemTitle{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px 8px;
	text-align:center;
	width:300px;
}

/* ----- 商品画像 ----- */
#dvUserBox #dvFixedPurchaseList table td.itemImage{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#fbfbfb;
	padding:10px 8px;
	text-align:center;
	width: 10%;
}

/* ----- 商品名 ----- */
#dvUserBox #dvFixedPurchaseList table th.orderName {
	text-align:center;
	width:50px;
}

/* ----- 注文数 ----- */
#dvUserBox #dvFixedPurchaseList table th.itemCount {
	text-align: center;
	width: 155px;
}

/* ----- 定期購入設定 ----- */
#dvUserBox #dvFixedPurchaseList table th.fixedPurchaseTerm {
	text-align:center;
}

/* ----- 空カラム（∵tableカラム数を一致させる） ----- */
#dvUserBox #dvFixedPurchaseList table th.emptyColumn {
	text-align:center;
	width: 280px;
}

/* 定期購入設定 */
#dvUserBox #dvFixedPurchaseList table td.fixedPurchaseTerm {
	text-align:center;
}

/* ----- 注文数 ----- */
#dvUserBox #dvFixedPurchaseList table td.itemCount {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #fbfbfb;
	padding: 10px 8px;
	text-align:center;
	width:100px;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 定期購入情報詳細
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvFixedPurchaseDetail{}

/* ===== 定期購入情報詳細テーブル ===== */
#dvUserBox #dvFixedPurchaseDetail table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvFixedPurchaseDetail table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:170px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvFixedPurchaseDetail table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}

#dvUserBox #dvFixedPurchaseDetail table td small pre{
    line-height: 1.5em;
    color: #333333;
    font-family: 'Lucida Grande','メイリオ',Meiryo,'Hiragino Kaku Gothic ProN', sans-serif;
}

/* アラート・情報 */
#dvUserBox #dvFixedPurchaseDetail table td .alert {color:#ff0000;font-weight:bold;}

/*----------------------------------------
 定期購入情報詳細ブロック お届け先情報
-----------------------------------------*/
#dvUserBox #dvFixedPurchaseDetail .dvOrderHistoryShipping{
}

/*----------------------------------------
 定期購入情報詳細ブロック 商品一覧
 * テーブルのつなげるために上のborderを消す
-----------------------------------------*/
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem table *{width:auto;}
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem table,
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem table th{
}
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem .productName{width:300px;}
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem .productPrice,
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem .orderCount,
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem .orderSubtotal{text-align:right;}

/* テーブルブロックごとの余白 */
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseDetail table,
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseItem table,
#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseDetailCard table {margin-bottom:20px;}

#dvUserBox #dvFixedPurchaseDetail .dvFixedPurchaseDetailCard{}

/* 定期購入ステータス（通常) */
#dvUserBox #dvFixedPurchaseDetail table td .fixedPurchaseStatus_10{color:#333333;font-weight:bold;}
/* 定期購入ステータス（決済エラー停止) */
#dvUserBox #dvFixedPurchaseDetail table .fixedPurchaseStatus_11,	/*決済エラー停止*/
#dvUserBox #dvFixedPurchaseDetail table .fixedPurchaseStatus_12{	/*在庫エラー停止*/
	color:#ff0000;
	font-weight:bold;
}
/* 定期購入ステータス（キャンセル) */
#dvUserBox #dvFixedPurchaseDetail table .fixedPurchaseStatus_30{}

/* 決済ステータス（通常) */
#dvUserBox #dvFixedPurchaseDetail table .paymentStatus_10{color:#333333;font-weight:bold;}
/* 決済ステータス（決済失敗) */
#dvUserBox #dvFixedPurchaseDetail table td .paymentStatus_11{color:#ff0000;font-weight:bold;}

/*----------------------------------------------------------------------------------------------
 ユーザー系 登録情報変更 会員情報の入力
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserModifyInput{}
#dvUserBox #dvUserModifyInput p{margin:5px 0px 1px 0px;}
#dvUserBox #dvUserModifyInput .dvUserInfo,
#dvUserBox #dvUserModifyConfirm .dvUserInfo{margin-bottom:20px;}
#dvUserBox #dvUserModifyInput .dvLoginInfo{}
#dvUserBox #dvUserModifyInput table,
#dvUserBox #dvUserModifyConfirm table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserModifyInput table th,
#dvUserBox #dvUserModifyConfirm table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:200px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserModifyInput table td,
#dvUserBox #dvUserModifyConfirm table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}
#dvUserBox #dvUserModifyInput table table{
	padding:0;
	margin:0;
	border:none;
	border-top-width:0px;
	width:auto;
}
#dvUserBox #dvUserModifyInput table table td{
	border:none;
	border-top-width:0px;
	padding:0px;
	margin:0px;
}


/*----------------------------------------------------------------------------------------------
 ユーザー系 登録情報変更 入力内容の確認
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserModifyConfirm{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 登録情報変更 受付完了
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserModifyComplete{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 会員退会
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserWithdrawInput{}
#dvUserBox #dvUserWithdrawInput .dvWithdrawInfo{margin-top:20px;}

/*----------------------------------------------------------------------------------------------
 ユーザー系 会員退会完了
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserWithdrawComplete{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 新規会員登録 会員規約
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserRegistRegulation{}
#dvUserBox #dvUserRegistRegulation p{line-height:1.6;}
#dvUserBox #dvUserRegistRegulation ul{margin-bottom:5px;}
#dvUserBox #dvUserRegistRegulation ul li{margin-top:5px;margin-left:10px;}
#dvUserBox #dvUserRegistRegulation .dvRegulation{
	padding:0px 10px;
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
	overflow-x:hidden;
	overflow:auto;
	height:180px;
}


/*----------------------------------------------------------------------------------------------
 ユーザー系 新規会員登録 会員情報の入力
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserRegistInput{}
#dvUserBox #dvUserRegistInput .dvUserInfo,
#dvUserBox #dvUserRegistConfirm .dvUserInfo{margin-bottom:20px;}
#dvUserBox #dvUserRegistInput .dvLoginInfo{}
#dvUserBox #dvUserRegistInput table,
#dvUserBox #dvUserRegistConfirm table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#dvUserBox #dvUserRegistInput table table{
	padding:0;
	margin:0;
	border:none;
	border-top-width:0px;
	width:auto;
}
#dvUserBox #dvUserRegistInput table table td{
	border:none;
	border-top-width:0px;
	padding:0px;
	margin:0px;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserRegistInput table th,
#dvUserBox #dvUserRegistConfirm table th{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color:#f1f1f1;
	padding:10px;
	text-align:left;
	width:220px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserRegistInput table td,
#dvUserBox #dvUserRegistConfirm table td{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color:#fff;
	padding:10px;
	text-align:left;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 新規会員登録 入力内容の確認
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserRegistConfirm{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 新規会員登録 受付完了
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserRegistComplete{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 パスワードリマインダー
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvPasswordReminderInput,
#dvUserBox #dvPasswordModifyInput
{ line-height: 1.5; }

#dvUserBox #dvPasswordReminderInput .dvReminder table,
#dvUserBox #dvPasswordModifyInput .dvModify table
{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvPasswordReminderInput .dvReminder table th,
#dvUserBox #dvPasswordModifyInput .dvModify table th
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
}

#dvUserBox #dvPasswordModifyInput .dvModify table th
{
	width:150px;
}

/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvPasswordReminderInput .dvReminder table td,
#dvUserBox #dvPasswordModifyInput .dvModify table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}

#dvUserBox #dvPasswordModifyInput .dvModify table td{
	width:300px;
}


/*----------------------------------------------------------------------------------------------
 ユーザー系 パスワードリマインダー完了画面
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvPasswordReminderComplete{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 メールマガジン解除入力画面
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvMailMagazineCancelInput{}
#dvUserBox #dvMailMagazineCancelInput .dvMailMagazineCancel table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvMailMagazineCancelInput .dvMailMagazineCancel table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvMailMagazineCancelInput .dvMailMagazineCancel table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 メールマガジン解除完了画面
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvMailMagazineCancelComplete{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 メールマガジン登録入力画面
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvMailMagazineRegistInput{}
#dvUserBox #dvMailMagazineRegistInput table,
#dvUserBox #dvMailMagazineRegistConfirm table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvMailMagazineRegistInput table th,
#dvUserBox #dvMailMagazineRegistConfirm table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:180px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvMailMagazineRegistInput table td,
#dvUserBox #dvMailMagazineRegistConfirm table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 メールマガジン登録確認画面
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvMailMagazineRegistConfirm{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 メールマガジン登録完了画面
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvMailMagazineRegistComplete{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 シリアルキー認証画面
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvSerialKeyAuth{}
#dvUserBox #dvSerialKeyAuth table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}
#dvUserBox #dvSerialKeyAuth table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#fff;
	background-color:#ececec;
	padding:3px 6px;
	text-align:left;
	width:120px;
}
#dvUserBox #dvSerialKeyAuth table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#fff;
	background-color:#f4f4f4;
	padding:3px 6px;
	text-align:left;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 ログインページ
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvLogin{/*float:left;*/position:relative;}
#dvUserBox #dvLogin p{margin:5px 20px 10px 12px;}
#dvUserBox #dvLogin #dvLoginWrap{
	float:left;
	width:450px;
	display:inline;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#ccc;
}

#dvUserBox #dvLogin .dvLoginLogin{}
#dvUserBox #dvLogin .dvLoginLogin ul{padding:5px 40px 10px 10px;}
/* ログイン情報 */
#dvUserBox #dvLogin .dvLoginLogin ul li{margin:3px;}
/* ログインボタン */
#dvUserBox #dvLogin .dvLoginLogin ul li.loginBtn{margin-top:-60px;margin-left:180px;}
/* パスワードリマインダー */
#dvUserBox #dvLogin #dvLoginWrap .dvLoginReminder{margin-top:30px;}

/* 会員登録 */
#dvUserBox #dvLogin .dvLoginRegist{float:right;width:460px;}
#dvUserBox #dvLogin .dvLoginRegist p{margin-right:0px;}

/*----------------------------------------------------------------------------------------------
 ユーザー系 問い合わせ 問い合わせ内容の入力
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserInquiryInput{}
#dvUserBox #dvUserInquiryInput .dvUserInfo,
#dvUserBox #dvUserInquiryConfirm .dvUserInfo{margin-bottom:20px;}
#dvUserBox #dvUserInquiryInput table,
#dvUserBox #dvUserInquiryConfirm table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserInquiryInput table th,
#dvUserBox #dvUserInquiryConfirm table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:180px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserInquiryInput table td,
#dvUserBox #dvUserInquiryConfirm table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}

/*----------------------------------------------------------------------------------------------
 ユーザー系 問い合わせ 問い合わせ内容の確認
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserInquiryConfirm{}

/*----------------------------------------------------------------------------------------------
 ユーザー系 問い合わせ 問い合わせ完了
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserInquiryComplete{}

/*----------------------------------------------------------------------------------------------
　オーダー系ボタン領域　
----------------------------------------------------------------------------------------------*/
/*----------------------------------------
 ボーダーなし
-----------------------------------------*/
#dvUserBox .dvUserBtnBox{margin:0px;padding-top:20px;}
#dvUserBox .dvFixedPurchaseCancelConfirm{margin:0px;padding-bottom:20px;padding-top:0px;}
#dvUserBox .alert{color:#ff0000;font-weight:bold;}
/*#dvUserBox .dvUserBtnBox a{padding:0;margin:0;}*/
#dvUserBox .dvUserBtnBox p{text-align:center;}
#dvUserBox .dvUserBtnBox p span{margin:0px 0px 0px 5px;}
#dvUserBox .dvUserBtnBox p span img{margin:0;padding:0;}

#dvUserBox .dvUserBtnBox div.btmbtn ul {
	text-align: center;
}

#dvUserBox .dvUserBtnBox div.btmbtn ul li {
	display: inline;
	*display: inline;
	*zoom: 1;
	margin: 0 3px;
}

/*----------------------------------------
 ボーダーあり
-----------------------------------------*/
#dvUserBox .dvUserBtnBoxB{
	margin:20px 0px 0px 0px;
	padding-top:20px;
	padding-bottom:10px;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#ccc;
}
#dvUserBox .dvUserBtnBoxB p{text-align:center;}
#dvUserBox .dvUserBtnBoxB p span{margin:0px 5px;}


/*==============================================================================================
 マイページ系メニューボックス
==============================================================================================*/
#dvUserBox #dvUserMenu{width:220px;float:left;}
#dvUserBox #dvUserMenu h6 {
	padding: 16px 10px;
	font-weight: bold;
	font-size: 15px;
}

#dvUserBox #dvUserMenu ul{
}
#dvUserBox #dvUserMenu ul li{
}

#dvUserBox #dvUserMenu ul li a {
	display: block;
	padding: 13px 10px;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	margin-top: -1px;
}

#dvUserBox #dvUserMenu ul li a:hover {
	background-color: #fafafa;
	color: inherit;
}

/*==============================================================================================
 汎用クラス
==============================================================================================*/
/* セルが結合されている場合は既存の幅の指定を解除 */
#dvUserBox .combine{width:auto!important;font-weight:normal;padding-left:10px!important;}

/* 必須マーク */
#dvUserBox .necessary{color:#ff0000!important;padding:0px 4px!important;}

#dvUserBox .notes{color:#666;font-size:11px!important;padding:0px 3px;}

#dvUserBox .productId{padding:0px 3px!important;}

/* 完了系の文言 */
#dvUserBox .completeInfo{
	text-align:center;
	padding:15px;
	background-color:#ececec;
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:#ccc;
	line-height:1.7;
}
#dvUserBox .completeInfo span{color:#ff0000;padding:0px 3px;}

/* 受付センター情報 */
#dvUserBox .receptionInfo{text-align:center;padding:15px;line-height:1.7;}

/* ページャ */
#dvUserBox .pager{text-align:right;display:block;margin:7px 0px;}

#dvUserBox .dvContentsInfo{padding:15px 25px;background:#ececec;margin-bottom:20px;}
#dvUserBox .dvContentsInfo p
{
	line-height:1.8;
	/*width:500px; MacIE用の幅 */
}

/*MacIE以外\*/
* html #dvUserBox .dvContentsInfo p{line-height:1.8;width:auto;}
/**/
#dvUserBox .contentsInfo{padding:10px 20px 5px 20px;background:#ececec;margin-bottom:20px;}
#dvUserBox .contentsInfo p{padding:0;margin:0;}

/*----------------------------------------------------------------------------------------------
　Float Clearing　
----------------------------------------------------------------------------------------------*/
.clearFix {min-height:1%;}
.clearFix:after {
	/*for modern browser*/
		content:".";
		display: block;
		height:0px;
		clear:both;
		visibility:hidden;
}
* html .clearFix{
		/*\*/height:1%;/*for WinIE*/
		display:inline-table;/*for MacIE*/
}


/*==============================================================================================
 COLORS
==============================================================================================*/
#dvUserBox table{border-color:#ccc;background-color:#ececec;}

/* 注文系th要素全体 */
#dvUserBox table th{color:#444!important;border-color:#ccc;}

/* 注文系td要素全体 */
#dvUserBox table td{border-color:#ccc;background-color:#fff;}

/*----------------------------------------------------------------------------------------------
 ユーザー系テーブルの入れ子のテーブル
 * 設定値を上書きするために下方に記述
----------------------------------------------------------------------------------------------*/
#dvUserBox table table{
	padding:0;
	margin:0;
	border:none;
	border-top-width:0px;
	border-spacing:0;
	width:auto;
}
#dvUserBox table table th{
	border:none;
	border-top-width:0px;
	padding:0px;
	margin:0px;
	font-weight:normal;
}
#dvUserBox table table td{
	border:none;
	border-top-width:0px;
	padding:0px;
	margin:0px;
	text-align:left;
}

#dvUserBox table table td ins{padding:0px;}
#dvUserBox table table td .fname{padding:0px 4px 0px 0px;}
#dvUserBox table table td .lname{padding:0px 4px;}

/*----------------------------------------------------------------------------------------------
 ユーザー系 ポイント履歴一覧
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvUserPointHistoryList{ line-height: 1.5; }

/*----------------------------------------
 ポイント履歴一覧ブロック
-----------------------------------------*/
#dvUserBox #dvUserPointHistoryList .dvUserPointHistoryList{}

/* ===== ポイント履歴一覧テーブル ===== */
#dvUserBox #dvUserPointHistoryList table{
	width:100%;
	padding:0;
	margin:0px;
	border-spacing:0;
	empty-cells:show;
	border-collapse:separate;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#ccc;
	font-size: 12px;
}

/* ----- テーブル内見出し ----- */
#dvUserBox #dvUserPointHistoryList table th{
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#ececec;
	padding:10px;
	text-align:left;
	width:170px;
}
/* ----- テーブル内情報エリア ----- */
#dvUserBox #dvUserPointHistoryList table td{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:10px;
	text-align:left;
}

#dvUserBox #dvUserPointHistoryList .bl-hover td { background-color: #fafafa; }
#dvUserBox #dvUserPointHistoryList .bl-hover td a { color: #333; }

/* 獲得・利用日 */
#dvUserBox #dvUserPointHistoryList table .userPointDate{width:60px;}
/* 内容 */
#dvUserBox #dvUserPointHistoryList table .userPointContent{width:200px;}
/* ポイント数 */
#dvUserBox #dvUserPointHistoryList table .point{text-align:right;width:60px;}
/* ご注文番号 */
#dvUserBox #dvUserPointHistoryList table .orderNum{width:170px;}

/*----------------------------------------------------------------------------------------------
 商品系 通知メール登録フォーム
-----------------------------------------------------------------------------------------------*/
#dvUserBox #dvOrderHistoryList #divProductArrivalMail,
#divComplete {
	padding: 15px 15px 5px 15px;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail .btnClose,
#dvUserBox #dvOrderHistoryList #divComplete .btnClose{
	text-align:center;
	margin: 10px 10px 0px 10px;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail h1,
#divComplete h1{
	font-size:14px;
	padding:3px 0px;
	border-bottom:solid 1px #ececec;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail h2{
	font-size:13px;
	border-left:solid 3px #333;
	padding:0px 3px;
	margin:10px 0px;
}
#dvUserBox #dvOrderHistoryList #dvOrderHistoryList #divProductArrivalMail div,
#divComplete div{
	font-size:12px;
	line-height: 1.5;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail table {
	width:100%;
	border:solid 1px #ececec;
	margin-top:5px;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail table th{
	padding:10px;
	border:solid 1px #ececec;
	background-color:#ececec;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail table td{
	padding:10px;
	border-top:solid 1px #ececec;
	border-bottom:solid 1px #ececec;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail ul{
	display:inline;
	padding-left:0px;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail ul li{
	display:inline;
}
#dvUserBox #dvOrderHistoryList #divProductArrivalMail .necessary{
	color:#ff0000;
	padding:0px 2px;
}