
$fontB : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$fontR : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

@mixin sp {
    @media (max-width:768px) {
        @content;
    } 
}

.breadArea.pc_contents {
    width: 1020px;
    margin: 16.5px auto 56px;
    @include sp {
        width: 100%;
    }
}

.dvUserContents {
    &__title {
        width: 1020px;
        margin: 0 auto;

        font-family: $fontB;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #222;
        margin-bottom: 17px;
        @include sp {
            width: 89.6%;
        }
    }
    .dvUserBtnBox {
        a#ctl00_ContentPlaceHolder1_lbSend {
            width: 255px;
            height: 53px;
            line-height: 32px;
            background: #327CCF !important;
            @include sp {
                width: 75.9%;
                margin: 0 auto;
            }
        }
    }
}

#dvPasswordReminderInput  {
    .explainText {
        margin-top: 40px;
    }
    p {
        font-family: $fontR;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 0.02em;
        line-height: 18px;
        text-align: center;
        color: #222;
    
    }
    .inputAreaContainer {
        margin: 0 auto;
        width: 410px;
        display: block;
        @include sp {
            width: 89.6%;
        }
    }
}

.dvReminder {
    .mailAdress {
        font-family: $fontB;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        text-align: left;
        color: #222;
        margin: 40px auto 8px;

    }
    input#ctl00_ContentPlaceHolder1_tbMailAddr {
        width: 410px;
        height: 45px;
        border-radius: 1px;
        background: #fff;
        border: 1px solid #bfbfbf;
        margin: 0 auto 40px;    
        padding-left: 12.5px;
        @include sp {
            width: 100%;
            margin: 0 auto 40px;
        }
    }
}

.dvUserBtnBox {
    #ctl00_ContentPlaceHolder1_lbSend {
        width: 255px;
        height: 53px;
        line-height: 32px;
        background: #327CCF !important;
        margin: 0 auto 90px;
    }
}   
#dvUserContents {
    margin: 0 ;
    @include sp {
        margin: 24.5px auto 0;
    }
}
#dvUserContents .unit, #dvUserFltContents .unit
{
    border: 1px solid #EAECEE !important;
    padding: 0 !important;
} 