
// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

// bread

#otherBrand {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}



//common

.otherBrand {
    div {
        text-align: center;
    }
    img {
        vertical-align:top;
    }
}


// first Views

.otherBrand {

    &__VisuContainer {
        width: 1020px;
        margin: 40px auto 80px;
        @include bp768 {
            width: 100%;
            margin: 41.5px auto 80px;
        }

        &--title {
            font-family: $en;
            font-weight: normal;
            font-size: 30px;    
            letter-spacing: 0.27em;
            line-height: 1.06;
            text-align: center;
            color: #222;
            margin-bottom: 39px;
            @include bp768 {
                font-size: .30rem;
                line-height: 32px;
            }
        }
        &--pic {
            img {
                width: 100%;

            }
        }
        &--brandLogo {
            margin: 0 auto;
            display: block;
            text-align:center;
            .bea {
                img {
                    width: 84px;
                    display: block;
                    margin: 23.6px auto 16px;
                    @include bp768 {
                        width: 22.4%;
                    }
                }
            }
            .damai {
                img {
                    width: 67px;
                    display: block;
                    margin: 24.5px auto 23.5px;
                    @include bp768 {
                        width: 17.8%;
                    }
                }
            }
            .solace {
                img {
                    width: 157px;
                    display: block;
                    margin: 24px auto 24px;
                    @include bp768 {
                        width: 41.8%;
                    }
                }
            }
            .brandName {
                font-family:$en;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 2;
                text-align: center;
                color: #222;
                @include bp768 {
                    font-size: .14rem;
                }

            }
        }
        &--concept {
            width: 750px;
            margin: 0 auto;
            @include bp768 {
                width: 89.3%;
                
            }

            p {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 2;
                text-align: left;
                color: #222;
                margin: 0 auto 32px;
                @include bp768 {
                    font-size: .14rem;
                }
            }

            a {
                font-family: $jaMid;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.03em;
                line-height: 60px;
                text-decoration: none;
                text-align: center;
                color: #fff !important;
                width: 244px;
                height: 60px;
                border-radius: 2px;
                background: #367ecd;
                display: block;
                margin: 0 auto  ;
                @include bp768 {
                    font-size: .14rem;
                    width: 72.8%;
                }
            }
        }
    }
}