/*====================================================================
*    mixin
/*==================================================================*/

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
  @media (min-width: ($bp1281)) {
    @content;
  }
}

$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}

$bp1024: 1024px;

@mixin bp1024 {
  @media (max-width: ($bp1024)) {
    @content;
  }
}

$bp930: 930px;

@mixin bp930 {
  @media (max-width: ($bp930)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

html{
  font-size: calc(100vw / 12.8);

  @include bp768 {
      font-size: calc(100vw / 3.75);
  };
}

/*====================================================================
*    cart
/*==================================================================*/
#cart{
  /*====================================================================
  *    cart All
  /*==================================================================*/
  width: 79.69%;
  margin: 0 auto 80px;
  position: relative;
                
  @include bp768 {
    width: 94.67%;
    margin: 0 auto 40px;
  };

  &.cartListPage{
    @include bp768 {
      width: 89.33%;
      margin: 0 auto;
    };
  }

  .cartTtl{
    margin: 60px 0 20px;
                
    @include bp768 {
      margin: 25px 0 17px;
    };

    h2{
      font-size: .26rem;
      letter-spacing: 0.04em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 1;

      @include bp1281 {
          font-size: 26px;
      };

      .ttlNote{
        font-size: .12rem;
        letter-spacing: 0.02em;
        line-height: 2;
        font-weight: 300;
        color: #F65573;
        display: block;

        @include bp1281 {
          font-size: 12px;
        };

        @include bp768 {
          line-height: 2.17;
        };

        a{
          display: inline;
          text-decoration: underline;
          color: rgb(50, 124, 207);
        }
      }
    }

    &.second{
      margin: 33px 0 0;
      padding-bottom: 31px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
                  
      @include bp768 {
        width: 94.37%;
        margin: 25px auto;
        padding-bottom: 15px;
        display: block;
      };

      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        background-color: #EAECEE;
        transform: translateX(-50%);
      }
    }
  }

  input{
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    background: #fff;
    line-height: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: .14rem;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 300;

    @include bp1281 {
      font-size: 14px;
    };

    &[type="text"]:disabled{
      -webkit-text-fill-color: #222;
      opacity: 1;
    }
  }

  textarea {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    background: #fff;
    font-size: .14rem;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 300;

    @include bp1281 {
      font-size: 14px;
    };
  }

  select {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    background-image: url(../../Contents/ImagesPkg/commons/icn_select.svg);
    background-repeat: no-repeat;
    background-position: right 17px top 20px;
    background-size: 7.29px 4px;
    cursor: pointer;
    line-height: 1;
    box-sizing: border-box;
    font-size: .14rem;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 300;

    @include bp1281 {
      font-size: 14px;
    };
  }

  .radioBtn input{
    display: none;
  }

  .radioBtn input + label{
    padding: 3px 0 0 28px;
    vertical-align: middle;
    position: relative;
    margin-right: 40px;
    cursor: pointer;
    font-size: .12rem;
    font-weight: 500;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    white-space: nowrap;

    @include bp1281 {
      font-size: 12px;
    };

    @include bp768 {
      padding: 3px 0 0 26px;
      margin-right: 40px;
    };

    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #BFBFBF;
      border-radius: 50%;
      background: #fff;
      box-sizing: border-box;
    }
  }

  .radioBtn.radioBtnBlock input + label{
    display: block;
    margin-top: 10px;
  }

  .radioBtn input:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #222;
    border-radius: 50%;
  }

  .radioBtn input:checked + label.on::after{
    content: "";
  }

  .radioBtn.radioBtnTeiki input + label::before{
    top: 18px;
  }

  .radioBtn.radioBtnTeiki input + label::after{
    top: 22px;
  }

  .cartLead{
    p{
      font-size: .12rem;
      letter-spacing: 0.02em;
      line-height: 2;
      font-weight: 300;

      @include bp1281 {
        font-size: 12px;
      };

      @include bp768 {
        line-height: 2.17;
      };
    }

    &_link{
      display: inline;
      text-decoration: underline;
    }
  }

  .cartOrder{
    text-align: right;
    position: relative;
    margin-top: 30px;
  }

  .wrappingArea{
    position: absolute;
    top: 0;
    left: 0;
    width: 37.16%;

    @include bp768 {
      position: inherit;
      top: inherit;
      left: inherit;
      width: 100%;
      margin-bottom: 30px;
    };

    &_ttl{
      font-size: .16rem;
      letter-spacing: 0.02em;
      line-height: 1;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      margin-bottom: 10px;

      @include bp1281 {
        font-size: 16px;
      };
    }

    &_txt{
      font-size: .12rem;
      letter-spacing: 0.02em;
      line-height: 1.83;
      font-weight: 300;
      margin-bottom: 15px;

      @include bp1281 {
        font-size: 12px;
      };
    }

    a{
      border: 1px solid #E3E3E3;
      padding: 5px;
      display: flex;
      align-items: center;

      img{
        width: 172px;
        margin-right: 10px;

        @include bp768 {
          width: 45%;
        };
      }

      p{
        font-size: .12rem;
        letter-spacing: 0.02em;
        line-height: 1.67;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        white-space: nowrap;
  
        @include bp1281 {
          font-size: 12px;
        };
      }
    }
  }

  .subcartOrder{
    display: inline-block;
    /* width: 96.72%; */
    width: 31.76%;

    @include bp768 {
      width: 100%;
    };
  }

  .couponArea{
    width: 100%;
    margin-bottom: 32px;

    .box{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .couponTtl{
        width: 38.27%;
        font-size: .14rem;
        letter-spacing: 0.02em;
        line-height: 1;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        letter-spacing: 0.02em;
  
        @include bp1281 {
          font-size: 14px;
        };
      }

      .boxRadio{
        width: 61.73%;

        .radioBtn{
          tr{
            td{
              &:last-child{
                input+label{
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      #ctl00_ContentPlaceHolder1_rCartList_ctl00_hgcCouponSelect{
        width: 61.73%;
        margin: 30px 0 0 auto;
  
        select{
          border-radius: 1px;
          border: 1px solid #BFBFBF;
          padding: 15px 8px;
          width: 100% !important;
        }
      }
  
      #ctl00_ContentPlaceHolder1_rCartList_ctl00_hgcCouponCodeInputArea{
        width: 61.73%;
        margin: 30px 0 0 auto;
  
        input{
          padding: 13px 15px;
          letter-spacing: 0.02em;
          border: 1px solid #BFBFBF;
          border-radius: 1px;
          width: 100%;
        }
      }
    }
  }

  .cartTotal{
    width: 212px;
    margin: 0 0 0 auto;
    
    @include bp768 {
      width: 65.43%;
    };

    dl{
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p{
        line-height: 1;
        text-align: right;
        font-size: .12rem;
        white-space: nowrap;
        font-weight: 300;
  
        @include bp1281 {
            font-size: 12px;
        };
      }

      dt{
        width: 46.23%;
      }

      dd{
        width: 53.77%;
      }

      &.discountTxt{
        p{
          color: #F65573;
        }
      }
    }

    &_all{
      margin: 20px 0 40px;
      align-items: flex-end;
    
      @include bp768 {
        margin: 10px 0 0;
      };
      
      dt{
        p{
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        }
      }

      dd{
        p{
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          font-size: .18rem;
    
          @include bp1281 {
              font-size: 18px;
          };
        }
      }
    }
  }

  .amazonArea{
    width: 25%;
    margin: 32px 0 0 auto;
        
    @include bp768 {
      width: 76.12%;
      margin: 32px auto 0;
    };

    &_txt{
      font-size: .12rem;
      letter-spacing: 0.02em;
      font-weight: 300;
      line-height: 1.67;
      margin-bottom: 8px;

      @include bp1281 {
        font-size: 12px;
      };
        
      @include bp768 {
        text-align: center;
      };
    }

    img{
      max-height: 100% !important;
    }
  }

  .blueBox{
    &_ttl{
      background-color: #327CCF;
      height: 52px;
      font-size: .14rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 52px;
      margin-bottom: 24px;
      padding-left: 24px;
      color: #fff;

      @include bp1281 {
        font-size: 14px;
      };
        
      @include bp768 {
        padding-left: 20px;
      };
    }

    .blueColumn{
      border: 1px solid #327CCF;

      &Inner{
        padding: 0 20px;
        
        @include bp768 {
          padding: 0 10px;
        };
      }
    }
  }

  .paymentBox{
    &_ttl{
      background-color: #F1F8FD;
      height: 52px;
      font-size: .14rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 52px;
      margin-bottom: 24px;
      padding-left: 24px;

      @include bp1281 {
        font-size: 14px;
      };
        
      @include bp768 {
        padding-left: 20px;
      };
    }

    .paymentColumn{
      border: 1px solid #E3E3E3;

      &Inner{
        padding: 0 20px;
        width: 100%;
        
        @include bp768 {
          padding: 0;
        };

        dl{
          padding: 0 24px;
          margin-bottom: 20px;

          &.sub{
            background-color: #F1F8FD;
            padding: 17px 24px;
          }
      
          dt{
            p{
              text-align: left;
            }
          }

          &.total{
            margin-bottom: 40px;

            dt,dd{
              p{
                font-size: .18rem;
                letter-spacing: 0.02em;
                font-weight: 500;
                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

                @include bp1281 {
                  font-size: 18px;
                };
              }
            }
          }
        }

        &.fixedArea{
          &:nth-child(n + 2){
            display: none;
          }
        }
      }
    }
  }

  /*====================================================================
  *    cart List
  /*==================================================================*/
  .cartTable{
    margin: 56px 0 32px;
        
    @include bp768 {
      margin: 24px 0 32px;
      border-top: 1px solid #161616;
    };

    &_th{
      display: flex;
      padding-bottom: 7px;
      border-bottom: 1px solid #161616;
        
      @include bp768 {
        display: none;
      };

      &--list{
        p{
          font-size: .13rem;
          letter-spacing: 0.02em;
          line-height: 1;
          text-align: center;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    
          @include bp1281 {
              font-size: 13px;
          };
        }

        &.list01{
          width: 26.13%;

          p{
            text-align: left;
          }
        }

        &.list02{
          width: 16.47%;
        }

        &.list03{
          width: 10.78%;
        }

        &.list04{
          width: 13.43%;
        }

        &.list05{
          width: 16.57%;
        }
      }
    }

    &_td{
      display: flex;
      align-items: center;
      padding: 42px 0 32px;
      border-bottom: 1px solid #E3E3E3;
        
      @include bp768 {
        display: block;
        padding: 25px 0 75px;
        position: relative;
      };

      p{
        font-size: .14rem;
        letter-spacing: 0.02em;
        line-height: 1.43;
        text-align: center;
        font-weight: 300;
  
        @include bp1281 {
            font-size: 14px;
        };

        @include bp768 {
          text-align: left;
        };
      }

      .spTtl{
        @include bp768 {
          font-size: .14rem;
          letter-spacing: 0.02em;
          line-height: 1.43;
          text-align: center;
          font-weight: 300;
        };
      }

      .spBox{
        @include bp768 {
          display: flex;
          align-items: center;
        };

        dt{
          display: none;

          @include bp768 {
            display: block;
            white-space: nowrap;
          };
        }

        dd{
          @include bp768 {
            white-space: nowrap;
          };
        }
      }

      &--name{
        width: 26.13%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @include bp768 {
          width: 100%;
          display: block;
          margin-bottom: 15px;
        };

        dt{
          width: 37.59%;
        
          @include bp768 {
            width: 29.85%;
            position: absolute;
            top: 25px;
            left: 0;
          };
        }

        dd{
          width: 56.39%;
        
          @include bp768 {
            width: 44.78%;
            margin-left: 34.78%;
          };

          a{
            font-size: .14rem;
            letter-spacing: 0.02em;
            line-height: 1.43;
            font-weight: 300;
      
            @include bp1281 {
              font-size: 14px;
            };
          }
        }
      }

      &--price{
        width: 16.47%;
        
        @include bp768 {
          width: 100%;
          margin: 0 0 15px 34.78%;
        };
      }

      &--quantity{
        width: 10.78%;
        
        @include bp768 {
          width: 100%;
          margin: 0 0 15px 34.78%;
        };

        input{
          border: 1px solid #BFBFBF;
          text-align: center;
          padding: 9.09% 0;
          width: 30px;
        
          @include bp768 {
            padding: 10px;
            margin-left: 40px;
          };
        }
      }

      &--taxRate{
        width: 13.43%;
        
        @include bp768 {
          width: 100%;
          margin: 0 0 15px 34.78%;
        };
      }

      &--subtotal{
        width: 16.57%;
        
        @include bp768 {
          width: 100%;
          margin: 0 0 0 34.78%;
        };

        p{
          white-space: nowrap;
        }
      }

      &--delete{
        width: 16.67%;
        
        @include bp768 {
          width: 50px;
          position: absolute;
          bottom: 25px;
          right: 0;
        };

        a{
          width: 50px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border: 1px solid #BFBFBF;
          border-radius: 1px;
          font-size: .12rem;
          font-weight: 300;
          letter-spacing: 0.02em;
          margin: 0 auto;
    
          @include bp1281 {
              font-size: 12px;
          };
        }
      }
    }
  }

  /*====================================================================
  *    cart Shipping
  /*==================================================================*/
  .shippingSeparate{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0;
    margin-bottom: 30px;
        
    @include bp768 {
      display: block;
      padding: 0;
      width: 94.37%;
      margin: 0 auto 15px;
    };

    h2{
      font-size: .18rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 1;
      margin-bottom: 10px;

      @include bp1281 {
          font-size: 18px;
      };
    }

    p{
      font-size: .12rem;
      letter-spacing: 0.02em;
      line-height: 2;

      @include bp1281 {
        font-size: 12px;
      };
    }

    &_left{
      width: 50%;
      position: relative;
        
      @include bp768 {
        width: 100%;
      };

      &::after{
        content: "";
        position: absolute;
        top: -40px;
        bottom: -30px;
        right: 0;
        width: 1px;
        background-color: #EAECEE;
        
        @include bp768 {
          content: none;
        };
      }
    }

    &_right{
      width: 48.04%;
        
      @include bp768 {
        width: 100%;
      };
    }
  }

  .cartSeparate{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
        
    @include bp768 {
      display: block;
      margin-bottom: 40px;
    };

    &_left{
      width: 50%;
      position: relative;
        
      @include bp768 {
        width: 100%;
        margin-bottom: 40px;
      };

      &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background-color: #EAECEE;
        
        @include bp768 {
          content: none;
        };
      }
    }

    &_right{
      width: 48.04%;
        
      @include bp768 {
        width: 100%;
      };
    }
  }

  .userProduct{
    border-bottom: 1px solid #EAECEE;
    margin-bottom: 23px;
        
    @include bp768 {
      width: 94.37%;
      margin-left: auto;
      margin-right: auto;
    };

    &_list{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
        
      @include bp768 {
        margin-bottom: 20px;
      };

      dt{
        width: 30.61%;
        margin: 0 4.9% 0 1.63%;
        
        @include bp768 {
          width: 44.78%;
          margin: 0 7.31% 0 0;
        };
      }

      dd{
        width: 54.69%;
        
        @include bp768 {
          width: 48.06%;
        };

        .userProductName{
          display: none;
        }

        a{
          font-size: .14rem;
          line-height: 1.43;
          letter-spacing: 0.02em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    
          @include bp1281 {
            font-size: 14px;
          };
        
          @include bp768 {
            font-size: .14rem;
          };
        }

        .num{
          font-size: .13rem;
          letter-spacing: 0.02em;
          line-height: 2;
          margin-top: 15px;
          font-weight: 300;
    
          @include bp1281 {
            font-size: 13px;
          };
        
          @include bp768 {
            font-size: .14rem;
          };
        }
      }
    }

    &.paymentProduct{
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  .cartInputArea{
    width: 96.08%;
    border: 1px solid #E3E3E3;
        
    @include bp768 {
      width: 100%;
    };

    &.payment{
      width: 100%;
      border: none;

      .cartInput{
        .creditInner{
          width: 89.33%;
          margin: 0 auto;
        
          @include bp768 {
            width: 94.03%;
          };
        }

        dd{
          margin-left: 0;
          margin-right: 0;

          &:last-child{
            margin-bottom: 32px;
        
            @include bp768 {
              margin-bottom: 40px;
            };
          }
        }
      }
    }
  }

  .cartInput{
    dt{
      background-color: #F1F8FD;
      height: 52px;
      font-size: .14rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 52px;
      margin-bottom: 20px;
      padding-left: 20px;

      @include bp1281 {
        font-size: 14px;
      };
        
      @include bp768 {
        margin-bottom: 15px;
      };
    }

    dd{
      margin: 0 20px 24px;

      &:last-child{
        margin-bottom: 0;
      }

      .nameFlex{
        display: flex;
        justify-content: space-between;

        &_list{
          width: 47.29%;
        
          @include bp768 {
            width: 46.18%;
          };

          p{
            font-size: .12rem;
            letter-spacing: 0.02em;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 300;
      
            @include bp1281 {
              font-size: 12px;
            };
          }
        }
      }

      .birthdayFlex{
        display: flex;
        align-items: center;

        &_year{
          width: 31.67%;
          margin-right: 3.62%;
        
          @include bp768 {
            width: 44.59%;
            margin-right: 5.1%;
          };
        }

        &_month{
          width: 15.84%;
          margin-right: 3.62%;
        
          @include bp768 {
            width: 22.29%;
            margin-right: 5.1%;
          };
        }

        &_day{
          width: 15.84%;
        
          @include bp768 {
            width: 22.29%;
          };
        }

        &_txt{
          font-size: .12rem;
          letter-spacing: 0.02em;
          line-height: 1;
          margin: 0 8px;
          font-weight: 300;
    
          @include bp1281 {
            font-size: 12px;
          };
        
          @include bp768 {
            white-space: nowrap;
          };
        }
      }

      .zipFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 31.67%;
        
          @include bp768 {
            width: 44.59%;
          };
        }

        &_line{
          width: 15px;
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.55%;
          };
        }
      }

      .selectPrefecture{
        width: 40.71%;
        
        @include bp768 {
          width: 57.32%;
        };
      }

      .adTtl{
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        line-height: 1;
        margin-bottom: 10px;
  
        @include bp1281 {
          font-size: 14px;
        };
      }

      .telFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 22.62%;
        
          @include bp768 {
            width: 25.48%;
          };
        }

        &_line{
          width: 15px;
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.55%;
          };
        }
      }

      .selectChoice{
        width: 98.05%;
        margin-left: auto;
        margin-right: auto;
        
        @include bp768 {
          width: 106.78%;
          transform: translateX(-3.39%);
        };

        &.choise02{
          width: 89.33%;
          margin-left: auto;
          margin-right: auto;
        
          @include bp768 {
            width: 100%;
            transform: translateX(0);
          };
        }
      }

      &.dateTxt{
        margin: 0 20px 8px;

        p{
          font-size: .14rem;
          letter-spacing: 0.02em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          line-height: 1;
    
          @include bp1281 {
            font-size: 14px;
          };
        }
      }

      .creditPic{
        width: 59.70%;
        margin: 30px 0 16px;

        @include bp768 {
          width: 76.19%;
          margin: 24px 0 16px;
        };
      }

      .inputNotice{
        font-size: .12rem;
        letter-spacing: 0.02em;
        line-height: 2;
        margin-top: 5px;
        font-weight: 300;
  
        @include bp1281 {
          font-size: 12px;
        };
      }

      .creditLimitedFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 19.28%;

          @include bp768 {
            width: 22.6%;
          };
        }

        &_txt{
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.82%;
          };

          p{
            font-size: .12rem;
            letter-spacing: calc(0.05em * 1.85);
            line-height: 1;
      
            @include bp1281 {
              font-size: 12px;
            };
          }
        }
      }

      &.inputCode{
        margin-bottom: 40px;
        
        @include bp768 {
          margin-bottom: calc(40 * (100vw / 414));
        };
      }

      .inputCodeBox{
        width: 24.1%;
      
        @include bp768 {
          width: 28.25%;
        };
      }
    }

    input, select, textarea{
      padding: 13px 15px;
      letter-spacing: 0.02em;
      border: 1px solid #BFBFBF;
      border-radius: 1px;
      width: 100%;
    }

    &.dateWrap{
      width: 89.33%;
      margin: 0 auto 32px;
        
      @include bp768 {
        width: 100%;
      };
    }

    &.cartInputTeiki{
      width: 91.84%;
      margin: 0 auto;
        
      @include bp768 {
        width: 94.37%;
      };

      dd{
        @include bp768 {
          margin-left: 10px;
          margin-right: 10px;
        };
      }

      &.teiki02{
        border-top: 1px solid #EAECEE;
        padding-top: 24px;
        margin-bottom: 40px;

        span{
          font-size: .12rem;
          letter-spacing: 0.02em;
          font-weight: 300;
          line-height: 2;
    
          @include bp1281 {
            font-size: 12px;
          };

          &:first-child{
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            font-size: .14rem;
            letter-spacing: 0.02em;
            line-height: 2;
      
            @include bp1281 {
              font-size: 14px;
            };
          }
        }

        select {
          margin-bottom: 30px;
        }
      }
    }

    &#ctl00_ContentPlaceHolder1_rCartList_ctl00_rPayment_ctl00_divCreditCardNoToken{
      dt{
        &:first-child{
          margin-top: 30px;
        
          @include bp768 {
            margin-top: calc(30 * (100vw / 414));
          };
        }
      }
    }
  }

  .cartInputRegist{
    width: 66.08%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include bp768 {
      width: 88.73%;
      display: block;
      margin: 0 auto;
    };

    &::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 28.19%;
      width: 1px;
      height: 100%;
      background-color: #EAECEE;

      @include bp768 {
        content: none
      };
    }

    dt{
      width: 34.12%;
      font-size: .14rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 1.5;
      margin-top: 15px;

      @include bp1281 {
        font-size: 14px;
      };

      @include bp768 {
        width: 100%;
        line-height: 1;
        margin: 0 0 10px;
      };

      &.noMrg{
        margin-top: 0;
      }
    }

    dd{
      width: 65.88%;
      margin-bottom: 24px;

      @include bp768 {
        width: 100%;
        margin-bottom: 20px;
      };

      &.mrg{
        margin-bottom: 48px;

        @include bp768 {
          margin-bottom: 40px;
        };
      }

      .nameFlex{
        display: flex;
        justify-content: space-between;

        &_list{
          width: 47.29%;
        
          @include bp768 {
            width: 46.18%;
          };

          p{
            font-size: .12rem;
            letter-spacing: 0.02em;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 300;
      
            @include bp1281 {
              font-size: 12px;
            };
          }
        }
      }

      .birthdayFlex{
        display: flex;
        align-items: center;

        &_year{
          width: 31.67%;
          margin-right: 3.62%;
        
          @include bp768 {
            width: 44.59%;
            margin-right: 5.1%;
          };
        }

        &_month{
          width: 15.84%;
          margin-right: 3.62%;
        
          @include bp768 {
            width: 22.29%;
            margin-right: 5.1%;
          };
        }

        &_day{
          width: 15.84%;
        
          @include bp768 {
            width: 22.29%;
          };
        }

        &_txt{
          font-size: .12rem;
          letter-spacing: 0.02em;
          line-height: 1;
          margin: 0 8px;
          font-weight: 300;
    
          @include bp1281 {
            font-size: 12px;
          };
        
          @include bp768 {
            white-space: nowrap;
          };
        }
      }

      .zipFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 31.67%;
        
          @include bp768 {
            width: 44.59%;
          };
        }

        &_line{
          width: 15px;
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.55%;
          };
        }
      }

      .selectPrefecture{
        width: 40.71%;
        
        @include bp768 {
          width: 57.32%;
        };
      }

      .adTtl{
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        line-height: 1;
        margin-bottom: 10px;
  
        @include bp1281 {
          font-size: 14px;
        };
      }

      .telFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 22.62%;
        
          @include bp768 {
            width: 25.48%;
          };
        }

        &_line{
          width: 15px;
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.55%;
          };
        }
      }

      .noteTxt{
        text-align: right;
        margin-top: 5px;
        font-size: .12rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        line-height: 1;
  
        @include bp1281 {
          font-size: 12px;
        };
      }

      textarea{
        width: 178%;
        height: 300px;
        
        @include bp768 {
          width: 100%;
        };
      }
    }

    input, select, textarea{
      padding: 13px 15px;
      letter-spacing: 0.02em;
      border: 1px solid #BFBFBF;
      border-radius: 1px;
      width: 100%;
    }

    &.confirm{
      &::after{
        content: none;
      }

      dt{
        margin: 0;
        line-height: 2;
  
        @include bp1281 {
          font-size: 14px;
        };
      }

      dd{
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        line-height: 2;

        @include bp1281 {
          font-size: 14px;
        };
      }
    }
  }

  .registBtn{
    margin-top: 80px;

    @include bp768 {
      width: 88.73%;
      margin: 80px auto 0;
    };

    p{
      text-align: center;
      margin-bottom: 24px;
      font-size: .12rem;
      letter-spacing: 0.02em;
      font-weight: 300;
      line-height: 1;

      @include bp1281 {
        font-size: 12px;
      };

      @include bp768 {
        text-align: left;
        line-height: 2;
      };

      a{
        display: inline;
        text-decoration: underline;
      }
    }

    ul{
      display: flex;
      justify-content: center;

      @include bp768 {
        display: block;
      };

      li{
        width: 255px;
        height: 53px;
        border-radius: 2px;
        
        a{
          font-size: .16rem;
          letter-spacing: 0.04em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          line-height: 53px;
          text-align: center;
    
          @include bp1281 {
            font-size: 16px;
          };
        }

        &:first-child{
          background-color: #327CCF;
          order: 2;

          @include bp768 {
            margin: 0 auto 16px;
          };

          a{
            color: #fff;
          }
        }

        &:last-child{
          background-color: #EAECEE;
          order: 1;
          margin-right: 20px;

          @include bp768 {
            margin: 0 auto;
          };
        }
      }
    }
  }

  .shippingNote{
    width: 82.04%;
    margin: 24px auto 30px;
        
    @include bp768 {
      width: 88.73%;
    };

    p{
      font-size: .12rem;
      letter-spacing: 0.02em;
      font-weight: 300;
      line-height: 2;
  
      @include bp1281 {
        font-size: 12px;
      };

      span{
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        font-size: .12rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        line-height: 2;
        margin-bottom: 30px;
  
        @include bp1281 {
          font-size: 12px;
        };
      }
    }
  }

  .shippingChoice{
    width: 91.84%;
    margin: 0 auto 32px;
        
    @include bp768 {
      width: 94.37%;
    };

    &_ttl{
      background-color: #F1F8FD;
      height: 52px;
      font-size: .14rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 52px;
      margin-bottom: 24px;
      padding-left: 24px;

      @include bp1281 {
        font-size: 14px;
      };
        
      @include bp768 {
        padding-left: 10px;
      };
    }
  }

  .shippingInfo{
    margin-bottom: 30px;
        
    @include bp768 {
      margin-bottom: calc(30 * (100vw / 414));
    };

    .radioBtn input + label{
      @include bp768 {
        padding: 5px 0 0 26px;
      };
    }
  }

  .icnKome{
    display: inline;
    color: #F65573;
  }

  .error_inline{
    line-height: 2;
  }

  .teikiBox{
    &_lead{
      width: 82.04%;
      margin: 0 auto 24px;

      @include bp768 {
        width: 88.73%;
      };

      p{
        font-size: .12rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        line-height: 2;
  
        @include bp1281 {
          font-size: 12px;
        };
      }
    }
  }

  &.cartPeyment{
    .cartLead{
      margin: 41px 0 44px;

      @include bp768 {
        width: 94.37%;
        margin: 20px auto 15px;
      };
    }

    .cartSeparate{
      &_left{
        @include bp768 {
          margin: 0 0 40px;
        };

        &::after{
          top: -133px;

          @include bp768 {
            content: none;
          };
        }

        .blueColumn{
          width: 96.08%;

          @include bp768 {
            width: 100%;
          };
        }
      }
  
      &_right{
        display: table;
        position: relative;
      }
    }

    h4{
      font-size: .18rem;
      letter-spacing: calc(0.05556em * 1.85);
      font-weight: bold;
      line-height: 1;
      color: #1E2D37;
      margin-bottom: 30px;

      @include bp1281 {
        font-size: 18px;
      };
      
      @include bp768 {
        margin-bottom: calc(30 * (100vw / 414));
      };
    }

    /*====================================================================
    *    cart Inquiry
    /*==================================================================*/
    .cartInquiry{
      padding-top: 22px;
      flex-direction: inherit;
      
      @include bp768 {
        padding-top: 0;
      };
  
      h2{
        font-size: .18rem;
        letter-spacing: calc(0.05556em * 1.85);
        font-weight: bold;
        line-height: 1;
        color: #1E2D37;
        margin-bottom: 40px;
  
        @include bp1281 {
          font-size: 18px;
        };
          
        @include bp768 {
          margin-bottom: calc(20 * (100vw / 414));
        };
      }

      .cartSeparate_left{
        &::after{
          content: none;
        }

        textarea{
          height: 290px;
          width: 247%;
      
          @include bp768 {
            height: 145px;
            width: 100%;
          };
        }
      }
    }
  }

  &.confirm{
    .cartSeparate{
      margin-top: 40px;

      &_left{
        &::after{
          top: -40px;

          @include bp768 {
            content: none;
          };
        }

        .blueColumn{
          width: 96.08%;
          padding-bottom: 40px;

          @include bp768 {
            width: 100%;
          };

          &Inner{
            @include bp768 {
              padding: 0 10px 0 20px;
            };
          }
        }
      }
  
      &_right{
        display: table;
        position: relative;
      }
    }

    h4{
      font-size: .14rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 1;
      margin-bottom: 15px;

      @include bp1281 {
        font-size: 14px;
      };
    }

    .message{
      margin: 20px;

      @include bp768 {
        margin: 20px 20px 32px;
      };

      p{
        font-size: .12rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        line-height: 2;
  
        @include bp1281 {
          font-size: 12px;
        };
      }

      &.indent{

        p{
          text-indent: -1em;
          padding-left: 1em;
        }
      }
    }

    .paymentBox{
      .paymentColumnInner{
        @include bp768 {
          padding: 0 20px;
        };
      }
    }
  }

  .cartConfirmArea{
    &_list{
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid #EAECEE;

      &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }

  .cartConfirm{
    font-size: .12rem;
    letter-spacing: 0.02em;
    font-weight: 300;
    line-height: 2;

    @include bp1281 {
      font-size: 12px;
    };

    span{
      font-size: .12rem;
      letter-spacing: 0.02em;
      font-weight: 300;
      line-height: 2;

      @include bp1281 {
        font-size: 12px;
      };
    }

    &.second{
      margin-bottom: 15px;
    }

    &.third{
      margin: 40px 0 32px;
    }
  }

  .confirmBtnChange{
    width: 87px;
    height: 35px;
    margin-left: auto;

    a{
      width: 100%;
      height: 100%;
      font-size: .13rem;
      letter-spacing: 0.04em;
      line-height: 35px;
      text-align: center;
      background-color: #EAECEE;
      border-radius: 2px;

      @include bp1281 {
        font-size: 13px;
      };
    }

    &.confirmChange{
      position: absolute;
      bottom: 20px;
      left: 0;
    }
  }

  .shippingMrg{
    margin-bottom: 40px;
    display: block;
  }

  /*====================================================================
  *    cart Complete
  /*==================================================================*/
  .completeTxt{
    margin: 120px 0 40px;
        
    @include bp768 {
      margin: calc(30 * (100vw / 414)) 0;
    };

    &_lead{
      font-size: .14rem;
      letter-spacing: calc(0.04em * 1.85);
      line-height: 1.71;
      color: #1E2D37;
      text-align: center;
      margin-bottom: 60px;

      @include bp1281 {
        font-size: 14px;
      };
        
      @include bp768 {
        margin-bottom: calc(60 * (100vw / 414));
        text-align: left;
      };
    }

    &_btn{
      width: 255px;
      height: 53px;
      font-size: .14rem;
      letter-spacing: calc(0.05556em * 1.85);
      line-height: 53px;
      color: #fff;
      text-align: center;
      background-color: #F08200;
      border-radius: 2px;
      margin: 0 auto;
      font-weight: bold;

      @include bp1281 {
        font-size: 14px;
      };
        
      @include bp768 {
        width: 72.03%;
        height: calc(53 * (100vw / 414));
        line-height: calc(53 * (100vw / 414));
      };
    }
  }

  .mailWrap{
    padding-bottom: 40px;
    margin-bottom: 140px;
    position: relative;
        
    @include bp768 {
      padding-bottom: 20px;
      margin-bottom: 70px;
    };

    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100vw;
      height: 1px;
      background-color:#E3E3E3;
      transform: translateX(-50%);
    }
  }

  .loginBox{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
        
    @include bp768 {
      display: block;
      margin: 32px 0 40px;
    };

    h3{
      font-size: .26rem;
      letter-spacing: 0.04em;
      line-height: 1;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

      @include bp1281 {
        font-size: 26px;
      };
        
      @include bp768 {
        margin-bottom: 25px;
      };

      span{
        font-size: .13rem;
        letter-spacing: 0.02em;
        line-height: 1;
        margin-top: 10px;
        display: block;
        font-weight: 300;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  
        @include bp1281 {
          font-size: 13px;
        };
      }
    }

    .cartInput{
      dd{
        margin: 0;

        &.input{
          margin-bottom: 25px;
        }
      }
    }

    .loginBtn{
      width: 255px;
      height: 53px;
      background-color: #327CCF;
      border-radius: 2px;
      font-size: .16rem;
      letter-spacing: 0.04em;
      line-height: 53px;
      text-align: center;
      margin: 40px auto 0;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      color: #fff;

      @include bp1281 {
        font-size: 16px;
      };
    }

    .guestBtn{
      width: 255px;
      height: 53px;
      border: 1px solid #979797;
      border-radius: 2px;
      font-size: .14rem;
      letter-spacing: 0.04em;
      line-height: 53px;
      text-align: center;
      margin: 25px auto 0;
      font-weight: 300;
      color: #222;

      @include bp1281 {
        font-size: 14px;
      };
    }

    .loginLink{
      font-size: .13rem;
      letter-spacing: 0.02em;
      line-height: 1;
      text-align: center;
      margin: 25px 0 0;
      font-weight: 300;
      text-decoration: underline;

      @include bp1281 {
        font-size: 13px;
      };
        
      @include bp768 {
        margin: 16px 0 0;
      };
    }

    &_member{
      width: 48.04%;
        
      @include bp768 {
        width: 100%;
        margin-bottom: 56px;
      };

      &--wrap{
        width: 83.67%;
        margin: 0 auto;
        
        @include bp768 {
          width: 100%;
        };
      }
    }

    &_other{
      width: 33.82%;
      margin-right: 6.86%;
        
      @include bp768 {
        width: 100%;
        margin-right: 0;
      };

      &--txt{
        font-size: .13rem;
        letter-spacing: 0.02em;
        line-height: 2;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        white-space: nowrap;
  
        @include bp1281 {
          font-size: 13px;
        };
        
        @include bp768 {
          font-size: .12rem;
        };
      }
    }
  }

  .inquiryLink{
    margin-top: 40px;

    p{
      font-size: .13rem;
      letter-spacing: 0.02em;
      line-height: 2;
      font-weight: 300;
      text-align: center;

      @include bp1281 {
        font-size: 13px;
      };

      a{
        display: inline;
        text-decoration: underline;
        color: #74B5E4;
      }
    }
  }

  .inquiryNote{
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #EAECEE;

    p{
      font-size: .13rem;
      letter-spacing: 0.02em;
      line-height: 1;
      font-weight: 300;
      text-align: center;
      margin-bottom: 15px;

      @include bp1281 {
        font-size: 13px;
      };
    }

    ul{
      display: flex;
      justify-content: center;
        
      @include bp768 {
        display: block;
      };

      li{
        &:nth-child(2){
          margin-left: 15px;
        
          @include bp768 {
            margin: 15px 0 0;
          };
        }

        a{
          border: 1px solid #76B6E3;
          padding: 15px 24px;
          border-radius: 2px;
          font-size: .14rem;
          letter-spacing: 0.04em;
          line-height: 1;
          font-weight: 300;
          text-align: center;
          color: #76B6E3;
          display: table;
    
          @include bp1281 {
            font-size: 14px;
          };
        
          @include bp768 {
            margin: 0 auto;
          };
        }
      }
    }
  }

  /*====================================================================
  *    cart select
  /*==================================================================*/
  .cartSelectWrap{
    @include bp768 {
      margin-bottom: 80px;
    };
  }

  .cartSelectArea{
    margin-top: 35px;

    h3{
      font-size: .18rem;
      letter-spacing: 0.04em;
      line-height: 1;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      margin-bottom: 24px;

      @include bp1281 {
        font-size: 18px;
      };
    }

    .cartSelectBox{
      &_ttl{
        display: flex;

        @include bp768 {
          display: none;
        };

        &--name{
          margin-bottom: 8px;

          p{
            font-size: .13rem;
            letter-spacing: 0.02em;
            line-height: 1;
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      
            @include bp1281 {
              font-size: 13px;
            };
          }

          &.name{
            width: 26.18%;
          }

          &.price{
            width: 16.37%;

            p{
              text-align: center;
            }
          }

          &.check{
            width: 10.69%;

            p{
              text-align: center;
            }
          }
        }
      }

      &_cts{
        border-top: 1px solid #161616;

        &--list{
          border-bottom: 1px solid #E3E3E3;
          padding: 32px 0 22px;
          display: flex;
          align-items: center;

          @include bp768 {
            padding: 24px 0;
            justify-content: space-between;
          };

          .productImg{
            width: 9.8%;
            margin-right: 1.57%;

            @include bp768 {
              width: 29.85%;
              margin-right: 0;
            };
          }

          .productCts{
            display: flex;
            align-items: center;
            width: 41.86%;

            @include bp768 {
              display: block;
              width: 65.37%;
            };

            p, a, span{
              font-size: .14rem;
              letter-spacing: 0.02em;
              line-height: 1.43;
              font-weight: 300;
        
              @include bp1281 {
                font-size: 14px;
              };
            }

            .productName{
              width: 35.13%;

              @include bp768 {
                width: 100%;
                margin-bottom: 15px;
              };
            }

            .productPrice{
              width: 39.11%;

              @include bp768 {
                width: 100%;
                margin-bottom: 15px;
              };

              p{
                text-align: center;

                @include bp768 {
                  text-align: left;
                };
              }
            }

            .remark{
              width: 10.69%;
              margin-left: 10.54%;

              @include bp768 {
                width: 100%;
                margin-left: 0;
              };

              .radioBtn{
                @include bp768 {
                  margin-left: 10px;
                };
                
                input+label::before{
                  top: -3px;
                }

                input+label::after{
                  top: 1px;
                }
              }
            }
          }
        }
      }
    }

    .beforeCart{
      margin: 60px 0 40px;

      @include bp768 {
        margin: 60px 0 20px;
      };
    }
  }

  .grayNote{
    font-size: .12rem;
    letter-spacing: 0.02em;
    line-height: 1.43;
    font-weight: 300;
    color: #888;
    margin-top: 10px;

    @include bp1281 {
      font-size: 12px;
    };
  }

  .npafterTxt{
    font-size: .12rem;
    letter-spacing: 0.02em;
    line-height: 1.67;
    font-weight: 300;
    margin-top: 10px;

    @include bp1281 {
      font-size: 12px;
    };
  }

  .reminderArea{
    width: 100%;
    max-width: 920px;
    margin: 0 auto 43px;
    border: 4px solid #327CCF;
    padding: 30px 0;

    @include bp768 {
      margin: 0 auto 40px;
      padding: 30px 10px;
    };

    &_ttl{
      line-height: 1;
      text-align: center;
      font-size: .16rem;
      letter-spacing: 0.04em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      margin-bottom: 20px;

      @include bp1281 {
        font-size: 16px;
      };

      @include bp768 {
        line-height: 1.5;
      };
    }

    &_txt{
      line-height: 1.69;
      text-align: center;
      font-size: .13rem;
      letter-spacing: 0.02em;
      font-weight: 300;

      @include bp1281 {
        font-size: 13px;
      };

      a{
        color: #73B5E4;
        display: inline;
        text-decoration: underline;
      }
    }
  }

  .searchZip{
    margin: 0 0 0 10px;

    a{
      text-decoration: underline;
      line-height: 1;
      font-size: .12rem;
      letter-spacing: 0.02em;
      font-weight: 300;
      display: inline;

      @include bp1281 {
        font-size: 12px;
      };
    }
  }
}

.cartNextbtn{
  &.mrg{
    width: 79.69%;
    margin: 0 auto 80px;
                  
    @include bp768 {
      width: 94.67%;
      margin: 0 auto 40px;
    };
  }

  ul{
    display: flex;
    justify-content: space-between;
    width: 51.96%;
    margin-left: auto;
      
    @include bp768 {
      width: 76.12%;
      flex-wrap: wrap;
      margin: 0 auto;
    };

    li{
      width: 48.11%;
      
      @include bp768 {
        width: 100%;
      };

      a{
        width: 100%;
        height: 53px;
        line-height: 53px;
        text-align: center;
        font-size: .16rem;
        letter-spacing: 0.04em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        border-radius: 2px;
  
        @include bp1281 {
          font-size: 16px;
        };
      }

      &.prevBtn{
        @include bp768 {
          order: 2;
          margin-top: 15px;
        };

        a{
          background-color: #EAECEE;
        }
      }

      &.nextBtn{
        @include bp768 {
          order: 1;
        };

        a{
          background-color: #327CCF;
          color: #fff;
        }
      }
    }
  }

  &.cartListBtn{
    ul{
      width: 25%;
      
      @include bp768 {
        width: 76.12%;
        margin-top: 40px;
      };

      li{
        width: 100%;
      }
    }
  }

  &.second{
    width: 25%;
      
    @include bp768 {
      width: 76.12%;
      margin-top: 20px;
    };

    ul{
      width: 100%;

      li{
        width: 100%;
      }
    }
  }

  &.nextInquiry{
    padding-top: 0;

    &::before{
      content: none;
    }

    ul{
      margin-left: 0;
      
      @include bp768 {
        margin: 0 auto;
      };
    }
  }
}

.cartHead{
  border-bottom: 1px solid #E8E8E8;
  width: 100vw;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
              
  @include bp768 {
    height: 65px;
  };

  img{
    width: 200px;
    margin: auto;
              
    @include bp768 {
      width: 135px;
    };
  }
}

#cartComp{
  background-color: #F1F8FD;
  padding: 110px 0;
              
  @include bp768 {
    padding: 40px 0;
  };

  .inner{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
              
    @include bp768 {
      width: 89.33%;
    };

    .cartComp_ttl{
      margin-bottom: 30px;

      h2{
        line-height: 1;
        font-size: .26rem;
        letter-spacing: 0.04em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

        @include bp1281 {
          font-size: 26px;
        };
      }
    }

    .cartComp_txt{
      &--ttl{
        line-height: 1;
        font-size: .20rem;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        margin-bottom: 32px;
  
        @include bp1281 {
          font-size: 20px;
        };

        &.lh{
          @include bp768 {
            line-height: 1.6;
          };
        }
      }

      &--cts{
        line-height: 1;
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        margin-bottom: 15px;
  
        @include bp1281 {
          font-size: 14px;
        };
              
        @include bp768 {
          line-height: 1.71;
        };

        &.lh{
          line-height: 1.71;
        }
      }

      &--btn{
        width: 255px;
        height: 53px;
        line-height: 53px;
        background-color: #327CCF;
        border-radius: 2px;
        font-size: .16rem;
        letter-spacing: 0.04em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        margin-bottom: 40px;
        text-align: center;
        color: #fff;
  
        @include bp1281 {
          font-size: 16px;
        };
      }

      &--top{
        line-height: 1;
        font-size: .13rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        text-decoration: underline;
  
        @include bp1281 {
          font-size: 13px;
        };
      }
    }
  }
}