// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

$sp-maxWidth : 89.3%;

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

// bread

#csrReport {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}


.csrReport {
    width: 910px;
    margin: 0 auto 121.5px;
    @include bp768(){
        width: 100%;
    }
    &__title {
        font-family: $en;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: 0.04em;
        line-height: 2;
        text-align: left;
        color: #222;
        margin-top: 57px;
        margin-bottom: 40px;
        @include bp768() {
            width: $sp-maxWidth;
            margin: 32px auto 33px;
            font-size: .26em;
        }
    }

    &__contentBox {
        width: 910px;
        margin: 0 auto 60px;
        @include bp768(){
            width: 100%;
        }

        &--title {
            width: 100%;
            padding: 16px 0 16px 24px;
            font-family: $jaMid;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.02em;
            line-height: 1.22;
            text-align: left;
            color: #222;
            background: #F1F8FD;
            margin-bottom: 24px;
            @include bp768() {
                font-size: .18em;
            }
        }
        &--text {
            font-family: $Jalight;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 32px;
            @include bp768(){
                width: $sp-maxWidth;
                font-size: .14em;
                margin: 40px auto 56px;
            }

            span {
                font-family: $jaMid;
                display: block;
            }

        }

        &--wrapArea {
            width: 100%;
            border: solid 1px #E3E3E3;
            padding: 20px;
            @include bp768(){
                width: $sp-maxWidth;
                margin: 0px auto 24px;
            }

            &:nth-child(n+1) {
                margin-bottom: 20px;
            }
            &:nth-last-child(1) {
                margin-bottom: 143px;
            }

            p {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 2;
                text-align: left;
                color: #222;
                @include bp768(){
                    font-size: .14em;
                }

                &:nth-child(2) {
                    margin-top: 36px;
                }

                span {
                    font-family: $jaMid;
                    font-weight: 500;
                }
            }
        }

        &--singleTitle {

            font-family: $jaMid;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            @include bp768(){
                width: $sp-maxWidth;
                font-size: .14em;
                margin: 0 auto;
            }
        }
    }
}

.csrReport {
    &__roomToReadArea {
        width: 910px;
        margin: 0 auto;
        border-bottom: solid 1px #CCCCCC;
        @include bp768(){
            width: $sp-maxWidth;
        }

        &--title {
            font-family: $en;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 28px;
            span { display: block;}
            @include bp768(){
                font-size: .14em;
            }
        }

        &--carrer {
            font-family: $en;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 40px;
            span { display: block;}
            @include bp768(){
                font-size: .14em;
            }
        }

        .intro {
            width: 100%;

            .inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
                background: #F0F3F5;
                padding: 40px;
                @include bp768(){
                    display: block;
                    padding: 20px;
                }

                &:nth-child(2) {
                    padding-top: 0;
                    flex-direction: row-reverse;

                    p span {  display: block;}
                }

                .p-next {
                    margin-top: 36px;
                    display: block;
                }
    
                p {
                    width: 470px;
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    @include bp768(){
                        width: 100%;
                        font-size: .14rem;
                    }
                    
                }
    
                .pic {
                    img {
                        width: 320px;
                        @include bp768(){
                            width:100%;
                        }
                    }
                }

                .ceoIntro {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    @include bp768(){
                        font-size: .14rem;
                    }


                    span {
                        font-family: $Jalight;
                        font-weight: 300;
                        margin-top: 43px;
                        font-size: 12px;
                        @include bp768(){
                            font-size: .12rem;
                        }
                    }
                }
            }
        }
        .innerSecond {
            &__title {
                width: 86%;
                display: flex;
                margin: 40px auto 40.3px;
                align-items: center;
                @include bp768(){
                    width: 100%;
                }

                img {
                    width: 100px;
                }
                p {
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: 0.02em;
                    line-height: 1.75;
                    text-align: left;
                    color: #222;
                    @include bp768(){
                        font-size: .16rem;
                    }
                    span {
                        font-family: $jaMid;
                        font-weight: 500;
                        display: block;
                    }
                }
                .text {
                    margin-left: 40px;
                }
            }

            &__contents {
                width: 86%;
                margin: 0 auto 40.5px;
                p {
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    margin-bottom: 36px;
                    @include bp768(){
                        font-size: .14rem;
                    }

                    &:nth-last-child(1) {
                        margin-bottom: 0;
                    }
                }


                &--quote {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 12px;
                    letter-spacing: 0.02em;
                    line-height: 1.83;
                    text-align: right;
                    @include bp768(){
                        font-size: .12rem;
                    }
                    
                    span {
                        display: block;
                        
                        a {
                            color: #73b5e4;
                            text-decoration: none;
                        }
                    }

                }
            }
        }
    }
}


.csrReport {

    &__aboutUsinner {
        width: 910px;
        margin: 0 auto 40.5px;
        @include bp768 {
            width: $sp-maxWidth;
        }

        &--aboutUs {
            font-family: $en;
            font-weight: 300;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 1.38;
            text-align: left;
            color: #222;
            margin-bottom: 39.5px;
            @include bp768 {
                font-size: .20rem;
            }

            span {
                display: block;
                font-weight: 500;
            }
        }

        &--itemTable {
            width: 910px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include bp768 {
                width: 100%;
                display: block;
            }

            dt {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2.85;
                text-align: left;
                color: #222;
                width: 220px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 109.5px 6px;
                @include bp768 {
                    font-size: .14rem;
                    width: 100%;
                    padding: 40.5px 0 32px 6px;
                }



            }
            dd {
                font-family:$jaMid;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: left;
                color: #222;
                width: 670px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 43.5px 0;
                position: relative;
                @include bp768 {
                    font-size: .20rem;
                    border-top: none;
                    width: 100%;
                    padding: 0 0 43.5px 0;
                }


                p {
                    font-family: $en;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.08em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    @include bp768(){
                        font-size: .14rem;
                    }

                }

                .arrow {
                    position: absolute;
                    right: 0;
                    bottom: 30.5px;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}

// animate css

.history {
    .animate-LeftOn {
        transform: translateX(-270px);
        opacity: 0;
    }
}