// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

$sp-maxWidth : 89.3%;

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

.csrReport {
    width: 910px;
    margin: 0 auto;
    &__title {
        font-family: $en;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: 0.04em;
        line-height: 2;
        text-align: left;
        color: #222;
        margin-top: 57px;
        margin-bottom: 40px;
    }

    &__contentBox {
        width: 910px;
        margin: 0 auto 60px;

        &--title {
            width: 100%;
            padding: 16px 0 16px 24px;
            font-family: $jaMid;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.02em;
            line-height: 1.22;
            text-align: left;
            color: #222;
            background: #F1F8FD;
            margin-bottom: 24px;
        }
        &--text {
            font-family: $Jalight;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 32px;

            span {
                font-family: $jaMid;
                display: block;
            }

        }

        &--wrapArea {
            width: 100%;
            border: solid 1px #E3E3E3;
            padding: 20px;

            &:nth-child(n+1) {
                margin-bottom: 20px;
            }
            &:nth-last-child(1) {
                margin-bottom: 143px;
            }

            p {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.02em;
                line-height: 2;
                text-align: left;
                color: #222;

                &:nth-child(2) {
                    margin-top: 36px;
                }

                span {
                    font-family: $jaMid;
                    font-weight: 500;
                }
            }
        }

        &--singleTitle {

            font-family: $jaMid;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
        }
    }
}

.csrReport {
    &__roomToReadArea {
        width: 910px;
        margin: 0 auto;

        &--title {
            font-family: $en;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 28px;
            span { display: block;}
        }

        &--carrer {
            font-family: $en;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 2;
            text-align: left;
            color: #222;
            margin-bottom: 40px;
            span { display: block;}
        }

        .intro {
            width: 100%;

            .inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
                background: #F0F3F5;
                padding: 40px;

                &:nth-child(2) {
                    padding-top: 0;
                    flex-direction: row-reverse;

                    p span {  display: block;}
                }
    
                p {
                    width: 470px;
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    
                }
    
                .pic {
                    img {
                        width: 320px;
                    }
                }

                .ceoIntro {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                    line-height: 2;
                    text-align: left;
                    color: #222;


                    span {
                        font-family: $Jalight;
                        font-weight: 300;
                        margin-top: 43px;
                        font-size: 12px;
                    }
                }
            }
        }
        .innerSecond {
            &__title {
                width: 728px;
                display: flex;
                align-items: center;

                img {
                    width: 100px;
                    margin-right: 40px;
                }
                p {
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: 0.02em;
                    line-height: 1.75;
                    text-align: left;
                    color: #222;
                    span {
                    font-family: $jaMid;
                    font-weight: 500;
                    display: block;
                    }
                }
            }
        }
    }
}


.csrReport {

    &__aboutUsinner {
        width: 910px;
        margin: 0 auto 40.5px;
        @include bp768 {
            width: 89.3%;
        }

        &--aboutUs {
            font-family: $en;
            font-weight: 300;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 1.38;
            text-align: left;
            color: #222;
            margin-bottom: 39.5px;
            @include bp768 {
                font-size: .20em;
            }

            span {
                display: block;
                font-weight: 500;
            }
        }

        &--itemTable {
            width: 910px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include bp768 {
                width: 100%;
                display: block;
            }

            dt {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2.85;
                text-align: left;
                color: #222;
                width: 220px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 109.5px 6px;
                @include bp768 {
                    font-size: .14em;
                    width: 100%;
                    padding: 40.5px 0 32px 6px;
                }



            }
            dd {
                font-family:$jaMid;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: left;
                color: #222;
                width: 670px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 43.5px 0;
                position: relative;
                @include bp768 {
                    font-size: .20em;
                    border-top: none;
                    width: 100%;
                    padding: 0 0 43.5px 0;
                }


                p {
                    font-family: $en;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.08em;
                    line-height: 2;
                    text-align: left;
                    color: #222;

                }

                .arrow {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}

// animate css

.history {
    .animate-LeftOn {
        transform: translateX(-270px);
        opacity: 0;
    }
}