@charset "UTF-8";
/*====================================================================
*    mixin
/*==================================================================*/
/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents {
  display: block !important;
}

@media (max-width: 768px) {
  .pc_contents {
    display: none !important;
  }
}

.sp_contents {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_contents {
    display: block !important;
  }
}

.pc_inline {
  display: inline !important;
}

@media (max-width: 768px) {
  .pc_inline {
    display: none !important;
  }
}

.sp_inline {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_inline {
    display: inline !important;
  }
}

.pc_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 768px) {
  .pc_flex {
    display: none !important;
  }
}

.sp_flex {
  display: none !important;
}

@media (max-width: 768px) {
  .sp_flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* ----- Clearfix ----- */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

/*====================================================================
*    Detail
/*==================================================================*/
#productDetail {
  /* たぶ */
}

#productDetail .wide_defo .tabCts_list .template01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EDEDED;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template01 {
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list {
  width: 50%;
  padding: 40px 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template01_list {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list:nth-child(2) {
  border-left: 1px solid #EDEDED;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template01_list:nth-child(2) {
    border-left: none;
    border-top: 1px solid #EDEDED;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list .secTtl {
  font-weight: 300;
  font-size: .28rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template01_list .secTtl {
    font-size: 28px;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list .secSub {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .13rem;
  line-height: 1;
  letter-spacing: 0.04em;
  border: 1px solid #CCCCCC;
  display: table;
  margin: 0 auto 24px;
  padding: 5px 20px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template01_list .secSub {
    font-size: 13px;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  margin: 0 auto 40px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template01_list .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template01_list ul {
    display: block;
    width: 59.7%;
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list ul li {
  width: 39.22%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template01_list ul li {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list ul li .itemName {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .15rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 15px auto 10px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template01_list ul li .itemName {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list ul li .itemTxt {
  font-weight: 300;
  font-size: .12rem;
  line-height: 1.67;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template01_list ul li .itemTxt {
    font-size: 12px;
  }
}

#productDetail .wide_defo .tabCts_list .template01_list ul li:nth-child(even) {
  margin-left: 24px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template01_list ul li:nth-child(even) {
    margin-left: 0;
    margin-top: 40px;
  }
}

#productDetail .wide_defo .tabCts_list .template02 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template02_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template02_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template02_ttl {
    line-height: 1.7;
    margin-bottom: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template02_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template02_box {
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template02_box--list {
  width: 49.02%;
  padding: 40px 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template02_box--list {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template02_box--list img {
  width: auto;
  max-width: 370px;
  margin: 0 auto 35px;
  display: block;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template02_box--list img {
    max-width: 100%;
    margin: 0 auto 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template02_box--list .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .15rem;
  line-height: 1.57;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template02_box--list .secTtl {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template02_box--list .secTtl {
    padding: 0 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template02_box--list .secTxt {
  font-weight: 300;
  font-size: .12rem;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template02_box--list .secTxt {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template02_box--list .secTxt {
    padding: 0 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template02_box--list:nth-child(1) {
  background-color: #F1F7FC;
}

#productDetail .wide_defo .tabCts_list .template02_box--list:nth-child(2) {
  background-color: #CAE0F8;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template02_box--list:nth-child(2) {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template03 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template03_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 24px;
  padding: 22px 0;
  background-color: #F1F8FE;
  color: #76B6E3;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template03_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template03_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template03_lead {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 24px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template03_lead {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template03 img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#productDetail .wide_defo .tabCts_list .template04 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template04_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 24px;
  padding: 22px 0;
  background-color: #F1F8FE;
  color: #76B6E3;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template04_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template04_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template04_box {
  text-align: center;
  font-size: 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template04_box {
    width: 68.96%;
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template04_box li {
  width: 19.8%;
  margin: 0 40px;
  display: inline-block;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template04_box li {
    width: 100%;
    margin: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template04_box li:nth-child(n + 2) {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template04_box li:nth-child(n + 4) {
  margin-top: 30px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template04_box li:nth-child(n + 4) {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template04_box li .itemWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#productDetail .wide_defo .tabCts_list .template04_box li .pic {
  width: 49.5%;
  margin-right: 16px;
}

#productDetail .wide_defo .tabCts_list .template04_box li .txt {
  width: 45.57%;
}

#productDetail .wide_defo .tabCts_list .template04_box li .txt p {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .15rem;
  line-height: 1.57;
  letter-spacing: 0.04em;
  white-space: nowrap;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template04_box li .txt p {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template04_box li .txt p span {
  font-weight: 300;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .15rem;
  line-height: 1.57;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 5px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template04_box li .txt p span {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template05 {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F8FE;
  padding: 55px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template05 {
    display: block;
    padding: 40px 30px;
    width: 100vw;
    margin-left: -20px;
  }
}

#productDetail .wide_defo .tabCts_list .template05_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: #76B6E3;
  width: 50%;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template05_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template05_ttl {
    width: 100%;
    margin-bottom: 24px;
  }
}

#productDetail .wide_defo .tabCts_list .template05_txt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 50%;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template05_txt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template05_txt {
    width: 100%;
    margin-bottom: 24px;
  }
}

#productDetail .wide_defo .tabCts_list .template06 {
  width: 100%;
  max-width: 840px;
  margin: 0 auto 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template06 {
    display: block;
    width: 94.03%;
  }
}

#productDetail .wide_defo .tabCts_list .template06_pic {
  width: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template06_pic {
    width: 100%;
    margin-bottom: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template06_pic img {
  width: auto;
  max-width: 100%;
  display: block;
}

#productDetail .wide_defo .tabCts_list .template06_txt {
  width: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template06_txt {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template06_txt .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin-bottom: 15px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template06_txt .secTtl {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template06_txt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template06_txt ul {
    margin-bottom: 7px;
  }
}

#productDetail .wide_defo .tabCts_list .template06_txt ul li {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  padding: 7px 15px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template06_txt ul li {
    margin-bottom: 8px;
  }
}

#productDetail .wide_defo .tabCts_list .template06_txt ul li p {
  font-weight: 300;
  font-size: .11rem;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template06_txt ul li p {
    font-size: 11px;
  }
}

#productDetail .wide_defo .tabCts_list .template06_txt .secTxt {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .15rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template06_txt .secTxt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template06_txt .secTxt {
    margin-bottom: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template06_txt .secPic {
  width: auto;
  max-width: 100%;
  display: block;
}

#productDetail .wide_defo .tabCts_list .template07 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template07 img {
  width: auto;
  max-width: 100%;
  display: block;
}

#productDetail .wide_defo .tabCts_list .template08 {
  margin-bottom: 80px;
  background-color: #F1F8FE;
  padding: 55px 90px 65px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template08 {
    padding: 55px 30px 40px;
    width: 100vw;
    margin-left: -20px;
  }
}

#productDetail .wide_defo .tabCts_list .template08_ttl {
  font-weight: 300;
  font-size: .30rem;
  line-height: 1;
  letter-spacing: 0.27em;
  margin-bottom: 40px;
  text-align: center;
  color: #76B6E3;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template08_ttl {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template08_ttl {
    line-height: 1.07;
    margin-bottom: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template08_box {
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box--pic {
  width: 28.74%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template08_box--pic {
    width: 76.19%;
    margin: 0 auto 40px;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box--pic img {
  width: 100%;
  display: block;
}

#productDetail .wide_defo .tabCts_list .template08_box--pic a {
  width: 100%;
  border-radius: 2px;
  background-color: #327CCF;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .16rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 63px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template08_box--pic a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template08_box--pic a {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box--txt {
  width: 57.49%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template08_box--txt {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box--txt .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template08_box--txt .secTtl {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box--txt .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 83.78%;
  margin-top: 15px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template08_box--txt .secTxt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template08_box--txt .secTxt {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box--txt .secItem {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-top: 24px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template08_box--txt .secItem {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template08_box--txt .secItemTxt {
  font-weight: 300;
  font-size: .12rem;
  line-height: 1.83;
  letter-spacing: 0.04em;
  margin-top: 24px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template08_box--txt .secItemTxt {
    font-size: 12px;
  }
}

#productDetail .wide_defo .tabCts_list .template09 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template09 img {
  width: auto;
  max-width: 100%;
  display: block;
}

#productDetail .wide_defo .tabCts_list .template09 p {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin-top: 40px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template09 p {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template10 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template10_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 40px;
  padding: 22px 0;
  background-color: #898989;
  color: #fff;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template10_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template10_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template10 .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template10 .secTtl {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template10 .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template10 .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template10_box {
  border: 1px solid #898989;
  padding: 40px 0;
  margin-top: 40px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template10_box {
    padding: 40px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template10_box--cts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template10_box--cts {
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template10_box--cts .circle {
  width: 150px;
  height: 150px;
  position: relative;
  border: 2px solid #898989;
  background-color: #F9F9F9;
  margin-right: 40px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template10_box--cts .circle {
    margin: 0 auto 24px;
  }
}

#productDetail .wide_defo .tabCts_list .template10_box--cts .circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: .15rem;
  line-height: 1.57;
  letter-spacing: 0.04em;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template10_box--cts .circle p {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template10_box--cts .txt p {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template10_box--cts .txt p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template10_box--cts .txt p {
    text-align: center;
  }
}

#productDetail .wide_defo .tabCts_list .template11 {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template11 {
    width: 94.03%;
    margin: 0 auto 80px;
  }
}

#productDetail .wide_defo .tabCts_list .template11 .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .20rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template11 .secTtl {
    font-size: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template11 .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template11 .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template11 img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 24px auto 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template11 img {
    margin: 40px auto 0;
  }
}

#productDetail .wide_defo .tabCts_list .template12 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template12_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 40px;
  padding: 22px 0;
  background-color: #898989;
  color: #fff;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template12_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .20rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template12 .secTtl {
    font-size: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template12 .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .itemTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .12rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 8px;
  white-space: nowrap;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template12 .itemTtl {
    font-size: 12px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .itemTxt {
  font-weight: 300;
  font-size: .12rem;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template12 .itemTxt {
    width: 94.68%;
    font-size: 12px;
    margin: 10px auto 0;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto 0;
  width: 62.75%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12 .secMain {
    width: 100vw;
    margin: 40px 0 0 -20px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secMain li {
  width: 27.81%;
  margin: 0 0 0 11.5%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12 .secMain li {
    width: 50%;
    margin: 0;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secMain li:nth-child(4n + 1) {
  margin: 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12 .secMain li:nth-child(n + 3) {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secMain li img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#productDetail .wide_defo .tabCts_list .template12 .secSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 62.75%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12 .secSub {
    width: 100vw;
    margin: 40px 0 0 -20px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secSub li {
  width: 15.63%;
  margin: 40px 0 0 11.5%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12 .secSub li {
    width: 50%;
    margin: 20px 0 0;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secSub li:nth-child(4n + 1) {
  margin: 40px 0 0 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12 .secSub li:nth-child(4n + 1) {
    margin: 20px 0 0;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template12 .secSub li:nth-child(n + 3) {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template12 .secSub li img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#productDetail .wide_defo .tabCts_list .template13 {
  margin-bottom: 80px;
  border: 1px solid #898989;
  padding: 40px 0 56px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template13 {
    padding: 40px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template13 .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .20rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template13 .secTtl {
    font-size: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template13 .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template13 .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template13 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template13 ul {
    margin-top: 40px;
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template13 ul li:nth-child(n + 2) {
  margin-left: 40px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template13 ul li:nth-child(n + 2) {
    margin: 20px 0 0;
  }
}

#productDetail .wide_defo .tabCts_list .template13 ul li img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#productDetail .wide_defo .tabCts_list .template14 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template14_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 24px;
  padding: 22px 0;
  background-color: #EDECF6;
  color: #876CAE;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template14_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template14_ttl {
    width: 100vw;
    margin: 0 0 40px -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template14_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template14_box {
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template14_box--list {
  width: 49.02%;
  border: 1px solid #876CAE;
  padding: 40px 40px 60px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template14_box--list {
    width: 100%;
    padding: 40px 10px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template14_box--list:nth-child(n + 2) {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template14_box--list:nth-child(n + 3) {
  margin-top: 30px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template14_box--list:nth-child(n + 3) {
    margin-top: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template14_box--list .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  color: #876CAE;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template14_box--list .secTtl {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template14_box--list .secSmall {
  font-weight: 300;
  font-size: .12rem;
  line-height: 1;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  color: #876CAE;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template14_box--list .secSmall {
    font-size: 12px;
  }
}

#productDetail .wide_defo .tabCts_list .template14_box--list .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template14_box--list .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template15 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template15_ttl {
  font-weight: 300;
  /* font-size: .26rem; */
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 40px;
  padding: 22px 0;
  background-color: #FFFADB;
  color: #F8BD00;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template15_ttl {
    /* font-size: 26px; */
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template15_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template15_ttl span {
  font-weight: 300;
  /* font-size: .17rem; */
  font-size: .15rem;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 10px;
  color: #222;
  display: block;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template15_ttl span {
    /* font-size: 17px; */
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template15_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.35%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template15_box {
    display: block;
    width: 94.03%;
  }
}

#productDetail .wide_defo .tabCts_list .template15_box--txt {
  width: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template15_box--txt {
    width: 100%;
    margin-bottom: 40px;
  }
}

#productDetail .wide_defo .tabCts_list .template15_box--txt .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin-bottom: 24px;
  color: #F8BD00;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template15_box--txt .secTtl {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template15_box--txt .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template15_box--txt .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template15_box--pic {
  width: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template15_box--pic {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template15_box--pic img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 0 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template15_box--pic img {
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template16 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template16 .secTtl {
  font-weight: 300;
  font-size: .20rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: #F8BD00;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template16 .secTtl {
    font-size: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template16_movie {
  width: 82.35%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template16_movie {
    width: 100vw;
    margin: 0 0 0 -20px;
  }
}

#productDetail .wide_defo .tabCts_list .template16_movie .movieInner {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

#productDetail .wide_defo .tabCts_list .template16_movie .movieInner iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#productDetail .wide_defo .tabCts_list .template17 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template17_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 40px;
  padding: 22px 0;
  background-color: #FFFADB;
  color: #F8BD00;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template17_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template17_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template17_ttl span {
  font-weight: 300;
  font-size: .15rem;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 10px;
  color: #222;
  display: block;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template17_ttl span {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template17_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.35%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template17_box {
    display: block;
    width: 94.03%;
  }
}

#productDetail .wide_defo .tabCts_list .template17_box--txt {
  width: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template17_box--txt {
    width: 100%;
    margin-bottom: 40px;
  }
}

#productDetail .wide_defo .tabCts_list .template17_box--txt .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin-bottom: 24px;
  color: #F8BD00;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template17_box--txt .secTtl {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template17_box--txt .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template17_box--txt .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template17_box--pic {
  width: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template17_box--pic {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template17_box--pic img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 0 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template17_box--pic img {
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template18 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template18_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 40px;
  padding: 22px 0;
  background-color: #FFFADB;
  color: #F8BD00;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template18_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template18_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template18 .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
  width: 65.2%;
  margin: 0 auto 40px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template18 .secTxt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template18 .secTxt {
    width: 94.03%;
  }
}

#productDetail .wide_defo .tabCts_list .template18 img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#productDetail .wide_defo .tabCts_list .template19 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template19_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template19_box {
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template19_box--list {
  width: 32.35%;
  background-color: #EFF3F6;
  padding: 25px 20px 80px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template19_box--list {
    width: 100%;
    padding: 40px 10px 60px;
  }
}

#productDetail .wide_defo .tabCts_list .template19_box--list:nth-child(n + 2) {
  margin-left: 1.47%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template19_box--list:nth-child(n + 2) {
    margin: 20px 0 0;
  }
}

#productDetail .wide_defo .tabCts_list .template19_box--list .secPic {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto 25px;
}

#productDetail .wide_defo .tabCts_list .template19_box--list .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .20rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template19_box--list .secTtl {
    font-size: 20px;
  }
}

#productDetail .wide_defo .tabCts_list .template19_box--list .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template19_box--list .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template19_box--list .secColor {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .12rem;
  line-height: 1.83;
  letter-spacing: 0.04em;
  margin-top: 15px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template19_box--list .secColor {
    font-size: 12px;
  }
}

#productDetail .wide_defo .tabCts_list .template19 .secNote {
  font-weight: 300;
  font-size: .12rem;
  line-height: 1.83;
  letter-spacing: 0.04em;
  margin-top: 15px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template19 .secNote {
    font-size: 12px;
  }
}

#productDetail .wide_defo .tabCts_list .template20 {
  margin-bottom: 80px;
  border: 1px solid #898989;
  padding: 40px 0;
}

#productDetail .wide_defo .tabCts_list .template20 .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template20 .secTtl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20 .secTtl {
    width: 94.03%;
    margin: 0 auto 24px;
  }
}

#productDetail .wide_defo .tabCts_list .template20 .secTxt {
  font-weight: 300;
  font-size: .16rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template20 .secTxt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20 .secTxt {
    width: 94.03%;
    margin: 0 auto 24px;
  }
}

#productDetail .wide_defo .tabCts_list .template20 .secPic {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 30px auto 15px;
}

#productDetail .wide_defo .tabCts_list .template20 .secCts {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template20 .secCts {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20 .secCts {
    width: 94.03%;
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template20 .secCts span {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  color: #B81C22;
  font-size: .24rem;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-right: 8px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template20 .secCts span {
    font-size: 24px;
  }
}

#productDetail .wide_defo .tabCts_list .template20 .secNote {
  font-weight: 300;
  font-size: .12rem;
  line-height: 2.33;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template20 .secNote {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20 .secNote {
    width: 94.03%;
    margin: 15px auto 0;
    line-height: 1.83;
  }
}

#productDetail .wide_defo .tabCts_list .template20_box {
  width: 82.35%;
  margin: 15px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20_box {
    width: 94.03%;
    margin: 20px auto 0;
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template20_box--list {
  width: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20_box--list {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template20_box--list img {
  width: auto;
  max-width: 100%;
  display: block;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20_box--list img {
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template20_box--list:nth-child(1) img {
  margin-left: auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20_box--list:nth-child(1) img {
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template20_box--list:nth-child(2) {
  margin-left: 10px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template20_box--list:nth-child(2) {
    margin: 10px 0 0;
  }
}

#productDetail .wide_defo .tabCts_list .template21 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template21_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 50px;
  padding: 22px 0;
  background-color: #FFFADB;
  color: #F8BD00;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template21_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template21_ttl {
    width: 100vw;
    margin: 0 0 40px -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template21_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62.75%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template21_box {
    display: block;
    width: 94.03%;
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template21_box:nth-child(n + 2) {
  margin-top: 40px;
}

#productDetail .wide_defo .tabCts_list .template21_box--circle {
  width: 130px;
  height: 130px;
  border: 2px solid #F8BD00;
  position: relative;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template21_box--circle {
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template21_box--circle p {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  white-space: nowrap;
  font-size: .16rem;
  line-height: 1.67;
  letter-spacing: 0.04em;
  text-align: center;
  color: #F8BD00;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template21_box--circle p {
    font-size: 16px;
  }
}

#productDetail .wide_defo .tabCts_list .template21_box--txt {
  width: calc(100% - 154px);
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template21_box--txt {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template21_box--txt .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .20rem;
  line-height: 1.67;
  letter-spacing: 0.04em;
  color: #F8BD00;
  margin: 15px 0 5px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template21_box--txt .secTtl {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template21_box--txt .secTtl {
    margin: 24px 0 5px;
  }
}

#productDetail .wide_defo .tabCts_list .template21_box--txt .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template21_box--txt .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template22 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template22_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72.55%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template22_box {
    display: block;
    width: 94.03%;
  }
}

#productDetail .wide_defo .tabCts_list .template22_box--txt {
  width: 56.76%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template22_box--txt {
    width: 100%;
    margin-bottom: 40px;
  }
}

#productDetail .wide_defo .tabCts_list .template22_box--txt .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .24rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: #46ACA4;
  margin: 0 0 20px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template22_box--txt .secTtl {
    font-size: 24px;
  }
}

#productDetail .wide_defo .tabCts_list .template22_box--txt .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template22_box--txt .secTxt {
    font-size: 15px;
  }
}

#productDetail .wide_defo .tabCts_list .template22_box--pic {
  width: 43.24%;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template22_box--pic {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template22_box--pic img {
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template22_box--pic img {
    margin: 0 auto;
  }
}

#productDetail .wide_defo .tabCts_list .template23 {
  margin-bottom: 80px;
  background-color: #F3FAF3;
  padding: 60px 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template23 {
    width: 100vw;
    margin: 0 0 80px -20px;
    padding: 60px 20px 40px;
  }
}

#productDetail .wide_defo .tabCts_list .template23 .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .30rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto 58px;
  padding: 0 40px 13px;
  position: relative;
  display: table;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template23 .secTtl {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template23 .secTtl {
    margin: 0 auto 48px;
    padding: 0 0 13px;
    display: block;
    text-align: center;
  }
}

#productDetail .wide_defo .tabCts_list .template23 .secTtl::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #62C5AC;
}

#productDetail .wide_defo .tabCts_list .template23 .check {
  width: 55.29%;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template23 .check {
    width: 94.03%;
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template23 .check li {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template23 .check li {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template23 .check li img {
  width: 25px;
  margin-right: 16px;
  display: block;
}

#productDetail .wide_defo .tabCts_list .template23 .check li p {
  width: calc(100% - 41px);
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .16rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template23 .check li p {
    font-size: 16px;
  }
}

#productDetail .wide_defo .tabCts_list .template23 .check li:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template23 .check li:nth-last-child(-n + 2) {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template23 .check li:last-child {
    margin-bottom: 0;
  }
}

#productDetail .wide_defo .tabCts_list .template23 .secNote {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  background-color: #fff;
  font-size: .24rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 20px 60px;
  text-align: center;
  display: table;
  margin: 0 auto;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template23 .secNote {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template23 .secNote {
    padding: 20px 10px;
    text-align: center;
    display: block;
  }
}

#productDetail .wide_defo .tabCts_list .template24 {
  margin-bottom: 80px;
}

#productDetail .wide_defo .tabCts_list .template24_ttl {
  font-weight: 300;
  font-size: .22rem;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 40px;
  padding: 22px 0;
  background-color: #F3FAF3;
  color: #62C5AC;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template24_ttl {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template24_ttl {
    width: 100vw;
    margin-left: -20px;
    padding: 22px 10px;
  }
}

#productDetail .wide_defo .tabCts_list .template24 dl {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
}

#productDetail .wide_defo .tabCts_list .template24 dl dt {
  padding: 20px;
  cursor: pointer;
  position: relative;
}

#productDetail .wide_defo .tabCts_list .template24 dl dt::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 46px;
  width: 1px;
  height: 14px;
  background-color: #222;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template24 dl dt::before {
    right: 36px;
  }
}

#productDetail .wide_defo .tabCts_list .template24 dl dt::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
  width: 14px;
  height: 1px;
  background-color: #222;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template24 dl dt::after {
    right: 30px;
  }
}

#productDetail .wide_defo .tabCts_list .template24 dl dd {
  padding: 20px;
  background-color: #F7F7F7;
  border-top: 1px solid #E5E5E5;
  display: none;
}

#productDetail .wide_defo .tabCts_list .template24 dl .qa {
  font-weight: 300;
  font-size: .16rem;
  line-height: 1.8;
  letter-spacing: 0.27em;
  color: #888888;
  white-space: nowrap;
  width: 16px;
  margin-right: 16px;
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template24 dl .qa {
    font-size: 16px;
  }
}

#productDetail .wide_defo .tabCts_list .template24 dl .qaTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.02em;
  width: 90%;
  position: relative;
  display: inline-block;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template24 dl .qaTxt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template24 dl .qaTxt {
    width: 75%;
  }
}

#productDetail .wide_defo .tabCts_list .template24 dl:last-child {
  border-bottom: 1px solid #E5E5E5;
}

#productDetail .wide_defo .tabCts_list .template24 dl.active dt::before {
  content: none;
}

#productDetail .wide_defo .tabCts_list .template25 {
  margin-bottom: 80px;
  background-color: #F3FAF3;
  padding: 80px 0;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template25 {
    width: 100vw;
    margin: 0 0 80px -20px;
    padding: 80px 30px;
  }
}

#productDetail .wide_defo .tabCts_list .template25_inner {
  width: 62.75%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #productDetail .wide_defo .tabCts_list .template25_inner {
    width: 100%;
  }
}

#productDetail .wide_defo .tabCts_list .template25_inner .secTtl {
  font-weight: 500;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: .22rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin-bottom: 20px;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template25_inner .secTtl {
    font-size: 22px;
  }
}

#productDetail .wide_defo .tabCts_list .template25_inner .secTxt {
  font-weight: 300;
  font-size: .15rem;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media (min-width: 1281px) {
  #productDetail .wide_defo .tabCts_list .template25_inner .secTxt {
    font-size: 15px;
  }
}
/*# sourceMappingURL=brand.css.map */