/*====================================================================
*    mixin
/*==================================================================*/

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
  @media (min-width: ($bp1281)) {
    @content;
  }
}

$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}

$bp1024: 1024px;

@mixin bp1024 {
  @media (max-width: ($bp1024)) {
    @content;
  }
}

$bp930: 930px;

@mixin bp930 {
  @media (max-width: ($bp930)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

/*====================================================================
*    Responsive
/*==================================================================*/
.pc_contents{
    display: block !important;

    @include bp768 {
        display: none !important;
    };
}
.sp_contents{
    display: none !important;

    @include bp768 {
        display: block !important;
    };
}

.pc_inline{
    display: inline !important;

    @include bp768 {
        display: none !important;
    };
}
.sp_inline{
    display: none !important;

    @include bp768 {
        display: inline !important;
    };
}

.pc_flex{
    display: flex !important;

    @include bp768 {
        display: none !important;
    };
}
.sp_flex{
    display: none !important;

    @include bp768 {
        display: flex !important;
    };
}

/* ----- Clearfix ----- */
.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}


/*====================================================================
*    Detail
/*==================================================================*/
#productDetail{
    /* たぶ */
    .wide_defo{
        .tabCts{
            &_list{
                .template01{
                    display: flex;
                    border: 1px solid #EDEDED;
                    margin-bottom: 80px;

                    @include bp768 {
                        display: block;
                    };

                    &_list{
                        width: 50%;
                        padding: 40px 0;

                        @include bp768 {
                            width: 100%;
                        };

                        &:nth-child(2){
                            border-left: 1px solid #EDEDED;

                            @include bp768 {
                                border-left: none;
                                border-top: 1px solid #EDEDED;
                            };
                        }

                        .secTtl{
                            font-weight: 300;
                            font-size: .28rem;
                            line-height: 1.5;
                            letter-spacing: 0.04em;
                            margin-bottom: 8px;
                            text-align: center;
                        
                            @include bp1281 {
                                font-size: 28px;
                            };
                        }

                        .secSub{
                            font-weight: 500;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-size: .13rem;
                            line-height: 1;
                            letter-spacing: 0.04em;
                            border: 1px solid #CCCCCC;
                            display: table;
                            margin: 0 auto 24px;
                            padding: 5px 20px;
                            text-align: center;
                        
                            @include bp1281 {
                                font-size: 13px;
                            };
                        }

                        .secTxt{
                            font-weight: 300;
                            font-size: .15rem;
                            line-height: 2;
                            letter-spacing: 0.04em;
                            margin: 0 auto 40px;
                            text-align: center;
                        
                            @include bp1281 {
                                font-size: 15px;
                            };
                        }

                        ul{
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;

                            @include bp768 {
                                display: block;
                                width: 59.7%;
                                margin: 0 auto;
                            };

                            li{
                                width: 39.22%;

                                @include bp768 {
                                    width: 100%;
                                };

                                .itemName{
                                    font-weight: 500;
                                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                    font-size: .15rem;
                                    line-height: 1.5;
                                    letter-spacing: 0.04em;
                                    margin: 15px auto 10px;
                                    text-align: center;
                                
                                    @include bp1281 {
                                        font-size: 15px;
                                    };
                                }

                                .itemTxt{
                                    font-weight: 300;
                                    font-size: .12rem;
                                    line-height: 1.67;
                                    letter-spacing: 0.04em;
                                    text-align: center;
                                
                                    @include bp1281 {
                                        font-size: 12px;
                                    };
                                }

                                &:nth-child(even){
                                    margin-left: 24px;

                                    @include bp768 {
                                        margin-left: 0;
                                        margin-top: 40px;
                                    };
                                }
                            }
                        }
                    }
                }

                .template02{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 40px;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            line-height: 1.7;
                            margin-bottom: 20px;
                        };
                    }

                    &_box{
                        display: flex;
                        justify-content: space-between;

                        @include bp768 {
                            display: block;
                        };

                        &--list{
                            width: 49.02%;
                            padding: 40px 0;

                            @include bp768 {
                                width: 100%;
                            };
                            
                            img{
                                width: auto;
                                max-width: 370px;
                                margin: 0 auto 35px;
                                display: block;

                                @include bp768 {
                                    max-width: 100%;
                                    margin: 0 auto 20px;
                                };
                            }

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .15rem;
                                line-height: 1.57;
                                letter-spacing: 0.04em;
                                text-align: center;
                                margin-bottom: 15px;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };

                                @include bp768 {
                                    padding: 0 10px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .12rem;
                                line-height: 1.83;
                                letter-spacing: 0.04em;
                                text-align: center;
                            
                                @include bp1281 {
                                    font-size: 12px;
                                };

                                @include bp768 {
                                    padding: 0 10px;
                                };
                            }

                            &:nth-child(1){
                                background-color: #F1F7FC;
                            }

                            &:nth-child(2){
                                background-color: #CAE0F8;

                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }
                        }
                    }
                }

                .template03{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 24px;
                        padding: 22px 0;
                        background-color: #F1F8FE;
                        color: #76B6E3;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };
                    }

                    &_lead{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                        margin-bottom: 24px;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };
                    }

                    img{
                        width: auto;
                        max-width: 100%;
                        margin: 0 auto;
                        display: block;
                    }
                }

                .template04{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 24px;
                        padding: 22px 0;
                        background-color: #F1F8FE;
                        color: #76B6E3;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };
                    }

                    &_box{
                        text-align: center;
                        font-size: 0;

                        @include bp768 {
                            width: 68.96%;
                            margin: 0 auto;
                        };

                        li{
                            width: 19.8%;
                            margin: 0 40px;
                            display: inline-block;

                            @include bp768 {
                                width: 100%;
                                margin: 0;
                                display: block;
                            };

                            &:nth-child(n + 2){
                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }

                            &:nth-child(n + 4){
                                margin-top: 30px;

                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }

                            .itemWrap{
                                display: flex;
                                align-items: center;
                            }

                            .pic{
                                width: 49.5%;
                                margin-right: 16px;
                            }

                            .txt{
                                width: 45.57%;

                                p{
                                    font-weight: 500;
                                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                    font-size: .15rem;
                                    line-height: 1.57;
                                    letter-spacing: 0.04em;
                                    white-space: nowrap;
                                
                                    @include bp1281 {
                                        font-size: 15px;
                                    };

                                    span{
                                        font-weight: 300;
                                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                        font-size: .15rem;
                                        line-height: 1.57;
                                        letter-spacing: 0.04em;
                                        display: block;
                                        margin-bottom: 5px;
                                    
                                        @include bp1281 {
                                            font-size: 15px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }

                .template05{
                    margin-bottom: 80px;
                    display: flex;
                    align-items: center;
                    background-color: #F1F8FE;
                    padding: 55px;

                    @include bp768 {
                        display: block;
                        padding: 40px 30px;
                        width: 100vw;
                        margin-left: -20px;
                    };

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.57;
                        letter-spacing: 0.08em;
                        color: #76B6E3;
                        width: 50%;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100%;
                            margin-bottom: 24px;
                        };
                    }

                    &_txt{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        width: 50%;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };

                        @include bp768 {
                            width: 100%;
                            margin-bottom: 24px;
                        };
                    }
                }

                .template06{
                    width: 100%;
                    max-width: 840px;
                    margin: 0 auto 80px;
                    display: flex;
                    justify-content: space-between;

                    @include bp768 {
                        display: block;
                        width: 94.03%;
                    };

                    &_pic{
                        width: 50%;

                        @include bp768 {
                            width: 100%;
                            margin-bottom: 20px;
                        };

                        img{
                            width: auto;
                            max-width: 100%;
                            display: block;
                        }
                    }

                    &_txt{
                        width: 50%;

                        @include bp768 {
                            width: 100%;
                        };

                        .secTtl{
                            font-weight: 500;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-size: .22rem;
                            line-height: 1.5;
                            letter-spacing: 0.08em;
                            margin-bottom: 15px;
                        
                            @include bp1281 {
                                font-size: 22px;
                            };
                        }

                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            margin-bottom: 15px;

                            @include bp768 {
                                margin-bottom: 7px;
                            };

                            li{
                                border: 1px solid #CCCCCC;
                                border-radius: 2px;
                                padding: 7px 15px;
                                margin-right: 8px;

                                @include bp768 {
                                    margin-bottom: 8px;
                                };

                                p{
                                    font-weight: 300;
                                    font-size: .11rem;
                                    line-height: 1;
                                    letter-spacing: 0.04em;
                                    text-align: center;
                                
                                    @include bp1281 {
                                        font-size: 11px;
                                    };
                                }
                            }
                        }

                        .secTxt{
                            font-weight: 500;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-size: .15rem;
                            line-height: 1.5;
                            letter-spacing: 0.04em;
                            margin-bottom: 24px;
                        
                            @include bp1281 {
                                font-size: 15px;
                            };

                            @include bp768 {
                                margin-bottom: 20px;
                            };
                        }

                        .secPic{
                            width: auto;
                            max-width: 100%;
                            display: block;
                        }
                    }
                }

                .template07{
                    margin-bottom: 80px;

                    img{
                        width: auto;
                        max-width: 100%;
                        display: block;
                    }
                }

                .template08{
                    margin-bottom: 80px;
                    background-color: #F1F8FE;
                    padding: 55px 90px 65px;

                    @include bp768 {
                        padding: 55px 30px 40px;
                        width: 100vw;
                        margin-left: -20px;
                    };

                    &_ttl{
                        font-weight: 300;
                        font-size: .30rem;
                        line-height: 1;
                        letter-spacing: 0.27em;
                        margin-bottom: 40px;
                        text-align: center;
                        color: #76B6E3;
                    
                        @include bp1281 {
                            font-size: 30px;
                        };

                        @include bp768 {
                            line-height: 1.07;
                            margin-bottom: 20px;
                        };
                    }

                    &_box{
                        display: flex;
                        justify-content: space-between;

                        @include bp768 {
                            display: block;
                        };

                        &--pic{
                            width: 28.74%;

                            @include bp768 {
                                width: 76.19%;
                                margin: 0 auto 40px;
                            };

                            img{
                                width: 100%;
                                display: block;
                            }

                            a{
                                width: 100%;
                                border-radius: 2px;
                                background-color: #327CCF;
                                text-align: center;
                                padding: 15px 0;
                                color: #fff;
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .16rem;
                                line-height: 1.5;
                                letter-spacing: 0.04em;
                                margin-top: 63px;
                            
                                @include bp1281 {
                                    font-size: 16px;
                                };

                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }
                        }

                        &--txt{
                            width: 57.49%;

                            @include bp768 {
                                width: 100%;
                            };

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .22rem;
                                line-height: 1.5;
                                letter-spacing: 0.08em;
                            
                                @include bp1281 {
                                    font-size: 22px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                                width: 83.78%;
                                margin-top: 15px;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };

                                @include bp768 {
                                    width: 100%;
                                };
                            }

                            .secItem{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                                margin-top: 24px;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };
                            }

                            .secItemTxt{
                                font-weight: 300;
                                font-size: .12rem;
                                line-height: 1.83;
                                letter-spacing: 0.04em;
                                margin-top: 24px;
                            
                                @include bp1281 {
                                    font-size: 12px;
                                };
                            }
                        }
                    }
                }

                .template09{
                    margin-bottom: 80px;

                    img{
                        width: auto;
                        max-width: 100%;
                        display: block;
                    }

                    p{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.5;
                        letter-spacing: 0.08em;
                        margin-top: 40px;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };
                    }
                }

                .template10{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 40px;
                        padding: 22px 0;
                        background-color: #898989;
                        color: #fff;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };
                    }

                    .secTtl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .22rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-bottom: 24px;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };
                    }

                    .secTxt{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };
                    }

                    &_box{
                        border: 1px solid #898989;
                        padding: 40px 0;
                        margin-top: 40px;

                        @include bp768 {
                            padding: 40px 10px;
                        };

                        &--cts{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @include bp768 {
                                display: block;
                            };

                            .circle{
                                width: 150px;
                                height: 150px;
                                position: relative;
                                border: 2px solid #898989;
                                background-color: #F9F9F9;
                                margin-right: 40px;
                                border-radius: 50%;

                                @include bp768 {
                                    margin: 0 auto 24px;
                                };

                                p{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    font-weight: 300;
                                    font-size: .15rem;
                                    line-height: 1.57;
                                    letter-spacing: 0.04em;
                                    text-align: center;
                                    white-space: nowrap;
                                
                                    @include bp1281 {
                                        font-size: 15px;
                                    };
                                }
                            }

                            .txt{
                                p{
                                    font-weight: 300;
                                    font-size: .15rem;
                                    line-height: 2;
                                    letter-spacing: 0.04em;
                                
                                    @include bp1281 {
                                        font-size: 15px;
                                    };

                                    @include bp768 {
                                        text-align: center;
                                    };
                                }
                            }
                        }
                    }
                }

                .template11{
                    margin-bottom: 80px;

                    @include bp768 {
                        width: 94.03%;
                        margin: 0 auto 80px;
                    };

                    .secTtl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .20rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-bottom: 24px;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 20px;
                        };
                    }

                    .secTxt{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };
                    }

                    img{
                        width: auto;
                        max-width: 100%;
                        display: block;
                        margin: 24px auto 0;

                        @include bp768 {
                            margin: 40px auto 0;
                        };
                    }
                }

                .template12{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 40px;
                        padding: 22px 0;
                        background-color: #898989;
                        color: #fff;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };
                    }

                    .secTtl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .20rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-bottom: 24px;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 20px;
                        };
                    }

                    .secTxt{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };
                    }

                    .itemTtl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .12rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        text-align: center;
                        margin-top: 8px;
                        white-space: nowrap;
                    
                        @include bp1281 {
                            font-size: 12px;
                        };
                    }

                    .itemTxt{
                        font-weight: 300;
                        font-size: .12rem;
                        line-height: 1.83;
                        letter-spacing: 0.04em;
                        text-align: center;
                        margin-top: 10px;
                    
                        @include bp1281 {
                            width: 94.68%;
                            font-size: 12px;
                            margin: 10px auto 0;
                        };
                    }

                    .secMain{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: 40px auto 0;
                        width: 62.75%;

                        @include bp768 {
                            width: 100vw;
                            margin: 40px 0 0 -20px;
                        };

                        li{
                            width: 27.81%;
                            margin: 0 0 0 11.5%;

                            @include bp768 {
                                width: 50%;
                                margin: 0;
                            };

                            &:nth-child(4n + 1){
                                margin: 0;
                            }

                            &:nth-child(n + 3){
                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }

                            img{
                                width: 100px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }

                    .secSub{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: 0 auto;
                        width: 62.75%;

                        @include bp768 {
                            width: 100vw;
                            margin: 40px 0 0 -20px;
                        };

                        li{
                            width: 15.63%;
                            margin: 40px 0 0 11.5%;

                            @include bp768 {
                                width: 50%;
                                margin: 20px 0 0;
                            };

                            &:nth-child(4n + 1){
                                margin: 40px 0 0 0;

                                @include bp768 {
                                    margin: 20px 0 0;
                                };
                            }

                            &:nth-child(n + 3){
                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }

                            img{
                                width: 100px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }

                .template13{
                    margin-bottom: 80px;
                    border: 1px solid #898989;
                    padding: 40px 0 56px;

                    @include bp768 {
                        padding: 40px 10px;
                    };

                    .secTtl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .20rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-bottom: 24px;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 20px;
                        };
                    }

                    .secTxt{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };
                    }

                    ul{
                        display: flex;
                        justify-content: center;
                        margin-top: 60px;

                        @include bp768 {
                            margin-top: 40px;
                            display: block;
                        };

                        li{
                            &:nth-child(n + 2){
                                margin-left: 40px;

                                @include bp768 {
                                    margin: 20px 0 0;
                                };
                            }

                            img{
                                width: auto;
                                max-width: 100%;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }

                .template14{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 24px;
                        padding: 22px 0;
                        background-color: #EDECF6;
                        color: #876CAE;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin: 0 0 40px -20px;
                            padding: 22px 10px;
                        };
                    }

                    &_box{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        @include bp768 {
                            display: block;
                        };

                        &--list{
                            width: 49.02%;
                            border: 1px solid #876CAE;
                            padding: 40px 40px 60px;

                            @include bp768 {
                                width: 100%;
                                padding: 40px 10px;
                            };

                            &:nth-child(n + 2){
                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }

                            &:nth-child(n + 3){
                                margin-top: 30px;

                                @include bp768 {
                                    margin-top: 20px;
                                };
                            }

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .22rem;
                                line-height: 1.5;
                                letter-spacing: 0.08em;
                                margin-bottom: 10px;
                                color: #876CAE;
                            
                                @include bp1281 {
                                    font-size: 22px;
                                };
                            }

                            .secSmall{
                                font-weight: 300;
                                font-size: .12rem;
                                line-height: 1;
                                letter-spacing: 0.04em;
                                margin-bottom: 24px;
                                color: #876CAE;
                            
                                @include bp1281 {
                                    font-size: 12px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };
                            }
                        }
                    }
                }

                .template15{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        /* font-size: .26rem; */
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 40px;
                        padding: 22px 0;
                        background-color: #FFFADB;
                        color: #F8BD00;
                    
                        @include bp1281 {
                            /* font-size: 26px; */
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };

                        span{
                            font-weight: 300;
                            /* font-size: .17rem; */
                            font-size: .15rem;
                            line-height: 1;
                            letter-spacing: 0.04em;
                            text-align: center;
                            margin-top: 10px;
                            color: #222;
                            display: block;
                        
                            @include bp1281 {
                                /* font-size: 17px; */
                                font-size: 15px;
                            };
                        }
                    }

                    &_box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 82.35%;
                        margin: 0 auto;

                        @include bp768 {
                            display: block;
                            width: 94.03%;
                        };

                        &--txt{
                            width: 50%;

                            @include bp768 {
                                width: 100%;
                                margin-bottom: 40px;
                            };

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .22rem;
                                line-height: 1.5;
                                letter-spacing: 0.08em;
                                margin-bottom: 24px;
                                color: #F8BD00;
                            
                                @include bp1281 {
                                    font-size: 22px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };
                            }
                        }

                        &--pic{
                            width: 50%;

                            @include bp768 {
                                width: 100%;
                            };

                            img{
                                width: auto;
                                max-width: 100%;
                                display: block;
                                margin: 0 0 0 auto;

                                @include bp768 {
                                    margin: 0 auto;
                                };
                            }
                        }
                    }
                }

                .template16{
                    margin-bottom: 80px;

                    .secTtl{
                        font-weight: 300;
                        font-size: .20rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-bottom: 32px;
                        color: #F8BD00;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 20px;
                        };
                    }

                    &_movie{
                        width: 82.35%;
                        margin: 0 auto;

                        @include bp768 {
                            width: 100vw;
                            margin: 0 0 0 -20px;
                        };

                        .movieInner{
                            width: 100%;
                            position: relative;
                            padding-bottom: 56.25%;

                            iframe{
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }

                .template17{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 40px;
                        padding: 22px 0;
                        background-color: #FFFADB;
                        color: #F8BD00;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };

                        span{
                            font-weight: 300;
                            font-size: .15rem;
                            line-height: 1;
                            letter-spacing: 0.04em;
                            text-align: center;
                            margin-top: 10px;
                            color: #222;
                            display: block;
                        
                            @include bp1281 {
                                font-size: 15px;
                            };
                        }
                    }

                    &_box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 82.35%;
                        margin: 0 auto;

                        @include bp768 {
                            display: block;
                            width: 94.03%;
                        };

                        &--txt{
                            width: 50%;

                            @include bp768 {
                                width: 100%;
                                margin-bottom: 40px;
                            };

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .22rem;
                                line-height: 1.5;
                                letter-spacing: 0.08em;
                                margin-bottom: 24px;
                                color: #F8BD00;
                            
                                @include bp1281 {
                                    font-size: 22px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };
                            }
                        }

                        &--pic{
                            width: 50%;

                            @include bp768 {
                                width: 100%;
                            };

                            img{
                                width: auto;
                                max-width: 100%;
                                display: block;
                                margin: 0 0 0 auto;

                                @include bp768 {
                                    margin: 0 auto;
                                };
                            }
                        }
                    }
                }

                .template18{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 40px;
                        padding: 22px 0;
                        background-color: #FFFADB;
                        color: #F8BD00;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };
                    }

                    .secTxt{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                        width: 65.2%;
                        margin: 0 auto 40px;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };

                        @include bp768 {
                            width: 94.03%;
                        };
                    }

                    img{
                        width: auto;
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .template19{
                    margin-bottom: 80px;

                    &_box{
                        display: flex;

                        @include bp768 {
                            display: block;
                        };

                        &--list{
                            width: 32.35%;
                            background-color: #EFF3F6;
                            padding: 25px 20px 80px;

                            @include bp768 {
                                width: 100%;
                                padding: 40px 10px 60px;
                            };

                            &:nth-child(n + 2){
                                margin-left: 1.47%;

                                @include bp768 {
                                    margin: 20px 0 0;
                                };
                            }

                            .secPic{
                                width: auto;
                                max-width: 100%;
                                display: block;
                                margin: 0 auto 25px;
                            }

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .20rem;
                                line-height: 1.5;
                                letter-spacing: 0.08em;
                                margin-bottom: 24px;
                                text-align: center;
                            
                                @include bp1281 {
                                    font-size: 20px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };
                            }

                            .secColor{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .12rem;
                                line-height: 1.83;
                                letter-spacing: 0.04em;
                                margin-top: 15px;
                            
                                @include bp1281 {
                                    font-size: 12px;
                                };
                            }
                        }
                    }

                    .secNote{
                        font-weight: 300;
                        font-size: .12rem;
                        line-height: 1.83;
                        letter-spacing: 0.04em;
                        margin-top: 15px;
                    
                        @include bp1281 {
                            font-size: 12px;
                        };
                    }
                }

                .template20{
                    margin-bottom: 80px;
                    border: 1px solid #898989;
                    padding: 40px 0;

                    .secTtl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .22rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin-bottom: 24px;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 94.03%;
                            margin: 0 auto 24px;
                        };
                    }

                    .secTxt{
                        font-weight: 300;
                        font-size: .16rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 16px;
                        };

                        @include bp768 {
                            width: 94.03%;
                            margin: 0 auto 24px;
                        };
                    }

                    .secPic{
                        width: auto;
                        max-width: 100%;
                        display: block;
                        margin: 30px auto 15px;
                    }

                    .secCts{
                        font-weight: 300;
                        font-size: .15rem;
                        line-height: 2;
                        letter-spacing: 0.04em;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 15px;
                        };

                        @include bp768 {
                            width: 94.03%;
                            margin: 0 auto;
                        };

                        span{
                            font-weight: 500;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            color: #B81C22;
                            font-size: .24rem;
                            line-height: 2;
                            letter-spacing: 0.04em;
                            margin-right: 8px;
                        
                            @include bp1281 {
                                font-size: 24px;
                            };
                        }
                    }

                    .secNote{
                        font-weight: 300;
                        font-size: .12rem;
                        line-height: 2.33;
                        letter-spacing: 0.04em;
                        text-align: center;
                        margin-top: 15px;
                    
                        @include bp1281 {
                            font-size: 12px;
                        };

                        @include bp768 {
                            width: 94.03%;
                            margin: 15px auto 0;
                            line-height: 1.83;
                        };
                    }

                    &_box{
                        width: 82.35%;
                        margin: 15px auto 0;
                        display: flex;

                        @include bp768 {
                            width: 94.03%;
                            margin: 20px auto 0;
                            display: block;
                        };

                        &--list{
                            width: 50%;

                            @include bp768 {
                                width: 100%;
                            };

                            img{
                                width: auto;
                                max-width: 100%;
                                display: block;

                                @include bp768 {
                                    margin: 0 auto;
                                };
                            }

                            &:nth-child(1){
                                img{
                                    margin-left: auto;

                                    @include bp768 {
                                        margin: 0 auto;
                                    };
                                }
                            }

                            &:nth-child(2){
                                margin-left: 10px;

                                @include bp768 {
                                    margin: 10px 0 0;
                                };
                            }
                        }
                    }
                }

                .template21{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 50px;
                        padding: 22px 0;
                        background-color: #FFFADB;
                        color: #F8BD00;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin: 0 0 40px -20px;
                            padding: 22px 10px;
                        };
                    }

                    &_box{
                        display: flex;
                        justify-content: space-between;
                        width: 62.75%;
                        margin: 0 auto;

                        @include bp768 {
                            display: block;
                            width: 94.03%;
                            margin: 0 auto;
                        };

                        &:nth-child(n + 2){
                            margin-top: 40px;
                        }

                        &--circle{
                            width: 130px;
                            height: 130px;
                            border: 2px solid #F8BD00;
                            position: relative;
                            border-radius: 50%;

                            @include bp768 {
                                margin: 0 auto;
                            };

                            p{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                white-space: nowrap;
                                font-size: .16rem;
                                line-height: 1.67;
                                letter-spacing: 0.04em;
                                text-align: center;
                                color: #F8BD00;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            
                                @include bp1281 {
                                    font-size: 16px;
                                };

                            }
                        }

                        &--txt{
                            width: calc(100% - 154px);

                            @include bp768 {
                                width: 100%;
                            };

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .20rem;
                                line-height: 1.67;
                                letter-spacing: 0.04em;
                                color: #F8BD00;
                                margin: 15px 0 5px;
                            
                                @include bp1281 {
                                    font-size: 20px;
                                };

                                @include bp768 {
                                    margin: 24px 0 5px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };
                            }
                        }
                    }
                }

                .template22{
                    margin-bottom: 80px;

                    &_box{
                        display: flex;
                        justify-content: space-between;
                        width: 72.55%;
                        margin: 0 auto;

                        @include bp768 {
                            display: block;
                            width: 94.03%;
                        };

                        &--txt{
                            width: 56.76%;

                            @include bp768 {
                                width: 100%;
                                margin-bottom: 40px;
                            };

                            .secTtl{
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .24rem;
                                line-height: 1.5;
                                letter-spacing: 0.08em;
                                color: #46ACA4;
                                margin: 0 0 20px;
                            
                                @include bp1281 {
                                    font-size: 24px;
                                };
                            }

                            .secTxt{
                                font-weight: 300;
                                font-size: .15rem;
                                line-height: 2;
                                letter-spacing: 0.04em;
                            
                                @include bp1281 {
                                    font-size: 15px;
                                };
                            }
                        }

                        &--pic{
                            width: 43.24%;

                            @include bp768 {
                                width: 100%;
                            };

                            img{
                                width: auto;
                                max-width: 100%;
                                display: block;
                                margin-left: auto;

                                @include bp768 {
                                    margin: 0 auto;
                                };
                            }
                        }
                    }
                }

                .template23{
                    margin-bottom: 80px;
                    background-color: #F3FAF3;
                    padding: 60px 0;

                    @include bp768 {
                        width: 100vw;
                        margin: 0 0 80px -20px;
                        padding: 60px 20px 40px;
                    };

                    .secTtl{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-size: .30rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        margin: 0 auto 58px;
                        padding: 0 40px 13px;
                        position: relative;
                        display: table;
                    
                        @include bp1281 {
                            font-size: 30px;
                        };

                        @include bp768 {
                            margin: 0 auto 48px;
                            padding: 0 0 13px;
                            display: block;
                            text-align: center;
                        };

                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #62C5AC;
                        }
                    }

                    .check{
                        width: 55.29%;
                        margin: 0 auto 40px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        @include bp768 {
                            width: 94.03%;
                            display: block;
                        };

                        li{
                            width: 49%;
                            display: flex;
                            margin-bottom: 20px;

                            @include bp768 {
                                width: 100%;
                            };

                            img{
                                width: 25px;
                                margin-right: 16px;
                                display: block;
                            }

                            p{
                                width: calc(100% - 41px);
                                font-weight: 500;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-size: .16rem;
                                line-height: 1.5;
                                letter-spacing: 0.04em;
                            
                                @include bp1281 {
                                    font-size: 16px;
                                };
                            }

                            &:nth-last-child(-n + 2){
                                margin-bottom: 0;

                                @include bp768 {
                                    margin-bottom: 20px;
                                };
                            }

                            &:last-child{
                                @include bp768 {
                                    margin-bottom: 0;
                                };
                            }
                        }
                    }

                    .secNote{
                        font-weight: 500;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        background-color: #fff;
                        font-size: .24rem;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        padding: 20px 60px;
                        text-align: center;
                        display: table;
                        margin: 0 auto;
                    
                        @include bp1281 {
                            font-size: 24px;
                        };

                        @include bp768 {
                            padding: 20px 10px;
                            text-align: center;
                            display: block;
                        };
                    }
                }

                .template24{
                    margin-bottom: 80px;

                    &_ttl{
                        font-weight: 300;
                        font-size: .22rem;
                        line-height: 1.67;
                        letter-spacing: 0.08em;
                        text-align: center;
                        margin-bottom: 40px;
                        padding: 22px 0;
                        background-color: #F3FAF3;
                        color: #62C5AC;
                    
                        @include bp1281 {
                            font-size: 22px;
                        };

                        @include bp768 {
                            width: 100vw;
                            margin-left: -20px;
                            padding: 22px 10px;
                        };
                    }

                    dl{
                        border-left: 1px solid #E5E5E5;
                        border-right: 1px solid #E5E5E5;
                        border-top: 1px solid #E5E5E5;

                        dt{
                            padding: 20px;
                            cursor: pointer;
                            position: relative;
                            
                            &::before{
                                content:"";
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 46px;
                                width: 1px;
                                height: 14px;
                                background-color: #222;

                                @include bp768 {
                                    right: 36px;
                                };
                            }
                            
                            &::after{
                                content:"";
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 40px;
                                width: 14px;
                                height: 1px;
                                background-color: #222;

                                @include bp768 {
                                    right: 30px;
                                };
                            }
                        }

                        dd{
                            padding: 20px;
                            background-color: #F7F7F7;
                            border-top: 1px solid #E5E5E5;
                            display: none;
                        }

                        .qa{
                            font-weight: 300;
                            font-size: .16rem;
                            line-height: 1.8;
                            letter-spacing: 0.27em;
                            color: #888888;
                            white-space: nowrap;
                            width: 16px;
                            margin-right: 16px;
                            display: inline-block;
                            vertical-align: top;
                        
                            @include bp1281 {
                                font-size: 16px;
                            };
                        }

                        .qaTxt{
                            font-weight: 300;
                            font-size: .15rem;
                            line-height: 2;
                            letter-spacing: 0.02em;
                            width: 90%;
                            position: relative;
                            display: inline-block;
                        
                            @include bp1281 {
                                font-size: 15px;
                            };

                            @include bp768 {
                                width: 75%;
                            };
                        }

                        &:last-child{
                            border-bottom: 1px solid #E5E5E5;
                        }

                        &.active{
                            dt{
                                &::before{
                                    content: none;
                                }
                            }
                        }
                    }
                }

                .template25{
                    margin-bottom: 80px;
                    background-color: #F3FAF3;
                    padding: 80px 0;

                    @include bp768 {
                        width: 100vw;
                        margin: 0 0 80px -20px;
                        padding: 80px 30px;
                    };

                    &_inner{
                        width: 62.75%;
                        margin: 0 auto;

                        @include bp768 {
                            width: 100%;
                        };

                        .secTtl{
                            font-weight: 500;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-size: .22rem;
                            line-height: 1.5;
                            letter-spacing: 0.08em;
                            margin-bottom: 20px;
                        
                            @include bp1281 {
                                font-size: 22px;
                            };
                        }

                        .secTxt{
                            font-weight: 300;
                            font-size: .15rem;
                            line-height: 2;
                            letter-spacing: 0.04em;
                        
                            @include bp1281 {
                                font-size: 15px;
                            };
                        }
                    }
                }
            }
        }
    }
}