@charset "utf-8";
/* CSS Document */

/* ----------------------
   contents main 
---------------------- */


#main .wide_defo {
	width: 792px;
	margin: 0 44px;
}
#main .wide_large {
	width: 100%;
}
#main .wide_small {
	width: 640px;
	margin: 0 auto;
}
#main .title_h {
	max-width: 792px;
	text-align: center;
	font-size: 2.0rem;
	color: #2e2e2e;
	padding: 15px 0 13px;
	box-sizing: border-box;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
#main .gb_title {
	width: 100%;
	padding: 16px 0 15px 30px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #000;
	background-color: #f2f3f5;
}
#main .gb_title_c {
	width: 100%;
	padding: 16px 0 15px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: #000;
	background-color: #f2f3f5;
	letter-spacing: 0.1em;
}
#main .bb_title_c {
	width: 100%;
	padding: 16px 0 15px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: #fff;
	background-color: #bbd8fd;
	margin-bottom: 8px;
}

#main .bb_title_d {
	width: 100%;
	padding: 16px 0 15px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: #fff;
	background-color: #6fa6ff;
	margin-bottom: 8px;
}

#main .bb2_title_c {
	width: 100%;
	padding: 16px 0 15px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	color: #fff;
	background-color: #91b8f8;
	margin-bottom: 8px;
}
#main .title_sub {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
#main .title_sub p {
	font-size: 1.3rem;
	font-weight: bold;
	color: #2e2e2e;
	margin-bottom: 18px;
}
#main .title_sub h1 {
	font-size: 2.1rem;
	color: #2e2e2e;
}
#main .title_sub .l_size {
	font-size: 2.6rem;
}
#main .title_sub .bottom_tx {
	margin-top: 18px;
}
#main p.p_tc {
	text-align:center;
	width: 100%;
	line-height: 1.666;
	letter-spacing: 0.1em;
}

#main p.defo {
	font-size: 1.2rem;
	line-height: 2.0;
}
#main .link_btn a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 40.40%;
	padding: 12px 0;
	font-size: 1.4rem;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
}
#main .black_btn a{
	background-color: #2e2e2e;
	color: #fff;
}
#main .black_btn a:hover{
	background-color: #fff;
	color: #2e2e2e;
	text-decoration: none;
}
#main .white_ar_btn a,
#main .white_btn a {
	background-color: #fff;
	color: #2e2e2e;
	text-decoration: none;
}
#main .white_ar_btn a:before {
	position: absolute;
	top: 15px;
	right: 25px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}
#main .white_ar_btn a:hover,
#main .white_btn a:hover {
	text-decoration: none;
	color: #fff;
	background: #a3a3a3;
}
#main p.center_p {
	width: 100%;
	text-align: center;
}
/*-- sepa_border --*/
#main .sepa_border {
	width: 100%;
	border-bottom: 1px solid #d8d8d8;
}

/*-- font-size --*/

#main span.bold {
	font-weight: bold;
}
#main span.s10 {
	font-size: 1.0rem;
}
#main span.s13 {
	font-size: 1.3rem;
}
#main span.s14 {
	font-size: 1.4rem;
}
#main span.s15 {
	font-size: 1.5rem;
}
#main span.s16 {
	font-size: 1.6rem;
}

/*-- font-color --*/

#main .bule_title {
	color: #6fa3ec;
}
#main .bule_tx {
	color: #82ade9;
	font-weight: bold;
}
#main .green_tx {
	color: #00cc6e;
	font-weight: bold;
}

#main .clear {
	clear: both;
}
/*-- smoothscroll --*/
#main .jump {
	margin-top: -128px;
	padding-top: 128px;
}

/* ----------------------
   regular 
---------------------- */
#main .regular .box_p .grayback {
	width: 100%;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 32px 0 31px;
	margin-bottom: 14px;
	text-align: center;
	background-color: #b7b7b7;
	color: #fff;
}


#main .regular .reg_bx {
	margin-bottom: 30px;
}
#main .regular .reg_bx ul {
	margin-bottom: 0;
}
#main .regular .reg_bx ul li {
	float:left;
	width: 180px;
	margin-right: 24px;
	margin-bottom: 30px;
}
#main .regular .reg_bx ul li:nth-child(4n) {
	margin-right: 0;
}
#main .regular .reg_bx ul li a {
	display: block;
	position: relative;
	padding: 0;
	margin-bottom: 15px;
}
#main .regular .reg_bx ul li a img{
	vertical-align: bottom;
}
#main .regular .reg_bx ul li a:hover:before {
	position: absolute;
	content: url(../../img/img_tag_over.png);
}
#main .regular .reg_bx ul li dl dt {
	line-height: 1.38;
	font-size: 1.3rem;
	color: #000;
	font-weight: bold;
	margin-bottom: 4px;
}
#main .regular .reg_bx ul li dl dd {
	font-size: 0.9rem;
	color: #6b6b6b;
	font-weight: normal;
}
#main .regular .reg_bx ul li p {
	line-height: 1.2;
	font-size: 1.0rem;
	font-weight: bold;
	color: #383838;
	text-align: left;
	margin-bottom: 10px;
}
#main .regular .reg_bx ul li p span{
	font-size: 1.2rem;
}
#main .regular .reg_bx ul li .price_red {
	color: #ff2960;
}
#main .regular .reg_bx li aside {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#main .regular .reg_bx ul li aside select {
	margin-top: 10px;
	border: 1px solid #2e2e2e;
	border-radius: 3px;
	font-size: 1.2rem;
	color: #000;
	float: left;
}
#main .regular .reg_bx ul li aside a {
	display: inline-block;
	padding: 7px 10px 8px;
	margin-top: 5px;
	font-size: 1.1rem;
	font-weight: bold;
	color: #fff;
	background-color: #2e2e2e;
	text-decoration: none;
	float: right;
}
#main .regular .reg_bx ul li aside a:hover {
	opacity: 0.6;
}
#main .regular .reg_bx ul li aside a:hover:before {
	content: normal;
}
#main .regular .box_qa .qa_block {
	background: none;
}



/* ----------------------
   form_area 
---------------------- */
#main .form_area form {
	width: 100%;
}
#main .form_area form .form_table {
	border-collapse: collapse;
	width: 100%;
}
#main .form_area form .form_table tbody tr th {
	padding: 12px 0 11px;
	font-size: 1.2rem;
	text-align: left;
	width: 147px;
	vertical-align: top;
}
#main .form_area form .form_table tbody tr th span {
	color: #ea0202;
}
#main .form_area form .form_table tbody tr td {
	width: 645px;
}
#main .form_area form .form_table tbody tr td select,
#main .form_area form .form_table tbody tr td input,
#main .form_area form .form_table tbody tr td textarea {
	border: 1px solid #d8d8d8;
	margin-bottom: 20px;
	box-sizing: border-box;
}
#main .form_area form .form_table tbody tr td select {
	width: 248px;
	height: 35px;
}
#main .form_area form .form_table tbody tr td input {
	width: 645px;
	height: 35px;
}
#main .form_area form .form_table tbody tr td textarea {
	width: 645px;
	height: 165px;
}
#main .form_area form .cautions {
	text-align: center;
	font-size: 1.1rem;
	margin-top: 20px;
}
#main .form_area p.cautions a {
	color: #82ade9;
	text-decoration: none;	
}
#main .form_area p.cautions a:hover {
	opacity: 0.6;
}
#main .form_area form .btn_table {
	width: 100%;
}
.form_area form .button_submit {
	display: block;
	margin: 10px 241px 80px;
	width: 310px;
	height: 44px;
	background-color: #f3f3f3;
	font-size: 1.2rem;
}
.form_area form .button_submit:hover {
	color: #fff;
	background-color: #2e2e2e;
}

/*-- form_btm_are --*/
.form_btm_area .caution {
	font-size: 1.2rem;
	color: #2e2e2e;
	margin-bottom: 10px;
	text-align: left;
}

.form_btm_area .caution_area {
	width: 100%;
	padding: 24px 80px;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
}
.form_btm_area .caution_area ul {
	overflow: hidden;
	width: 632px;
}
.form_btm_area .caution_area ul li a{
	display: block;
	float: left;
	width: 316px;
	padding-left: 60px;
	box-sizing: border-box;
	margin-bottom: 15px;
	color: #82ade9;
	text-decoration: none;
}
.form_btm_area .caution_area ul li a:hover {
	opacity: 0.6;
}
.form_btm_area .caution_area ul li:last-child a {
	margin-bottom: 0;
}
.form_btm_area .link_text {
	color: #2e2e2e;
	line-height: 2.5;
	font-size: 1.2rem;
}
.form_btm_area .link_text a {
	color: #82ade9;
	text-decoration: none;
}
.form_btm_area .link_text a:hover {
	opacity: 0.6;
}
.form_btm_area .gb_title {
	margin-top: 80px;
}
.form_btm_area .tell_bx {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.form_btm_area .tell_bx dt {
	font-size: 1.8rem;
	color: #2e2e2e;
	font-weight: bold;
	letter-spacing: 0.15em;
}
.form_btm_area .tell_bx dt span {
	font-size: 1.3rem;
	
}
.form_btm_area .tell_bx dd {
	margin-top: 5px;
	font-size: 1.2rem;
	letter-spacing: 0.1em;

}
/* ----------------------
   box_qa 
---------------------- */
#main .box_qa {
	width: 100%;
}
#main .box_qa .qa_block {
	margin: 26px 0 0;
	padding-bottom: 39px;
	background: url(../../img/img_bot_bar2.png) no-repeat bottom center;
}
#main .box_qa .qa_block h3 {
	margin: 0 0 15px;
	font-size: 1.6rem;
	color: #2e2e2e;
	font-weight: bold;
}
#main .box_qa .qa_block .accordion_block .toggle {
	overflow: hidden;
}
#main .box_qa .qa_block .accordion_block .toggle .q {
	display: block;
	float: left;
	background-color: #f3f3f3;
	width: 37px;
	padding: 11px 0 10px 9px;
	margin: 0 11px 4px 0;
	box-sizing: border-box;
	font-size: 1.4rem;
}
#main .box_qa .qa_block .accordion_block .toggle a {
	display:block;
	float:left;
	width: 744px;
	font-size: 1.2rem;
	color: #2e2e2e;
	text-decoration: none;
	padding: 13px 0 5px;
}
#main .box_qa .qa_block .accordion_block .toggle a:hover {
	text-decoration: underline;
}
#main .box_qa .qa_block .accordion_block .toggle .acordion_tree {
	clear: both;
}
#main .box_qa .qa_block .accordion_block .toggle .acordion_tree p {
	font-size: 1.2rem;
	font-weight: bold;
	padding:0 0 10px 48px;
	line-height: 2.0;
}
#main .box_qa .qa_block .accordion_block .toggle .acordion_tree p a {
	padding: 0;
	width: auto;
	text-decoration: none;
	color: #82ade9;
	float: none;
	display: inline-block;
}
#main .box_qa .qa_block .accordion_block .toggle .acordion_tree p a:hover {
	opacity: 0.6;
}
/* ----------------------
   customar 
---------------------- */
#main .customar {
	width: 100%;
}
#main .customar .cus_cell {
	width: 100%;
	overflow: hidden;
	margin-top: 38px;
	padding-bottom: 40px;
	background: url(../../img/img_bot_bar2.png) no-repeat bottom center;
}
#main .customar .cus_cell:last-child {
	background-image: none;
}
#main .customar .cus_cell .cus_l {
	float: left;
	width: 120px;
}
#main .customar .cus_cell .cus_r {
	float: left;
	padding-left: 24px;
	width: 648px;
}
#main .customar .cus_cell .cus_r dl dt {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 5px;
}
#main .customar .cus_cell .cus_r dl dd {
	font-size: 1.2rem;
	margin-bottom: 18px;
}
#main .customar .cus_cell .cus_r p {
	font-size: 1.2rem;
	line-height: 2.0;
}

/* ----------------------
   gray_product 
---------------------- */
#main .gray_product {
	width: 100%;
	margin: 16px 0;
}
#main .gray_product p {
	text-align: center;
	font-size: 1.1rem;
	color: #a3a3a3;
}
#main .gray_product .grays {
	background-color: #f3f3f3;
	padding: 11px 0 10px;
	margin-bottom: 5px;
	overflow: hidden;
}
#main .gray_product .grays .grays_img {
	float: left;
	padding-left: 104px;
}
#main .gray_product .grays .grays_r {
	float: left;
	padding: 15px 0 0 33px;
}
#main .gray_product .grays .grays_r .pro_name {
	font-size: 1.0rem;
	color: #fff;
	padding: 6px 17px 5px;
	background-color: #82ade9;
	display: inline-block;
	margin-bottom: 8px;
}
#main .gray_product .grays .grays_r .pro_name2 {
	font-size: 1.0rem;
	color: #fff;
	padding: 6px 17px 5px;
	background-color: #30da8c;
	display: inline-block;
	margin-bottom: 8px;
}
#main .gray_product .grays .grays_r dl dt {
	font-size: 1.8rem;
	line-height: 1.6;
	color: #2e2e2e;
	font-weight: bold;
	margin-bottom: 4px;
}

/* ----------------------
   scroll_area 
---------------------- */
#main .scroll_area {
	width: 792px;
	margin-bottom: 25px;
}
#main .scroll_area .scr_cels_l{
	width: 192px;
}
#main .scroll_area ul .black_btn {
	padding: 11px 0;
	background: #2e2e2e;
	color: #fff;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.6;
	border: 1px solid #d8d8d8;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 8px;
}
#main .scroll_area .scr_cels_r {
	width: 600px;
	margin-bottom: 20px;
}
#main .scroll_area .scr_cels_r ul {
	overflow: hidden;
}
#main .scroll_area .scr_cels_r ul li {
	float:left;
	width: 192px;
	margin-left: 8px;
	margin-bottom: 8px;
}
#main .scroll_area .scr_cels_r ul .reactive a {
	border: 1px solid #d8d8d8;
	box-sizing: border-box;
	border-radius: 3px;
	width: 100%;
	padding: 12px 0;
	text-align: center;
	display: block;
	font-size: 1.1rem;
	line-height: 1.6;
	text-decoration: none;
	color: #2e2e2e;
}
#main .scroll_area .scr_cels_r ul .reactive a:hover {
	background-color: #f3f3f3;
}
#main .scroll_area .scr_cels_r ul .blanc {
	text-align: center;
	padding: 12px 0;
	border: 1px solid #d8d8d8;
	box-sizing: border-box;
	border-radius: 3px;
	color: #d8d8d8;
}
/* ----------------------
   mina_style
---------------------- */

#main .mina_style {
	padding-top: 40px;
}
#main .mina_style .box_l {
	width: 396px;
}
#main .mina_style .box_l:nth-child(odd) {
	padding-right: 16px;
	box-sizing: border-box;
}
#main .mina_style .box_l:nth-child(even) {
	padding-left: 16px;
	box-sizing: border-box;
}
#main .mina_style .box_l:nth-child(even) p {
	font-size: 1.2rem;
	line-height: 2.333;
}

#main .mina_style .box_l .profile dl dt{
	font-size: 1.2rem;
}
#main .mina_style .box_l .profile dl dd{
	font-size: 2.0rem;
}
#main .mina_style .box_l .profile ul li{
	font-size: 1.1rem;
	line-height: 2.181;
}
#main .mina_style .box_l .profile p {
	font-size: 1.1rem;
	line-height: 2.181;
}
#main .mina_style .box_l .profile p a {
	color: #2e2e2e;
	text-decoration: none;
}
#main .mina_style .box_l .profile p a:hover {
	color: #82ade9;
}
#main .mina_style .box_l .profile .go_blog:before {
	content: url(../../img/img_icon_blog.png);
	padding-right: 5px;
}
#main .mina_style .box_l .profile .go_seminar:before {
	content: url(../../img/img_icon_seminer.png);
	padding-right: 5px;
}
#main .mina_style .box_l:nth-child(even) h2 {
	font-size: 2.1rem;
	line-height: 1.761;
}
#main .mina_style .career_p {
	font-size: 1.1rem;
	line-height: 2.181;
	margin-bottom: 50px;
}
#main .mina_style .career_list {
	width: 100%;
	text-align: left;
	font-weight: normal;
	font-size: 1.1rem;
	line-height: 2.181;
}
#main .mina_style .career_list tr th {
	width: 70px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	vertical-align: top;
}
/* ----------------------
   feature_wide
---------------------- */
#main .feat_bx {
	margin-bottom: 60px;
}
#main .feat_bx .box_p {
	width: 520px;
	margin-left: 17px;
}
#main .feat_bx .box_p p {
	width: 100%;
	font-size: 1.2rem;
	line-height: 2.0;
	color: #2e2e2e;
	margin: 20px 0;
}

#main .wide_small .img_center {
	display: block;
	margin: 0 auto;
}
#main .wide_small .feat_tx {
	font-size: 1.4rem;
	line-height: 1.8571;
	color: #000;
}
#main .wide_small .border_cell {
	border: 1px solid #d8d8d8;
	padding: 15px;
	box-sizing: border-box;
}
#main .wide_small .border_cell .box_p {
	width: 290px;
}
#main .wide_small .border_cell .box_p dl {
	margin: 0;
	font-size: 1.4rem;
	color: #000;
	line-height: 1.8571;
}
#main .wide_small .border_cell .box_p dl dt{
	color: #000;
	line-height: 1.8571;
}
#main .wide_small .border_cell .box_p dl dd{
	font-size: 1.4rem;
	line-height: 1.8571;
	margin-bottom: 24px
}
#main .wide_small .border_cell .box_p p {
	font-size: 1.4rem;
	line-height: 1.8571;
	margin-bottom: 20px;
}
#main .wide_small .border_cell .box_p .link_btn a {
	width: 100%;
	background-color: #f8f8f8;
	padding: 19px auto 18px;
}
#main .wide_small .border_cell .box_p .link_btn a:hover {
	color: #fff;
	background-color: #2e2e2e;
}
#main .wide_small .conma_cell {
	padding: 23px 35px 22px 51px;
	background-color: #f8f8f8;
	position: relative;
	margin-bottom: 20px;
	font-size: 1.4rem;
	line-height: 1.857;
}
#main .wide_small .conma_cell:before {
	content: url(../../img/img_bc_01.png);
	position: absolute;
	top: 10px;
	left: 14px;
}
#main .wide_small .conma_cell .link_btn a{
	background-color: #f0f0f0;
	width: 290px;
}

/* ----------------------
   concept
---------------------- */
#main .concept .img_wide {
	background: url(../../img/img_large_bc.png) top center no-repeat;
	background-size: cover;
	padding: 47px 219px 108px 240px;
	margin-bottom: 7px;
}
#main .concept .img_wide img {
	display: block;
	margin: 0 auto;
}
#main .concept .img_wide h1 {
	font-size: 2.1rem;
	line-height: 1.4285;
	color: #000;
	text-align: center;
	margin: 59px auto 70px;
	letter-spacing: 0.12em;
}
#main .concept .img_wide p {
	font-size: 1.3rem;
	color: #000;
	line-height: 2.2307;
	margin-bottom: 30px;
}
#main .concept .img_wide p:last-child {
	margin-bottom: 80px;
}

#main .concept .link_btn a {
	width: 75%;
}

/* ----------------------
   first
---------------------- */

/*-- fig_back --*/

#main .first .fig_back {
	width: 100%;
	background: url(../../img/img_newp_01.png) center top no-repeat;
	background-size: cover;
	padding-top: 81px;
}
#main .first .fig_back .box_p {
	margin: 0 0 72px;
	width: 396px;
	padding: 0 16px 0 0;
}
#main .first .fig_back .box_p:last-child {
	padding: 0 0 0 16px;
}
#main .first .fig_back .box_p h3 {
	margin: 0 0 0 74px;
	font-size: 2.1rem;
	color: #2e2e2e;
	line-height: 1.7611;
	font-weight: normal;
	letter-spacing: 0.1em;
}
#main .first .fig_back .box_p p {
	font-size: 1.2rem;
	color: #2e2e2e;
	line-height: 2.3333;
}
#main .first .fig_back .box_p .link_btn a {
	margin: 0;
	width: 279px;
	opacity: 0.6;
	font-size: 1.2rem;
}
#main .first .fig_back_another {
	background: url(../../img/img_newp_02.png) center top no-repeat;
	padding-top: 107px;
}
#main .first .fig_back_another .box_p h3,
#main .first .fig_back_another .box_p p {
	color: #fff;
}
#main .first .fig_back_another .box_p h3 {
	margin-top: 180px;
}

/*-- trial_bx --*/
#main .first .trial_bx {
	margin-bottom: 40px;
}
#main .first .trial_bx .box_p {
	width: 380px;
	margin: 0 16px 0 0;
}
#main .first .trial_bx .box_p:last-child {
	margin: 0 0 0 16px;
}
#main .first .trial_bx .box_p ul {
	margin-top: 8px;
}
#main .first .trial_bx .box_p ul li {
	float: left;
	padding: 13px 0;
	font-size: 1.3rem;
	color: #8dbdff;
	border: 1px solid #a3c9fe;
	width: 49.5%;
	margin: 0 1% 4px 0;
	text-align: center;
	border-radius: 5px;
}
#main .first .trial_bx .box_p ul li:nth-child(2n) {
	margin-right: 0;
}
#main .first .trial_bx .box_p ul li.blue_bx {
	color: #fff;
	background-color: #a3c9fe;
}
#main .first .trial_bx .box_p ul li.blue_bx2 {
	color: #fff;
	background-color: #5f94ff;
	border: 1px solid #5f94ff;
}

#main .first .trial_bx .box_p ul li.blue_bx3 {
	color: #5f94ff;
	border: 1px solid #5f94ff;
}

#main .first .trial_bx .box_p h4 {
	font-size: 1.8rem;
	color: #8dbdff;
	line-height: 1.6666;
	margin: 20px 0;
	letter-spacing: 0.1em;
}
#main .first .trial_bx .box_p p a{
	width: 80px;
	display: block;
	font-size: 1.2rem;
	color: #2e2e2e;
	padding: 5px 7px;
	border: 1px solid #2e2e2e;
	box-sizing: border-box;
	margin-bottom: 15px;
}
#main .first .trial_bx .box_p dl {
	font-size: 1.1rem;
	color: #2e2e2e;
	line-height: 1.4545;
	margin-bottom: 20px;
}
#main .first .trial_bx .box_p dl dd {
	color: #a3a3a3;
}
#main .first .trial_bx .box_p p.prace {
	font-size: 1.8rem;
	color: #2e2e2e;
	font-weight: bold;
	margin-bottom: 15px;
}
#main .first .trial_bx .box_p p.prace span {
	font-size: 1.2rem;
}
#main .first .trial_bx .box_p .link_btn a{
	margin: 0;
	width: 279px;
}
#main .first .try_circle .box_p {
	width: 240px;
	margin-right: 36px;
	background: url(../../img/img_circle_b.png) left top no-repeat;
	min-height: 240px;
	padding-top: 55px;
	box-sizing: border-box;
	text-align: center;
}
#main .first .try_circle .box_p:nth-child(3n) {
	margin-right: 0;
}
#main .first .try_circle .box_p dl dt {
	font-size: 1.4rem;
	color: #2e2e2e;
	line-height: 1.6;
	font-weight: bold;
	margin-bottom: 5px;
}
#main .first .try_circle .box_p dl dd {
	font-size: 1.1rem;
	color: #2e2e2e;
	line-height: 1.928;
	margin-bottom: 10px;
}
#main .first .try_circle .box_p p {
	font-size: 1.1rem;
}
#main .first .try_circle .box_p p span {
	color: #8dbdff;
}
#main .first .p_tr{
	text-align: right;
}
#main .first .p_tr a {
	display: inline-block;
	color: #2e2e2e;
	text-decoration: none;
}
#main .first .p_tr a:hover {
	opacity: 0.6;
}

/*-- text_bx --*/

#main .first .arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #686868;
	width: 100%;
	margin-bottom: 70px;
}
#main .first .arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#main .first .arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 42px;
	margin-left: -42px;
}
#main .first .arrow_box:before {
	border-color: rgba(104, 104, 104, 0);
	border-bottom-color: #686868;
	border-width: 43px;
	margin-left: -43px;
}
#main .first .arrow_box .text_bx {
	padding: 16px;
	box-sizing: border-box;
}

#main .first .arrow_box .text_bx .box_p {
	width: 364px;
}
#main .first .arrow_box .text_bx .box_p dl {
	margin-right: 20px;
}
#main .first .arrow_box .text_bx .box_p dl dt {
	font-size: 1.8rem;
	margin: 14px 0;
}
#main .first .arrow_box .text_bx .box_p dl dd {
	font-size: 1.4rem;
	margin-bottom: 14px;
}
#main .first .arrow_box .text_bx .box_p p {
	font-size: 1.1rem;
	line-height: 1.909;
	width: 344px;
}
		

/* ----------------------
   lineup
---------------------- */

#main .lineup .box_l {
	width: 250px;
	margin: 16px auto;
}
#main .lineup .box_l img {
	margin-bottom: 14px;
}
#main .lineup .box_l h4 {
	font-size: 1.4rem;
	line-height: 1.7142;
	color: #000;
}
#main .lineup .box_l dl dt {
	font-size: 1.2rem;
	line-height: 2.416;
	color: #6b6b6b;
}
#main .lineup .box_l dl dd {
	font-size: 1.1rem;
	line-height: 1.6363;
	color: #6b6b6b;
}
#main .lineup .black_btn a {
	width: 125px;
	font-size: 1.2rem;
	padding: 10px 13px;
}
#main .lineup .white_btn a {
	width: 125px;
	font-size: 1.2rem;
	padding: 10px 13px;
}
#main .lineup .clearfix .box_l {
	margin-right: 21px;
}
#main .lineup .clearfix .box_l:last-child {
	margin-right: 0;
}
#main .lineup .cells1 {
	margin: 0 auto 70px;
}
#main .lineup .cells2 {
	width: 521px;
	margin: 0 auto 70px;
}

#main .lineup .box_l p {
	width: 100%;
	padding: 15px 0 13px;
	text-align: center;
	font-size: 1.2rem;
	border: 1px solid #2e2e2e;
	border-radius: 5px;
	margin-bottom: 10px;
	letter-spacing: 0.05em;
}
#main .lineup .line_a p {
	color: #7f8a99;
	border: 1px solid #a2aab5;
}
#main .lineup .line_a dl dt {
	color: #7f8a99;
}

#main .lineup .line_b p {
	color: #8dbdff;
	border: 1px solid #accfff;
}
#main .lineup .line_b dl dt {
	color: #8dbdff;
}

#main .lineup .line_c p {
	color: #5596f0;
	border: 1px solid #5596f0;
}
#main .lineup .line_c dl dt {
	color: #5596f0;
}


/* ----------------------
   theory
---------------------- */
#main .theory .clearfix {
	margin-top: 70px;
}
#main .theory .clearfix .fl {
	width: 380px;
	margin-right: 16px;
}
#main .theory .clearfix .box_p {
	width: 386px;
	margin-left: 10px;
}
#main .theory .clearfix .box_p h2 {
	font-size: 2.1rem;
	line-height: 1.7611;
	color: #2e2e2e;
	font-weight: normal;
	letter-spacing: 0.1em;
}
#main .theory .clearfix .box_p p {
	font-size: 1.2rem;
	line-height: 2.3333;
	color: #2e2e2e;
}


/* ----------------------
   mypage
---------------------- */
/*-- gray_big --*/
#main .mypage .gray_big {
	width: 100%;
	background-color: #f3f3f3;
}
#main .mypage .gray_big .name_area,
#main .mypage .gray_big .lank {
	float: left;
}
#main .mypage .gray_big .name_area {
	width: 282px;
	margin: 9px 0;
	border-right: 1px solid #d7d7d7;
	box-sizing: border-box;
}
#main .mypage .gray_big .name_area h2 {
	padding: 72px 0 71px 92px;
	font-size: 1.4rem;
	color: #000;
}
#main .mypage .gray_big .name_area a {
	font-size: 1.1rem;
	font-weight: normal;
	color: #000;
}
#main .mypage .gray_big .lank {
	width: 510px;
	padding-top: 5px;
	padding-left: 94px;
}
#main .mypage .gray_big .lank dl {
	overflow: hidden;
	display: table;
}
#main .mypage .gray_big .lank dl dt,
#main .mypage .gray_big .lank dl dd {
	display: table-cell;
	vertical-align: bottom;
	padding-top: 25px;
}
#main .mypage .gray_big .lank dl dt {
	width: 182px;
	font-size: 1.2rem;
	color: #000;
	line-height: 1.666;
}
#main .mypage .gray_big .lank dl dd {
	font-size: 1.6rem;
	font-weight: bold;
}

/*-- cau_p --*/
#main .mypage .cau_p {
	margin-bottom: 100px;
}
#main .mypage .cau_p .caution {
	font-size: 1.0rem;
	color: #000;
	line-height: 2.0;
}
#main .mypage .cau_p .caution a {
	color: #000;
}
#main .mypage .cau_p .caution a:hover {
	opacity: 0.6;
}
/*-- change_bx --*/
#main .mypage .change_bx {
	margin-top: 30px;
	width: 100%;
	margin-bottom: 30px;
}
#main .mypage .change_bx .box_p {
	width: 186px;
	margin-right: 16px;
	margin-bottom: 15px;
	border: 1px solid #d8d8d8;
	text-align: center;
	float: left;
}
#main .mypage .change_bx .box_p:nth-child(4n){
	margin-right: 0;
}
#main .mypage .change_bx .box_p a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
	width: auto;
	height: auto;
}
#main .mypage .change_bx .box_p a:hover {
	background-color: #f3f3f3;
	opacity: 0.6;
}
#main .mypage .change_bx .box_p dl dt {
	padding: 23px 0 20px;
	background: url(../../img/img_bot_bar.png) center bottom no-repeat;
	font-weight: bold;
	font-size: 1.2rem;
}
#main .mypage .change_bx .box_p dl dd {
	padding: 26px 0 47px;
	font-size: 1.1rem;
	line-height: 1.8181;
}
#main .mypage .change_bx .box_p .link_btn {
	padding: 15px 0 14px;
	background-color: #2e2e2e;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	text-align: center;
	color: #fff;
}



/* ----------------------
   products
---------------------- */

/*-- flickSlider --*/

#main .products .pro_top_area {
	overflow: hidden;
	width: 100%;
}
#main .products .pro_top_area .flickSlider {
	float: left;
	width: 335px;

}
#main .products .pro_top_area .pro_r {
	float: right;
	width: 442px;
}
#main .products .pro_top_area .flickSlider .flickView,
#main .products .pro_top_area .flickSlider .flickView ul,
#main .products .pro_top_area .flickSlider .flickView ul li,
#main .products .pro_top_area .flickSlider .flickView ul li img,
#main .products .pro_top_area .flickSlider .flickThumb ul {
	width: 335px;
	height: auto;
}

#main .products .pro_top_area .flickSlider .flickThumb{
	margin-top: 10px;
	width: 335px;
}
#main .products .pro_top_area .flickSlider .flickThumb ul{
	width: 335px;
}
#main .products .pro_top_area .flickSlider .flickThumb ul li,
#main .products .pro_top_area .flickSlider .flickThumb ul li img{
	width: 80px;
	height: auto;
}

/*-- pro_r --*/
#main .pro_r {
	margin-bottom: 30px;
}
#main .pro_r .pro_title {
	font-size: 1.0rem;
	line-height: 2.358;
	color: #2e2e2e;
}
#main .pro_r h1 {
	font-size: 1.7rem;
	line-height: 1.352;
	color:#2e2e2e;
}
#main .pro_r dl dt,
#main .pro_r dl dd {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5333;
	color: #6b6b6b;
}
#main .pro_r dl dt span,
#main .pro_r dl dd span {
	font-size: 1.2rem;
}
#main .pro_r section .caut {
	font-size: 1.2rem;
	color: #a3a3a3;
}
#main .pro_r section .pro_name {
	font-size: 1.2rem;
	color: #000;
}
#main .pro_r section p {
	margin-bottom: 3px;
}
#main .pro_r .text_area {
	font-size: 1.2rem;
	color: #000;
	line-height: 1.91666;
}
#main .pro_r .gray_backs {
	display: inline-block;
	width: 225px;
	padding: 17px 20px 15px;
	background-color: #f2f3f5;
	margin-bottom: 13px;
}
#main .pro_r .gray_backs .clearfix p {
	float: left;
	padding-top: 4px;
	margin-bottom: 5px;
}
main .pro_r .gray_backs .clearfix {
	marign-bottom: 3px;
}
#main .pro_r .gray_backs .clearfix p {
	padding-left: 20px;
}
#main .pro_r .gray_backs select {
	margin-left: 5px;
	border: 1px solid #2e2e2e;
	border-radius: 3px;
	font-size: 1.2rem;
	color: #000;
	margin-bottom: 5px;
}
#main .pro_r .gray_backs .link_btn a{
	width: 184px;
	font-size: 1.2rem;
	margin: 0 auto 10px;
}
#main .pro_r .gray_backs .bottoms a {
	margin: 0 15px;
	font-size: 1.1rem;
	color: #a3a3a3;
	text-decoration: none;
}
#main .pro_r .gray_backs .bottoms a:hover {
	opacity: 0.6;
}
#main .pro_r .pro_bt a {
	text-decoration: none;
	color: #2e2e2e;
}
#main .pro_r .pro_bt a:nth-child(2) {
	padding-left: 20px;
}
#main .pro_r .pro_bt a:hover {
	opacity: 0.6;
}

#main .pro_r #price {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5333;
    color: #6b6b6b;
}


/*-- products sns_btn --*/
#main .products .sns_btn {
	margin: 0;
}
#main .products .sns_btn .fb-like {
	float: right;
}
#main .products .sns_btn .twi {
	float: left;
}
/*-- style_A --*/ 
.desc03 .style_a {
	padding: 40px 0 30px;
	margin: 0;
}
.desc03 p {
	text-align: left;
}
.desc03 .bule_bc {
	overflow: hidden;
	padding: 25px 0;
	background-color: #bbd8fd;
	border-radius: 5px;
}
.desc03 .bule_bc:after {
	content: "";
	display: block;
	clear: both;
}
.desc03 .bule_bc h2,
.desc03 .bule_bc ul {
	float: left;
	width: 396px;
}
.desc03 .bule_bc h2 {
	padding: 47px 0 0 97px;
	font-size: .19rem;
	color: #fff;
	letter-spacing: 0.2rem;
}
.desc03 .bule_bc ul {
	padding-left: 20px;
}
.desc03 .bule_bc ul li{
	float: none;
	font-size: .125rem;
	color: #2e2e2e;
	width: auto;
	padding: 5px 0;
	margin: 0;
	letter-spacing: 0.1rem;
}
/*-- style_B --*/ 
#main .style_b {
	padding: 40px 0 30px;
}
/*-- style_B .care_area --*/
#main .style_b h2 {
	font-size: 2.1rem;
	color: #2e2e2e;
	margin-bottom: 60px;
	width: 100%;
	text-align: center;
	letter-spacing: 0.15rem;
}
#main .style_b p {
	text-align: left;
}

#main .style_b table {
	width: 100%;
	border-collapse: collapse;
}
#main .style_b table tr th,
#main .style_b table tr td {
	vertical-align: top;
	border-bottom: 10px solid #fff;
}
#main .style_b table tr th {
	width: 110px;
	background-color: #f3f3f3;
	background:url(../../img/img_bb_bottom2.png) no-repeat bottom center #f3f3f3;
	background-size: auto;
}
#main .style_b table tr th dl dt {
	margin: 29px 0 13px;
	font-size: 1.4rem;
	color: 1.4285;
}
#main .style_b table tr th dl dd {
	font-weight: normal;
	font-size:1.0rem;
	color: 1.6;
}
#main .style_b table tr td {
	padding-left: 14px;
	width: 682px;
	overflow: hidden;
}
#main .style_b table tr td .care_cel {
	box-sizing: border-box;
	padding: 10px 25px 0 25px;
	border: 1px solid #2e2e2e;
	border-radius: 5px;
	width: 330px;
	min-height: 144px;
	float: left;
	overflow: hidden;
}
#main .style_b table tr td .co1 {
	border: 1px solid #a2aab5;
	margin: 0 auto;
	float: none;
}

#main .style_b table tr td .co2 {
	border: 1px solid #accfff;
}
#main .style_b table tr td .co3 {
	border: 1px solid #5596f0;
}

#main .style_b table tr td .care_cel:nth-child(2n) {
	margin-left: 7px;
}
#main .style_b table tr td .care_cel dl,
#main .style_b table tr td .care_cel img {
	float: left;
}
#main .style_b table tr td .care_cel a {
	display: block;
	min-height: 130px;
}
#main .style_b table tr td .care_cel a:hover dl,
#main .style_b table tr td .care_cel a:hover img {
	opacity: 0.6;
}
#main .style_b table tr td .care_cel dl {
	margin: 20px 20px 0 0;
	width: 195px;
}
#main .style_b table tr td .care_cel dl dt {
	font-size: 1.4rem;
	margin-bottom: 15px;
	text-decoration: none;
}
#main .style_b table tr td .co1 dl dt {
	color: #7f8a99;
}
#main .style_b table tr td .co2 dl dt {
	color: #8dbdff;
}
#main .style_b table tr td .co3 dl dt {
	color: #5596f0;
}
#main .style_b table tr td .care_cel dl dd {
	font-size: 1.1rem;
	color: #2e2e2e;
	text-decoration: underline;
}
#main .style_b table tr td .care_cel img {
	marign: 20px 0;
}

/*-- style_B .set --*/
#main .style_b h3 {
	font-size: 1.8rem;
	color: #2e2e2e;
	line-height: 1.5755;
	width: 100%;
	text-align: center;
	margin: 30px 0 15px;
	font-weight: normal;
	letter-spacing: 0.1rem;
	}
#main .style_b .set {
	overflow: hidden;
	width: 100%;
}
#main .style_b .set .set_p{
	width: 394px;
	float: left;
	margin-right: 4px;
	padding: 15px 0 24px;
	border-radius: 10px;
}
#main .style_b .set .bc_p {
	background-color: #f1f7fc;
}
#main .style_b .set .ac_p {
	background-color: #c9dff9;
}

#main .style_b .set .set_p:nth-child(2n){
	margin-right: 0px;
}
#main .style_b .set .set_p img{
	margin: 0 auto;
	display: block;
	border-bottom: 1px solid #fff;
}
#main .style_b .set .set_p dl {
	text-align: center;
	width: 100%;
}
#main .style_b .set .set_p dl dt {
	margin-top: 20px;
	font-size: 1.4rem;
	line-height: 1.7142;
	letter-spacing: 0.1em;
}
#main .style_b .set .bc_p dl dt {
	color: #8dbdff;
}
#main .style_b .set .ac_p dl dt {
	color: #5f9cf0;
}
#main .style_b .set .set_p dl dd {
	margin-top: 13px;
	font-size: 1.1rem;
	line-height: 1.7142;
	color: #2e2e2e;
}
/*-- style_C --*/
.desc03 .style_c {
	padding: 40px 0 30px;
	margin: 0;
}
.desc03 .style_c h2 {
	width: 100%;
	text-align: center;
	font-size: .21rem;
	color: #2e2e2e;
	letter-spacing: 0.15rem;
}
.desc03 .style_c .lead {
	width: 100%;
	margin-top: 18px;
	text-align: center;
	font-size: .13rem;
	line-height: 2.0;
	color: #2e2e2e;
	letter-spacing: 0.1rem;
}
.desc03 .style_c p {
	text-align: left;
}



.desc03 .style_c h3.title_h {
	margin-top: 40px;
	margin-bottom: 22px;
	background-color: #bbd8fd;
	padding: 15px 0 12px;
	border: none;
	font-size: .20rem;
	color: #fff;
	font-weight: normal;
	letter-spacing: 0.15rem;
}
.desc03 .style_c h3.title_h span {
	color: #2e2e2e;
	font-size: .12rem;
	display: inline-block;
	padding-left:10px;
	padding-top: 1px;
	vertical-align: top;
	font-weight: normal;
}
.desc03 .style_c .centered {
	position: relative;
	overflow: hidden;
}
.desc03 .style_c .centered ul {
	position: relative;
	left: 50%;
	float: left;
	margin-bottom: 18px;
}
.desc03 .style_c .centered ul li {
	position: relative;
	left: -50%;
	float: left;
}



.desc03 .style_c ul li {
	float: left;
	width: 186px;
	margin: 0;
	margin-right: 16px;
	overflow: hidden;
}
.desc03 .style_c ul li:after {
	content: "";
	display: block;
	clear: both;
}
.desc03 .style_c ul li img,
.desc03 .style_c ul li dl {
	float: left;
}
.desc03 .style_c ul li dl {
	margin-top: 16px;
	width: 90px;
	margin-left: 6px;
	color: #2e2e2e;
}
.desc03 .style_c ul li dl dt {
	font-weight: normal;
	font-size: .10rem;
	line-height: 1.5;
}
.desc03 .style_c ul li dl dd {
	font-weight: bold;
	font-size: .11rem;
	line-height: 1.5;
}
.desc03 .style_c ul li:nth-child(4n) {
	margin-right: 0;
}
.desc03 .style_c .al {
	margin: 0;
	padding: 0;
	font-size: .10rem;
	color: #747474;
}

/*-- style_D --*/
.desc03 .style_d {
	padding: 40px 0 30px;
	margin: 0;
}


#main #box01 {
	padding: 40px 0 30px;
}
#main #box02 {
	padding: 40px 0 30px;
}
#main #box03 {
	padding: 40px 0 30px;
}
#main #box04 {
	padding: 40px 0 30px;
}


/* ----------------------
   review
---------------------- */
/*★★★★★*/
#tab-review .star00 {
  background-image: url(/templates/simplisse/img/shopping/star0.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star05 {
  background-image: url(/templates/simplisse/img/shopping/star1.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star10 {
  background-image: url(/templates/simplisse/img/shopping/star2.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star15 {
  background-image: url(/templates/simplisse/img/shopping/star3.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star20 {
  background-image: url(/templates/simplisse/img/shopping/star4.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star25 {
  background-image: url(/templates/simplisse/img/shopping/star5.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star30 {
  background-image: url(/templates/simplisse/img/shopping/star6.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star35 {
  background-image: url(/templates/simplisse/img/shopping/star7.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star40 {
  background-image: url(/templates/simplisse/img/shopping/star8.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star45 {
  background-image: url(/templates/simplisse/img/shopping/star9.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}
#tab-review .star50 {
  background-image: url(/templates/simplisse/img/shopping/star10.png);
  width: 71px;
  height: 14px;
  display: inline-block;
}




/*AJAX部分*/
#tab-review .comment {
  margin-top: 10px;
  margin-bottom: 40px;
}
#tab-review .comment:after{
  clear: both;
  height: 0px;
  display:block;
    line-height:0;
    visibility:hidden;
  content: ".";
}
#tab-review .comment .name{
  float: left;
  width: 110px;
}

#tab-review .comment .right{
  margin-left: 130px;
  border-left: 1px solid #999999;
  padding-left: 20px;
}
#tab-review .comment .left{
  width: 110px;
  float: left;
}
#tab-review .comment .name{
  color: #333333;
  font-weight: bold;
  font-size: 11px;
}
#tab-review .comment .age{
  font-size: 10px;
  color: #999999;
}
#tab-review .comment .date{
  padding-left: 10px;
  font-size: 10px;
  color: #999999;
}
#tab-review .comment .message{
  margin-top: 10px;
}

#tab-review #pager2 {
  text-align: center;  
}
#tab-review #pager2 .page {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;  
}
#tab-review #pager2 .separator {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;  
  color: #999999;
}


/*ソート*/
#tab-review .sort_bar {
  background-color: #EDEDED;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-right: 10px;
}

/*スターグラフ*/
#tab-review .review {
  margin-top: 10px;  
  margin-bottom: 10px;  
}
#tab-review .graph_width {
  width: 180px;  
  display: inline-block;
  margin-bottom: 10px;  
}
#tab-review .graph {
  height: 12px;
  display: inline-block;
  background-color: #679FDF;
}

/*追加リンク文字*/
#tab-review .reg_review {
  padding-top: 5px;  
}
#tab-review .reg_review a {
  color: #666666;
  font-size: 12px;
}




/* ----------------------
   feature
---------------------- */
#main .feature .clearfix img,
#main .feature .clearfix dl {
	float: left;
	margin-bottom: 13px;
}

#main .feature .clearfix dl {
	margin-left: 27px;
	margin-top: 18px;
}

#main .feature .clearfix dl dt {
	font-size:1.5rem;
	line-height: 1.8666;
	color: #767676;
}
#main .feature .clearfix dl dd {
	margin-top: 10px;
	font-size:1.1rem;
	line-height: 1.2;
	color: #9e9e9e;
}
#main .feature .clearfix dl .days {
	margin-top: 0;
	font-size:1.2rem;
	line-height: 2.6666;
	color: #000;
}
#main .feature .clearfix a:hover img,
#main .feature .clearfix a:hover dl {
	opacity: 0.6;
}

/* ----------------------
   media
---------------------- */
#main .media #tabwrap #tabs {
	width: 792px;
}
#main .media #tabwrap #tabs li {
	float: left;
	width: 192px;
	margin: 0 8px 8px 0;
}
#main .media #tabwrap #tabs li:nth-child(4n) {
	margin-right: 0;
}
#main .media #tabwrap #tabs li a{
	display: block;
	width: 192px;
	border: 1px solid #d8d8d8;
	font-size: 1.4rem;
	text-align: center;
	padding: 16px 0 14px 0;
	text-decoration: none;
	color: #2f2f2f;
	font-weight: normal;
}
#main .media #tabwrap #tabs li a:hover{
	background-color: #82ade9;
	color: #fff;
}
#main .media #tabwrap #tabs li.current a{
	background-color: #82ade9;
	color: #fff;
}
#main .media #tabwrap #content section.years a{
	text-decoration: none;
	color: #000;	
}
/*-- maga --*/

#main .media #tabwrap #content #maga .clearfix {
	padding: 0 11px;
}
#main .media #tabwrap #content #maga .clearfix aside {
	width: 142px;
	float: left;
	margin-right: 15px;
	margin-bottom: 30px;
}
#main .media #tabwrap #content #maga .clearfix aside:nth-child(5n){
	margin-right: 0;
}
#main .media #tabwrap #content #maga .clearfix aside dl dt,
#main .media #tabwrap #content #maga .clearfix aside dl dd {
	text-align: center;
	font-size: 1.2rem;
}
#main .media #tabwrap #content #maga .clearfix aside dl dt {
	margin-bottom: 5px;
}

/*-- web --*/
#main .media #tabwrap #content #web aside {
	padding: 0 30px 90px;
}
#main .media #tabwrap #content #web aside dl {
	margin-top: 33px;
	font-size: 1.3rem;
}
#main .media #tabwrap #content #web aside dl dt {
	width: 100px;
}
#main .media #tabwrap #content #web aside dl dd {
	width: 632px;
}
/*-- tele --*/
#main .media #tabwrap #content #tele aside {
	margin-bottom: 55px;
	padding: 0 30px;
}
#main .media #tabwrap #content #tele aside dl {
	margin:30px 0 17px;
}
#main .media #tabwrap #content #tele aside dl dt {
	margin-bottom: 20px;
	font-size: 1.3rem;
	font-weight: bold;
}
#main .media #tabwrap #content #tele aside dl dd {
	margin-bottom: 10px;
}
#main .media #tabwrap #content #tele aside dl dd a {
	text-decoration: none;
	color: #686868;	
}
/*-- books --*/
#main .media #tabwrap #content #books aside {
	margin: 45px 0 33px;
}
#main .media #tabwrap #content #books aside img,
#main .media #tabwrap #content #books aside dl {
	float: left;
}
#main .media #tabwrap #content #books aside img {
	width: 162px;
}
#main .media #tabwrap #content #books aside dl {
	margin-left: 37px;
	width: 536px;
	color: #000;
}
#main .media #tabwrap #content #books aside dl dt {
	font-weight: bold;
	font-size: 1.5rem;
	color:#000;
	margin-bottom: 22px;
}
#main .media #tabwrap #content #books aside dl .text {
	line-height: 2.0;
	font-size: 11px;
	margin-bottom: 20px;
}

#main .media #tabwrap #content #books aside dl .name {
	margin-bottom: 10px;
}
#main .media #tabwrap #content #books aside dl .prace a{
	text-decoration: none;
	color: #82ade9;
}


/* ----------------------
   seminar
---------------------- */
#main .seminar p.years a {
	text-decoration: none;
	color: #000;
}
#main .seminar .clearfix {
	width: 792px;
	padding: 20px 26px 20px 23px;
}
#main .seminar .clearfix img,
#main .seminar .clearfix dl {
	float: left;
}
#main .seminar .clearfix dl {
	padding-top: 5px;
	padding-left: 22px;
	width: 614px;
}
#main .seminar .clearfix dl dt,
#main .seminar .clearfix dl dd {
	line-height: 1.8;
	margin-bottom: 5px;
}
#main .seminar .clearfix dl dt {
	font-size: 1.3rem;
	font-weight: bold;
}

/* ----------------------
   report
---------------------- */
#main .report .border_box {
	border: 1px solid #d8d8d8;
	padding: 26px 50px 34px;
	font-size: 1.2rem;
}

#main .report .graybacks {
	padding: 38px 60px 0;
	background-color: #f2f3f5;
}
#main .report .graybacks .clearfix .box_p {
	width: 319px;
	margin-bottom: 45px;
}
#main .report .graybacks .clearfix .box_p p {
	line-height: 2.1;
}
#main .report .graybacks .clearfix .box_p p a{
	text-decoration: none;
	color: #2e2e2e;
}
#main .report .repo_logo p{
	padding-top: 30px;
	margin-left: 50px;
}
/* ----------------------
   about abo_us
---------------------- */
#main .history {
	padding: 0 31px;
}
#main .history table {
	width: 100%;
	border-collapse:collapse;
}
#main .history table.his_table {
	border-bottom: 1px solid #d8d8d8;
}
#main .history table tr {
	background: url(../../img/img_dot_line.png) no-repeat bottom left;
	overflow: hideen;
}
#main .history table tr:last-child {
	background: none;
}
#main .history table tr th,
#main .history table tr td {
	padding: 28px 0 25px;
	vertical-align: top;
	text-align: left;
	font-size: 1.25rem;
	line-height: 1.92;
	border-collapse: collapse;
}

#main .history table tr th {
	width: 12.3287%;
	font-size: 1.5rem;
}
#main .history table tr td {
	width: 69.17808%;
}
#main .history table tr .text_ta {
	padding-right: 40px;
}
#main .history table tr .month {
	width: 4.38356%;
}
#main .history table tr .his_img {
	width: 14.109958%;
}
#main .history table tr .his_img img {
	width: 100%;
	height: auto;
}

/* ----------------------
   about abo_us
---------------------- */

#main .about_bx .box_p {
	float: left;
	width: 396px;
}
#main .about_bx .box_p img {
	padding: 0 16px 0 15px;
}
#main .about_bx .box_p p {
	padding: 0 35px 0 10px;
	line-height: 2.3333;
}

/*-- abo_us --*/
#main .abo_us_bx {
	width: 792px;
	text-align: center;
}
#main .abo_us_bx h2 {
	font-weight: normal;
	display: block;
	margin: 0 auto;
}
#main .abo_us_bx .clearfix .box_p {
	float: left;
	width: 380px;
	margin-bottom: 32px;
	position: relative;
}
#main .abo_us_bx .clearfix .box_p:nth-child(odd) {
	margin-right: 32px;
}
#main .abo_us_bx .clearfix .box_p p {
	position: absolute;
	top: 66.06%;
	width: 100%;
	text-align: center;
}
#main .abo_us_bx .clearfix .box_p p a {
	width: 42.10%;
	border: 1px solid #fff;
	color: #fff;
	background: none;
}
#main .abo_us_bx .clearfix .white_ar_btn a:before {
	position: absolute;
	top: 15px;
	right: 18px;
	content: "";
	display:block;
	width: 11px;
	height: 11px;
	background: url(../img/arrow_right_sw.png) no-repeat;
}

#main .abo_us_bx .clearfix .box_p p a:hover {
	color: #000;
	border: 1px solid #000;
	background-color: #a3a3a3;
	opacity: 0.6;
}
#main .abo_us_bx .clearfix .box_p p a:hover:before {
	background: url(../img/arrow_right_sb.png) no-repeat;
}


/* ----------------------
   renew
---------------------- */

#main .renew_bx {
	width: 508px;
	margin: 0 auto;
}
#main .renew_bx img.logo{
	text-align: center;
	display: block;
	margin: 0 auto;
}
#main .renew_bx .clearfix img,
#main .renew_bx .clearfix aside {
	float: left;
	width: 239px;
	margin-bottom: 30px;
}
#main .renew_bx .clearfix img:nth-child(odd) {
	margin-right: 30px;
}
#main .renew_bx .clearfix aside p {
	line-height: 1.5666;
}
#main aside.renew_bar {
	width: 160px;
	margin: 0 auto;
	border: 1px solid #d8d8d8;
}
#main .renew .clearfix .box_p {
	float: left; 
	width: 258px;
	margin-right: 9px;
	text-align: center;
	margin-bottom: 20px;
}
#main .renew .clearfix .box_p:last-child {
	margin-right: 0;
}
#main .renew p.color_change {
	color: #707070;
}


/* ----------------------
   login
---------------------- */
#main .login .clearfix {
	overflow: hidden;
}
#main .login .clearfix .box_p {
	width: 381px;
	margin-right: 30px;
	height: auto;
}
#main .login .clearfix .box_p h3 {
	margin-bottom: 10px;
	font-weight: normal;
	letter-spacing: 0.15em;
}
#main .login .clearfix .box_p:nth-child(2n){
	margin-right: 0;
}
#main .login .clearfix .box_p .link_btn a{
	font-weight: bold;
	width: 100%;
	background-color: #2e2e2e;
	color: #fff;
}
#main .login .clearfix .box_p .link_btn a:hover{
	background-color: #fff;
	color: #2e2e2e;
}
#main .login .clearfix .box_p p{
	margin-top: 18px;
	font-size: 1.2rem;
	line-height: 1.666;
}
#main .login .clearfix .box_p p.pass {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 35px;
}
#main .login .clearfix .box_p p.pass a {
	color: #2e2e2e;
	font-size: 1.1rem;
}
#main .login .clearfix .box_p .form_cover {
	width: 100%;
	height: 35px;
	border: 1px solid #d8d8d8;
	paddin: 5px;
	box-sizing: border-box;
}
#main .login .clearfix .box_p .form_bx {
	height: 33px;
	width: 100%;
	text-align: left;
}
#main .login .clearfix .box_p ul {
	margin: 30px 0 40px;
}
#main .login .clearfix .box_p ul li{
	font-size: 1.1rem;
	color: #2e2e2e;
	line-height: 1.6666;
}
#main .norton img,
#main .norton p {
	float:left;
}
#main .norton p {
	max-width: 665px;
	padding: 0 0 0 25px;
	line-height: 1.818;
	font-size: 1.1rem;
}

/* ----------------------
   company
---------------------- */

#main .company table {
	width: 100%;
	border-collapse: collapse;
}
#main .company table.com_table tbody tr th,
#main .company table.com_table tbody tr td{
	color: #2e2e2e;
	font-size: 1.2rem;
	line-height: 1.83;
	vertical-align: top;
	padding: 12px 19px;
	text-align: left;
	border:1px solid #d8d8d8;
	border-collapse: collapse;
}
#main .company table.com_table tbody tr th {
	width: 30%;
	background-color: #f3f3f3;
}
#main .company table.com_table tbody tr td a {
	text-decoration: none;
	color: #82ade9;
}
/* ----------------------
   shop_l
---------------------- */
#main .shop_l p.defo a {
	text-decoration: none;
	color: #000;
}
#main .shop_l h2.shop_h {
	width: 100%;
	padding: 16px 0 15px 30px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #000;
	background-color: #f2f3f5;
}

#main .shop_l .shop_cels .shop_cel {
	border-bottom: 1px solid #d6d6da;
}
#main .shop_l .shop_cels .shop_cel:last-child {
	border-bottom: none;
}
#main .shop_l .shop_cels .shop_cel {
	margin-top: 20px;
}
#main .shop_l .shop_cels .shop_cel p {
	float: left;
	width: 300px;
	font-size: 1.2rem;
}
#main .shop_l .shop_cels .shop_cel dl {
	float: left;
	width: 492px;
	font-size: 1.2rem;
	line-height: 2.0;
}
#main .shop_l .shop_cels .shop_cel dl dt {
	font-weight: bold;
}
#main .shop_l .shop_cels .shop_cel dl dd.site_link a {
	text-decoration: none;
	color: #000;
}
#main .shop_l p.shop_top {
	text-align: right;
}
#main .shop_l p.shop_top a{
	text-decoration: none;
	color: #000;
}
#main .shop_l a:hover {
	opacity: 0.6;
}
#main .shop_l .bord_caution {
	width: 100%;
	padding: 35px 40px 23px 32px;
	border: 1px solid #d8d8d8;
}
#main .shop_l .bord_caution p.boll{
	font-weight: bold;
	font-size: 1.4rem;
}

/* ----------------------
   member
---------------------- */
#main .member .link_btn a{
	background-color: #2e2e2e;
	color: #fff;
}
#main .member .link_btn a:hover{
	background-color: #fff;
	color: #2e2e2e;
}


#main .member .box_p {
	width: 50%;
	float: left;
}
#main .member .box_p:nth-child(odd) {
	padding-right: 16px;
}
#main .member .box_p:nth-child(even) {
	padding-left: 16px;
}
#main .member table {
	width: 100%;
	border:none;
	border-collapse: collapse;
}
#main .member table tbody {
	border: none;
}
#main .member .mem_table tr th,
#main .member .mem_table tr td {
	color: #2e2e2e;
	padding: 21px 3px;
	text-align: center;
	background-color: #fcfcfd;	
  width : 16.66666% ; /* 未対応ブラウザ用フォールバック */
  width : -webkit-calc(100% / 6) ;
  width : calc(100% / 6) ;
  border: none;
  border-collapse: collapse;
}
#main .member .mem_table tr td {
	border-right: 1px solid #d8d8d8;
}
#main .member .mem_table tr td:nth-child(6) {
	border-right: none;
}
#main .member .mem_table tr.mem_top td{
	border:3px solid #fff;
}
#main .member .mem_table tr th {
	font-weight: normal;
	background-color: #f3f3f3;
	border:3px solid #fff;
}
#main .member .mem_table tr th.blanc {
	background-color: #fff;
}
#main .member .mem_table tr th.double {
	padding-bottom: 10px;
}
#main .member .mem_table tr th.double span {
	font-size: 1.1rem;
}
#main .member .mem_table tr td.head_01 {
	background-color: #e7f3ff;
}
#main .member .mem_table tr td.head_02 {
	background-color: #d5d7dc;
}
#main .member .mem_table tr td.head_03 {
	background-color: #fdebc4;
}
#main .member .mem_table tr td.head_04 {
	background-color: #bcc1c8;
}
#main .member .mem_table tr td.head_05 {
	background-color: #8c8f99;
	color: #fff;
}


/* ----------------------
   breadcrumb
---------------------- */

#main #breadcrumb {
	width: 792px;
	margin: 0 44px 12px;
}

#main #breadcrumb p {
	font-size: 0.9rem;
	color: #a3a3a3;
}

#main #breadcrumb p a{
	text-decoration: none;
	color: #a3a3a3;
	display: inline-block;
	padding: 0 8px 0;
	font-weight: normal;
}

#main #breadcrumb p a:first-child{
	padding-left: 0;
}

#main #breadcrumb p span{
	padding-left: 8px;
	color: #2e2e2e;
}

/*--- breadcrumb_sb ---*/

#main #breadcrumb_sb {
	width: 792px;
	margin: 0 44px 12px;
}

#main #breadcrumb_sb p {
	font-size: 1.7rem;
	color: #d8d8d8;
	font-weight: bold;
}

#main #breadcrumb_sb p a{
	text-decoration: none;
	color: #d8d8d8;
	display: inline-block;
	padding: 0 8px 0;
	font-weight: bold;
}

#main #breadcrumb_sb p a:first-child{
	padding-left: 0;
}

#main #breadcrumb_sb p span{
	padding-left: 8px;
	color: #2e2e2e;
}


/* ----------------------
   top_img
---------------------- */

#main #top_img {
	width: 792px;
	margin: 0 44px 25px;
	position: relative;
}
#main #top_img .top_logo_sim {
	position: absolute;
	top: 107px;
	left: 215px;
}
#main #top_img p {
	position: absolute;
	top: 237px;
	width: 792px;
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	letter-spacing: 0.05em;
}


/* ----------------------
   top_img_w
---------------------- */

#main #top_img_w {
	width: 880px;
	margin: 0 0 93px;
}

#main #top_img_w .text_bx_l {
	width: 260px;
	margin: 24px auto 34px;
	font-size: 2.1rem;
	line-height: 1.42;
	color: #000;
	font-weight: bold;
	letter-spacing: 0.1em;
}

#main #top_img_w .text_bx_s {
	width: 740px;
	margin: 0 auto;
	font-size: 1.3rem;
	line-height: 1.846;
	color: #000;
	letter-spacing: 0.05em;
}

/* ----------------------
   sec_title
---------------------- */

#main .sec_title {
	width: 792px;
	margin: 0 44px;

}
#main .sec_title h1 {
	margin: 0 auto 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
	font-size: 2.0rem;
	color: #2e2e2e;
}
#main .sec_title h1 span {
	padding-left: 16px;
	font-size: 1.3rem;
	font-weight: normal;
}
#main .sec_title_s {
	width: 100%;
}
#main .sec_title_s h1 {
	margin: 0 auto 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
	font-size: 2.0rem;
	color: #2e2e2e;
}
#main .sec_title_s h1 span {
	padding-left: 16px;
	font-size: 1.3rem;
	font-weight: normal;
}

/* ----------------------
   sec_sub_tit
---------------------- */

#main .sec_sub_tit {
	width: 792px;
	margin: 0 auto;
	text-align: center;
}
#main .sec_sub_tit p {
	width: 100%;
	margin: 16px auto;
	font-size: 1.3rem;
	color: #2e2e2e;
}
#main .sec_sub_tit h2 {
    width: 100%;
	margin: 0 auto 42px;
	font-size: 2.1rem;
	color: #2e2e2e;
}

/* ----------------------
   sec_sub_titv2
---------------------- */

#main .sec_sub_titv2 {
	width: 792px;
	margin: 0 auto;
	text-align: center;
}
#main .sec_sub_titv2 p {
	width: 100%;
	margin: 16px auto;
	font-size: 1.3rem;
	color: #2e2e2e;
}
#main .sec_sub_titv2 h2 {
    width: 100%;
	margin: 0 auto 16px;
	font-size: 2.1rem;
	color: #2e2e2e;
}
#main .sec_sub_titv2 aside {
	font-size: 1.3rem;
	color: #2e2e2e;
	margin-bottom: 28px;
}

/* ----------------------
   sns_btn
---------------------- */
#main .sns_btn {
	width: 200px;
	margin: 0 auto;
	border: 1px solid #fff;
	overflow: hidden;
}
#main .sns_btn .fb-like {
	float: left;
	border: 1px solid #fff;
}
#main .sns_btn .twi {
	float: right;
	border: 1px solid #fff;
}


/* ----------------------
   brand
---------------------- */
#main .brand {
	width: 792px;
	margin: 0 auto;
}

#main .brand h2.border_tx {
	font-size: 1.8rem;
	color: #2e2e2e;
	background-color: #f3f3f3;
	overflow: hidden;
	background: url(../img/border_img.png) center left repeat-x;
	margin-bottom: 11px;
}

#main .brand h2.border_tx a{
	background-color: #fff;
	display: inline-block;
	padding-right: 5px;
}

#main .brand ul {
	overflow: hidden;
	margin-bottom: 25px;
}

#main .brand ul li {
	float: left;
	width: 192px;
	margin-right: 8px;
}
#main .brand ul li:nth-child(4n) {
	margin-right: 0;
}

#main .brand ul li a:hover {
	opacity: 0.6;
}

#main .brand ul li dl {
	margin: 10px 0 25px;
	font-size: 1.1rem;
	font-weight: bold;
	color: #2e2e2e;
}
#main .brand ul li dl dt {
	margin-bottom: 3px;
	font-weight: normal;
}


/* ----------------------
   btn_area
---------------------- */

#main #btn_area {
	width: 792px;
	margin: 0 44px 52px;
}
#main #btn_area ul {
	overflow: hidden;
}

#main #btn_area ul li {
	float: left;
	width: 258px;
	height: 56px;
	margin: 0 9px 8px 0;
}
#main #btn_area ul li:nth-child(3n) {
	margin-right: 0;
}

#main #btn_area ul li a{
	display: block;
	width: 258px;
	height: 56px;
	border: 1px solid #d8d8d8;
	font-size: 1.4rem;
	text-align: center;
	padding: 18px 0 10px 0;
	text-decoration: none;
	color: #2f2f2f;
	font-weight: normal;
	letter-spacing: 0.05em;
}
#main #btn_area ul.sim li a:hover{
	background-color: #82ade9;
	color: #fff;
}
#main #btn_area ul.simwel li a:hover{
	background-color: #30da8c;
	color: #fff;
}

/* ----------------------
   btn_areav2
---------------------- */

#main #btn_areav2 {
	width: 792px;
	margin: 0 44px 44px;
}
#main #btn_areav2 ul {
	overflow: hidden;
}

#main #btn_areav2 ul li {
	float: left;
	width: 192px;
	margin: 0 8px 8px 0;
}
#main #btn_areav2 ul li:nth-child(4n) {
	margin-right: 0;
}

#main #btn_areav2 ul li a{
	display: block;
	width: 192px;
	border: 1px solid #d8d8d8;
	font-size: 1.4rem;
	text-align: center;
	padding: 16px 0 14px 0;
	text-decoration: none;
	color: #2f2f2f;

}
#main #btn_areav2 ul.sim li a:hover{
	background-color: #82ade9;
	color: #fff;
}
#main #btn_areav2 ul.simwel li a:hover{
	background-color: #30da8c;
	color: #fff;
}


/* ----------------------
   category
---------------------- */

#main #category {
	width: 880px;
	margin-bottom: 67px;
}

#main #category h2{
	font-size: 2.0rem;
	text-align: center;
	margin-bottom: 6px;
}

#main #category .clearfix{
	width: 880px;
	background-color: #f3f3f3;
	padding: 38px 44px 16px;
}

#main #category .clearfix dl {
	width: 248px;
	float: left;
	margin-right: 24px;
}

#main #category .clearfix dl:nth-child(3n) {
	margin-right: 0;
}

#main #category .clearfix dl dd{
	padding-top: 6px;
	margin-bottom: 25px;
	font-size: 1.5rem;
	color: #2e2e2e;
	text-align: center;
}
#main #category .clearfix dl dt a:hover{
	opacity: 0.6;
}

/*--- grayback ---*/
#main #category .grayback {
	width: 880px;
	padding: 54px 44px 26px;
	background-color: #f3f3f3;
}

#main #category .grayback .border_tx {
	font-size: 1.6rem;
	color: #2e2e2e;
	background-color: #f3f3f3;
	overflow: hidden;
	background: url(../img/border_img.png) center left repeat-x;
	margin-bottom: 20px;
}

#main #category .grayback .border_tx a{
	background-color: #f3f3f3;
	display: inline-block;
	padding-right: 5px;
}

#main #category .grayback .bord_in {
	overflow: hidden;
	margin-bottom: 29px;
}
#main #category .grayback .bord_in figure {
	float: left;
	width: 264px;
	margin: 0 0 16px;
	overflow: hidden;
}
#main #category .grayback .bord_in figure a:hover {
	opacity: 0.6;
}

#main #category .grayback .bord_in figure img {
	float: left;
}

#main #category .grayback .bord_in figure figcaption {
	float: left;

	padding: 53px 0 0 13px;
	box-sizing:border-box;
	width: 145px;
	font-size: 1.4rem;
	color: #2e2e2e;
}
#main #category .sin_btn {
	margin-top: 16px;
}


#main #category .sin_btn a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 279px;
	height: 44px;
	padding: 12px;
	font-size: 1.4rem;
	color: #000;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
	font-weight: bold;
}
#main #category .sin_btn a:before {
	position: absolute;
	top: 15px;
	right: 25px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}

#main #category .sin_btn a:hover {
	text-decoration: none;
	color: #fff;
	background: #a3a3a3;
}



/* ----------------------
   ranking
---------------------- */

#main .ranking {
	width: 789px;
	margin: 0 44px 0 47px;
	padding-bottom: 68px;
}

#main .ranking h3{
	width: 789px;
	height: 52px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 2.0rem;
	color: #2e2e2e;
	padding: 15px;
	box-sizing: border-box;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

#main .ranking h3 span{
	font-weight: normal;
}
#main .ranking .clearfix {
	overflow: hidden;
}

#main .ranking .clearfix .box_p {
	float: left;
	width: 145px;
	margin-right: 16px;
	position: relative;
}
#main .ranking .clearfix .box_p a:hover{
	opacity: 0.6;
}
#main .ranking .clearfix .box_p:nth-child(5n){
	margin-right: 0px;
}

#main .ranking .clearfix .no_01:before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 34px;
	height: 34px;
	background-image: url(../img/img_no_01.png);
}
#main .ranking .clearfix .no_02:before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 34px;
	height: 34px;
	background-image: url(../img/img_no_02.png);
}
#main .ranking .clearfix .no_03:before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 34px;
	height: 34px;
	background-image: url(../img/img_no_03.png);
}
#main .ranking .clearfix .no_04:before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 34px;
	height: 34px;
	background-image: url(../img/img_no_04.png);
}
#main .ranking .clearfix .no_05:before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 34px;
	height: 34px;
	background-image: url(../img/img_no_05.png);
}

#main .ranking .clearfix .box_p dl {
	margin: 17px 0 8px;
	color: #2e2e2e;
}
#main .ranking .clearfix .box_p dl dt {
	text-align: 1.5;
	font-weight: bold;
	font-size: 1.2rem;
	color: #2e2e2e;
}

#main .ranking .clearfix .box_p dl dd {
	text-align: 1.5;
	font-size: 0.9rem;
	color: #6b6b6b;
}
#main .ranking .clearfix .box_p p {
	font-size: 1.1rem;
	color: #6b6b6b;
}

#main .ranking .sin_btn a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 279px;
	height: 44px;
	padding: 12px;
	font-size: 1.4rem;
	color: #000;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
}
#main .ranking .sin_btn a:before {
	position: absolute;
	top: 15px;
	right: 25px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}
#main .gift {
	position: relative;
}
#main .ranking p.wrapping {
	z-index: 888;
	width: 167px;
	position: absolute;
	top: 18px;
	right: 0;
}
#main .ranking p.wrapping a{
	position: relative;
	font-weight: bold;
	text-decoration: none;
	color: #2e2e2e;
	font-size: 1.2rem;
}
#main .ranking p.wrapping a:hover {
	opacity: 0.6;
}

#main .ranking p.wrapping a:before {
	position: absolute;
	top: 0;
	right: -18px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}
#main .gift {
	margin-bottom: 20px;
}
#main .gift .sin_btn a {
	font-size: 1.3rem;
}

/* ----------------------
   guide
---------------------- */

#main .guide {
	width: 792px;
	margin: 0 44px 0 44px;
}
#main .guide section h2 {
	font-size: 1.5rem;
	line-height: 2.15;
}

#main .guide h3{
	width: 792px;
	text-align: center;
	font-size: 2.0rem;
	color: #2e2e2e;
	padding: 15px 0 13px;
	box-sizing: border-box;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

#main .guide section {
	margin: 27px 0 25px;
}
#main .guide section h2 {
	font-size: 1.4rem;
	line-height: 2.15;
}

#main .guide section h4 {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 2.0;
}
#main .guide section h5 {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2.0;
}

#main .guide section p {
	font-size: 1.2rem;
	line-height: 2.0;
}

#main .guide .bule_tx p {
	font-size: 1.2rem;
	line-height: 2.0;
}
#main .guide .bule_tx p a {
	color: #82ade9;
	text-decoration: none;
}


/*-- guide_table --*/ 

#main .guide p.guide_line6 {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 10px;
}
#main .guide table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

#main .guide table tbody tr td {
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px 0;
	font-size: 1.3rem;
	color: #2e2e2e;
}
#main .guide table tbody .table_top,
#main .guide table tbody .table_left {
	background-color: #f1f7ff;
}
#main .guide table tbody .table_mid {
	background-color: #fff;
}
#main .guide table tbody .table_bottom {
	background-color: #e9e9e9;
}
#main .guide .table1 tbody tr td:nth-child(1) {
	width: 63.88%;
}
#main .guide .table1 tbody tr td:nth-child(2) {
	width: 15.78%;
}
#main .guide table tbody .table_left {
	width: 28.53%;
}
#main .guide table tbody .table_right {
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
#main .guide table tbody .table_right p {
	line-height: 2.4;
	padding: 10px 0 10px 3px;
	color: #000;
}
#main .guide table tbody span.red {
	color: #ff0000;
}
#main .guide p.caution {
	margin-bottom: 85px;
}
#main .guide section p.about_style {
	font-weight: bold;
}
#main .guide section p a {
	color: #82ade9;
}


/*-- guide .sin_btn --*/

#main .guide .sin_btn {
	margin-bottom: 62px;
}
#main .guide .sin_btn a {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 40.40%;
	padding: 12px;
	font-size: 1.4rem;
	color: #2e2e2e;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
}

#main .guide .sin_btn a:hover {
	text-decoration: none;
	color: #fff;
	background: #a3a3a3;
}
#main .guide .sin_btn a:before {
	position: absolute;
	top: 16px;
	right: 25px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}



/* ----------------------
   column
---------------------- */

#main #column {
	width: 792px;
	margin: 0 auto;
	position: relative;
}
#main #column .col_list {
	width: 792px;
	margin: 0 auto;
}
#main #column p {
	position: absolute;
	top: 9px;
	right: 0;
	width: 112px;
	height: 32px;
}
#main #column p a {
	display: block;
	width: 112px;
	height: 32px;
	border: 1px solid #909090;
	background-color: #fff;
	font-size: 1.3rem;
	color: #2e2e2e;
	padding: 8px 0 11px;
	text-align: center;
	text-decoration: none;
}
#main #column p a:hover{
	color: #fff;
	background: #a3a3a3;
}
#main #column h3 {
	width: 792px;
	margin: 0 0 16px;
	height: 52px;
	text-align: center;
	font-size: 2.0rem;
	color: #2e2e2e;
	padding: 15px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
#main #column .clearfix .box_p {
	width: 378px;
	float: left;
	margin-right: 36px;
	overflow: hidden;
	margin-bottom: 64px;
}
#main #column .clearfix .box_p:nth-child(2n) {
	margin-right: 0;
}

#main #column .clearfix .box_p img,
#main #column .clearfix .box_p dl {
	float: left;
}
#main #column .clearfix .box_p a {
	position: relative;
}

#main #column .clearfix .box_p a:hover:before {
	position: absolute;
	content: url(../../img/img_clm_over.png);
}


#main #column .clearfix .box_p dl {
	width: 188px;
	margin-left: 23px;
	padding-top: 20px;
}
#main #column .clearfix .box_p dl dt span {
	font-size: 1.1rem;
	color: #2e2e2e;
	display: inline-block;
	padding-bottom: 8px;
	font-weight: normal;
}

#main #column .clearfix .box_p dl dt {
	font-size: 1.4rem;
	font-weight: bold;
	color: #2e2e2e;
	padding-bottom: 10px;
}
#main #column .clearfix .box_p dl dd {
	font-size: 1.1rem;
	color: #6b6b6b;
}
#main #column .sin_btn a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 70%;
	height: 44px;
	padding: 12px;
	font-size: 1.4rem;
	color: #000;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
	font-weight: bold;
	margin-top: 27px;
}
#main #column .sin_btn a:before {
	position: absolute;
	top: 15px;
	right: 25px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}

#main #column .sin_btn a:hover {
	text-decoration: none;
	color: #fff;
	background: #a3a3a3;
}
/* ----------------------
   column_tx
---------------------- */
#main .column_tx {
	width: 640px;
	margin: 43px auto;
}

#main .column_tx p {
	font-size: 1.3rem;
	line-height: 2.46;
	margin-bottom: 30px;
}
#main .column_tx img {
	vertical-align: bottom;
	margin-bottom: 40px;
}
#main .column_tx h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 40px;
}
	

/* ----------------------
   column_bottom_btns
---------------------- */

#main .column_bottom_btns {
	width: 792px;
	margin: 75px auto 64px;
}
#main .column_bottom_btns .wide_btn {
	width: 100%;
	background-color: #f0f0f0;
	border-radius: 10px;
	margin-bottom: 32px;
}
#main .column_bottom_btns .wide_btn a:hover dl,
#main .column_bottom_btns .wide_btn a:hover img{
	opacity: 0.6;
}
#main .column_bottom_btns .wide_btn .left_btn,
#main .column_bottom_btns .wide_btn .right_btn {
	width: 50%;
	padding: 12px;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
}
#main .column_bottom_btns .wide_btn .left_btn {
	background: url(../../img/img_border.png) no-repeat top 8px right;
}
#main .column_bottom_btns .wide_btn .left_btn dl,
#main .column_bottom_btns .wide_btn .left_btn img {
	float: left;
	text-align: left;
}

#main .column_bottom_btns .wide_btn .right_btn dl,
#main .column_bottom_btns .wide_btn .right_btn img {
	float: right;
	text-align: right;
}

#main .column_bottom_btns .wide_btn dl {
	padding: 16px 12px 0;
	font-size: 1.0rem;
	color: #2e2e2e;
	font-weight: bold;
}
#main .column_bottom_btns .wide_btn dl dd {
	font-size: 1.3rem;
	margin-top: 8px;
}

#main .column_bottom_btns .sin_btn a {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 40.40%;
	padding: 12px;
	font-size: 1.4rem;
	color: #2e2e2e;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
}

#main .column_bottom_btns .sin_btn a:hover {
	text-decoration: none;
	color: #fff;
	background: #a3a3a3;
}
#main .column_bottom_btns .sin_btn a:before {
	position: absolute;
	top: 16px;
	right: 25px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}


/* ----------------------
   sec_bt_guide
---------------------- */

#main .sec_bt_guide {
	width: 792px;
	margin: 0 auto;
}

#main .sec_bt_guide p {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	color: #2e2e2e;
}

#main .sec_bt_guide p a {
	display: inline-block;
	margin-left:24px;
	text-decoration: none;
	color: #2e2e2e;
}
#main .sec_bt_guide p a:nth-child(3) {
	margin-right: 24px;
}
#main .sec_bt_guide p a:last-child {
	margin: 0;
}
#main .sec_bt_guide p a span {
	margin: 0 5px;
	font-size: 1.3rem;
}
#main .sec_bt_guide p .active {
	font-weight: bold;
	padding-bottom: 1px;
	border-bottom: 1px solid #2e2e2e;
}
#main .sec_bt_guide p a:hover {
	color: #30da8c;
}

/* ----------------------
   news
---------------------- */
#main #news {
	padding: 0 44px 32px;
}

#main #news dl {
	width: 792px;
	background-color: #f3f3f3;
	padding: 24px 0;
	font-size: 1.1rem;
	overflow: hidden;
	margin: 0
}

#main #news dl dt,
#main #news dl dd {
	float: left;
}

#main #news dl dt {
	margin-left: 31px;
	color: #2e2e2e;
	width: 75px;
	font-weight: bold;
}

#main #news dl dd {
	margin: 0 30px 0 48px;
	color: #2e2e2e;
	width: 608px;
	font-weight: bold;
}

	
/* ----------------------
   products_bx
---------------------- */


#main #products_bx {
	width: 880px;
	padding: 0 28px 36px 28px;
	overflow: hidden;
}

#main #products_bx .box_p {
	width: 412px;
	padding: 0 16px 28px;
	box-sizing: border-box;
	position: relative;
}
#main #products_bx .box_p a {
	text-decoration: none;
}


#main #products_bx dl,
#main #products_bx dl dt,
#main #products_bx dl dd {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#main #products_bx .box_p aside {
	position: absolute;
	height: 26px;
}

#main #products_bx .box_p aside.new section {
	position: relative;
}
#main #products_bx .box_p aside.new section:before {
	position: absolute;
	content: " ";
	background: url(../img/tag_new.png) no-repeat top left;
	width: 48px;
	height: 26px;
	top: 0px;
	right: -55px;
}

#main #products_bx .box_p dl dt{
	padding: 12px 0 8px;
	color: #2e2e2e;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: 0.05em;
}

#main #products_bx .box_p dl dd{
	color: #a3a3a3;
}

#main #products_bx .box_p a:hover .imgover {
	 opacity: 0.6;
}


#main #products_bx .box_p a:hover {
	text-decoration: none;
}
#main #products_bx .box_p a:hover dl dt {
	text-decoration: underline;
}


/* ----------------------
   wide_bx
---------------------- */


#main .wide_bx {
	width: 880px;
	padding: 0 28px;
	overflow: hidden;
}

#main .wide_bx .box_p {
	width: 412px;
	padding: 0 16px 72px;
	box-sizing: border-box;
}

#main .wide_bx .box_p h3 {
	width: 380px;
	height: 52px;
	text-align: center;
	font-size: 2.0rem;
	color: #2e2e2e;
	padding: 15px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 16px;
}
#main .wide_bx .box_p img {
	text-align: center;
	margin-bottom: 15px;
}

#main .wide_bx .box_p .sin_btn a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 279px;
	height: 44px;
	padding: 12px;
	font-size: 1.4rem;
	color: #000;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
}
#main .wide_bx .box_p .sin_btn a:before {
	position: absolute;
	top: 15px;
	right: 25px;
	content: "";
	display:block;
	width: 6px;
	height: 13px;
	background: url(../img/arrow_right_s.png) no-repeat;
}

#main .wide_bx .box_p .sin_btn a:hover {
	text-decoration: none;
	color: #fff;
	background: #a3a3a3;
}

/* ----------------------
   offi_bx
---------------------- */


#main .offi_bx {
	width: 880px;
	padding: 0 40px 40px;
}
#main .offi_bx .clearfix {
	overflow: hidden;
}

#main .offi_bx h3{
	width: 792px;
	margin: 0 4px 16px;
	height: 52px;
	text-align: center;
	font-size: 2.0rem;
	color: #2e2e2e;
	padding: 15px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
#main .offi_bx ul {
	padding-bottom: 28px;
	overflow: hidden;
}
#main .offi_bx ul li{
	width: 200px;
	padding: 0 4px;
	box-sizing: border-box;
	float:left;
}
#main .offi_bx .sin_btn a {
	text-decoration: none;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	font-weight: bold;
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 279px;
	height: 44px;
	padding: 12px;
	font-size: 1.4rem;
	color: #2e2e2e;
	border:1px solid #2e2e2e;
	margin-bottom: 16px;
	position: relative;
}

#main .offi_bx .sin_btn a:hover {
	text-decoration: none;
	color: #fff;
	background: #a3a3a3;
}

#main .offi_bx .inst a:before {
	position: absolute;
	top: 9px;
	right: 37px;
	content: "";
	display:block;
	width: 195px;
	height: 24px;
	background: url(../img/arrow_right_s.png) no-repeat top 6px right,url(../img/icon_instagram.png) no-repeat top  left;
}
#main .offi_bx .inst a:hover:before {
	background: url(../img/arrow_right_s.png) no-repeat top 6px right,url(../img/icon_instagram_over.png) no-repeat top  left;
}

#main .offi_bx .fb a:before {
	position: absolute;
	top: 9px;
	right: 37px;
	content: "";
	display:block;
	width: 195px;
	height: 24px;
	background: url(../img/arrow_right_s.png) no-repeat top 6px right,url(../img/icon_facebook.png) no-repeat top  left;
}
#main .offi_bx .fb a:hover:before {
	background: url(../img/arrow_right_s.png) no-repeat top 6px right,url(../img/icon_facebook_over.png) no-repeat top  left;
}

#main .offi_bx .tw a:before {
	position: absolute;
	top: 9px;
	right: 37px;
	content: "";
	display:block;
	width: 195px;
	height: 24px;
	background: url(../img/arrow_right_s.png) no-repeat top 6px right,url(../img/icon_twitter.png) no-repeat top  left;
}
#main .offi_bx .tw a:hover:before {
	background: url(../img/arrow_right_s.png) no-repeat top 6px right,url(../img/icon_twitter_over.png) no-repeat top  left;
}


/* ----------------------
   bottom_bx
---------------------- */


#main .bottom_bx {
	width: 880px;
	padding: 0 43px 8px;
	overflow: hidden;
}

#main .bottom_bx .box_p {
	float: left;
	width: 395px;
	height: 249px;
	margin: 0 1px 0;
	background-color: #f3f3f3;
	text-align: center;
}

#main .bottom_bx .box_p iframe {
	margin: 33px 0 0 0px;
	box-sizing: border-box;
	background-color: #2e2e2e;
}

#main .bottom_bx .box_p h4 {
	margin: 43px 0 34px;
	font-size: 2.0rem;
	color: #2e2e2e;
}

#main .bottom_bx .box_p p {
	font-size: 1.1rem;
	color: #2e2e2e;
	font-weight: bold;
	line-height: 1.6;
	margin-bottom: 24px;
}
#main .bottom_bx .box_p p span {
	font-size: 1.4rem;
}

#main .bottom_bx .box_p p span a{
	color: #2e2e2e;
}
/* ----------------------
   tabwrap
---------------------- */

#tabwrap { 
}
#tabs li a { 
    float: left; 
    display: block;
    background: #fff;
    padding: 13px;
    color: #000;
	font-weight: bold;
	font-size: 1.3rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid #D8D8D8;
	margin-right: 7px;
}
  
#tabs li a:hover { 
    background: #a3a3a3; 
    color: #fff; 
}
  
#tabs li.current a { 
    background: #a3a3a3; 
    color: #fff; 
}
  
#content > div {
    clear: both;
    padding: 20px 0;
    line-height: 19px;
    color: #666;
    display: none;
}
  
#content .current { display: block; }
#content #home.first { display: block; }

#content p { 
	margin: 0 0 23px 0;
	text-align: right;
}
#content p a {
	display: inline-block;
	font-size: 1.1rem;
	color: #2e2e2e;
	text-decoration: none;
	box-sizing: border-box;
	padding-bottom: 1px;
	margin: 0 10px;
}
#content p a:last-child {
	margin-right: 0;
}
#content p a:hover {
	font-weight: bold;
	border-bottom: 1px solid #000;
}

/*-- content_bx --*/
#content .content_bx {
	margin-bottom: 0;
}

#content .content_bx ul {
	margin-bottom: 0;
}

#content .content_bx ul li {
	float:left;
	width: 180px;
	margin-right: 24px;
	margin-bottom: 30px;
}
#content .content_bx ul li:nth-child(4n) {
	margin-right: 0;
}

#content .content_bx ul li a {
	display: block;
	position: relative;
	padding: 0;
	margin-bottom: 15px;
}
#content .content_bx ul li a img{
	vertical-align: bottom;
}
#content .content_bx ul li a:hover:before {
	position: absolute;
	content: url(../../img/img_tag_over.png);
}

#content .content_bx ul li dl dt {
	line-height: 1.38;
	font-size: 1.3rem;
	color: #000;
	font-weight: bold;
	margin-bottom: 4px;
}
#content .content_bx ul li dl dd {
	font-size: 0.9rem;
	color: #6b6b6b;
	margin-bottom: 7px;
}
#content .content_bx ul li p {
	line-height: 1.2;
	font-size: 1.0rem;
	font-weight: bold;
	color: #383838;
	text-align: left;
	margin-bottom: 3px;
}
#content .content_bx ul li p span{
	font-size: 1.2rem;
}
#content .content_bx ul li aside {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#content .content_bx ul li aside select {
	margin-top: 10px;
	border: 1px solid #2e2e2e;
	border-radius: 3px;
	font-size: 1.2rem;
	color: #000;
	float: left;
}
#content .content_bx ul li aside a {
	display: inline-block;
	padding: 7px 10px 8px;
	margin-top: 5px;
	font-size: 1.1rem;
	font-weight: bold;
	color: #fff;
	background-color: #2e2e2e;
	text-decoration: none;
	float: right;
}
#content .content_bx ul li aside a:hover {
	opacity: 0.6;
}
#content .content_bx ul li aside a:hover:before {
	content: normal;
}

/***********おすすめリストページ***********/

#main .recommend_title {
  font-size: 10px;
  color: #999;    
}

#main .recommend:after{
  /*クリアフィックス*/
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;  
    clear: both; 
    visibility:hidden;
}

#main .recommend {
  background-color: #F6F6F6;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #333;
}

/*カラム数設定*/
#main .type1 .recommend .listItem {
  width: 20%;
}
#main .type2 .recommend .listItem {
  width: 25%;
}
#main .type3 .recommend .listItem {
  width: 50%;
}


#main .recommend .listItem {
  float: left;
  /*margin-bottom: 10px;*/
  position: relative;
  margin-top: 10px;
  width: 20%;
}


#main .type1 .recommend .listItem.leftside .itemInfo {
  margin-left: 0px;
  margin-right: 8px;
  
}
#main .type1 .recommend .listItem.middle3 .itemInfo {
  margin-left: 2px;
  margin-right: 5px;
}
#main .type1 .recommend .listItem.middle2 .itemInfo {
  margin-left: 5px;
  margin-right: 5px;
}
#main .type1 .recommend .listItem.middle1 .itemInfo {
  margin-left: 5px;
  margin-right: 2px;
}
.type1 .recommend .listItem.rightside .itemInfo {
  margin-left: 8px;
  margin-right: 0px;
}

#main .type2 .recommend .listItem.leftside .itemInfo {
  margin-left: 0px;
  margin-right: 8px;
}
#main .type2 .recommend .listItem.middle2 .itemInfo {
  margin-left: 2px;
  margin-right: 5px;
}
#main .type2 .recommend .listItem.middle1 .itemInfo {
  margin-left: 5px;
  margin-right: 2px;
}
#main .type2 .recommend .listItem.rightside .itemInfo {
  margin-left: 8px;
  margin-right: 0px;
}

#main .type3 .recommend .listItem.leftside .itemInfo {
  margin-left: 0px;
  margin-right: 5px;
}
#main .type3 .recommend .listItem.rightside .itemInfo {
  margin-left: 5px;
  margin-right: 0px;
}


#main .recommend .listItem.rightside {
  margin-right: 0px;
}
#main .recommend .listItem .itemInfo img {
  width: 100%;
}
#main .recommend .listItem .itemInfo a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  border: 1px solid #F6F6F6;
}
#main .recommend .listItem .itemInfo a:hover {
  border: 1px solid #66A0E4;
}

/*サムネイル*/
#main .recommend .itemInfo .thumbnail img{
  width: 100%;
}
#main .recommend .itemInfo .thumbnail{
  margin-bottom: 10px;
}
/*商品名*/
#main .recommend .itemInfo .itemName{
  color: #000;
  font-size: 11px;
  font-weight: bold;
  line-height: 130%;
  padding-bottom: 5px;
}
/*キャッチコピー*/
#main .recommend .itemInfo .cap{
  color: #333;
  font-size: 11px;
  line-height: 130%;
  padding-bottom: 5px;
}
/*価格*/
#main .recommend .itemInfo .price{
  color: #333;
  font-size: 11px;
  line-height: 120%;
}