@charset "UTF-8";
.pc_contents {
  display: block;
}

@media (max-width: 768px) {
  .pc_contents {
    display: none;
  }
}

.sp_contents {
  display: none;
}

@media (max-width: 768px) {
  .sp_contents {
    display: block;
  }
}

html {
  font-size: calc(100vw / 12.8);
}

@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 3.75);
  }
}

#yamamotominako .breadArea ul {
  width: 1020px;
  margin: 20px auto 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.yamamotominako div {
  text-align: left;
}

.yamamotominako img {
  vertical-align: top;
}

.yamamotominako__bk {
  overflow-x: hidden;
}

.yamamotominako__simplisseCeoinner {
  width: 900px;
  margin: 39px auto 80px;
  position: relative;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner {
    width: 89.3%;
  }
}

.yamamotominako__simplisseCeoinner::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 9999px;
  height: 522px;
  left: -100%;
  top: 256px;
  background: #F1F8FD;
  z-index: -10000;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner::before {
    top: 231px;
    height: 81%;
  }
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner {
    width: 89.3%;
  }
}

.yamamotominako__simplisseCeoinner .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner .flex {
    display: block;
  }
}

.yamamotominako__simplisseCeoinner--seoBox {
  width: 370px;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner--seoBox {
    width: 100%;
  }
}

.yamamotominako__simplisseCeoinner--seoBox .pic img {
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner--seoBox .pic img {
    margin-bottom: 24px;
  }
}

.yamamotominako__simplisseCeoinner--exBox {
  width: 486px;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner--exBox {
    width: 100%;
  }
}

.yamamotominako__simplisseCeoinner--exBox .title {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 1.66;
  text-align: left;
  color: #222;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner--exBox .title {
    font-size: .24rem;
  }
}

.yamamotominako__simplisseCeoinner--exBox .title span {
  display: block;
}

.yamamotominako__simplisseCeoinner--exBox .explain p {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 2.1;
  text-align: left;
  color: #222;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner--exBox .explain p {
    font-size: .14rem;
  }
}

.yamamotominako__simplisseCeoinner .personalEx {
  width: 370px;
  position: absolute;
  top: 528px;
}

.yamamotominako__simplisseCeoinner .personalEx::before {
  position: absolute;
  content: "";
  display: inline-block;
  background: url(../images/sign-r.png) no-repeat;
  background-size: cover;
  width: 168px;
  height: 91px;
  bottom: -170px;
  right: -650px;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner .personalEx::before {
    width: 100px;
    height: 54px;
    bottom: 4.5%;
    right: 0;
  }
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner .personalEx {
    width: 100%;
    position: static;
  }
}

.yamamotominako__simplisseCeoinner .personalEx .names {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.08em;
  line-height: 3;
  text-align: left;
  color: #222;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner .personalEx .names {
    font-size: .10rem;
  }
}

.yamamotominako__simplisseCeoinner .personalEx .names span {
  display: block;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック M", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.18em;
  line-height: 1.66;
  text-align: left;
  color: #222;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner .personalEx .names span {
    font-size: .18rem;
  }
}

.yamamotominako__simplisseCeoinner .personalEx .license {
  margin-bottom: 8px;
}

.yamamotominako__simplisseCeoinner .personalEx .license span {
  display: block;
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.08em;
  line-height: 1.8;
  text-align: left;
  color: #222;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner .personalEx .license span {
    font-size: .10rem;
  }
}

.yamamotominako__simplisseCeoinner .personalEx .text {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.08em;
  line-height: 1.8;
  text-align: left;
  color: #222;
}

@media (max-width: 768px) {
  .yamamotominako__simplisseCeoinner .personalEx .text {
    font-size: .10rem;
  }
}

.yamamotominako__Careerinner {
  width: 910px;
  margin: 0 auto 40.5px;
}

@media (max-width: 768px) {
  .yamamotominako__Careerinner {
    width: 89.3%;
  }
}

.yamamotominako__Careerinner--picBox {
  width: 910px;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .yamamotominako__Careerinner--picBox {
    width: 100%;
    display: block;
  }
}

.yamamotominako__Careerinner--picBox .pic img {
  width: 445px;
}

@media (max-width: 768px) {
  .yamamotominako__Careerinner--picBox .pic img {
    width: 100%;
  }
  .yamamotominako__Careerinner--picBox .pic img:nth-child(1) {
    margin-bottom: 10px;
  }
}

.yamamotominako__Careerinner--carrerEx {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.08em;
  line-height: 2;
  text-align: left;
  color: #222;
}

@media (max-width: 768px) {
  .yamamotominako__Careerinner--carrerEx {
    font-size: .12rem;
  }
}

.yamamotominako__publishingBooksinner {
  width: 910px;
  margin: 0 auto 121.5px;
  border-top: solid 1px #CCCCCC;
  border-bottom: solid 1px #CCCCCC;
}

@media (max-width: 768px) {
  .yamamotominako__publishingBooksinner {
    width: 89.3%;
    margin: 0 auto 81.5px;
  }
}

.yamamotominako__publishingBooksinner--title {
  margin: 40.5px auto 39.5px;
}

.yamamotominako__publishingBooksinner--title p {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.08em;
  line-height: 2;
  text-align: left;
  color: #222;
}

@media (max-width: 768px) {
  .yamamotominako__publishingBooksinner--title p {
    font-size: .12rem;
  }
}

.yamamotominako__aboutUsinner {
  width: 910px;
  margin: 0 auto 40.5px;
}

@media (max-width: 768px) {
  .yamamotominako__aboutUsinner {
    width: 89.3%;
  }
}

.yamamotominako__aboutUsinner--aboutUs {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: 0.04em;
  line-height: 1.38;
  text-align: left;
  color: #222;
  margin-bottom: 39.5px;
}

@media (max-width: 768px) {
  .yamamotominako__aboutUsinner--aboutUs {
    font-size: .20rem;
  }
}

.yamamotominako__aboutUsinner--aboutUs span {
  display: block;
  font-weight: 600;
}

.yamamotominako__aboutUsinner--itemTable {
  width: 910px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .yamamotominako__aboutUsinner--itemTable {
    width: 100%;
    display: block;
  }
}

.yamamotominako__aboutUsinner--itemTable dt {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 2.85;
  text-align: left;
  color: #222;
  width: 220px;
  border-top: solid 1px #CCCCCC;
  padding: 40.5px 0 109.5px 6px;
}

@media (max-width: 768px) {
  .yamamotominako__aboutUsinner--itemTable dt {
    font-size: .14rem;
    width: 100%;
    padding: 40.5px 0 32px 6px;
  }
}

.yamamotominako__aboutUsinner--itemTable dd {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック M", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 2;
  text-align: left;
  color: #222;
  width: 670px;
  border-top: solid 1px #CCCCCC;
  padding: 40.5px 0 43.5px 0;
  position: relative;
}

@media (max-width: 768px) {
  .yamamotominako__aboutUsinner--itemTable dd {
    font-size: .20rem;
    border-top: none;
    width: 100%;
    padding: 0 0 43.5px 0;
  }
}

.yamamotominako__aboutUsinner--itemTable dd p {
  font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", "TBゴシック SL", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 2;
  text-align: left;
  color: #222;
}

.yamamotominako__aboutUsinner--itemTable dd .arrow {
  position: absolute;
  right: 0;
  bottom: 0;
}

.yamamotominako__aboutUsinner--itemTable dd .arrow img {
  width: 30px;
  margin-bottom: 24.3px;
}

.hide {
  opacity: 0.5;
  line-height: 2;
}

.hide a {
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */