// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

$Sp-maxWidth : 89.3%;

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}

// bread

#brandConcept {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

/* .brandConcept {
    div {
        text-align: center;
    }
    img {
        vertical-align:top;
    }
} */

.brandConcept {
    position: relative;
    overflow: hidden;
    &__concept {
        &--title {
            font-family: $en;
            font-weight: normal;
            font-size: 30px;
            margin: 80px auto 79px;
            letter-spacing: 0.27em;
            line-height: 1.06;
            text-align: center;
            color: #222;
            @include bp768(){
                font-size: .20rem;
                margin: 40px auto 40.5px;

            }
        }
    }

    &__conceptCointainerArea {
        position: relative;
        width: 910px;
        margin: 0 auto 80px;
        padding-bottom: 80px;
        @include bp768(){
            width: 100%;
            margin: 0 auto 40px;
            padding-bottom: 40px;
        }
        &--img {
            img {
                width: 455px;
                vertical-align:top;
                @include bp768(){
                    width: 100%;
                }
            }
        }
        &--title {
            position: absolute;
            top: 80px;
            left: 415px;
            @include bp768(){
                position: static;
                width: $Sp-maxWidth;
                margin: -40px auto 32px;
            }
            span {
                display: block;
                font-family: $en;
                font-weight: 300;
                font-size: 40px;
                letter-spacing: 0.04em;
                line-height: 1.5;
                text-align: left;
                color: #222;
                @include bp768(){
                    font-size: .28rem;
                }
            }
        }
        &--text {
            position: absolute;
            top: 340px;
            left: 496px;
            @include bp768(){
                position: static;
                width: $Sp-maxWidth;
                margin: 0 auto;
            }
            p {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.08em;
                line-height: 2;
                text-align: left;
                color: #222;
                @include bp768(){
                    font-size: .14rem;
                }

                &:nth-child(1){
                    margin-bottom: 34px;
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 9999px;
            height: 479px;
            left: 207px;
            background: #F1F8FD;
            bottom: 0;
            right: 0;
            z-index: -9999;
            @include bp768(){
                left: 0px;
                height: 589px;
            }
        }
    }
}

.brandConcept {
    &__productCointainerArea {
        width: 910px;
        margin: 0 auto 120px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
        @include bp768(){
            width: $Sp-maxWidth;
            display: block;
            margin: 0 auto 80px;
            padding-bottom: 0px;
        }

        &--img {
            img {
                width: 455px;
                @include bp768(){
                    width: 100%;
                }
            }
        }
        &--content {
            .feture {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2.85;
                text-align: left;
                color: #222;
                margin-bottom: 24px;
                @include bp768(){
                    font-size: .14rem;
                }
            }
            .title {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 24px;
                letter-spacing: 0.04em;
                line-height: 1.66;
                text-align: left;
                color: #222;
                margin-bottom: 40px;
                @include bp768(){
                    font-size: .24rem;
                    margin-bottom: 32px;
                }
            }
            .text {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.08em;
                line-height: 2;
                text-align: left;
                color: #222;
                @include bp768(){
                    font-size: .14rem;
                    padding-bottom: 40px;
                }

            }
        }

        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 5555px;
            height: 382px;
            background: #F2FAF1;
            bottom: 0;
            left: -538%;
            z-index: -9999;
            @include bp768(){
                left: -10%;
                height: 711px;
            }
            
        }
    }
}

.brandConcept {
    &__holidicalCointainerArea {
        width: 910px;
        margin: 0 auto 121.5px;
        border-bottom: solid 1px #CCCCCC;
        @include bp768 {
            width: $Sp-maxWidth;
            margin: 0 auto 80.5px;
        }

        &--text {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 0.04em;
            line-height: 1.6;
            text-align: center;
            color: #222;
            margin: 0 auto 40px;
            @include bp768(){
                font-size: .16rem;
            }
        }
        &--img {
            
            img {
                width: 800px;
                margin: 0 auto 80.5px;
                display: block;
                @include bp768(){
                    width: 100%;
                }
            }
        }
    }
}




.brandConcept {

    &__aboutUsinner {
        width: 910px;
        margin: 0 auto 40.5px;
        @include bp768 {
            width: $Sp-maxWidth;
        }

        &--aboutUs {
            font-family: $en;
            font-weight: 300;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 1.38;
            text-align: left;
            color: #222;
            margin-bottom: 39.5px;
            @include bp768 {
                font-size: .20rem;
            }

            span {
                display: block;
                font-weight: 500;
            }
        }

        &--itemTable {
            width: 910px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include bp768 {
                width: 100%;
                display: block;
            }

            dt {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2.85;
                text-align: left;
                color: #222;
                width: 220px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 109.5px 6px;
                @include bp768 {
                    font-size: .14rem;
                    width: 100%;
                    padding: 40.5px 0 32px 6px;
                }



            }
            dd {
                font-family:$jaMid;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: left;
                color: #222;
                width: 670px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 43.5px 0;
                position: relative;
                @include bp768 {
                    font-size: .20rem;
                    border-top: none;
                    width: 100%;
                    padding: 0 0 43.5px 0;
                }


                p {
                    font-family: $en;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.08em;
                    line-height: 2;
                    text-align: left;
                    color: #222;

                }

                .arrow {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    img {
                        width: 30px;
                        margin-bottom: 24.3px;
                    }
                }
            }
        }
    }
}
