﻿<%--
=========================================================================================================
  Module      : Amazon Payウィジェットコールバック画面(AmazonPayWidgetCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" masterpagefile="~/Form/User/Amazon/AmazonPayCallbackPage.master" inherits="Form_User_Amazon_AmazonPayWidgetCallback, App_Web_amazonpaywidgetcallback.aspx.9acd16a5" %>