﻿<%--
=========================================================================================================
  Module      : Amazon 連携コールバック画面(CooperationCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" masterpagefile="~/Form/User/Amazon/AmazonPayCallbackPage.master" inherits="Form_User_Amazon_CooperationCallback, App_Web_cooperationcallback.aspx.9acd16a5" %>