﻿<%--
=========================================================================================================
  Module      : Amazon ログインコールバック画面(LoginCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" masterpagefile="~/Form/User/Amazon/AmazonPayCallbackPage.master" inherits="Form_User_Amazon_LoginCallback, App_Web_logincallback.aspx.9acd16a5" %>