﻿<%--
=========================================================================================================
  Module      : Amazon かんたん会員登録コールバック画面(UserEasyRegisterCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" masterpagefile="~/Form/User/Amazon/AmazonPayCallbackPage.master" inherits="Form_User_Amazon_UserEasyRegisterCallback, App_Web_usereasyregistercallback.aspx.9acd16a5" %>
