<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="../css/style.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
    <!----->
    <section class="listBrandsArea info">
        <div class="info__title">
            <h2>
                【重要】パスワード再設定のお願い
            </h2>
            <p class="info__title--date">
                2021.01.28
            </p>
            <div class="block">
                <p class="block--content">
                    いつもシンプリスオンラインストアをご利用いただき誠にありがとうございます。<br>
                    2021年1月28日、 オンラインストア リニューアルに伴い、お客様のログインパスワードがリセットされます。<br>
                    誠に恐れ入りますが、リニューアル後、初めてご利用いただく際には、パスワードの再設定をお願いいたします。<br>
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    パスワード再設定の手順
                </p>
                <p class="block--content">
                    下記「パスワード再設定」ページへアクセスし、ご登録時のメールアドレスを入力してください。
                    <a href="https://www.simplisse.jp/Form/User/PasswordReminderInput.aspx">https://www.simplisse.jp/Form/User/PasswordReminderInput.aspx</a>
                </p>
            </div>

            <div class="block">
                <p class="block--content">
                    ▼
                    パスワード再設定用のURLを掲載したメールが届きます。                    
                </p>
                <p class="block--content">
                    ▼
                    URLよりアクセスし、新パスワードを設定してください。設定完了の画面が表示されたら完了です。                                      
                </p>
                <p class="block--content">
                    お手数をおかけいたしますが、ご理解のほど何卒宜しくお願い申し上げます。                                  
                </p>
            </div>
            <div class="block">
                <p class="block--content">
                    SIMPLISSE Online Store
                </p>
                <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Form/Inquiry/InquiryInput.aspx") %>">
                    <p class="block--content formTitle">
                        お問い合わせフォーム
                    </p>
                </a>
                <p class="formTitle__tel">
                    <span>
                        0120-370-063
                    </span>
                    （通話料無料）
                </p>
                <p class="formTitle__detail">
                    <span>
                        10:00-12:00 / 13:30-16:00 土日・祝日は休業
                    </span>
                    <span>
                        （通常は 10:00-12:00 / 13:30-17:00）
                    </span>
                </p>
            </div>

        </div>

    </section>
    <!----->
    <script>
        $(function() {
            $('#anker a').click(function() {
            var speed = 500;
            var href = $(this).attr("href");
            var target = $(href == "#" || href == "" ? 'html' : href);

            if ($(window).width() > 768) {
            var position = target.offset().top - 50;
            } else {
            var position = target.offset().top - 100;
            }
            $("html, .shopList").animate({
            scrollTop: position
            }, speed, "swing");
            return false;
        });
        })
    </script>
</body>
</html>