/*====================================================================
*    mixin
/*==================================================================*/

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
  @media (min-width: ($bp1281)) {
    @content;
  }
}

$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}

$bp1024: 1024px;

@mixin bp1024 {
  @media (max-width: ($bp1024)) {
    @content;
  }
}

$bp930: 930px;

@mixin bp930 {
  @media (max-width: ($bp930)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

html{
  font-size: calc(100vw / 12.8);

  @include bp768 {
      font-size: calc(100vw / 3.75);
  };
}

/*====================================================================
*    mypage
/*==================================================================*/
#dvUserMenu{
  display: none;
}

#mypage{
  width: 100%;
  max-width: 1020px;
  margin: 0 auto 40px;
  position: relative;
                
  @include bp768 {
    width: 100%;
    margin: 0 auto;
  };

  /*====================================================================
  *    mypage COMMON
  /*==================================================================*/
  h2{
    font-size: .26rem;
    line-height: 1;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    margin-top: 60px;

    @include bp1281 {
      font-size: 26px;
    };
                
    @include bp768 {
      width: 89.33%;
      line-height: 1.46;
      margin: 25px auto 0;
    };
  }

  .breadArea{
    @include bp768 {
      margin-top: 40px;
    };
  }
  .mypageBox{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 40px;

    @include bp768 {
      display: block;
      margin-top: 20px;
    };

    &_menu{
      width: 21.57%;

      @include bp768 {
        width: 100%;
      };

      h4{
        font-size: .14rem;
        line-height: 1;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        border-bottom: 1px solid #161616;
        padding-bottom: 8px;
    
        @include bp1281 {
          font-size: 14px;
        };

        @include bp768 {
          padding: 0 20px 8px;
        };
      }

      &--list{
        padding: 20px 0;
        border-bottom: 1px solid #E3E3E3;

        @include bp768 {
          padding: 16px 20px;
        };

        h5{
          font-size: .14rem;
          line-height: 1;
          letter-spacing: 0.02em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      
          @include bp1281 {
            font-size: 14px;
          };

          a{
            font-size: .14rem;
            line-height: 1;
            letter-spacing: 0.02em;
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        
            @include bp1281 {
              font-size: 14px;
            };
          }
        }

        ul{
          margin: 18px 0 0 8px;

          li{
            a{
              font-size: .13rem;
              line-height: 1;
              letter-spacing: 0.02em;
              font-weight: 300;
          
              @include bp1281 {
                font-size: 13px;
              };
            }

            &:nth-child(n + 2){
              margin-top: 16px;
          
              @include bp768 {
                margin-top: 12px;
              };
            }
          }
        }
      }
    }

    &_cts{
      width: 74.51%;

      @include bp768 {
        width: 100%;
        margin-bottom: 40px;
      };

      .leadTxt{
        font-size: .14rem;
        line-height: 2;
        letter-spacing: 0.02em;
        font-weight: 300;
        margin-bottom: 8px;
    
        @include bp1281 {
          font-size: 14px;
        };

        @include bp768 {
          padding: 0 20px;
        };

        span{
          font-size: .14rem;
          line-height: 1;
          letter-spacing: 0.02em;
          font-weight: 300;
      
          @include bp1281 {
            font-size: 14px;
          };
        }
      }
    }
  }

  input{
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    background: #fff;
    line-height: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: .14rem;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 300;

    @include bp1281 {
      font-size: 14px;
    };

    &[type="text"]:disabled{
      -webkit-text-fill-color: #222;
      opacity: 1;
    }
  }

  textarea {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    background: #fff;
    font-size: .14rem;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 300;

    @include bp1281 {
      font-size: 14px;
    };
  }

  select {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    background-image: url(../../../Contents/ImagesPkg/commons/icn_select.svg);
    background-repeat: no-repeat;
    background-position: right 17px top 20px;
    background-size: 7.29px 4px;
    cursor: pointer;
    line-height: 1;
    box-sizing: border-box;
    font-size: .14rem;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #222;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-weight: 300;

    @include bp1281 {
      font-size: 14px;
    };
  }

  input, select, textarea{
    padding: 13px 15px;
    letter-spacing: 0.02em;
    border: 1px solid #BFBFBF;
    border-radius: 1px;
    width: 100%;
  }

  .radioBtn input{
    display: none;
  }

  .radioBtn input + label{
    padding: 3px 0 0 28px;
    vertical-align: middle;
    position: relative;
    margin-right: 40px;
    cursor: pointer;
    font-size: .12rem;
    white-space: nowrap;
    font-weight: 500;
    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

    @include bp1281 {
      font-size: 12px;
    };

    @include bp768 {
      padding: 3px 0 0 26px;
      margin-right: 40px;
    };

    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #BFBFBF;
      border-radius: 50%;
      background: #fff;
      box-sizing: border-box;
    }
  }

  .radioBtn.radioBtnBlock input + label{
    display: block;
    margin-top: 10px;
  }

  .radioBtn input:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #222;
    border-radius: 50%;
  }

  .radioBtn input:checked + label.on::after{
    content: "";
  }

  .radioBtn.radioBtnTeiki input + label::before{
    top: 18px;
  }

  .radioBtn.radioBtnTeiki input + label::after{
    top: 22px;
  }

  /*====================================================================
  *    mypage TOP
  /*==================================================================*/
  .topMain{
    background-color: #F1F8FD;
    padding: 30px 40px;
    margin: 16px 0 40px;
                
    @include bp768 {
      padding: 30px 20px;
      margin: 16px 0 40px;
    };

    h3{
      font-size: .18rem;
      line-height: 1;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      margin-bottom: 20px;
  
      @include bp1281 {
        font-size: 18px;
      };
    }

    &_rank{
      margin-bottom: 12px;
                
      @include bp768 {
        margin-bottom: 15px;
      };

      p{
        font-size: .14rem;
        line-height: 1;
        letter-spacing: 0.02em;
        font-weight: 300;
    
        @include bp1281 {
          font-size: 14px;
        };
      }
    }
  }

  .topIndex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
                
    @include bp768 {
      display: block;
    };

    &_list{
      width: 49.02%;
      border-top: 1px solid #E3E3E3;
      padding: 25px 0;
      display: flex;
                
      @include bp768 {
        width: 100%;
        border-top: 1px solid #E3E3E3;
        justify-content: space-between;
      };

      &:nth-last-child(-n + 2){
        border-bottom: 1px solid #E3E3E3;
                
        @include bp768 {
          border-bottom: none;
        };
      }

      &:last-child{
        @include bp768 {
          border-bottom: 1px solid #E3E3E3;
        };
      }

      &--pic{
        width: 11%;
        margin-right: 3%;

        @include bp768 {
          width: 14.67%;
          margin-right: 0;
          margin-left: 20px;
        };
      }

      &--txt{
        width: 86%;

        @include bp768 {
          width: 70.67%;
          margin-right: 20px;
        };

        p{
          font-size: .16rem;
          line-height: 1;
          letter-spacing: 0.02em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      
          @include bp1281 {
            font-size: 16px;
          };

          span{
            font-size: .13rem;
            line-height: 2;
            letter-spacing: 0.02em;
            font-weight: 300;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            display: block;
            margin-top: 8px;
        
            @include bp1281 {
              font-size: 13px;
            };
          }
        }
      }
    }
  }

  /*====================================================================
  *    mypage FAVO
  /*==================================================================*/
  .favoBox{
    border-top: 1px solid #E3E3E3;

    &_list{
      position: relative;
      padding: 16px 0 10px;
      border-bottom: 1px solid #E3E3E3;

      @include bp768 {
        padding: 16px 20px 20px;
      };

      dl{
        display: flex;
        align-items: center;
        justify-content: space-between;

        dt{
          width: 32.89%;

          @include bp768 {
            width: 41.79%;
          };
        }
  
        dd{
          width: 61.32%;
          margin-right: 2.63%;

          @include bp768 {
            width: 51.04%;
            margin-right: 0;
          };
  
          .itemName{
            font-size: .14rem;
            line-height: 1.71;
            letter-spacing: 0.04em;
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        
            @include bp1281 {
              font-size: 14px;
            };
          }
        }
      }

      .btnArea{
        position: absolute;
        bottom: 10px;
        right: 20px;
        display: flex;
        align-items: center;

        @include bp768 {
          position: inherit;
          bottom: inherit;
          right: inherit;
          display: block;
          width: 51.94%;
          margin-left: auto;
        };
  
        &_detail{
          width: 214px;
          height: 50px;
          font-size: .13rem;
          line-height: 50px;
          letter-spacing: 0.03em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          background-color: #367ECD;
          text-align: center;
          color: #fff;
          border-radius: 2px;
          margin-right: 16px;
      
          @include bp1281 {
            font-size: 13px;
          };

          @include bp768 {
            width: 100%;
            margin: 0 0 10px;
          };
        }
  
        &_delete{
          font-size: .13rem;
          line-height: 1;
          letter-spacing: 0.04em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          text-decoration: underline;
      
          @include bp1281 {
            font-size: 13px;
          };

          @include bp768 {
            text-align: right;
          };
        }
      }
    }
  }

  /*====================================================================
  *    mypage COUPON
  /*==================================================================*/
  .couponArea{
    @include bp768 {
      width: 89.33%;
      margin: 0 auto 80px;
    };

    &_th{
      display: flex;

      @include bp768 {
        display: none;
      };

      &--list{
        height: 52px;
        background-color: #F1F8FD;

        p{
          text-align: center;
          line-height: 52px;
          font-size: .14rem;
          letter-spacing: 0.02em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      
          @include bp1281 {
            font-size: 14px;
          };
        }

        &:nth-child(1){
          width: 19.74%;
        }

        &:nth-child(2){
          width: 23.68%;
        }

        &:nth-child(3){
          width: 17.11%;
        }

        &:nth-child(4){
          width: 15.79%;
        }

        &:nth-child(5){
          width: 23.68%;
        }
      }
    }

    &_td{
      display: flex;
      flex-wrap: wrap;
      border-left: 1px solid #E3E3E3;
      border-right: 1px solid #E3E3E3;
      border-bottom: 1px solid #E3E3E3;

      @include bp768 {
        display: block;
        border-left: none;
        border-right: none;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
      };

      &::after{
        @include bp768 {
          content: "";
          position: absolute;
          top: 0;
          bottom: 20px;
          background-color: #F1F8FD;
          width: 41.79%;
        };
      }

      &:last-child{
        @include bp768 {
          margin-bottom: 0;
        };
      }

      &--list{
        padding: 23px 0;

        @include bp768 {
          padding: 0;
          display: flex;
          align-items: center;
        };

        .spTtl{
          display: none;

          @include bp768 {
            display: block;
            width: 41.79%;
            background-color: #F1F8FD;
            padding: 15px 0;
            position: relative;
            z-index: 2;
          };

          p{
            @include bp768 {
              display: block;
              text-align: center;
              line-height: 1;
              font-size: .14rem;
              letter-spacing: 0.02em;
              font-weight: 500;
              font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            };
          }
        }

        .couponTxt{
          text-align: center;
          line-height: 1.54;
          font-size: .13rem;
          letter-spacing: 0.02em;
          font-weight: 300;
          word-break: break-word;
      
          @include bp1281 {
            font-size: 13px;
          };

          @include bp768 {
            width: 58.21%;
          };
        }

        .descTxt{
          line-height: 1.54;
          font-size: .13rem;
          letter-spacing: 0.02em;
          font-weight: 300;
          word-break: break-word;
          color: #666666;
      
          @include bp1281 {
            font-size: 13px;
          };
        }

        &:nth-child(1){
          width: 19.74%;

          @include bp768 {
            width: 100%;
          };
        }

        &:nth-child(2){
          width: 23.68%;

          @include bp768 {
            width: 100%;
          };
        }

        &:nth-child(3){
          width: 17.11%;

          @include bp768 {
            width: 100%;
          };
        }

        &:nth-child(4){
          width: 15.79%;

          @include bp768 {
            width: 100%;
          };
        }

        &:nth-child(5){
          width: 23.68%;

          @include bp768 {
            width: 100%;
          };
        }

        &:nth-child(6){
          width: 100%;
          padding: 0 20px 23px;

          @include bp768 {
            padding: 15px 0 0;
            position: relative;
            z-index: 2;
            background-color: #fff;
          };
        }
      }
    }
  }

  /*====================================================================
  *    mypage MODIFY
  /*==================================================================*/
  .cartInput{
    border: 1px solid #E3E3E3;
    padding-bottom: 40px;
    position: relative;
        
    @include bp768 {
      width: 94.67%;
      margin: 0 auto;
    };

    &.pdg{
      padding-top: 30px;
    }

    .icnKome{
      display: inline;
      color: #F65573;
    }

    dt{
      background-color: #F1F8FD;
      height: 52px;
      font-size: .14rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 52px;
      margin-bottom: 20px;
      padding-left: 20px;

      @include bp1281 {
        font-size: 14px;
      };
        
      @include bp768 {
        margin-bottom: 15px;
      };
    }

    dd{
      margin: 0 20px 24px;
      width: 58.16%;
        
      @include bp768 {
        width: 88.45%;
        margin: 0 auto 24px;
      };

      &:last-child{
        margin-bottom: 0;

        &.mrg{
          margin-bottom: 24px;
        }
      }

      .nameFlex{
        display: flex;
        justify-content: space-between;

        &_list{
          width: 47.29%;
        
          @include bp768 {
            width: 46.18%;
          };

          p{
            font-size: .12rem;
            letter-spacing: 0.02em;
            line-height: 1;
            margin-bottom: 5px;
            font-weight: 300;
      
            @include bp1281 {
              font-size: 12px;
            };
          }
        }
      }

      .birthdayFlex{
        display: flex;
        align-items: center;

        &_year{
          width: 31.67%;
          margin-right: 3.62%;
        
          @include bp768 {
            width: 44.59%;
            margin-right: 5.1%;
          };
        }

        &_month{
          width: 15.84%;
          margin-right: 3.62%;
        
          @include bp768 {
            width: 22.29%;
            margin-right: 5.1%;
          };
        }

        &_day{
          width: 15.84%;
        
          @include bp768 {
            width: 22.29%;
          };
        }

        &_txt{
          font-size: .12rem;
          letter-spacing: 0.02em;
          line-height: 1;
          margin: 0 8px;
          font-weight: 300;
    
          @include bp1281 {
            font-size: 12px;
          };
        
          @include bp768 {
            white-space: nowrap;
          };
        }
      }

      .zipFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 31.67%;
        
          @include bp768 {
            width: 44.59%;
          };
        }

        &_line{
          width: 15px;
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.55%;
          };
        }
      }

      .selectPrefecture{
        width: 40.71%;
        
        @include bp768 {
          width: 57.32%;
        };
      }

      .adTtl{
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        line-height: 1;
        margin-bottom: 10px;
  
        @include bp1281 {
          font-size: 14px;
        };
      }

      .telFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 22.62%;
        
          @include bp768 {
            width: 25.48%;
          };
        }

        &_line{
          width: 15px;
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.55%;
          };
        }
      }

      .selectChoice{
        width: 98.05%;
        margin-left: auto;
        margin-right: auto;
        
        @include bp768 {
          width: 106.78%;
          transform: translateX(-3.39%);
        };

        &.choise02{
          width: 89.33%;
          margin-left: auto;
          margin-right: auto;
        
          @include bp768 {
            width: 100%;
            transform: translateX(0);
          };
        }
      }

      &.dateTxt{
        margin: 0 20px 8px;

        p{
          font-size: .14rem;
          letter-spacing: 0.02em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          line-height: 1;
    
          @include bp1281 {
            font-size: 14px;
          };
        }
      }

      .creditPic{
        width: 59.70%;
        margin: 30px 0 16px;

        @include bp768 {
          width: 76.19%;
          margin: 24px 0 16px;
        };
      }

      .inputNotice{
        font-size: .12rem;
        letter-spacing: 0.02em;
        line-height: 2;
        margin-top: 5px;
        font-weight: 300;
  
        @include bp1281 {
          font-size: 12px;
        };
      }

      .creditLimitedFlex{
        display: flex;
        align-items: center;

        &_list{
          width: 19.28%;

          @include bp768 {
            width: 22.6%;
          };
        }

        &_txt{
          margin: 0 2.41%;
        
          @include bp768 {
            margin: 0 2.82%;
          };

          p{
            font-size: .12rem;
            letter-spacing: calc(0.05em * 1.85);
            line-height: 1;
      
            @include bp1281 {
              font-size: 12px;
            };
          }
        }
      }

      &.inputCode{
        margin-bottom: 40px;
        
        @include bp768 {
          margin-bottom: calc(40 * (100vw / 414));
        };
      }

      .inputCodeBox{
        width: 24.1%;
      
        @include bp768 {
          width: 28.25%;
        };
      }

      .notePass{
        font-size: .14rem;
        letter-spacing: 0.02em;
        line-height: 1;
        white-space: nowrap;
        margin-bottom: 30px;
  
        @include bp1281 {
          font-size: 14px;
        };
      
        @include bp768 {
          line-height: 1.43;
          white-space: normal;
          margin-bottom: 24px;
        };
      }

      .noticeArea{
        text-indent: -1em;
        padding-left: 1em;
        margin-top: 16px;

        p{
          font-size: .12rem;
          letter-spacing: 0.02em;
          line-height: 1.83;
    
          @include bp1281 {
            font-size: 12px;
          };
        }
      }
    }

    &.dateWrap{
      width: 89.33%;
      margin: 0 auto 32px;
        
      @include bp768 {
        width: 100%;
      };
    }

    &.cartInputTeiki{
      width: 91.84%;
      margin: 0 auto;
        
      @include bp768 {
        width: 94.37%;
      };

      dd{
        @include bp768 {
          margin-left: 10px;
          margin-right: 10px;
        };
      }

      &.teiki02{
        border-top: 1px solid #EAECEE;
        padding-top: 24px;
        margin-bottom: 40px;

        span{
          font-size: .12rem;
          letter-spacing: 0.02em;
          font-weight: 300;
          line-height: 2;
    
          @include bp1281 {
            font-size: 12px;
          };

          &:first-child{
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            font-size: .14rem;
            letter-spacing: 0.02em;
            line-height: 2;
      
            @include bp1281 {
              font-size: 14px;
            };
          }
        }

        select {
          margin-bottom: 30px;
        }
      }
    }

    &#ctl00_ContentPlaceHolder1_rCartList_ctl00_rPayment_ctl00_divCreditCardNoToken{
      dt{
        &:first-child{
          margin-top: 30px;
        
          @include bp768 {
            margin-top: calc(30 * (100vw / 414));
          };
        }
      }
    }

    &.confirm{
      dd{
        font-weight: 300;
        font-size: .13rem;
        letter-spacing: 0.02em;
        line-height: 2;
        margin-bottom: 0;
  
        @include bp1281 {
          font-size: 13px;
        };
      }
    }
  }

  .cartNextLead{
    width: 69.74%;
    margin: 32px 0 0 auto;
      
    @include bp768 {
      width: 100%;
      padding: 0 20px;
      margin: 40px auto 0;
    };

    p{
      font-size: .13rem;
      line-height: 2;
      letter-spacing: 0.02em;
      font-weight: 300;
      color: #F65573;
  
      @include bp1281 {
        font-size: 13px;
      };
    }
  }

  .cartNextbtn{
    ul{
      display: flex;
      justify-content: space-between;
      width: 69.74%;
      margin: 32px 0 0 auto;
        
      @include bp768 {
        width: 68%;
        flex-wrap: wrap;
        margin: 40px auto 0;
      };
  
      li{
        width: 48.11%;
        
        @include bp768 {
          width: 100%;
        };
  
        a{
          width: 100%;
          height: 53px;
          line-height: 53px;
          text-align: center;
          font-size: .16rem;
          letter-spacing: 0.04em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          border-radius: 2px;
    
          @include bp1281 {
            font-size: 16px;
          };
        }
  
        &.prevBtn{
          @include bp768 {
            order: 2;
            margin-top: 15px;
          };
  
          a{
            background-color: #EAECEE;
          }
        }
  
        &.nextBtn{
          @include bp768 {
            order: 1;
          };
  
          a{
            background-color: #327CCF;
            color: #fff;
          }
        }
      }
    }
  
    &.cartListBtn{
      ul{
        width: 25%;
        
        @include bp768 {
          width: 76.12%;
          margin-top: 40px;
        };
  
        li{
          width: 100%;
        }
      }
    }
  
    &.second{
      width: 25%;
        
      @include bp768 {
        width: 76.12%;
        margin-top: 20px;
      };
  
      ul{
        width: 100%;
  
        li{
          width: 100%;
        }
      }
    }
  
    &.nextInquiry{
      padding-top: 0;
  
      &::before{
        content: none;
      }
  
      ul{
        margin-left: 0;
        
        @include bp768 {
          margin: 0 auto;
        };
      }
    }

    &.one{
      ul{
        width: 33.55%;
        
        @include bp768 {
          width: 68%;
        };

        li{
          width: 100%;
        }
      }
    }

    &.one02{
      ul{
        width: 33.55%;
        margin: 0;
        
        @include bp768 {
          width: 68%;
          margin: 0 auto;
        };

        li{
          width: 100%;
        }
      }
    }
  }

  .completeBtn{
    margin-top: 24px;
        
    @include bp768 {
      margin: 24px 0 0 20px;
    };

    a{
      width: 33.55%;
      height: 53px;
      line-height: 53px;
      text-align: center;
      font-size: .16rem;
      letter-spacing: 0.04em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      border-radius: 2px;
      background-color: #327CCF;
      color: #fff;

      @include bp1281 {
        font-size: 16px;
      };
        
      @include bp768 {
        width: 68%;
      };
    }

    &.gray{
      margin-bottom: 40px;

      a{
        background-color: #EAECEE;
        color: #222;
      }
    }
  }

  /*====================================================================
  *    mypage MODIFY
  /*==================================================================*/
  .slBox{
    border-top: 1px solid #E3E3E3;
        
    @include bp768 {
      width: 89.33%;
      margin: 0 auto;
    };

    &_list{
      border-bottom: 1px solid #E3E3E3;
      padding: 24px 0;
      display: flex;
      align-items: center;
        
      @include bp768 {
        display: block;
      };

      p{
        line-height: 2;
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 300;
  
        @include bp1281 {
          font-size: 14px;
        };
      }

      &--name{
        width: 30.26%;
        margin-right: 2.63%;
        
        @include bp768 {
          width: 100%;
          margin: 0 0 20px;
        };
      }

      &--cts{
        width: 53.95%;
        margin-right: 2.63%;
        
        @include bp768 {
          width: 100%;
          margin: 0 0 20px;
        };
      }

      &--btn{
        width: 10.53%;
        display: flex;
        justify-content: space-between;
        
        @include bp768 {
          width: 23.88%;
          margin: 0 0 0 auto;
        };

        a{
          line-height: 1;
          font-size: .14rem;
          letter-spacing: 0.02em;
          font-weight: 300;
          text-decoration: underline;
    
          @include bp1281 {
            font-size: 14px;
          };
        }
      }
    }
  }

  /*====================================================================
  *    mypage arrival
  /*==================================================================*/
  .avMailBox{
    border-top: 1px solid #E3E3E3;

    &_list{
      border-bottom: 1px solid #E3E3E3;
      padding: 16px 0;
      display: flex;
      align-items: center;
        
      @include bp768 {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 89.33%;
        margin: 0 auto;
      };

      &--pic{
        width: 32.89%;
        margin-right: 2.11%;
        
        @include bp768 {
          width: 41.79%;
          margin-right: 0;
        };
      }

      &--name{
        width: 23.16%;
        margin-right: 5.2%;
        
        @include bp768 {
          width: 53.43%;
          margin-right: 0;
        };

        a{
          line-height: 1.71;
          font-size: .14rem;
          letter-spacing: 0.04em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    
          @include bp1281 {
            font-size: 14px;
          };
        }
      }

      &--detail{
        width: 36.64%;
        height: 32.89vh;
        background-color: #F7F7F7;
        padding: 0 20px;
        display: flex;
        align-items: center;
        
        @include bp768 {
          width: 100%;
          height: auto;
          padding: 40px 20px;
          display: block;
          margin-top: 24px;
        };

        .detailBox{
          &:nth-child(n + 2){
            margin-top: 24px;
          }

          &_ttl{
            line-height: 1;
            font-size: .13rem;
            letter-spacing: 0;
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            margin-bottom: 10px;
      
            @include bp1281 {
              font-size: 13px;
            };
          }

          &_txt{
            line-height: 1;
            font-size: .13rem;
            letter-spacing: 0.02em;
            font-weight: 300;
      
            @include bp1281 {
              font-size: 13px;
            };
          }

          &_date{
            display: flex;
            align-items: center;

            .input01{
              width: 70px;
              font-size: .13rem;
              letter-spacing: 0.02em;
              font-weight: 300;
        
              @include bp1281 {
                font-size: 13px;
              };
            }

            .input02{
              width: 50px;
              font-size: .13rem;
              letter-spacing: 0.02em;
              font-weight: 300;
        
              @include bp1281 {
                font-size: 13px;
              };
            }

            p{
              margin: 0 16px 0 8px;
            }
          }

          &_delete{
            line-height: 1;
            font-size: .14rem;
            letter-spacing: 0.02em;
            font-weight: 300;
            text-decoration: underline;
            margin-top: 20px;
      
            @include bp1281 {
              font-size: 14px;
            };
          }
        }
      }
    }
  }

  /*====================================================================
  *    mypage orderHistory
  /*==================================================================*/
  .ohAreaBoxWrap{
    border-top: 1px solid #E3E3E3;
  }

  .ohArea{

    &_box{
      display: flex;
      padding: 16px 0;
      border-bottom: 1px solid #E3E3E3;
      justify-content: space-between;
        
      @include bp768 {
        display: block;
        width: 89.33%;
        margin: 0 auto;
      };

      &--item{
        width: 63.16%;
        
        @include bp768 {
          width: 100%;
          margin-bottom: 23px;
        };

        .orderItem{
          display: flex;
          align-items: center;
        
          @include bp768 {
            justify-content: space-between;
          };

          &:nth-child(n + 2){
            margin-top: 16px;
          }

          &_pic{
            width: 52.08%;
            margin-right: 3.33%;
        
            @include bp768 {
              width: 41.79%;
              margin-right: 0;
            };
          }

          &_txt{
            width: 36.67%;
        
            @include bp768 {
              width: 53.43%;
            };

            p{
              line-height: 1.71;
              font-weight: 500;
              font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
              font-size: .14rem;
              letter-spacing: 0.04em;
        
              @include bp1281 {
                font-size: 14px;
              };
            }
          }
        }
      }

      &--detail{
        width: 36.58%;
        background-color: #F7F7F7;
        padding: 28px 20px;
        
        @include bp768 {
          width: 100%;
        };

        dl{
          display: flex;
          margin-bottom: 16px;

          &:last-child{
            margin-bottom: 0;
          }

          dt{
            width: 37.82%;
        
            @include bp768 {
              width: 30.51%;
            };

            p{
              line-height: 1.5;
              font-size: .13rem;
              letter-spacing: 0.02em;
              font-weight: 300;
        
              @include bp1281 {
                font-size: 13px;
              };
            }
          }

          dd{
            width: 62.18%;
        
            @include bp768 {
              width: 69.49%;
            };

            p{
              line-height: 1.5;
              font-size: .13rem;
              letter-spacing: 0.02em;
              font-weight: 300;
        
              @include bp1281 {
                font-size: 13px;
              };
            }
          }
        }
      }

      &.fixed{
        .ohArea_box--item{
          width: 54.74%;
        
          @include bp768 {
            width: 100%;
          };
  
          .orderItem{
            &_pic{
              width: 60.1%;
              margin-right: 3.85%;
          
              @include bp768 {
                width: 41.79%;
                margin-right: 0;
              };
            }
  
            &_txt{
              width: 36.06%;
          
              @include bp768 {
                width: 53.43%;
              };
            }
          }
        }
        .ohArea_box--detail{
          width: 43.16%;
        
          @include bp768 {
            width: 100%;
          };
  
          dl{
            dt{
              width: 51.05%;
          
              @include bp768 {
                width: 49.49%;
              };
            }
  
            dd{
              width: 48.95%;
          
              @include bp768 {
                width: 50.51%;
              };
            }
          }
        }
      }
    }
  }

  .ohDetail{
    @include bp768 {
      width: 89.33%;
      margin: 0 auto;
    };

    h3{
      line-height: 1;
      font-size: .18rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      margin-bottom: 10px;

      @include bp1281 {
        font-size: 18px;
      };
    }

    .reasonArea{
      margin-bottom: 40px;
    }

    &_box{
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #E3E3E3;

      dt{
        width: 24.21%;
        background-color: #F0F3F5;
        border-bottom: 1px solid #fff;
        padding: 20px 15px;
        text-align: right;
        line-height: 1.71;
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 300;
  
        @include bp1281 {
          font-size: 14px;
        };
      
        @include bp768 {
          width: 47.76%;
          padding: 16px;
        };

        &:nth-last-child(-n + 2){
          border-bottom: none;
        }
      }

      dd{
        width: 75.79%;
        border-bottom: 1px solid #E3E3E3;
        padding: 20px 24px;
        line-height: 1.71;
        font-size: .14rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        position: relative;
  
        @include bp1281 {
          font-size: 14px;
        };
      
        @include bp768 {
          width: 52.24%;
          padding: 16px;
        };

        &:nth-last-child(-n + 2){
          border-bottom: none;
        }

        .noticeArea{
          text-indent: -1em;
          padding-left: 1em;
          margin-top: 16px;

          p{
            font-size: .12rem;
            letter-spacing: 0.02em;
            line-height: 1.83;
      
            @include bp1281 {
              font-size: 12px;
            };
          }
        }
      }

      .creditWrap{
        width: 94.74%;
        margin: 0 auto 30px;
      }

      .cartInput{
        border: none;
        padding-bottom: 0;
        margin: 30px 0;
            
        @include bp768 {
          width: 100%;
        };
    
        dt{
          width: 100%;
          background-color: #F1F8FD;
          height: 52px;
          font-size: .14rem;
          letter-spacing: 0.02em;
          font-weight: 500;
          font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          line-height: 52px;
          margin-bottom: 20px;
          padding: 0 0 0 20px;
          border-bottom: none;
          text-align: left;

          @include bp1281 {
            font-size: 14px;
          };
            
          @include bp768 {
            margin-bottom: 15px;
          };
        }
    
        dd{
          width: 100%;
          margin: 0 20px 24px;
          border-bottom: none;
          padding: 0;
            
          @include bp768 {
            width: 88.45%;
            margin: 0 auto 24px;
          };
    
          &:last-child{
            margin-bottom: 0;
          }
    
          .nameFlex{
            display: flex;
            justify-content: space-between;
    
            &_list{
              width: 47.29%;
            
              @include bp768 {
                width: 46.18%;
              };
    
              p{
                font-size: .12rem;
                letter-spacing: 0.02em;
                line-height: 1;
                margin-bottom: 5px;
                font-weight: 300;
          
                @include bp1281 {
                  font-size: 12px;
                };
              }
            }
          }
    
          .birthdayFlex{
            display: flex;
            align-items: center;
    
            &_year{
              width: 31.67%;
              margin-right: 3.62%;
            
              @include bp768 {
                width: 44.59%;
                margin-right: 5.1%;
              };
            }
    
            &_month{
              width: 15.84%;
              margin-right: 3.62%;
            
              @include bp768 {
                width: 22.29%;
                margin-right: 5.1%;
              };
            }
    
            &_day{
              width: 15.84%;
            
              @include bp768 {
                width: 22.29%;
              };
            }
    
            &_txt{
              font-size: .12rem;
              letter-spacing: 0.02em;
              line-height: 1;
              margin: 0 8px;
              font-weight: 300;
        
              @include bp1281 {
                font-size: 12px;
              };
            
              @include bp768 {
                white-space: nowrap;
              };
            }

            &.change{
              display: block;

              .birthdayFlex_year{
                @include bp768 {
                  width: 100%;
                  margin: 0 0 10px;
                };
              }

              .birthdayFlex_txt{
                margin: 10px 0;

                @include bp768 {
                  margin: 0;
                  line-height: 1.5;
                  white-space: normal;
                };
              }
            }
          }
    
          .zipFlex{
            display: flex;
            align-items: center;
    
            &_list{
              width: 31.67%;
            
              @include bp768 {
                width: 44.59%;
              };
            }
    
            &_line{
              width: 15px;
              margin: 0 2.41%;
            
              @include bp768 {
                margin: 0 2.55%;
              };
            }
          }
    
          .selectPrefecture{
            width: 40.71%;
            
            @include bp768 {
              width: 57.32%;
            };
          }
    
          .adTtl{
            font-size: .14rem;
            letter-spacing: 0.02em;
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            line-height: 1;
            margin-bottom: 10px;
      
            @include bp1281 {
              font-size: 14px;
            };
          }
    
          .telFlex{
            display: flex;
            align-items: center;
    
            &_list{
              width: 22.62%;
            
              @include bp768 {
                width: 25.48%;
              };
            }
    
            &_line{
              width: 15px;
              margin: 0 2.41%;
            
              @include bp768 {
                margin: 0 2.55%;
              };
            }
          }
    
          .selectChoice{
            width: 98.05%;
            margin-left: auto;
            margin-right: auto;
            
            @include bp768 {
              width: 106.78%;
              transform: translateX(-3.39%);
            };
    
            &.choise02{
              width: 89.33%;
              margin-left: auto;
              margin-right: auto;
            
              @include bp768 {
                width: 100%;
                transform: translateX(0);
              };
            }
          }
    
          &.dateTxt{
            margin: 0 20px 8px;
    
            p{
              font-size: .14rem;
              letter-spacing: 0.02em;
              font-weight: 500;
              font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
              line-height: 1;
        
              @include bp1281 {
                font-size: 14px;
              };
            }
          }
    
          .creditPic{
            width: 46.51%;
            margin: 24px 0 16px;
    
            @include bp768 {
              width: 76.19%;
              margin: 24px 0 16px;
            };
          }

          .creditDD{
            width: 77.91%;
            margin: 0 0 30px;
            
            @include bp768 {
              width: 100%;
            };
          }
    
          .inputNotice{
            font-size: .12rem;
            letter-spacing: 0.02em;
            line-height: 2;
            margin-top: 5px;
            font-weight: 300;
      
            @include bp1281 {
              font-size: 12px;
            };
          }
    
          .creditLimitedFlex{
            display: flex;
            align-items: center;
    
            &_list{
              width: 19.28%;
    
              @include bp768 {
                width: 22.6%;
              };
            }
    
            &_txt{
              margin: 0 2.41%;
            
              @include bp768 {
                margin: 0 2.82%;
              };
    
              p{
                font-size: .12rem;
                letter-spacing: calc(0.05em * 1.85);
                line-height: 1;
          
                @include bp1281 {
                  font-size: 12px;
                };
              }
            }
          }
    
          &.inputCode{
            margin-bottom: 40px;
            
            @include bp768 {
              margin-bottom: calc(40 * (100vw / 414));
            };
          }
    
          .inputCodeBox{
            width: 24.1%;
          
            @include bp768 {
              width: 28.25%;
            };
          }
    
          .notePass{
            font-size: .14rem;
            letter-spacing: 0.02em;
            line-height: 1;
            white-space: nowrap;
            margin-bottom: 30px;
      
            @include bp1281 {
              font-size: 14px;
            };
          
            @include bp768 {
              line-height: 1.43;
              white-space: normal;
              margin-bottom: 24px;
            };
          }
        }
    
        &.dateWrap{
          width: 89.33%;
          margin: 0 auto 32px;
            
          @include bp768 {
            width: 100%;
          };
        }
    
        &.cartInputTeiki{
          width: 91.84%;
          margin: 0 auto;
            
          @include bp768 {
            width: 94.37%;
          };
    
          dd{
            @include bp768 {
              margin-left: 10px;
              margin-right: 10px;
            };
          }
    
          &.teiki02{
            border-top: 1px solid #EAECEE;
            padding-top: 24px;
            margin-bottom: 40px;
    
            span{
              font-size: .12rem;
              letter-spacing: 0.02em;
              font-weight: 300;
              line-height: 2;
        
              @include bp1281 {
                font-size: 12px;
              };
    
              &:first-child{
                font-weight: 500;
                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                font-size: .14rem;
                letter-spacing: 0.02em;
                line-height: 2;
          
                @include bp1281 {
                  font-size: 14px;
                };
              }
            }
    
            select {
              margin-bottom: 30px;
            }
          }
        }
    
        &#ctl00_ContentPlaceHolder1_rCartList_ctl00_rPayment_ctl00_divCreditCardNoToken{
          dt{
            &:first-child{
              margin-top: 30px;
            
              @include bp768 {
                margin-top: calc(30 * (100vw / 414));
              };
            }
          }
        }
    
        &.confirm{
          dd{
            font-weight: 300;
            font-size: .13rem;
            letter-spacing: 0.02em;
            line-height: 2;
            margin-bottom: 0;
      
            @include bp1281 {
              font-size: 13px;
            };
          }
        }
      }

      .shippingSelect{
        width: 31.67%;
      
        @include bp768 {
          width: 100%;
        };
      }

      &.borderT0{
        border-top: none;
      }

      &.borderB0{
        border-bottom: 0;

        dt{
          &:nth-last-child(-n + 2){
            border-bottom: 1px solid #fff;
          }
        }

        dd{
          &:nth-last-child(-n + 2){
            border-bottom: 1px solid #E3E3E3;
          }
        }
      }
    }

    .ohShipping{
      margin-top: 40px;
    }

    .cartTotal{
      padding-bottom: 16px;
      margin: 24px 0 40px;
      border-bottom: 1px solid #E3E3E3;
  
      dl{
        width: 228px;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
      
        @include bp768 {
          width: 68.06%;
        };
  
        dt{
          width: 50%;
          line-height: 1;
          text-align: right;
          font-size: .14rem;
          white-space: nowrap;
          font-weight: 300;
          margin-bottom: 10px;
          letter-spacing: 0.02em;
    
          @include bp1281 {
            font-size: 14px;
          };
        }
  
        dd{
          width: 50%;
          line-height: 1;
          text-align: right;
          font-size: .14rem;
          white-space: nowrap;
          font-weight: 300;
          margin-bottom: 10px;
          letter-spacing: 0.02em;
    
          @include bp1281 {
            font-size: 14px;
          };
        }
  
        .discountTxt{
          color: #F65573;
        }
  
        &.all{
          margin-top: 20px;
          align-items: flex-end;
          
          dt{
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
          }
    
          dd{
            font-weight: 500;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            font-size: .18rem;
      
            @include bp1281 {
                font-size: 18px;
            };
          }
        }
      }
    }

    .receiptDL{
      margin-top: 30px;

      &_btn{
        font-size: .16rem;
        letter-spacing: 0.04em;
        font-weight: 500;
        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
        line-height: 53px;
        text-align: center;
        width: 255px;
        height: 53px;
        border-radius: 2px;
        margin-bottom: 10px;
        background-color: #327CCF;
        color: #fff;
      
        @include bp1281 {
          font-size: 16px;
        };
      }

      &_note{
        p{
          font-size: .13rem;
          letter-spacing: 0.04em;
          line-height: 1.3;
        
          @include bp1281 {
            font-size: 13px;
          };

          & + p{
            margin-top: 5px;
          }
        }
      }
    }
  }

  .changeBtn{
    position: absolute;
    top: 17px;
    right: 15px;
        
    @include bp768 {
      position: inherit;
      top: inherit;
      right: inherit;
      margin-top: 8px;
    };

    &.mrg{
      @include bp768 {
        margin: 0 0 20px;
      };
    }

    &.noPosition{
      position: inherit;
      top: inherit;
      right: inherit;
      margin-bottom: 15px;
    }

    a, input{
      background-color: #327CCF;
      display: inline-block;
      color: #fff;
      line-height: 1;
      font-size: .12rem;
      letter-spacing: 0.02em;
      font-weight: 300;
      padding: 8px 15px;
      border: none;
      border-radius: 0;
      cursor: pointer;
      width: auto;

      @include bp1281 {
        font-size: 12px;
      };
    }
  }

  .nextWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp768 {
      display: block;
    };
  }

  .skipWrap{
    .skipBox{
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include bp768 {
        display: block;
        margin-top: 10px;
      };

      &:nth-child(n + 2){
        margin-top: 10px;
      }
      
      p{
        line-height: 1;
        font-size: .12rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        white-space: nowrap;
  
        @include bp1281 {
          font-size: 12px;
        };

        @include bp768 {
          line-height: 2;
          white-space: normal;
        };
      }

      &_btn{
        background-color: #327CCF;
        color: #fff;
        line-height: 30px;
        font-size: .12rem;
        letter-spacing: 0.02em;
        font-weight: 300;
        width: 117px;
        height: 30px;
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0 -8px 0 8px;
        cursor: pointer;
  
        @include bp1281 {
          font-size: 12px;
        };

        @include bp768 {
          margin: 8px 0 0;
        };
      }
    }
  }

  .updateLink{
    display: flex;

    a, input{
      text-align: center;
      margin-top: 30px;
      display: inline-block;
      cursor: pointer;
      background-color: #327CCF;
      color: #fff;
      line-height: 30px;
      font-size: .12rem;
      letter-spacing: 0.02em;
      font-weight: 300;
      width: 117px;
      height: 30px;
      padding: 0;
      border: none;
      border-radius: 0;
      margin: 0 -8px 0 8px;
      cursor: pointer;

      @include bp1281 {
        font-size: 12px;
      };

      &:nth-child(n + 2){
        margin-left: 16px;
      }
    }
  }

  /*====================================================================
  *    mypage 退会
  /*==================================================================*/
  .withdrawInfo{
    margin-bottom: 40px;

    @include bp768 {
      width: 89.33%;
      margin: 0 auto;
    };

    p{
      font-weight: 300;
      font-size: .14rem;
      letter-spacing: 0.02em;
      line-height: 2;

      @include bp1281 {
        font-size: 14px;
      };
    }
  }

  .withdrawNotice{
    margin-bottom: 40px;

    @include bp768 {
      width: 89.33%;
      margin: 0 auto;
    };

    p{
      font-weight: 300;
      font-size: .14rem;
      letter-spacing: 0.02em;
      line-height: 2;
      color: #F65573;

      @include bp1281 {
        font-size: 14px;
      };

      a{
        display: inline;
        text-decoration: underline;
        color: #F65573;
      }
    }
  }
}