﻿<%--
=========================================================================================================
  Module      : Amazon ランディングページコールバック画面(LandingPageCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" masterpagefile="~/Form/User/Amazon/AmazonPayCallbackPage.master" inherits="Form_User_Amazon_LandingPageCallback, App_Web_landingpagecallback.aspx.9acd16a5" %>
