﻿<%--
=========================================================================================================
  Module      : Amazon 注文者決定コールバック画面(OrderCallback.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2018 All Rights Reserved.
=========================================================================================================
--%>
<%@ page language="C#" autoeventwireup="true" masterpagefile="~/Form/User/Amazon/AmazonPayCallbackPage.master" inherits="Form_User_Amazon_OrderCallback, App_Web_ordercallback.aspx.9acd16a5" %>