@charset "UTF-8";
/*
基本セッティングはここに記述します。
*/
/*********************************************************************************
**********************************************************************************

   PC/スマホ  共通

**********************************************************************************
**********************************************************************************/
html {
  width: 100%;
  font-size: inherit;
}

@media (max-width: 768px){
  html {
    font-size: inherit;
  }
}

p, dt, dd {
  text-align: inherit;
}

.anniversaryCampaign img, .anniversaryCampaign svg {
  display: inline;
}

body {
  /* font-family: "TBゴシック SL","Gotham SSm A", "Gotham SSm B", "Gotham Medium", gostham, -apple-system, "‘Helvetica Neue’", "’Hiragino Kaku Gothic ProN’", ‘游ゴシック’, ’メイリオ’, meiryo, sans-serif; */
  font-size: 16px;
  color: black;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: white;
}

.font-feature-settings {
  font-feature-settings: "palt";
  word-wrap: break-word;
}

.flexAlignSelf--center {
  -ms-grid-row-align: center;
      align-self: center;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
}

.hidden {
  width: 0;
  height: 0;
  display: none !important;
  overflow: hidden;
}

p, ul, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0;
}

/* ===================================================================

フォントセット

===================================================================== */
.font--basic {
  font-family: 'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ','Meiryo',sans-serif;
}

.font--jpnMincho {
  font-family: "游明朝体", "Yu Mincho", "YuMincho","ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif;
}

/*=========================

gothamScreenSmart

=========================*/
.font--gothamScreenSmart__exLight {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 200;
}

.font--gothamScreenSmart__light {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 300;
}

.font--gothamScreenSmart__book {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 400;
}

.font--gothamScreenSmart__bookItalic {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: italic;
  font-weight: 400;
}

.font--gothamScreenSmart__medium {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 500;
}

.font--gothamScreenSmart__bold {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 700;
}

.font--gothamScreenSmart__boldItalic {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: italic;
  font-weight: 700;
}

.font--gothamScreenSmart__black {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 800;
}

/*=========================

TBGothic

=========================*/
.font--TBGothic--SL {
  font-family: "TBゴシック SL","TBGothic SL";
}

.font--TBGothic--M {
  font-family: "TBゴシック M","TBGothic M";
}

/*=========================

Ryumin

=========================*/
.font--Ryumin--Light--KL {
  font-family: "リュウミン L-KL","Ryumin Light KL";
}

.font--Ryumin--Regular--KL {
  font-family: "リュウミン R-KL","Ryumin Regular KL";
}

.font--Ryumin--Medium--KL {
  font-family: "リュウミン M-KL","Ryumin Medium KL";
}

.font--Ryumin--bold--KL {
  font-family: "リュウミン B-KL","Ryumin bold KL";
}

/*=========================

weight

=========================*/
.font--WeightNormal {
  font-weight: normal !important;
}

.font--bold {
  font-weight: bold !important;
}

/*---------- SPのみ ----------*/
@media print, screen and (max-width: 767px) {
  /*
  .spOnly {
    display: block;
  }
*/
  .pcOnly {
    display: none !important;
  }
}

/*---------- PC ----------*/
@media print, screen and (min-width: 768px) {
  .spOnly {
    display: none !important;
  }
}

.bodyFixed {
  position: fixed;
}

/*
=== SP ===
*/
@media print, screen and (max-width: 767px) {
  .headerMenu--spContainer {
    position: fixed;
    width: calc(100vw - 32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 16px;
    box-shadow: 0px 0px 6px 1px #BFC0C0;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: 900;
  }
  .menuIcon {
    position: fixed;
    width: 20px;
    height: 15px;
    cursor: pointer;
    z-index: 999;
  }
  .menuIcon span {
    width: 20px;
    height: 2px;
    background-color: #B5B5B6;
    transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -webkit-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -moz-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
  }
  .menuIcon span:nth-of-type(1) {
    position: absolute;
    top: 0;
  }
  .menuIcon span:nth-of-type(2) {
    position: absolute;
    top: 7px;
  }
  .menuIcon span:nth-of-type(3) {
    position: absolute;
    top: 14px;
  }
  .menuIconClicked span:nth-of-type(1) {
    top: 50%;
    transform-origin: center;
    transform: scaleX(1) rotate3d(0, 0, 1, -45deg);
  }
  .menuIconClicked span:nth-of-type(2) {
    top: 50%;
    transform-origin: center;
    transform: scaleX(1) rotate3d(0, 0, 1, 220deg);
  }
  .menuIconClicked span:nth-of-type(3) {
    top: 50%;
    opacity: 0;
  }
  #spMenuOnBackGround {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #807F80;
    opacity: 0.5;
  }
  .headerMenuOnlineStore {
    font-size: 10px;
    font-size: 0.625rem;
  }
  .headerLogoSp {
    width: 192px;
  }
  .space {
    width: 20px;
  }
  .spMuneInner {
    position: fixed;
    width: calc(100vw - 100px);
    height: 80vh;
    top: 60px;
    left: 35px;
    margin-top: 90px;
    z-index: 910;
    pointer-events: none;
  }
  .spMuneInnerPointerEventsOff {
    pointer-events: auto;
    overflow-y: scroll;
  }
  .spMenu {
    padding-bottom: 150px;
  }
  .spMenu li {
    display: none;
    pointer-events: auto;
  }
  .spMenu > li {
    margin-top: 40px;
  }
  .spMenu > li li {
    margin-top: 18px;
  }
  .spMenu > li:first-child {
    margin-top: 0;
  }
  #spMenuBack {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 13%;
    pointer-events: none;
    z-index: 110;
  }
  .menuLogo {
    position: absolute;
    width: 84px;
    top: 30px;
    right: 100px;
    z-index: 900;
    display: none;
  }
  #footer {
    width: 100%;
    height: 190px;
    font-size: 10px;
    font-size: 0.625rem;
    margin-top: 100px;
  }
  #footer .fo_back {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 0 17px;
    box-sizing: border-box;
    text-align: center;
  }
  #footer .fo_back p {
    color: #2e2e2e;
    float: none;
    margin-bottom: 15px;
  }
  #footer .fo_back p a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #2e2e2e;
  }
  .bottom_btn {
    display: none;
  }
  .bottom_btn .page-top {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 40px;
    left: 0;
  }
  .bottom_btn .page-top a {
    margin: 0 auto;
    text-align: center;
    text-indent: -9999px;
    width: 66px;
    height: 66px;
    display: block;
    background: url("../imgs/top_scroll.png") no-repeat;
  }
  /*
  .newProject, .onlyMeSupplement {
    opacity: 0.3;
  }
*/
  .onlyMeSupplement {
    opacity: 0.3;
  }
}

/*
=== PC ===
*/
@media print, screen and (min-width: 768px) {
  .wrapper {
    overflow: hidden;
  }
  .headerMenu--pcContainer {
    box-shadow: 0px 0px 6px 1px #BFC0C0;
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: 999;
  }
  .headerMenu--pcContainer__inner {
    max-width: 1250px;
    height: 80px;
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 25px;
  }
  h1 {
    width: 247px;
    margin-right: 15px;
    flex-shrink: 0;
  }
  /*
  h1 {
    position: fixed;
    top: 10px;
    left: 170px;
    width: 247px;
    margin-right: 15px;
    //flex-shrink: 0;
  }

  .h1Logo {
    width: 247px;
    height: 100px;
    margin-right: 15px;
    flex-shrink: 0;
    margin-right: 100px;
    background-color: yellow;
  }
*/
  .pcMenuListsContainer {
    width: 58%;
    min-width: 650px;
  }
  .pcMenuLists {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-size: 1rem;
    justify-content: space-between;
  }
  .pcMenuLists .currentIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1px;
    height: 15px;
    background-color: #BBDBF3;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -webkit-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -moz-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
  }
  .pcMenuLists .message .headerSubmenuContainer {
    left: -100px;
  }
  .pcMenuLists .brand .headerSubmenuContainer {
    left: -120px;
  }
  .pcMenuLists > li {
    position: relative;
  }
  /*
  .pcMenuLists > li:hover:not(.newProject):not(.onlyMeSupplement) .currentIcon {
    opacity: 1;
    margin-top: 25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }
*/
  .pcMenuLists > li:hover:not(.onlyMeSupplement) .currentIcon {
    opacity: 1;
    margin-top: 25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }
  .onlyMeSupplement {
    opacity: 0.3;
  }
  .pcMenuLists > li > a {
    transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -webkit-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -moz-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
  }
  .pcMenuLists > li:hover > a {
    opacity: 0.5;
  }
  .headerSubmenuContainerOuter {
    display: none;
  }
  .headerSubmenuContainer {
    font-size: 15px;
    font-size: 0.9375rem;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 10px;
    white-space: nowrap;
  }
  .headerSubmenuContainer li {
    margin-left: 30px;
    transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -webkit-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
    -moz-transition: all 0.3s cubic-bezier(0.045, 0.495, 0.685, 0.97);
  }
  .headerSubmenuContainer li:first-child {
    margin-left: 0;
  }
  .headerSubmenuContainer li:hover {
    opacity: 0.5;
  }
  .pcMenuBack {
    position: fixed;
    width: 100vw;
    height: 50px;
    top: 80px;
    left: 0;
    background-color: #EFEFEF;
    z-index: 900;
    display: none;
  }
  #footer {
    width: 100%;
    margin-top: 100px;
    background-color: #a3a3a3;
    clear: both;
  }
  #footer .fo_back {
    width: 1280px;
    margin: 0 auto;
    padding: 30px 10px 25px 17px;
    box-sizing: border-box;
    font-size: 11px;
    font-size: 0.6875rem;
  }
  #footer .fo_back:after {
    content: "";
    display: block;
    clear: both;
  }
  #footer .fo_back ul {
    float: left;
  }
  #footer .fo_back ul:after {
    content: "";
    display: block;
    clear: both;
  }
  #footer .fo_back ul li {
    padding-right: 24px;
    float: left;
  }
  #footer .fo_back ul li a {
    text-decoration: none;
    color: #fff;
  }
  #footer .fo_back ul li a:hover {
    opacity: 0.6;
  }
  #footer .fo_back p {
    color: #fff;
    float: right;
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: normal;
  }
  .bottom_btn {
    display: none;
  }
  .bottom_btn .page-top {
    position: fixed;
    bottom: 40px;
    right: 55px;
    z-index: 10;
  }
  .bottom_btn .page-top a {
    text-indent: -9999px;
    width: 66px;
    height: 66px;
    display: block;
    background: url("../imgs/top_scroll.png") no-repeat;
  }
  .bottom_btn .page-top a:hover {
    background: url("../imgs/top_scroll_over.png") no-repeat;
  }
}

/*# sourceMappingURL=maps/style.css.map */