﻿<%--
=========================================================================================================
  Module      : カスタムページテンプレート画面(CustomPageTemplate.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
--%>
<%-- ▽ユーザーコントロール宣言領域▽ --%>
<%-- △ユーザーコントロール宣言領域△ --%>
<%@ Page Title="ご利用規約 | SIMPLISSE(シンプリス) produced by 山本未奈子" Language="C#" Inherits="ContentsPage" MasterPageFile="~/Form/Common/DefaultPage.master" %>
<%--

下記のタグはファイル情報保持用です。削除しないでください。
<%@ FileInfo LayoutName="Default" %><%@ FileInfo LastChanged="システム管理者" %>

--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<%-- ▽編集可能領域：HEAD追加部分▽ --%>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/style.css">
<%-- △編集可能領域△ --%>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<%-- ▽編集可能領域：コンテンツ▽ --%>

<!-- about -->
<article id="agreement">
	<!--▽ パンくず ▽-->
	<div class="breadArea pc_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					ご利用規約
				</a>
			</li>
		</ul>
	</div>
	<!--△ パンくず △-->
    <!----->
    <section class="listBrandsArea agreement">
        <div class="agreement__title">
            <h2>
                ご利用規約
            </h2>
            <div class="block">
                <p class="block--title">
                    はじめに
                </p>
                <p class="block--content">
                    シンプリス オンラインストア（以下「本サイト」といいます）は、MNC New York株式会社（以下「当社」といいます）が提供するオンラインショッピングサイトです。当社は本サービスに関する利用規約を以下のように定めます。本サービスご利用にあたっては、本利用規 約に同意いただき遵守されることを前提といたします。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    1.著作権その他の権利について
                </p>
                <p class="block--content">
                    本サイトに掲載された全ての内容に関する権利は当社に帰属するかまたは当社がライセンスにもとづき使用するものです。<br>したがって、本サイトの掲載内容全部につき、無断使用・複製することを禁止します。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    2.商標について
                </p>
                <p class="block--content">
                    本サイトに現れるすべての商標およびサービスマークは、当社が所有し、またはライセンスその他の正当な権限にもとづき使用する商標です。これらを無断で使用することは禁止します。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    3.動作環境について
                </p>
                <p class="block--content">
                    【Windows】<br>
                    ※ OS・ブラウザ（IE）はサポート範囲内のものが対象となります。<br>
                    ・InternetExplorer 11<br>
                    ・Microsoft Edge 最新バージョン<br>
                    ・FireFox 最新バージョン<br>
                    ・Google Chrome 最新バージョン
                </p>
                <p class="block--content sub">
                    【Macintosh】<br>
                    ブラウザは以下が動作対象となります。<br>
                    ・Safari 最新バージョン<br>
                    ・Google Chrome 最新バージョン
                </p>
                <p class="block--content sub">
                    動作環境（スマートフォン）
                </p>
                <p class="block--content sub">
                    【iOS】<br>
                    ブラウザは以下が動作対象となります。<br>
                    ・Safari 最新バージョン<br>
                    ・Google Chrome 最新バージョン
                </p>
                <p class="block--content sub">
                    【Android】<br>
                    ・AndroidOS最新バージョン<br>
                    ・Google Chrome 最新バージョン
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    4.免責事項
                </p>
                <p class="block--content">
                    当社に責任のない事由により発生したトラブルや損失、損害について、当社は一切責任を負いません。<br>
                    すべての商品の価格および仕様、発売時期、販売方法などは、予告なく変更されることがあります。<br>
                    また予告なしに本サイトに掲載した情報を変更することがあり、あるいは本サイトの運営を中断または中止させていただくことがありますので、あらかじめご了承ください。<br>
                    なお、当社は理由の如何に関わらず、情報の変更および本サイトの運営の中断または中止によって生じるいかなる損害についても責任を負 うものではありません。また、当社は本サイトにリンクしている他のいかなるウェブサイトの内容にも責任を負いません。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    5.準拠法および管轄裁判所
                </p>
                <p class="block--content">
                    本サイトのご利用および利用規約の解釈・適用は、特段の定めのない限り、日本国法に準拠するものとします。<br>
                    また、本サイトのご利用に関するすべての紛争については、特段の定めのない限り、東京地方裁判所を第一審の専属管轄裁判所と致します。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    6.リンクについて
                </p>
                <p class="block--content">
                    本サイトをリンク先として設定する場合は、下記までお知らせ下さい。
                </p>
                <p class="block--content sub">
                    MNC New York株式会社<br>
                    〒150-0001 東京都渋谷区神宮前5-1-7<br>
                    電話：03-3473-3939<br>
                    FAX：03-3478-3933
                </p>
                <p class="block--content sub">
                    なお、ウェブサイトの内容やリンクの方法によっては、リンクをお断りすることがあります。<br>
                    上記にご同意いただけた場合「リンクを設定する際のご注意」をご覧ください。
                </p>
            </div>
            <div class="block">
                <p class="block--title">
                    7.リンクを設定する際のご注意
                </p>
                <p class="block--content">
                    リンク先は、Simplisse オンラインストアのトップページ（https://simplisse.jp/）に設定していただくとともに、当社のウェブサイトであることを明記してください。なお、当社は本サイトのＵＲＬを変更し、またはその運営を中止することがありますので、あらかじめご了承ください。<br>
                    本サイト内で使用されているロゴやアイコンをリンクボタンなどとして使用することは禁止します。
                </p>
            </div>
            <div class="block">
                <p class="block--content">
                    当社の信用を損なうようなリンクの設定はお断りします。<br>
                    本サイトに記載されている内容は、予告なしに変更または中止されることがありますので、あらかじめご了承ください。
                </p>
            </div>
        </div>

    </section>

    <div class="breadArea sp_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
			</li>
			<li>
				<a href="#">
					ご利用規約
				</a>
			</li>
		</ul>
	</div>
    <!--△ パンくず △-->

</article>
<!-- // about -->
<%-- △編集可能領域△ --%>
</asp:Content>
