/*====================================================================
*    mixin
/*==================================================================*/

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
  @media (min-width: ($bp1281)) {
    @content;
  }
}

$bp1280: 1280px;

@mixin bp1280 {
  @media (max-width: ($bp1280)) {
    @content;
  }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
  @media (max-width: ($bp768)) {
    @content;
  }
}

/*====================================================================
*    shoppingGuide
/*==================================================================*/
#shoppingGuide{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto 80px;
        
    @include bp768 {
        margin: 0;
    };

    .ttlArea{
        margin: 55px 0 40px;
        
        @include bp768 {
            margin: 33px 20px;
        };

        h2{
            font-size: .26rem;
            letter-spacing: 0.04em;
            line-height: 1;
            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
            font-weight: 500;
        
            @include bp1281 {
                font-size: 26px;
            };
        }
    }

    .shoppingGuideArea{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        
        @include bp768 {
            display: block;
        };

        &_menu{
            width: 21.57%;
        
            @include bp768 {
                width: 100%;
                margin-top: 40px;
            };

            ul{
                border-top: 1px solid #161616;

                &:nth-child(n + 2){
                    margin-top: 33px;
                }

                li{
                    border-bottom: 1px solid #E3E3E3;

                    a{
                        padding: 18px 8px;
                        font-size: .13rem;
                        letter-spacing: 0.02em;
                        line-height: 1;
                        font-weight: 300;
                        color: #222;
                    
                        @include bp1281 {
                            font-size: 13px;
                        };
        
                        @include bp768 {
                            padding: 16px 20px;
                        };

                        &:hover{
                            background-color: #F8F8F8;
                            opacity: 1;
                            color: #222;
                        }
                    }
                }
            }
        }

        &_cts{
            width: 74.51%;
        
            @include bp768 {
                width: 100%;
            };

            &--list{
                margin-bottom: 90px;

                h3{
                    background-color: #F1F8FD;
                    font-size: .18rem;
                    letter-spacing: 0.02em;
                    line-height: 1;
                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                    font-weight: 500;
                    padding: 18px 24px;
                    margin-bottom: 35px;
                
                    @include bp1281 {
                        font-size: 18px;
                    };
        
                    @include bp768 {
                        line-height: 1.78;
                        padding: 16px 20px;
                    };
                }

                .columnArea{
                    @include bp768 {
                        width: 89.33%;
                        margin: 0 auto;
                    };

                    &:nth-child(n + 2){
                        margin-top: 50px;
                    }

                    .guideMainTtl{
                        font-size: .20rem;
                        letter-spacing: 0.02em;
                        line-height: 1.5;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-weight: 500;
                        margin-bottom: 30px;
                    
                        @include bp1281 {
                            font-size: 20px;
                        };
                    }

                    h4{
                        font-size: .16rem;
                        letter-spacing: 0.02em;
                        line-height: 1.5;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-weight: 500;
                        margin-bottom: 10px;
                    
                        @include bp1281 {
                            font-size: 16px;
                        };
                    }

                    h5{
                        font-size: .18rem;
                        letter-spacing: 0.02em;
                        line-height: 1;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-weight: 500;
                        margin: 80px 0 16px;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #E3E3E3;
                    
                        @include bp1281 {
                            font-size: 18px;
                        };
                    }

                    p{
                        font-size: .14rem;
                        letter-spacing: 0.02em;
                        line-height: 2;
                        font-weight: 300;
                    
                        @include bp1281 {
                            font-size: 14px;
                        };

                        a{
                            display: inline;
                            text-decoration: underline;
                            color: #74B5E4;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-weight: 500;
                        }

                        .fwBold{
                            font-size: .14rem;
                            letter-spacing: 0.02em;
                            line-height: 2;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-weight: 500;
                        
                            @include bp1281 {
                                font-size: 14px;
                            };
                        }

                        .notice{
                            font-size: .14rem;
                            letter-spacing: 0.02em;
                            line-height: 2;
                            font-weight: 300;
                            color: #E64290;
                        
                            @include bp1281 {
                                font-size: 14px;
                            };
                        }

                        .fontS{
                            font-size: .10rem;
                            letter-spacing: 0.02em;
                            line-height: 2;
                            font-weight: 300;
                        
                            @include bp1281 {
                                font-size: 10px;
                            };
                        }
                    }

                    .logo_card{
                        width: 382px;
                        margin: 10px 0 35px;

                        @include bp768 {
                            width: 74.63%;
                        };
                    }

                    .logo_np{
                        width: 468px;
                        margin: 10px 0;

                        @include bp768 {
                            width: 100%;
                        };
                    }

                    .logo_amazon{
                        width: 214px;
                        margin: 10px 0 3px;

                        @include bp768 {
                            width: 63.88%;
                        };
                    }

                    &_table{
                        display: flex;
                        flex-wrap: wrap;
                        border: 1px solid #E3E3E3;

                        @include bp768 {
                            display: block;
                        };

                        .th, .td{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .th{
                            background-color: #E3E3E3;
                            border-bottom: 1px solid #fff;

                            @include bp768 {
                                height: 51px;
                                border-bottom: none;
                            };

                            &:nth-last-child(-n + 2){
                                border-bottom: none;
                            }
                        }

                        .td{
                            background-color: #fff;
                            border-bottom: 1px solid #E3E3E3;

                            @include bp768 {
                                border-bottom: none;
                            };

                            &:nth-last-child(-n + 2){
                                border-bottom: none;
                            }

                            p{
                                @include bp768 {
                                    padding: 15px 10px 25px;
                                };
                            }
                        }

                        &.table01{
                            margin: 10px 0 24px;

                            .th{
                                width: 59.21%;
                                height: 51px;

                                @include bp768 {
                                    width: 100%;
                                };

                                p{
                                    line-height: 1.5;
                                }
                            }
    
                            .td{
                                width: 40.79%;
                                height: 51px;

                                @include bp768 {
                                    width: 100%;
                                };
                            }

                            p{
                                text-align: center;
                            }
                        }

                        &.table02{
                            margin: 0 0 51px;
                            
                            .th{
                                width: 18.03%;

                                @include bp768 {
                                    width: 100%;
                                };
                            }
    
                            .td{
                                width: 81.97%;
                                padding: 40px 32px;

                                @include bp768 {
                                    width: 100%;
                                    padding: 0;
                                };
                            }
                        }

                        &.table03{
                            margin: 10px 0 24px;
    
                            .td{
                                width: 100%;
                                height: auto;
                                padding: 16px 47px 16px 32px;
                                display: block;

                                @include bp768 {
                                    padding: 15px 10px;
                                };

                                p{
                                    @include bp768 {
                                        padding: 0;
                                    };
                                }
                            }
                        }

                        &.table04{
                            margin: 0 0 3px;
                            
                            .th{
                                width: 18.03%;

                                @include bp768 {
                                    width: 100%;
                                };
                            }
    
                            .td{
                                width: 81.97%;
                                justify-content: flex-start;

                                @include bp768 {
                                    width: 100%;
                                };

                                p{
                                    padding: 16px 47px 16px 32px;

                                    @include bp768 {
                                        padding: 15px 10px 25px;
                                    };
                                }

                                .tdList{
                                    &_col{
                                        border-bottom: 1px solid #E3E3E3;

                                        &:last-child{
                                            border-bottom: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    /*====================================================================
                    *    benefits
                    /*==================================================================*/
                    .btnBlue{
                        width: 255px;
                        height: 53px;
                        font-size: .16rem;
                        letter-spacing: 0.04em;
                        line-height: 53px;
                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                        font-weight: 500;
                        background-color: #327CCF;
                        border-radius: 2px;
                        margin: 35px 0 10px;
                        color: #fff;
                        text-align: center;
                    
                        @include bp1281 {
                            font-size: 16px;
                        };

                        &.mrgT0{
                            margin-top: 0;
                        }
                    }

                    .benefitsAbout{
                        &_list{
                            display: flex;
                            justify-content: space-between;
        
                            @include bp768 {
                                display: block;
                            };

                            &:nth-child(n + 2){
                                margin-top: 15px;
        
                                @include bp768 {
                                    margin-top: 35px;
                                };
                            }

                            &--pic{
                                width: 26.32%;
        
                                @include bp768 {
                                    width: 100%;
                                };
                            }

                            &--txt{
                                width: 70.53%;
                                margin-top: 5px;
        
                                @include bp768 {
                                    width: 100%;
                                    margin-top: 20px;
                                };

                                p{
                                    span{
                                        display: block;
                                        font-size: .16rem;
                                        letter-spacing: 0.04em;
                                        line-height: 1;
                                        font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                        font-weight: 500;
                                        margin: 0 0 5px;
                                    
                                        @include bp1281 {
                                            font-size: 16px;
                                        };
                                    }
                                }
                            }
                        }
                    }

                    .rankTable{
                        width: 100%;
                        display: flex;
                        margin: 35px 0 20px;
        
                        @include bp768 {
                            width: 100vw;
                            margin: 35px 0 20px -20px;
                            white-space: nowrap;
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                        };

                        &_row{
                            .rowList{
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                p{
                                    line-height: 1.43;
                                    text-align: center;
                                    letter-spacing: 0.02em;

                                    span{
                                        font-size: .12rem;
                                        letter-spacing: 0.02em;
                                    
                                        @include bp1281 {
                                            font-size: 12px;
                                        };
                                    }

                                    &.no{
                                        font-size: .30rem;
                                    
                                        @include bp1281 {
                                            font-size: 30px;
                                        };
                                    }
                                }

                                img{
                                    width: 20px;
                                    margin: auto;
                                }
                            }

                            &.row01{
                                width: 118px;
                                margin-right: 4px;

                                .rowList{
                                    width: 118px;
                                    height: 56px;
                                    background-color: #F3F3F3;
                                    margin-bottom: 4px;

                                    &:first-child{
                                        background-color: #fff;
                                    }

                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            &.row02,
                            &.row03,
                            &.row04,
                            &.row05,
                            &.row06{
                                width: 127.6px;

                                .rowList{
                                    width: 127.6px;
                                    height: 59px;
                                    background-color: #FCFCFD;
                                    border-right: 1px solid #E3E3E3;

                                    &:first-child{
                                        border-right: none;
                                        width: 125px;
                                        height: 56px;
                                        margin-bottom: 4px;

                                        p{
                                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }

                            &.row02{
                                .rowList{
                                    &:first-child{
                                        background-color: #E8F3FF;
                                    }
                                }
                            }

                            &.row03{
                                .rowList{
                                    &:first-child{
                                        background-color: #D5D7DC;
                                    }
                                }
                            }

                            &.row04{
                                .rowList{
                                    &:first-child{
                                        background-color: #FEECC4;
                                    }
                                }
                            }

                            &.row05{
                                .rowList{
                                    &:first-child{
                                        background-color: #BCC1C8;
                                    }
                                }
                            }

                            &.row06{
                                .rowList{
                                    border-right: none;

                                    &:first-child{
                                        background-color: #8C8F99;

                                        p{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .indentTxt{
                        p{
                            font-size: .13rem;
                            letter-spacing: 0.04em;
                            text-indent: -1em;
                            padding-left: 1em;
                        
                            @include bp1281 {
                                font-size: 13px;
                            };
                        }
                    }

                    /*====================================================================
                    *    wrapping
                    /*==================================================================*/
                    .wrappingPic{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        &_list{
                            &:nth-child(1){
                                width: 100%;
                                margin-bottom: 24px;
                            }
                            &:nth-child(2), &:nth-child(3){
                                width: 48.68%;
                            }
                        }
                    }

                    .wrappingAbout{
                        margin: 35px 0 80px;
                        
                        @include bp768 {
                            margin: 35px 0;
                        };

                        &:last-child{
                            margin: 0;
                        }

                        &_ttl{
                            width: 100%;
                            height: 52px;
                            border: 1px solid #E3E3E3;
                            font-size: .14rem;
                            letter-spacing: 0.02em;
                            line-height: 52px;
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-weight: 500;
                            color: #659AD3;
                            margin: 0 0 24px;
                            text-align: center;
                        
                            @include bp1281 {
                                font-size: 14px;
                            };
                        }

                        &_box{
                            display: flex;
                            justify-content: space-between;
                        
                            @include bp768 {
                                display: block;
                            };

                            &--pic{
                                width: 48.68%;
                        
                                @include bp768 {
                                    width: 100%;
                                };
                            }

                            &--txt{
                                width: 48.68%;
                                margin-top: 20px;
                        
                                @include bp768 {
                                    width: 94.03%;
                                    margin: 20px auto 0;
                                };

                                .boxTtl{
                                    font-size: .14rem;
                                    letter-spacing: 0.02em;
                                    line-height: 1.71;
                                    font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                    font-weight: 500;
                                    margin: 0 0 20px;
                                
                                    @include bp1281 {
                                        font-size: 14px;
                                    };
                                }

                                .boxTxt{
                                    font-size: .12rem;
                                    letter-spacing: 0.02em;
                                    line-height: 1.83;
                                    font-weight: 300;
                                
                                    @include bp1281 {
                                        font-size: 12px;
                                    };
                                }
                            }
                        }
                    }

                    .howtoPic{
                        margin: 20px 0 35px;
                        
                        @include bp768 {
                            margin: 10px 0 20px;
                        };
                    }

                    .qaArea{
                        margin-bottom: 35px;
                        
                        @include bp768 {
                            margin-bottom: 30px;
                        };

                        &:last-child{
                            margin-bottom: 0;
                        }

                        &_ttl{
                            font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                            font-weight: 500;
                            margin: 0 0 15px;
                        
                            @include bp1281 {
                                font-size: 14px;
                            };
                        }
                    }
                }

                &.faq{
                    border: 1px solid #E5E5E5;
                    padding: 40px 100px;
                        
                    @include bp768 {
                        padding: 20px;
                        width: 89.33%;
                        margin: 0 auto;
                    };

                    .columnArea{
                        @include bp768 {
                            width: 100%;
                        };
                    }

                    h4{
                        text-align: center;
                        margin-bottom: 30px;
                    }

                    p{
                        text-align: center;
                        
                        @include bp768 {
                            text-align: left;
                        };
                    }

                    .faqBox{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 30px;
                        
                        @include bp768 {
                            display: block;
                        };

                        li{
                            width: 255px;
                            height: 53px;
                        
                            @include bp768 {
                                margin: 0 auto;
                            };

                            &:last-child{
                                @include bp768 {
                                    margin-top: 10px;
                                };
                            }

                            a{
                                width: 100%;
                                height: 100%;
                                border: 1px solid #327CCF;
                                text-align: center;
                                font-size: .16rem;
                                letter-spacing: 0.04em;
                                line-height: 53px;
                                font-family: YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
                                font-weight: 500;
                                color: #327CCF;
                            
                                @include bp1281 {
                                    font-size: 16px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }
}
