﻿<%--
=========================================================================================================
  Module      : カスタムページテンプレート画面(CustomPageTemplate.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2009 All Rights Reserved.
=========================================================================================================
--%>
<%-- ▽ユーザーコントロール宣言領域▽ --%>
<%-- △ユーザーコントロール宣言領域△ --%>
<%@ Page Title="山本未奈子(MINAKO YAMAMOTO)について | SIMPLISSE(シンプリス) produced by 山本未奈子" MetaDescription="「NYの美容学校 L’atelier Esthetiqueを卒業後、同校で教鞭を執る。拠点を日本に移し、2009年にMNC New York Inc.を設立。「日本で一番女性を幸せにする会社」をビジョンに掲げ、女性の活躍をサポートするため、ビューティーブランド「SIMPLISSE／シンプリス」のほか、フェムテック事業やファッションブランドを展開する。また美容記事の監修や講演など美容の専門家としても多方面で活躍中。著書多数。」" Language="C#" Inherits="ContentsPage" MasterPageFile="~/Form/Common/DefaultPage.master" %>
<%--

下記のタグはファイル情報保持用です。削除しないでください。
<%@ FileInfo LayoutName="Default" %><%@ FileInfo LastChanged="システム管理者" %>

--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<%-- ▽編集可能領域：HEAD追加部分▽ --%>
<link rel="stylesheet" href="css/style.css?12">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<%-- △編集可能領域△ --%>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<%-- ▽編集可能領域：コンテンツ▽ --%>



<!-- about -->
<article id="yamamotominako">
	<!--▽ パンくず ▽-->
	<div class="breadArea pc_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
            </li>
            <li>
				<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/about/yamamotominako/") %>">about</a>
			</li>
			<li>
				<a href="#">
					山本未奈子について
				</a>
			</li>
		</ul>
	</div>
	<!--△ パンくず △-->

    <!------>
    <!------>
    <section class="listBrandsArea yamamotominako">
        <div class="yamamotominako__bk">
            <div class="yamamotominako__simplisseCeoinner">
                <div class="flex">
                    <div class="yamamotominako__simplisseCeoinner--seoBox">
                        <div class="pic">
                            <img src="images/yamamotominako.jpg" alt="">
                        </div>
                    </div>
                    <div class="yamamotominako__simplisseCeoinner--exBox">
                        <p class="title">
                            シンプルに、美しく
                            <span>あなたらしい人生のために。</span>
                        </p>
                        <div class="explain">
                            <p>
                                若い頃の私は、肌荒れと乾燥に悩んで自分に自信が持てず、<br>
                                あらゆるスキンケアを試しては悩みを加速させていました。<br>
                                情報に翻弄され、何が正しいのかわからなくなった日々。<br>
                                ニューヨークの最新皮膚科学理論を学んで初めて、<br>
                                必要なことは本来ごくシンプルであることを知ったのです。
                            </p>
                            <p>
                                私たちを構成する細胞の一つひとつは、口にするものでできているから、<br>
                                内側からのインナーケアが、健康とキレイのベースになります。<br>
                                育まれた細胞が 、肌や髪、カラダとなって現れた時に、<br>
                                外側からメンテナンスをするのがスキンケアです。
                            </p>
                            <p>
                                内と外からのケアで、求める結果へ最短距離で届くように、<br>
                                シンプルな方法で、 本当に良いものを誰でも享受できるように。<br>
                                そんな願いを込めて、2009年、SIMPLISSEは誕生しました。<br>
                                心身ともに、心地よく豊かな「キレイ」のために、
                                様々な商品を展開しています。
                            </p>
                            <p>
                                肌や髪、カラダ、性の悩みに振り回されることなく、<br>
                                なりたい自分のために、助けになるソリューションが揃っている。<br>
                                SIMPLISSEだから最短で結果が見える。<br>
                                そんなブランドとして、誠実に、成長していきたいと思っています。<br>
                                すべての人が、自分らしく美しい人生を歩めるようにと願って。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="personalEx">
                    <p class="names">
                        SIMPLISSE 代表
                        <span>
                            山本未奈子
                        </span>
                    </p>
                    <p class="license">
                        <span>
                            NY州認定ビューティーセラピスト
                        </span>
                        <span>
                            英国ITEC国際ビューティースペシャリスト
                        </span>
                    </p>
                </div>
            </div>
            <div class="yamamotominako__Careerinner">
                <div class="yamamotominako__Careerinner--picBox">
                    <div class="pic">
                        <img src="images/01.jpg" alt="">
                    </div>
                    <div class="pic">
                        <img src="images/02.jpg" alt="">
                    </div>
                </div>
                <p class="yamamotominako__Careerinner--carrerEx">
                    「NYの美容学校 L’atelier Esthetiqueを卒業後、同校で教鞭を執る。拠点を日本に移し、2009年にMNC New York Inc.を設立。「日本で一番女性を幸せにする会社」をビジョンに掲げ、女性の活躍をサポートするため、ビューティーブランド「SIMPLISSE／シンプリス」のほか、フェムテック事業やファッションブランドを展開する。また美容記事の監修や講演など美容の専門家としても多方面で活躍中。著書多数。」
                </p>
            </div>
            <div class="yamamotominako__publishingBooksinner">
                <div class="yamamotominako__publishingBooksinner--title">
                    <p>
                        2009.10  著書「今まで誰も教えてくれなかった 極上美肌論」（武田ランダムハウスジャパン）出版。
                    </p>
                    <p>
                        2010.12  著書「輝いている女性は秘かにやっている NY発 全身美肌術」（マガジンハウス）出版。
                    </p>
                    <p>
                        2011.04  著書「美人になる食べ方」（幻冬舎）出版。
                    </p>
                    <p>
                        2011.08  山本未奈子・田村マナ共著「頭皮ケアで始める美髪バイブル」（講談社）出版。
                    </p>
                    <p>
                        2012.08  著書「毛穴レス美肌バイブル」（マイナビ）出版。
                    </p>
                    <p>
                        2013.08  著書「本当に知りたかった 美肌の教科書」（文庫／講談社）出版。
                    </p>
                    <p>
                        2016.06  著書「35歳からの「もう太らない自分」の作り方」（講談社）出版。
                    </p>
                </div>
            </div>
            <div class="yamamotominako__aboutUsinner">
                <p class="yamamotominako__aboutUsinner--aboutUs">
                    WANT TO KNOW MORE
                    <span>
                        ABOUT US?
                    </span>
                </p>
                <div class="yamamotominako__aboutUsinner--itemTableConteiner" id="tableParent">
                    <dl class="yamamotominako__aboutUsinner--itemTable">
                        <dt>
                            BRAND CONCEPT
                        </dt>
                        <dd>
                            自然と科学の“いいとこどり”それがホリディカル美容
                            <p>
                                Holistic（自然）の力も、Medical（科学）の力も、どちらも享受して、最高の結果を出したい。それが、SIMPLISSEの「ホリディカル美容」です。
                            </p>
                            <div class="arrow">
                                <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/about/brandConcept/") %>">
                                    <img src="images/right-arrow.png" alt="">
                                </a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="yamamotominako__aboutUsinner--itemTable">
                        <dt>
                            BRAND HISTORY
                        </dt>
                        <dd>
                            シンプリスは、こうして生まれました
                            <p>
                                たくさんの商品を生み出してきたシンプリスですが、現在も、理念はまったく変わりません。ブランドの顔である美容液と同じように、すべての商品に想いを込めて送り出しています。
                            </p>
                            <div class="arrow">
                                <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/about/brandhistory/") %>">
                                    <img src="images/right-arrow.png" alt="">
                                </a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="yamamotominako__aboutUsinner--itemTable">
                        <dt> 
                            <p class="hide">MINAKO YAMAMOYO</p>
                        </dt>
                        <dd>
                            <div class="hide">
                            肌に悩んだ私から、全世界の女性たちへ
                                <p>
                                    もっと肌をきれいにしたい。美しくなりたい。それは全ての女性に共通する願いです。けれど、
                                    これほど技術が進化した現代にあって多くの女性が肌トラブルやエイジングに悩んでいます。
                                </p>
                                <div class="arrow">
                                    <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/about/yamamotominako/") %>">
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="yamamotominako__aboutUsinner--itemTable">
                        <dt> 
                            CSR REPORT
                        </dt>
                        <dd>
                            すべての女性へ、健やかで心地よい毎日を
                            <p>
                                MNC New Yorkは、すべての女性が健やかに、心地よく生きていける社会を目指すことを目的とし、社会や女性に貢献する活動を展開していきます。
                            </p>
                            <div class="arrow">
                                <a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/about/csr-report/") %>">
                                    <img src="images/right-arrow.png" alt="">
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>

    
    <script>
        // yamamotominako__aboutUsinner--itemTable の最後の段にボーダーを追加
        $(function() {
            var parent = $('#tableParent .yamamotominako__aboutUsinner--itemTable:last');
            parent.find('dt').css('border-bottom', 'solid 1px #CCCCCC');
            parent.find('dd').css('border-bottom', 'solid 1px #CCCCCC');

                
            var $win = $(window);

            $win.on('load resize', function(){
            var windowSize = window.innerWidth;
            
            // bp768 以下で上記のcss(dtのみ)非表示
            if (windowSize < 768) {
                parent.find('dt').css('border-bottom', 'none');
                }
            })            
        })

        
        
    </script>
    <!------>

	<!--▽ パンくず ▽-->
	<div class="breadArea sp_contents">
		<ul>
			<li>
				<a href="<%= WebSanitizer.UrlAttrHtmlEncode(this.UnsecurePageProtocolAndHost + Constants.PATH_ROOT) %>">HOME</a>
            </li>
            <li>
				<a href="<%= WebSanitizer.HtmlEncode(Constants.PATH_ROOT + "Page/about/") %>">about</a>
			</li>
			<li>
				<a href="#">
					山本未奈子について
				</a>
			</li>
		</ul>
	</div>
	<!--△ パンくず △-->
</article>
<!-- // about -->
<%-- △編集可能領域△ --%>
</asp:Content>

