// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

.yamamotominako {
    div {
        text-align: center;
    }
    img {
        vertical-align:top;
    }
}

.yamamotominako {

    &__bk {
        overflow-x: hidden;
    }
    &__simplisseCeoinner {
        width: 900px;
        margin: 39px auto 80px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 9999px;
            height: 492px;
            left: -100%;
            top: 256px;
            background: #F1F8FD;
            z-index: -10000;

        }
        @include bp768 {
            width: 89.3%;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            @include bp768 {
                display: block;
            }
        }

        &--seoBox {
            width: 370px;
            @include bp768 {
                width: 100%;
            }

            .pic img {
                width: 100%;
                margin-bottom: 16px;
                @include bp768 {
                    margin-bottom: 40px;
                }
            }

        }

        &--exBox {
            width: 460px;
            .title {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 24px;
                letter-spacing: 0.04em;
                line-height: 1.66;
                text-align: left;
                color: #222;
                margin-bottom: 24px;
                @include bp768 {
                    font-size: .24em;
                }

                span {
                    display: block;
                }
            }
            .explain {

                p {
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.04em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    

                    margin-bottom: 27px;
                    @include bp768 {
                        font-size: .14em;
                    }
                }
            }
        }
        .personalEx {
            width: 370px;
            position: absolute;
            top: 528px;

            @include bp768 {
                width: 100%;
            }
            .names {
                font-family: $en;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.08em;
                line-height: 3;
                text-align: left;
                color: #222;
                margin-bottom: 8px;
                @include bp768 {
                    font-size: .10em;
                }

                span {
                    display: block;
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.18em;
                    line-height: 1.66;
                    text-align: left;
                    color: #222;
                    @include bp768 {
                        font-size: .18em;
                    }
                }
            }
            .license {
                margin-bottom: 8px;
                span {
                    display: block;
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 10px;
                    letter-spacing: 0.08em;
                    line-height: 1.8;
                    text-align: left;
                    color: #222;
                    @include bp768 {
                        font-size: .10em;
                    }

                }
            }
            .text {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.08em;
                line-height: 1.8;
                text-align: left;
                color: #222;
                @include bp768 {
                    font-size: .10em;
                }

            }
        }
    }
}

.yamamotominako {
    &__Careerinner {
        width: 910px;
        margin: 0 auto 40.5px;
        &--picBox {
            width: 910px;
            margin: 0 auto 24px;
            display: flex;
            justify-content: space-between;


            .pic {
                img {
                    width: 445px;
                }
            }
        }
        &--carrerEx {
            font-family: $en;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.08em;
            line-height: 2;
            text-align: left;
            color: #222;
        }
    }
}

.yamamotominako {

    &__publishingBooksinner {
        width: 910px;
        margin: 0 auto 121.5px;
        border-top: solid 1px #CCCCCC;
        border-bottom: solid 1px #CCCCCC;

        &--title {
            margin: 40.5px auto 39.5px;
            p {
                font-family: $en;
                font-weight: 300;
                font-size: 12px;
                letter-spacing: 0.08em;
                line-height: 2;
                text-align: left;
                color: #222;
    
            }
        }
    }
}

.yamamotominako {

    &__aboutUsinner {
        width: 910px;
        margin: 0 auto;

        &--aboutUs {
            font-family: $en;
            font-weight: 300;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 1.38;
            text-align: left;
            color: #222;
            margin-bottom: 39.5px;

            span {
                display: block;
                font-weight: 500;
            }
        }
    }
}