// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

/* .history {
    div {
        text-align: center;
    }
    img {
        vertical-align:top;
    }
} */

.history {
    
    &__secTopArea {
        font-size: 0;
        width: 910px;
        height: 570px;
        margin: 119px auto 80px;
        position: relative;

        &--text {
            font-family: $en;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0.04em;
            line-height: 2.5;
            text-align: left;
            color: #222;
            padding-top: 40px;
            margin-bottom: 39px;

        }
        &--title {
            margin-left: -10px;
            margin-bottom: 24px;
            img {
                width: 455px;
            }
        }
        &--titleSubText {
            font-family: $en;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 1.57;
            text-align: left;
            color: #222;

        }

        &--visu {

            div:nth-child(1){
                position: absolute;
                left: 0;
                bottom: 80px;
                img {
                    width: 625px;
                }
            }
            div:nth-child(2){
                position: absolute;
                top: 0;
                right: 0;
                img {
                    width: 210px;
                }
            }
        }
    }
}

.history {
    &__secflex {
        width: 910px;
        margin: 0 auto 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(odd) {
            flex-direction: column;
        }

        .ill {
            img {
                width: 455px;
            }
        }
        div:nth-child(2) {

            p {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: left;
                color: #222;

                span {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 16px;
                    letter-spacing: 0.04em;
                    line-height: 1.75;
                    text-align: left;
                    color: #222;
                    display: block;
                    margin-bottom: 24px;
                }
            }
        }
    }
}