// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

$sp-maxWidth : 89.3%;

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

/* .history {
    div {
        text-align: center;
    }
    img {
        vertical-align:top;
    }
} */

.history {
    margin-bottom: 80.5px;
    &__secTopArea {
        font-size: 0;
        width: 910px;
        height: 570px;
        margin: 119px auto 80px;
        position: relative;
        @include bp768(){
            width: $sp-maxWidth;
            height: auto;
            position: relative;
        }

        &--text {
            font-family: $en;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0.04em;
            line-height: 2.5;
            text-align: left;
            color: #222;
            padding-top: 40px;
            margin-bottom: 39px;
            @include bp768(){
                font-size: .14rem;
                letter-spacing: 0.04em;
                line-height: 2.85;
                text-align: center;
            }


        }
        &--title {
            margin-left: -10px;
            margin-bottom: 24px;
            @include bp768(){
                margin-left: -2%;
                margin-bottom: 16px;
            }
            img {
                width: 455px;
                @include bp768(){
                    width: 100%;
                }
            }
        }
        &--titleSubText {
            font-family: $en;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 1.57;
            text-align: left;
            color: #222;

            img {
                width: 625px;
            }
            @include bp768 {
                font-size: .12rem;
            }

        }

        &--visu {
            position: relative;
            img {
                width: 210px;
            }
            @include bp768(){
                width: 100%;
                display: flex;
                align-items: center;
                z-index: -3;
                justify-content: space-between;
                margin-top: -30%;
            } 
            div:nth-child(1){
                position: absolute;
                left: 0;
                bottom: 80px;
                @include bp768 {
                    position: static;
                    width: 62.6%;
                    margin-top: 40px;
                }
                img {
                    width: 625px;
                    @include bp768(){
                        width: 100%;
                    }
                }
            }
            div:nth-child(2){
                position: absolute;
                top: 0;
                right: 0;
                @include bp768 {
                    position: static;
                    width: 28.1%; 
                }
                img {
                    width: 210px;
                    @include bp768(){
                        width: 100%;
                    }
                }
            }
        }
    }
}

.history {
    &__secflex {
        width: 910px;
        margin: 0 auto 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include bp768(){
            width: $sp-maxWidth;
            display: block;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;

        }

        .ill {
            img {
                width: 455px;
                @include bp768(){
                    width: 100%;
                }
            }
        }
        div:nth-child(2) {

            p {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: left;
                color: #222;
                @include bp768(){
                    font-size: .14rem;
                }

                span {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 16px;
                    letter-spacing: 0.04em;
                    line-height: 1.75;
                    text-align: left;
                    color: #222;
                    display: block;
                    margin-bottom: 24px;
                    @include bp768(){
                        font-size: .16rem;
                    }
                }
            }
        }
    }


    &__lastBox {
        width: 455px;
        margin: 0 auto;
        @include bp768(){
            width: $sp-maxWidth;
        }

        &--text {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: center;
            color: #222;

            p:nth-last-child(1) {
                margin-top: 39px;
            }
        }
        div img {
            width: 455px;
            @include bp768(){
                width: 100%;
            }
        }

        .illCredit {
            font-family: $en;
            font-weight: 300;
            font-size: 10px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: center;
            color: #222;
        }
    }
}


.history {

    &__aboutUsinner {
        width: 910px;
        margin: 0 auto 40.5px;
        @include bp768 {
            width: 89.3%;
        }

        &--aboutUs {
            font-family: $en;
            font-weight: 300;
            font-size: 26px;
            letter-spacing: 0.04em;
            line-height: 1.38;
            text-align: left;
            color: #222;
            margin-bottom: 39.5px;
            @include bp768 {
                font-size: .20em;
            }

            span {
                display: block;
                font-weight: 500;
            }
        }

        &--itemTable {
            width: 910px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include bp768 {
                width: 100%;
                display: block;
            }

            dt {
                font-family: $en;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2.85;
                text-align: left;
                color: #222;
                width: 220px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 109.5px 6px;
                @include bp768 {
                    font-size: .14em;
                    width: 100%;
                    padding: 40.5px 0 32px 6px;
                }



            }
            dd {
                font-family:$jaMid;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: left;
                color: #222;
                width: 670px;
                border-top: solid 1px #CCCCCC;
                padding: 40.5px 0 43.5px 0;
                position: relative;
                @include bp768 {
                    font-size: .20em;
                    border-top: none;
                    width: 100%;
                    padding: 0 0 43.5px 0;
                }


                p {
                    font-family: $en;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.08em;
                    line-height: 2;
                    text-align: left;
                    color: #222;

                }

                .arrow {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}