﻿<%@ Register TagPrefix="uc" TagName="Preview" Src="~/Page/Preview/Parts000TMPL_004.ascx.Preview.ascx" %><%@ Page Language="C#" MasterPageFile="~/Form/Common/SimpleDefaultPagePreview.master" %>
<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc:Preview runat="server" IsPreview="True" />
</asp:Content>