<article class="brandWrap beauty">
    <section class="listBrandsArea">
        <div class="catBox">
            <div class="catPic">
                <img src="../../Contents/Html/Category/images/001/main_beauty.jpg" />
            </div>
            <div class="catTxt">
                <p class="catTxt_brand">BEAUTY</p>
                <p class="catTxt_lead">
                    流されない、<br class="sp_contents">シンプルで確かなケアを。
                </p>
                <p class="catTxt_cts">
                    美しさに必要なのは、お金や時間ではなく正しい知識。<br>
                    情報や常識に惑わされることなく、<br>
                    本当に必要なものを、確実に届ける。<br>
                    続けることで、肌が持つ本来の美しさを引き出します。
                </p>
            </div>
        </div>
    </section>
    
    <section class="keywordsArea">
        <p class="keywordsArea_num">検索結果：<span></span>件</p>
        <h2>
            KEYWORDS<span>キーワードで検索</span>
        </h2>
        <ul class="keywordsArea_list">
            <li>
                <a href="?shop=0&cat=bty&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=頭皮ケア&pno=1">頭皮ケア</a>
            </li>
            <li>
                <a href="?shop=0&cat=bty&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=うるおい&pno=1">うるおい</a>
            </li>
            <li>
                <a href="?shop=0&cat=bty&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=デリケートゾーン 専用&pno=1">デリケートゾーン 専用</a>
            </li>
            <li>
                <a href="?shop=0&cat=bty&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=角質ケア&pno=1">角質ケア</a>
            </li>
            <li>
                <a href="?shop=0&cat=bty&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=毛穴ケア&pno=1">毛穴ケア</a>
            </li>
        </ul>
    </section>
    
    <section class="subcatArea">
        <ul class="subcatArea_list">
            <li class="on">
                <a href="?shop=0&cat=btyskn&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">スキンケア</a>
            </li>
            <li>
                <a href="?shop=0&cat=btyhai&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">ヘアケア</a>
            </li>
            <li>
                <a href="?shop=0&cat=btybod&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">ボディケア・フェミニンケア</a>
            </li>
            <li>
                <a href="?shop=0&cat=btymen&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">メンズ</a>
            </li>
            <li>
                <a href="?shop=0&cat=btytry&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">トライアル</a>
            </li>
            <li>
                <a href="?shop=0&cat=btyoth&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">雑貨・その他</a>
            </li>
        </ul>
    </section>
</article>
    
<section class="subsubcatArea beauty">
    <ul class="subsubcatArea_list">
        <li>
            <a href="?shop=0&cat=btyskn&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">ALL</a>
        </li>
        <li>
            <a href="?shop=0&cat=btyskncle&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">クレンジング</a>
        </li>
        <li class="on">
            <a href="?shop=0&cat=btysknsrm&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">美容液</a>
        </li>
        <li>
            <a href="?shop=0&cat=btysknspe&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">スペシャルケア</a>
        </li>
        <li>
            <a href="?shop=0&cat=btysknuvc&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">UVケア</a>
        </li>
    </ul>
</section>