<article class="brandWrap other">
    <section class="listBrandsArea">
        <div class="catBox">
            <div class="catPic">
                <img src="../../Contents/Html/Category/images/004/main_bea.jpg" />
            </div>
            <div class="catTxt">
                <img class="catTxt_logo bea" src="../../Contents/Html/Category/images/004/logo_bea.png" />
                <p class="catTxt_lead">
                    望めば変わる。人生も、世界も。
                </p>
                <p class="catTxt_cts">
                    Bé-A（ベア）は、穿くだけで1日を安心して過ごせる、<br>
                    サステナブルな超吸収型サニタリーショーツを開発 。<br>
                    漏れや交換などのストレスを軽減し、<br>
                    “その日であることを忘れるくらいの快適さ”を目指します。<br>
                    悩みを諦めず、もっと自由に、快適に。Girls Be Ambitious
                </p>
            </div>
        </div>
    </section>
    
    <section class="keywordsArea">
        <p class="keywordsArea_num">検索結果：<span></span>件</p>
        <h2>
            KEYWORDS<span>キーワードで検索</span>
        </h2>
        <ul class="keywordsArea_list">
            <li>
                <a href="?shop=0&cat=othbea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=ベア&pno=1">ベア</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=血液専用粉洗剤&pno=1">血液専用粉洗剤</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=布ナプキン&pno=1">布ナプキン</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=多い日用&pno=1">多い日用</a>
            </li>
        </ul>
    </section>
    
    <section class="subcatArea">
        <ul class="subcatArea_list">
            <li>
                <a href="?shop=0&cat=othbea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">ALL</a>
            </li>
            <li class="on">
                <a href="?shop=0&cat=othbeabea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">Bé-A</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbeapet&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">Bé-A petite</a>
            </li>
        </ul>
    </section>
</article>