<article class="brandWrap other">
    <section class="listBrandsArea">
        <div class="catBox">
            <div class="catPic">
                <img src="../../Contents/Html/Category/images/004/main_damai.jpg" />
            </div>
            <div class="catTxt">
                <img class="catTxt_logo damai" src="../../Contents/Html/Category/images/004/logo_damai.png" />
                <p class="catTxt_lead">
                    美しさを引き出す、本格スパ ブランド
                </p>
                <p class="catTxt_cts">
                    数々の国際的アワード受賞歴をもつ、日本が誇るスパ「DAMAI/ダマイ」。<br>
                    温めること（THERMAL）、植物の力（PHYTO）、高度な技術（THERAPY）の<br>
                    3つをベースにした“サーマル フィト セラピー“という独自メソッドを掲げ、<br>
                    効果重視のスパ発祥のプロダクトが、美しさを引き出します。
                </p>
            </div>
        </div>
    </section>
    
    <section class="keywordsArea">
        <p class="keywordsArea_num">検索結果：<span></span>件</p>
        <h2>
            KEYWORDS<span>キーワードで検索</span>
        </h2>
        <ul class="keywordsArea_list">
            <li>
                <a href="?shop=0&cat=othdam&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=小顔&pno=1">小顔</a>
            </li>
            <li>
                <a href="?shop=0&cat=othdam&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=むくみケア&pno=1">むくみケア</a>
            </li>
            <li>
                <a href="?shop=0&cat=othdam&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=温活&pno=1">温活</a>
            </li>
            <li>
                <a href="?shop=0&cat=othdam&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=セルライト&pno=1">セルライト</a>
            </li>
        </ul>
    </section>
    
    <section class="subcatArea">
        <!-- <ul class="subcatArea_list">
            <li class="on">
                <a href="?shop=0&cat=othbea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">ALL</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbeabea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">Bé-A</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbeapet&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">Bé-A petite</a>
            </li>
        </ul> -->
    </section>
</article>