<article class="brandWrap other">
    <section class="listBrandsArea">
        <div class="catBox">
            <div class="catPic">
                <img src="../../Contents/Html/Category/images/004/main_solace.jpg" />
            </div>
            <div class="catTxt">
                <img class="catTxt_logo solace" src="../../Contents/Html/Category/images/004/logo_solace.png" />
                <p class="catTxt_lead">
                    キレイは飲んでつくる
                </p>
                <p class="catTxt_cts">
                    加圧トレーニングやインディバなどを行う「Solace/ソラーチェ代官山」。<br>
                    注目は、植物性タンパク質を主としたオールインワンドリンク「ソイリーン」。<br>
                    メディカルアドバイザーや管理栄養士を携え、<br>1万件を超えるセッションから導きだしたメソッドにより、健康で美しい体づくりを目指します。
                </p>
            </div>
        </div>
    </section>
    
    <section class="keywordsArea">
        <p class="keywordsArea_num">検索結果：<span></span>件</p>
        <h2>
            KEYWORDS<span>キーワードで検索</span>
        </h2>
        <ul class="keywordsArea_list">
            <li>
                <a href="?shop=0&cat=othsol&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=プロテイン&pno=1">プロテイン</a>
            </li>
            <li>
                <a href="?shop=0&cat=othsol&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=ファスティング&pno=1">ファスティング</a>
            </li>
            <li>
                <a href="?shop=0&cat=othsol&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=タンパク質&pno=1">タンパク質</a>
            </li>
        </ul>
    </section>
    
    <section class="subcatArea">
        <!-- <ul class="subcatArea_list">
            <li class="on">
                <a href="?shop=0&cat=othbea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">ALL</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbeabea&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">Bé-A</a>
            </li>
            <li>
                <a href="?shop=0&cat=othbeapet&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">Bé-A petite</a>
            </li>
        </ul> -->
    </section>
</article>