<article class="brandWrap sensual">
    <section class="listBrandsArea">
        <div class="catBox">
            <div class="catPic">
                <img src="../../Contents/Html/Category/images/003/main_sensual.jpg" />
            </div>
            <div class="catTxt">
                <p class="catTxt_brand">SENSUAL</p>
                <p class="catTxt_lead">
                    自分の性を大切にできる、<br>
                    センシュアルな女性へ。
                </p>
            </div>
        </div>
    </section>
    
    <section class="keywordsArea">
        <p class="keywordsArea_num">検索結果：<span></span>件</p>
        <h2>
            KEYWORDS<span>キーワードで検索</span>
        </h2>
        <ul class="keywordsArea_list">
            <li>
                <a href="?shop=0&cat=sen&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=デリケートゾーン専用&pno=1">デリケートゾーン専用</a>
            </li>
            <li>
                <a href="?shop=0&cat=sen&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=粘膜&pno=1">粘膜</a>
            </li>
            <li>
                <a href="?shop=0&cat=sen&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=口コミ人気&pno=1">口コミ人気</a>
            </li>
            <li>
                <a href="?shop=0&cat=sen&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=黒ずみ&pno=1">黒ずみ</a>
            </li>
        </ul>
    </section>
    
    <section class="subcatArea">
        <!-- <ul class="subcatArea_list">
            <li>
                <a href="?shop=0&cat=welsup&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">サプリメント</a>
            </li>
            <li>
                <a href="?shop=0&cat=welfoo&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">フーズ&ドリンク</a>
            </li>
            <li>
                <a href="?shop=0&cat=weloth&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">雑貨・その他</a>
            </li>
        </ul> -->
    </section>
</article>