<article class="bordersWrap">
    <section class="mainArea">
        <img src="../../Contents/Html/Category/images/borders/kv.png" />
    </section>
    <section class="collaboArea">
        <div class="collaboArea_ttl">
            <p>数量限定</p>
        </div>
        <div class="collaboArea_txt">
            <p class="collaboArea_txt--ttl">BORDERS at BALCONYと<br class="sp_contents">コラボレーションした<br class="sp_contents">スペシャルキット。</p>
            <p class="collaboArea_txt--txt">
                「ボーダーズアットバルコニー」<br class="sp_contents">とのコラボ企画！<br>
                SIMPLISSEとのコラボ限定モデルの<br class="sp_contents">CITY POLYポーチと、<br>
                サプリメントのスペシャルなキット。<br>
                伊勢丹新宿店でも大人気のキットが、<br class="sp_contents">オンラインストアに登場です。
                <span>※数に限りがございますので、<br class="sp_contents">なくなり次第終了とさせていただきます。</span>
            </p>
        </div>
        <img src="../../Contents/Html/Category/images/borders/pic_collabo.png" />
    </section>
    <section class="itemArea">
        <div class="itemArea_box">
            <div class="itemArea_box--list">
                <img src="../../Contents/Html/Category/images/borders/left.jpg" />
            </div>
            <div class="itemArea_box--list">
                <img src="../../Contents/Html/Category/images/borders/right.jpg" />
            </div>
        </div>
        <p>
            両脇にアイコンのボーダーフリルがデザインされたCITY POLYシリーズ限定ポーチ。<br>
            モノトーンでありながらも<br class="sp_contents">ちょっとしたアクセントに。 <br class="sp_contents">背面には便利なティッシュケース付き。<br>
            丈夫で軽く、デイリーに<br class="sp_contents">お使いいただけるポリエステル素材。
        </p>
    </section>
    <section class="descArea">
        <img src="../../Contents/Html/Category/images/borders/logo_borders.png" />
        <p>
            <span>BORDERS at BALCONY / <br class="sp_contents">ボーダーズアットバルコニー</span><br>
            “クラス感のあるボーダー”をコンセプトとし、ブランドプロデューサーとして活躍する柴田陽子氏が立ち上げた、洗練された女性のためのアパレルブランド。華やかさとカジュアル感をほどよくMIXしたワードローブを提案。多くの女性を魅了し続けています。<br>
            BORDERS at BALCONYが送るバッグの新定番、CITY POLYシリーズ。<br>
            ボーダーフリルがデザインされたポーチで、サプリメントを楽しく日常に取り入れましょう。
        </p>
    </section>
</article>