<article class="brandWrap welness">
    <section class="listBrandsArea">
        <div class="catBox">
            <div class="catPic">
                <img src="../../Contents/Html/Category/images/002/main_welness.jpg" />
            </div>
            <div class="catTxt">
                <p class="catTxt_brand">WELNESS</p>
                <p class="catTxt_lead">
                    今の悩みに応える、<br class="sp_contents">ポジティブな解答を。
                </p>
                <p class="catTxt_cts">
                    現代を生きる女性たちが、<br>
                    自分らしく心地よく生きていくために。<br>
                    悩みやコンプレックスを手放すきっかけになる<br>
                    様々な目的に合わせたソリューションを<br>
                    取り揃えています。
                </p>
            </div>
        </div>
    </section>
    
    <section class="keywordsArea">
        <p class="keywordsArea_num">検索結果：<span></span>件</p>
        <h2>
            KEYWORDS<span>キーワードで検索</span>
        </h2>
        <ul class="keywordsArea_list">
            <li>
                <a href="?shop=0&cat=wel&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=ファスティング&pno=1">ファスティング</a>
            </li>
            <li>
                <a href="?shop=0&cat=wel&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=糖質カット&pno=1">糖質カット</a>
            </li>
            <li>
                <a href="?shop=0&cat=wel&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=女性ホルモン&pno=1">女性ホルモン</a>
            </li>
            <li>
                <a href="?shop=0&cat=wel&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=飲む日焼け止め&pno=1">飲む日焼け止め</a>
            </li>
            <li>
                <a href="?shop=0&cat=wel&dpcnt=&img=1&sort=07&udns=2&fpfl=0&_key=マルチビタミン&pno=1">マルチビタミン</a>
            </li>
        </ul>
    </section>
    
    <section class="subcatArea">
        <ul class="subcatArea_list">
            <li class="on">
                <a href="?shop=0&cat=welsup&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">サプリメント</a>
            </li>
            <li>
                <a href="?shop=0&cat=welfoo&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">フーズ&ドリンク</a>
            </li>
            <li>
                <a href="?shop=0&cat=weloth&dpcnt=&img=1&sort=07&udns=2&fpfl=0&pno=1">雑貨・その他</a>
            </li>
        </ul>
    </section>
</article>