
// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

.welcome {
    div {
        text-align: center;
    }
    img {
        vertical-align:top;
    }
}

// bread

#welcome {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }
}

// first Views
.welcome {
    &__MainVisuContainer {
        &--Title {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 30px; /* .30rem */
            letter-spacing: 0.04em;
            line-height: 1.5;
            text-align: center;
            color: #222;
            margin: 91.5px auto 40px;
            @include bp768 {
                font-size: .18rem;
                line-height: 1.55;
                margin: 40.5px auto 40px;
            }

            .sp_noneObj1 {
                font-size: .30rem;
                display: inline-block !important;
                @include bp768 {
                    display: none !important;
                }
            }

        }
        &--kv {
            img {
                width: 1060px;
                display: block;
                margin: 0 auto 80px;
                @include bp768 {
                    width: 100%;
                    margin: 0 auto 40px;
                }
            }
        }
    }
}

// はじめての方におすすめの美容液

.welcome {

    &__firstExinner {
        width: 1060px;
        margin: 0 auto 120px;
        display: flex;
        justify-content: space-between;
        @include bp768 {
            width: 84%;
            display: block;
            margin: 0 auto 80px;
        }

        &--title {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 30px; /* .30rem */
            letter-spacing: 0.04em;
            line-height: 1.5;
            text-align: left;
            color: #222;
            margin-left: 80px;
            @include bp768 {
                font-size: .24rem;
                letter-spacing: 0.04em;
                line-height: 1.58;
                margin-left: 0;
                margin-bottom: 24px;
            }

            span { display: block;}
        }

        &--explain p {
            width: 530px;
            font-family: $Jalight;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 42px;
            text-align: left;
            color: #222;
            @include bp768 {
                width: 100%;
                font-size: .14rem;
                line-height: 2.57;
            }

            p {
                text-align: left;
                &:nth-child(1) {
                    margin-bottom: 70px;
                }
            }
        }
    }
    .secondExinner {
        margin: 0 auto 80px;
    }
}

//まずは10日間お試しください

.welcome {
    &__traialinner {
        width: 100%;
        background: #F1F8FD;

        &--tilte {
            text-align: center;
            color: #222;

            p {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 45px;
                padding-top: 80px;
                padding-bottom: 8px;
                text-align: center;
                @include bp768 {
                    padding-top: 40px;
                    font-size: .14rem;
                }
            }
            h3 {
                font-family: $jaMid;
                font-weight: 300;
                font-size: 30px;
                letter-spacing: 0.04em;
                line-height: 24px;
                margin: 0 auto 40px;
                @include bp768 {
                    font-size: .24rem;
                    letter-spacing: 0.04em;
                    line-height: 1.58;
                    text-align: center;
                    margin: 0 auto 8px;
                }
            }
        }
        &--flex {
            width: 807px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px #CCCCCC;
            @include bp768 {
                width: 86.4%;
                display: block;
            }
        }
        
        &--traialItem {
            img {
                width: 370px;
                @include bp768 {
                    width: 100%;
                }
            }
        }
        &--traialExBox {
            width: 370px;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 32.5px;
            @include bp768 {
                width: 100%;
                display: block;
                text-align: left;
                font-size: 0;

            }
            li {
                width: fit-content;
                border: solid 1px #679AD1;
                background: #fff;
                padding: 8px 10px;
                margin: 8px;
                font-family: $jaMid;
                font-weight: 300;
                font-size: 13px;
                letter-spacing: 0.04em;
                line-height: 20px;
                text-align: left;
                color: #679ad1;
                list-style: none;
                @include bp768 {
                    width: fit-content;
                    display: inline-block;
                    font-size: (11 * (100vw / 375))
                }
            }
        }

        &--traialItemExplain {
            .title {
                font-family: $jaMid;
                font-weight: 300;
                font-size: 30px; /* .30rem */
                letter-spacing: 0.04em;
                line-height: 40px;
                text-align: left;
                color: #679ad1;
                margin:9px auto 16px;
                @include bp768 {
                    font-size: .24rem;
                    letter-spacing: 0.04em;
                    line-height: 1.58;
                }

                span { display: block;}
            }

            .contentsListItem {
                margin: 0 auto 32px;
                li {
                    font-family: $jaMid;
                    font-weight: 300;
                    font-size: 13px; /* .13rem */
                    letter-spacing: 0.04em;
                    line-height: 20px;
                    text-align: left;
                    color: #222;
                    list-style: none;
                    margin: 0 auto 8px;
                    @include bp768 {
                        font-size: .13rem;
                    }

                    &::before {
                        content: "・";
                    }

                    span {
                        display: block;
                        font-weight: 300;
                        font-size: 11px; /* .11rem */
                        letter-spacing: 0.04em;
                        line-height: 20px;
                        text-align: left;
                        color: #666;
                        margin-left: 18px;
                        @include bp768 {
                            font-size: .11rem;
                        }
                    }
                }
            }
        }

        &--specialPrice {
            display: block;
            p {
                font-family: $jaMid;
                font-weight: 500;
                font-size: 14px; /* .14rem */
                letter-spacing: 0.04em;
                line-height: 25px;
                text-align: left;
                color: #e64290;
                margin-bottom: 2px;
                @include bp768 {
                    font-size: .14rem;
                }

                .special {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 18px; /* .18rem */
                    letter-spacing: 0.04em;
                    line-height: 25px;
                    text-align: left;
                    color: #222;
                    margin-left: 55px;
                    @include bp768 {
                        font-size: .18rem;
                    }

                }
            }

            .praiceInner {
                display: flex;
                margin: 0 auto 16px;
                span {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 12px; /* .12rem */
                    letter-spacing: 0.04em;
                    line-height: 25px;
                    text-align: left;
                    color: #222;
                    margin-right: 7px;
                    @include bp768 {
                        font-size: .12rem;
                    }
                }
                .price {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 18px; /* .18rem */
                    letter-spacing: 0.04em;
                    line-height: 25px;
                    text-align: left;
                    color: #222;
                    @include bp768 {
                        font-size: .18rem;
                    }
                }
                .col { color: #e64290; }

            }


            .toBuyButton {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 25px;
                text-align: center;
                display: block;
                color: #fff;
                width: 265px;
                height: 52px;
                line-height: 52px;
                background: #222222;
                @include bp768 {
                    margin-bottom: 29px;
                    font-size: .14rem;
                }
            }
        }
        &--bookinnerFlex {
            width: 508px;
            display: flex;
            justify-content: space-between;
            @include bp768 {
                width: 89.3%;
                margin: 0 auto;
            }
        }
        &--bookinner {
            width: 585px;
            margin: 32.5px auto 0;
            padding-bottom: 80.5px;
            position: relative;
            @include bp768 {
                width: 89.33%;
            }

            .book {
                img {
                    width: 92px;
                }
            }
            .bookContents {
                margin-top: 15px;
                @include bp768 {
                    margin-left: 20px;
                }
                &__flex {
                    .personName {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 13px; /* .13rem */
                        letter-spacing: 0.04em;
                        line-height: 1.84;
                        text-align: left;
                        color: #222;
                        margin-bottom: 8px;
                        @include bp768 {
                            font-size: .13rem;
                        }
                    }
                    .bookExplainContents {
                        font-family: $jaMid;
                        font-weight: 500;
                        font-size: 13px; /* .13rem */
                        letter-spacing: 0.04em;
                        line-height: 1.84;
                        text-align: left;
                        color: #222;
                        margin-bottom: 8px;
                        @include bp768 {
                            font-size: .13rem;
                        }

                        span {
                            font-size: 18px; /* .18rem */
                            letter-spacing: 0.04em;
                            line-height: 1.33;
                        }
                    }
                }
            }
            .bookExplainContents__second {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 13px; /* .13rem */
                letter-spacing: 0.04em;
                line-height: 1.53;
                text-align: left;
                color: #666;
                position: absolute;
                top: 80px;
                left: 119px;
                width: 473px;
                @include bp768 {
                    position: static;
                    width: 89.3%;
                    margin: 0 auto;
                    font-size: .13rem;
                }
            }
        }
    }
}

// ユーザーボイス

.welcome {
    &__userVoiceinner {

        &--title {
            padding-top: 121px;
            margin: 0 auto 45px;
            @include bp768 {
                width: 89.3%;
                margin: 0 auto 40px;
            }

            span {
                font-family: $en;
                font-weight: 300;
                font-size: 40px;
                letter-spacing: 0.04em;
                line-height: 45px;
                text-align: center;
                color: #5392a8;
                display: block;
                @include bp768 {
                    font-size: .30rem;
                    letter-spacing: 0.04em;
                    line-height: 1.5;
                }
            }

            font-family: $Jalight;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 45px;
            text-align: center;
            color: #5392a8;
            @include bp768 {
                font-size: .14rem;
            }

        }

        &--gallery {
            width: 1060px;
            margin: 0 auto 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include bp768 {
                overflow-x: auto;
                white-space: nowrap;
                width: 89.3%;
                margin: auto 0 80px auto;
            }
            .item {
                width: 250px;
                height: 520px;
                border: solid 1px #EDEDED;
                @include bp768 {
                    width: 100%;
                    height: auto;

                    &:nth-child(n+2) {
                        margin-left: 20px;
                    }
                }
                img {
                    width: 250px;
                    margin: 0 auto 16px;
                    @include bp768 {
                        width: 100%;
                    }
                }
                .itemText {
                    width: 230px;
                    margin: 0px auto 16px;;
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 12px;
                    letter-spacing: 0.04em;
                    line-height: 1.66;
                    text-align: left;
                    color: #222222;
                    @include bp768 {
                        overflow: hidden;
                        white-space: normal;
                        padding: 0px 10px;
                        font-size: .12rem;
                    }

                    .name { display: block;}
                    .tag { color: #679ad1; display: block;}
                }
            }
        }

        &--feture {
            width: 918px;
            margin: 0 auto 120px;
            @include bp768 {
                width: 89.3%;
                margin: 0 auto 80px;
            }

            .circleinner {
                width: 918px;
                margin: 0 auto 24px; 
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include bp768 {
                    width: 89.3%;
                    margin: 0 auto 0px;
                    display: block;
                }
            }

            .circle {
                width: 290px;
                height: 290px;
                border-radius: 50%;
                border: solid 10px #F1F8FD;
                position: relative;
                @include bp768 {
                    width: 100%;
                    height: 33vh;
                    margin: 0 auto 16px;
                    
                }


                .circleContent {    
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .circleTitle {
                        font-family: $jaMid;
                        font-weight: 500;
                        font-size: 20px;
                        letter-spacing: 0.04em;
                        line-height: 2.25;
                        text-align: center;
                        color: #222;
                        @include bp768 {
                            font-size: .2rem;
                        }
                        span {
                            display: block;
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 0.04em;
                            line-height: 45px;
                            text-align: center;
                            color: #222;
                            @include bp768 {
                                font-size: .14rem;
                            }
                        }
                    }
                    .circleText {
                        width: 200px;
                        margin: 0 auto;
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 12px;
                        letter-spacing: 0.04em;
                        line-height: 1.66;
                        text-align: center;
                        color: #222;
                        @include bp768 {
                            font-size: .12rem;
                        }
    
                    }
                }

            }
            .lastText {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 12px;
                letter-spacing: 0.04em;
                line-height: 20px;
                text-align: center;
                color: #666;
                display: block;
                @include bp768 {
                    font-size: .12rem;
                }

            }

        }
    }
}


.welcome {
    &__maxViewinner {
        margin: 0 auto 80px;
        img {
            width: 100%;
        }
    }
}

.welcome {
    &__beautyLiquidinner {
        width: 1060px;
        margin: 0 auto 40px;
        display: flex;
        justify-content: space-between;
        @include bp768 {
            width: 89.3%;
            display: block;
            margin: 0 auto 80px;
        }

        .boxInner {
            border: solid 1px #EDEDED;
            width: 530px;
            display: block;
            text-align: center;
            @include bp768 {
                width: 100%;
                padding-bottom: 40px;
            }


        }
        .title {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 28px;
            letter-spacing: 0.04em;
            line-height: 45px;
            text-align: center;
            color: #222;
            padding-top: 40px;
            @include bp768 {
                font-size: .28rem;
            }

            span {
                width: fit-content;
                font-family: $jaMid;
                font-weight: 500;
                font-size: 13px;
                letter-spacing: 0.04em;
                text-align: center;
                color: #222;
                display: block;
                border: solid 1px #CCCCCC;
                padding: 0px 23px;
                margin: 0 auto 24px;
                height: 29px;
                line-height: 29px;
                @include bp768 {
                    font-size: .13rem;
                }
            }
        }
        .text {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: center;
            color: #222;
            margin: 0 auto 54px;
            @include bp768 {
                margin: 0 auto 40px;
                font-size: .14rem;
            }
        }
        .textSecond {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: center;
            color: #222;
            margin: 0 auto 16px;
            @include bp768 {
                font-size: .14rem;
            }
        }

        .itemsContent {
            width: 200px;
            margin: 0 auto;
            border: none;
            img {
                width: 200px;
            }

            .name {
                font-family: $jaMid;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: center;
                color: #222;
                margin: 16px auto;
                @include bp768 {
                    font-size: .14rem;
                }

            }
            .checkinner {
                width: 169px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                border: none;
                p {
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.04em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    position: relative;
                    margin-left: 30px;
                    @include bp768 {
                        font-size: .14rem;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url("../images/check.png") no-repeat;
                        background-size: cover;
                        left: -30px;
                        top: 3px;
                    }
                }
            }
        }
        .itemsContentSecond {
            width: 430px;
            margin: 0 auto;
            @include bp768 {
                width: 100%;
            }

            &__title {
                width: 100%;
                padding: 10px 55px;
                margin-bottom: 8px;
                font-family: $jaMid;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: center;
                color: #fff;
                background: #679AD1;
                @include bp768 {
                    padding: 10px 0px;
                    margin: 0 auto 40px;
                    font-size: .14rem;
                }

            }
            .flex {
                display: flex;
                justify-content: space-between;
                @include bp768 {
                    display: block;
                    width: 60.8%;
                    margin: 0 auto;
                }

                &__box {
                    img {
                        width: 200px;
                        @include bp768 {
                            width: 100%;
                        }
                    }
                    &--text {
                        font-family:$Jalight;
                        font-weight: 300;
                        font-size: 16px;
                        letter-spacing: 0.04em;
                        line-height: 1.5;
                        text-align: left;
                        color: #679ad1;
                        margin: 8px auto;
                        @include bp768 {
                            font-size: .16rem;
                        }
                    }
                    &--name {
                        font-family:$jaMid;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.04em;
                        line-height: 2;
                        text-align: left;
                        color: #222;
                        margin-bottom: 16px;
                        @include bp768 {
                            font-size: .14rem;
                        }
                    }
                    .checkinner {
                        width: 169px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: center;
                        border: none;
                        p {
                            font-family: $Jalight;
                            font-weight: 300;
                            font-size: 14px;
                            letter-spacing: 0.04em;
                            line-height: 2;
                            text-align: left;
                            color: #222;
                            position: relative;
                            margin-left: 30px;
                            @include bp768 {
                                font-size: .14rem;
                            }
                            &::before {
                                position: absolute;
                                content: "";
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                background: url("../images/check.png") no-repeat;
                                background-size: cover;
                                left: -30px;
                                top: 3px;
                            }
                        }
                        sup {
                            font-family: $en;
                            font-weight: normal;
                            font-size: 9px;
                            letter-spacing: 0.04em;
                            text-align: left;
                            color: #666;
                            @include bp768 {
                                font-size: .9em;
                            }
                        }
                    }
                }

            }
            .lastText {
                
                font-family: $Jalight;
                font-weight: 300;
                font-size: 12px;
                letter-spacing: 0.04em;
                line-height: 20px;
                text-align: left;
                color: #666;
                display: block;
                margin: 16px auto 40px;
                @include bp768 {
                    font-size: .12rem;
                }
            }
        }
    }
}

.welcome {
    &__midViewinner {
        width: 1060px;
        display: block;
        margin: 0 auto;
        @include bp768 {
            width: 100%;
        }
        img {
            width: 100%;
            margin: 0 auto 80px;
            @include bp768 {
                margin: 0 auto 24px;
            }
        }
        &--Exinner {
            width: 1060px;
            margin: 0 auto 80px;
            display: flex;
            justify-content: space-between;
            @include bp768 {
                width: 89.3%;
                display: block;
            }
    
            .title {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 30px; /* .30rem */
                letter-spacing: 0.04em;
                line-height: 1.5;
                text-align: left;
                color: #222;
                margin-left: 80px;
                @include bp768 {
                    margin-left: 0;
                    margin-bottom: 24px;

                    font-size: .24rem;
                    letter-spacing: 0.04em;
                    line-height: 1.58;
                }
    
                span { display: block;}
            }
    
            .explain p {
                width: 530px    ;
                font-family: $Jalight;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 0.04em;
                line-height: 42px;
                text-align: left;
                color: #222;
                @include bp768 {
                    width: 100%;
                    font-size: .14rem;
                }

            }
        }
        .holdical {
            width: 617.8px;
            display: block;
            margin: 0 auto;
            @include bp768 {
                width: 89.3%;
                margin: 0 auto 56px;
            }
            img {
                width: 100%;
                
            }
        }
    }
}

.welcome {
    &__hosricMedicalinner {
        margin: 0 auto 56px;
    }
}

.welcome {
    &__simplisseCeoinner {
        width: 900px;
        margin: 0 auto 80px;
        @include bp768 {
            width: 89.3%;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            @include bp768 {
                display: block;
            }
        }

        &--seoBox {
            width: 370px;
            @include bp768 {
                width: 100%;
            }

            .pic img {
                width: 100%;
                margin-bottom: 16px;
                @include bp768 {
                    margin-bottom: 40px;
                }
            }

        }

        &--exBox {
            .title {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 24px;
                letter-spacing: 0.04em;
                line-height: 1.66;
                text-align: left;
                color: #222;
                margin-bottom: 24px;
                @include bp768 {
                    font-size: .24rem;
                }

                span {
                    display: block;
                }
            }
            .explain {

                p {
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.04em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    

                    margin-bottom: 27px;
                    @include bp768 {
                        font-size: .14rem;
                    }
                }
            }
        }
        .personalEx {
            width: 370px;
            @include bp768 {
                width: 100%;
            }
            .names {
                font-family: $en;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.08em;
                line-height: 3;
                text-align: left;
                color: #222;
                margin-bottom: 8px;
                @include bp768 {
                    font-size: .10rem;
                }

                span {
                    display: block;
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.18em;
                    line-height: 1.66;
                    text-align: left;
                    color: #222;
                    @include bp768 {
                        font-size: .18rem;
                    }
                }
            }
            .license {
                margin-bottom: 8px;
                span {
                    display: block;
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 10px;
                    letter-spacing: 0.08em;
                    line-height: 1.8;
                    text-align: left;
                    color: #222;
                    @include bp768 {
                        font-size: .10rem;
                    }

                }
            }
            .text {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.08em;
                line-height: 1.8;
                text-align: left;
                color: #222;
                @include bp768 {
                    font-size: .10rem;
                }

            }
        }
    }
}