﻿<%@ control language="C#" autoeventwireup="true" inherits="Form_Common_Global_GlobalChangeIcon, App_Web_globalchangeicon.ascx.d580736f" %>
<% if (Constants.GLOBAL_OPTION_ENABLE)
   { %>
<a href="javascript:void(0);">
	<img src="<%: this.UserNationanFlagPath %>">
</a>
<% } %>