
// font

$jaMid : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック M', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$Jalight : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$en : YakuHanJP, "Gotham SSm A", "Gotham SSm B", 'TBゴシック SL', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
// l 300 R M 500

$bp1281: 1281px;  // 1281 以上

@mixin bp1281 {
    @media (min-width: ($bp1281)) {
        @content;
    }
}

$bp1280: 1280px;

@mixin bp1280 {
    @media (max-width: ($bp1280)) {
        @content;
    }
}

$bp768: 768px;  // スマホ

@mixin bp768 {
    @media (max-width: ($bp768)) {
        @content;
    }
}

.pc_contents {
    display: block;
    @include bp768 {
        display: none;
    }
}

.sp_contents {
    display: none;
    @include bp768 {
        display: block;
    }
}

$SPmax : 89.3%;

// 後ほど消す
html{
    font-size: calc(100vw / 12.8);

    @include bp768 {
        font-size: calc(100vw / 3.75);
    };
}


// common 

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

//common

.regularly {
    div {
        text-align: center;
        font-size: 0;
    }
    img {
        vertical-align:top;
    }
}

// bread

#regularly {
    .breadArea ul {
        width: 1020px;
        margin: 20px auto 0;
    }

}

// first Views

.regularly {
    a {
        text-decoration: none !important;
    }
    &__title {
        margin: 60.5px auto 0;
        @include bp768(){
            width: 80%;
            margin: 44px auto 16px;
        }
        .logo {
            width: 456px;
            margin: 0 auto 10px;
            font-size: 0;
            @include bp768(){
                width: 29.8%;
                margin: 0;
                margin-bottom: 10px;
            }


            img {
                width: 100px;
                display: block;
                text-align: left;
                @include bp768(){
                    width: 100%;
                }
            }
        }
        h2 {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 40px;
            letter-spacing: 0.04em;
            line-height: 0.9;
            text-align: center;
            color: #222;
            margin: 0 auto 16px;
            @include bp768(){
                font-size: .26rem;
            }
        }

        &--sub {
            font-family: $Jalight;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04em;
            line-height: 2;
            text-align: center;
            color: #222;
            margin: 0 auto 20.5px;
            @include bp768(){
                width: $SPmax;
                margin: 0 auto 40.1px;
                font-size: .14rem;
            }
        }
    }
    @include bp768(){
        width: 100%;
        margin: 0 auto;

    }
}


.regularly {
    &__boxContainer {
        margin: 0 auto 40px;
        .box {
            width: 920px;
            margin: 0 auto 10px;
            display: flex;
            align-items: center;
            border: solid 1px #F0F3F5;
            @include bp768(){
                width: $SPmax;
                display: block;
                margin: 0 auto 10px;
            }

            &:nth-child(2){
                .title {
                    padding: 60px 0px 61px 1px;
                    @include bp768(){
                        padding: 16px 0;
                    }
                }
            }
            &:nth-child(3){
                .title {
                    padding: 70px 0px 71px 1px;
                    @include bp768(){
                        padding: 16px 0;
                    }
                }
            }
            &:nth-child(4){
                .title {
                    padding: 68px 0px 68px 1px;
                    @include bp768(){
                        padding: 16px 0;
                    }
                }
            }
            &:nth-child(6){
                .title {
                    padding: 98px 0px 98px 1px;
                    @include bp768(){
                        padding: 16px 0;
                    }
                }
            }

            .title {
                width: 143px;
                background: #F0F3F5;
                padding: 112.1px 32px 109.9px 33px;
                margin-right: 30px;
                @include bp768(){
                    width: 100%;
                    padding: 16px 0;
                    margin: 0 auto 16px;
                }



                p {
                    font-family: $jaMid;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.04em;
                    line-height: 2.5;
                    text-align: center;
                    color: #659ad3;
                    @include bp768(){
                        font-size: .18rem;
                    }
                }
            }
            .content {

                &-wrap {
                    width: 662.5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include bp768(){
                        display: block;
                        width: 100%;
                    }

                }

                div {
                    &:nth-child(2){
                        margin-top: 16px;
                    }
                    .content__title {
                        font-family: $jaMid;
                        font-weight: 500;
                        font-size: 22px;
                        letter-spacing: 0.04em;
                        line-height: 1.5;
                        text-align: left;
                        color: #222;
                        margin-bottom: 8px;
                        @include bp768(){
                            text-align: center;
                            font-size: .22rem;
                            line-height: 1.5;
                            margin-bottom: 8px;
                        }
                    }
                    .content-content {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 14px;
                        letter-spacing: 0.04em;
                        line-height: 1.71;
                        text-align: left;
                        color: #222;
                        margin-bottom: 8px;
                        @include bp768(){
                            text-align: center;
                            font-size: .14rem;
                        }
                    }
                    .content-sub {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 10px;
                        letter-spacing: 0.04em;
                        line-height: 2;
                        text-align: left;
                        color: #222;
                        @include bp768(){
                            text-align: center;
                            font-size: .10rem;
                            margin-bottom: 20px;
                        }

                    }
                    .sp-sub {
                        @include bp768(){
                            text-align: left;
                            width: 94%;
                            margin: 0 auto;
                        }
                    }
                    .f-text {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 14px;
                        letter-spacing: 0.04em;
                        line-height: 1.71;
                        text-align: left;
                        color: #659ad3;
                        @include bp768(){
                            font-size: .14rem;
                            text-align: center;
                            margin-bottom: 8px;
                        }

                        &__img {
                            img {
                                width: 501px;
                                @include bp768(){
                                    width: 94%;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }   
                }
            }
            .icon1 {
                img {
                    width: 71px;
                    vertical-align: baseline;
                    @include bp768(){
                        width: 21%;
                        padding-bottom: 21px;
                    }
                }
            }
            .icon2 {
                img {
                    width: 91px;
                    vertical-align: baseline;
                    @include bp768(){
                        width: 25%;
                        padding-bottom: 21px;
                    }
                }
            }
            .icon3 {
                img {
                    width: 71px;
                    vertical-align: middle;
                    @include bp768(){
                        width: 20.8%;
                        padding-bottom: 20px;
                    }
                }
            }
            .icon4 {
                img {
                    width: 118px;
                    vertical-align: middle;
                    @include bp768(){
                        width: 35%;
                        padding-bottom: 20px;
                    }
                }
            }
            .icon5 {
                img {
                    width: 70px;
                    vertical-align: middle;
                    @include bp768(){
                        width: 20.8%;
                        padding-bottom: 20px;
                    }
                }
            }

            .icon6 {
                img {
                    width: 140px;
                    vertical-align: middle;
                    @include bp768(){
                        width: 41.7%;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}


.regularly {
    &__explainContainer {
        width: 920px;
        margin: 0 auto 200px;
        @include bp768(){
            width: $SPmax;
            margin: 0 auto 120px;
        }

        &--block {
            margin-bottom: 40px;
            .title {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 22px;
                letter-spacing: 0.04em;
                line-height: 1.09;
                text-align: left;
                color: #222;
                margin-bottom: 16px;
                @include bp768(){
                    font-size: .22rem;
                }
            }
            .sub {
                font-family: $Jalight;
                font-weight: 300;
                font-size: 13px;
                letter-spacing: 0.04em;
                line-height: 2;
                text-align: left;
                color: #222;
                @include bp768(){
                    font-size: .13rem;
                }

                span {
                    display: block;
                    font-family: $Jalight;
                    font-weight: 300;
                    font-size: 10px;
                    letter-spacing: 0.04em;
                    line-height: 2;
                    text-align: left;
                    color: #222;
                    @include bp768(){
                        font-size: .10rem;
                    }
                }
            }
        }
    }
}



.regularly {
    &__shopItems {
        &__BeautyInner {
            .title {
                margin: 81px auto 49px;
                font-family: $en;
                font-weight: normal;
                font-size: 40px;
                letter-spacing: 0.27em;
                line-height: 32px;
                text-align: center;
                color: #74b5e4;
                @include bp768(){
                    margin: 41px auto 42px;
                    font-size: .40rem;
                }

            }

            &-box {
                width: 1060px;
                margin: 0 auto 121px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: end;
                grid-gap: 24px;
                @include bp768(){
                    width: $SPmax;
                    margin: 0 auto;
                }
                

                .item {
                    width: 247px;
                    margin-bottom: 80px;
                    @include bp768(){
                        width: 46%;
                        margin-bottom: 40px;
                    }
                    div {
                        text-align: left;
                        img {
                            width: 247px;
                            margin-bottom: 24px;
                            @include bp768(){
                                width: 100%;
                            }
                        }
                    }

                    &--title {
                        font-family: $Jalight;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.08em;
                        line-height: 1.71;
                        text-align: left;
                        color: #222;
                        margin-bottom: 16px;
                        @include bp768(){
                            font-size: .14rem;
                        }
                    }
                    &--effct {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 12px;
                        letter-spacing: 0.04em;
                        line-height: 2;
                        text-align: left;
                        color: #444;
                        margin-bottom: 16px;
                        @include bp768(){
                            font-size: .12rem;
                        }
                    }
                    &--price {
                        font-family: $en;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.08em;
                        line-height: 1.71;
                        text-align: left;
                        color: #222;
                        @include bp768(){
                            font-size: .14rem;
                        }

                        .normal {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 14px;
                            @include bp768(){
                                font-size: .14rem;
                            }
                        }
                        .tax {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 10px;
                            @include bp768(){
                                font-size: .10rem;
                            }
                        }
                    }
                    .speacialPrice {
                        display: flex;
                        @include bp768(){
                            display: block;
                        }
                        &__first {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 0.08em;
                            line-height: 1.71;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .14rem;
                            }
                        }
                        .item--price__first {
                            display: inline;
                            font-family: $en;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 0.08em;
                            line-height: 1.71;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .14rem;
                            }

                            .tax__first {
                                font-size: 10px;
                                @include bp768(){
                                    font-size: .10rem;
                                }
                            }
                        }

                        &__second {
                            font-family:$Jalight;
                            font-weight: 300;
                            font-size: 11px;
                            letter-spacing: 0.08em;
                            line-height: 2.18;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .11rem;
                            }

                        }
                        .item--price__second {
                            font-family: $Jalight;
                            font-weight: 300;
                            font-size: 11px;
                            letter-spacing: 0.08em;
                            line-height: 2.18;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .11rem;
                            }

                            .tax {
                                font-family: $Jalight;
                                font-weight: 300;
                                font-size: 11px;
                                letter-spacing: 0.08em;
                                line-height: 2.18;
                                text-align: left;
                                color: #e64290;
                                @include bp768(){
                                    font-size: .11rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.regularly {
    &__shopItems {
        &__WinllessInner {
            .title {
                margin: 81px auto 49px;
                font-family: $en;
                font-weight: normal;
                font-size: 40px;
                letter-spacing: 0.27em;
                line-height: 32px;
                text-align: center;
                color: #8FCECC;
                @include bp768(){
                    margin: 41px auto 42px;
                    font-size: .40rem;
                }
            }

            &-box {
                width: 1060px;
                margin: 0 auto 121px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: end;
                grid-gap: 24px;
                @include bp768(){
                    width: $SPmax;
                    margin: 0 auto;
                }

                .item {
                    width: 247px;
                    margin-bottom: 80px;
                    @include bp768(){
                        width: 46%;
                        margin-bottom: 40px;
                    }
                    div {
                        text-align: left;
                        img {
                            width: 247px;
                            margin-bottom: 24px;
                            @include bp768(){
                                width: 100%;
                            }
                        }
                    }

                    &--title {
                        font-family: $Jalight;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.08em;
                        line-height: 1.71;
                        text-align: left;
                        color: #222;
                        margin-bottom: 16px;
                        @include bp768(){
                            font-size: .14rem;
                        }
                    }
                    &--effct {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 12px;
                        letter-spacing: 0.04em;
                        line-height: 2;
                        text-align: left;
                        color: #444;
                        margin-bottom: 16px;
                        @include bp768(){
                            font-size: .12rem;
                        }
                    }
                    &--price {
                        font-family: $en;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.08em;
                        line-height: 1.71;
                        text-align: left;
                        color: #222;
                        @include bp768(){
                            font-size: .14rem;
                        }

                        .normal {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 14px;
                            @include bp768(){
                                font-size: .14rem;
                            }
                        }
                        .tax {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 10px;
                            @include bp768(){
                                font-size: .10rem;
                            }
                        }
                    }
                    .speacialPrice {
                        display: flex;
                        @include bp768(){
                            display: block;
                        }
                        &__first {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 0.08em;
                            line-height: 1.71;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .14rem;
                            }
                        }
                        .item--price__first {
                            display: inline;
                            font-family: $en;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 0.08em;
                            line-height: 1.71;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .14rem;
                            }

                            .tax__first {
                                font-size: 10px;
                                @include bp768(){
                                    font-size: .10rem;
                                }
                            }
                        }

                        &__second {
                            font-family:$Jalight;
                            font-weight: 300;
                            font-size: 11px;
                            letter-spacing: 0.08em;
                            line-height: 2.18;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .11rem;
                            }

                        }
                        .item--price__second {
                            font-family: $Jalight;
                            font-weight: 300;
                            font-size: 11px;
                            letter-spacing: 0.08em;
                            line-height: 2.18;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .11rem;
                            }

                            .tax {
                                font-family: $Jalight;
                                font-weight: 300;
                                font-size: 11px;
                                letter-spacing: 0.08em;
                                line-height: 2.18;
                                text-align: left;
                                color: #e64290;
                                @include bp768(){
                                    font-size: .11rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.regularly {
    &__shopItems {
        &__otherBrandsInner {
            .title {
                margin: 81px auto 49px;
                font-family: $en;
                font-weight: normal;
                font-size: 40px;
                letter-spacing: 0.27em;
                line-height: 32px;
                text-align: center;
                color: #666666;
                @include bp768(){
                    margin: 41px auto 42px;
                    font-size: .40rem;
                }

            }

            &-box {
                width: 789px;
                margin: 0 auto 121px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                grid-gap: 24px;
                @include bp768(){
                    width: $SPmax;
                    margin: 0 auto;
                }

                .item {
                    width: 247px;
                    margin-bottom: 80px;
                    @include bp768(){
                        width: 100%;
                        margin-bottom: 40px;
                    }
                    div {
                        text-align: left;
                        img {
                            width: 247px;
                            margin-bottom: 24px;
                            @include bp768(){
                                width: 100%;
                            }
                        }
                    }

                    &--title {
                        font-family: $Jalight;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.08em;
                        line-height: 1.71;
                        text-align: left;
                        color: #222;
                        margin-bottom: 16px;
                        @include bp768(){
                            width: 46%;
                            margin-bottom: 40px;
                        }
                    }
                    &--effct {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 12px;
                        letter-spacing: 0.04em;
                        line-height: 2;
                        text-align: left;
                        color: #444;
                        margin-bottom: 16px;
                        @include bp768(){
                            font-size: .12rem;
                        }
                    }
                    &--price {
                        font-family: $en;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.08em;
                        line-height: 1.71;
                        text-align: left;
                        color: #222;
                        @include bp768(){
                            font-size: .14rem;
                        }

                        .normal {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 14px;
                            @include bp768(){
                                font-size: .14rem;
                            }
                        }
                        .tax {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 10px;
                            @include bp768(){
                                font-size: .10rem;
                            }
                        }
                    }
                    .speacialPrice {
                        display: flex;
                        @include bp768(){
                            display: block;
                        }
                        &__first {
                            font-family: $jaMid;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 0.08em;
                            line-height: 1.71;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .14rem;
                            }
                        }
                        .item--price__first {
                            display: inline;
                            font-family: $en;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 0.08em;
                            line-height: 1.71;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .14rem;
                            }

                            .tax__first {
                                font-size: 10px;
                                @include bp768(){
                                    font-size: .10rem;
                                }
                            }
                        }

                        &__second {
                            font-family:$Jalight;
                            font-weight: 300;
                            font-size: 11px;
                            letter-spacing: 0.08em;
                            line-height: 2.18;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .11rem;
                            }

                        }
                        .item--price__second {
                            font-family: $Jalight;
                            font-weight: 300;
                            font-size: 11px;
                            letter-spacing: 0.08em;
                            line-height: 2.18;
                            text-align: left;
                            color: #e64290;
                            @include bp768(){
                                font-size: .11rem;
                            }

                            .tax {
                                font-family: $Jalight;
                                font-weight: 300;
                                font-size: 11px;
                                letter-spacing: 0.08em;
                                line-height: 2.18;
                                text-align: left;
                                color: #e64290;
                                @include bp768(){
                                    font-size: .11rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.regularly {
    &__faqInnerwrapbk {
        width: 100%;
        border-top: solid 1px #CCCCCC;
    }
    &__faqInnerwrap {
        width: 840px;
        margin: 0 auto 80px;
        @include bp768(){
            width: $SPmax;
            margin: 0 auto;
        }

        &--title {
            padding-top: 40px;
            font-family: $jaMid;
            font-weight: 500;
            font-size: 20px;
            text-align: left;
            color: #0f0f0f;
            margin-bottom: 24px;
            @include bp768(){
                font-size: .20rem;
            }

        }
        &--faqContents {
            grid-column: 2;
            @include bp768(){
                margin-left: 0;
            }
            .column {
                .title {
                    font-family:$jaMid;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 0.02em;
                    line-height: 1.22;
                    text-align: left;
                    color: #222;
                    width: 100%;
                    background: #F1F8FD;
                    padding: 16px 0 16px 24px;
                    margin: 0 auto 40px;
                    @include bp768(){
                        font-size: .18rem;
                    }
                }
                .row  {
                    margin: 0 auto 56px;
                    &__title {
                        font-family: $jaMid;
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #0f0f0f;
                        margin: 0 auto 24px;
                        @include bp768(){
                            font-size: .16rem;
                            width: 89.3%;
                            margin: 0 auto 24px;
                        }

                    }
                    .par {
                        &:nth-last-child(1){
                            border-bottom: solid 1px #E5E5E5;;
                        }
                        .child-items {
                            padding: 24px 0 24px 58px;
                            border: solid 1px #E5E5E5;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include bp768(){
                                padding: 24px 20px 24px 58px;
                            }

                            &:nth-child(n+1){
                                border-bottom: none;
                            }

                            p {
                                font-family: $Jalight;
                                font-weight: 300;
                                font-size: 14px;
                                letter-spacing: 0.02em;
                                line-height: 2;
                                text-align: left;
                                color: #222;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    display: inline-block;
                                    width: 21px;
                                    height: 16px;
                                    background: url("../images/Q.png") no-repeat;
                                    background-size: cover;
                                    left: -37.5px;
                                    top: 7px;
                                    @include bp768(){
                                        top: 30%;
                                    }
                                }
                                @include bp768(){
                                    font-size: .14rem;
                                    width: 77%;
                                }
                            }

                            .toggleBtn {
                                font-size: 0;
                                padding-right: 40px;
                                position: relative;
                                overflow: hidden;
                                @include bp768(){
                                    padding: 6px 20px;
                                }

                                &::after {
                                    content:"";
                                    position: absolute;
                                    width:100%;
                                    height:100%;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    background: #fff;
                                    z-index: -1;
                                
                                }
                                img {
                                    width: 14px;
                                }
                            }
                        }
                        .child-items-Answer {
                            padding: 24px 58px 24px 58px;
                            background: #E5E5E5;

                            p {
                                font-family: $Jalight;
                                font-weight: 300;
                                font-size: 14px;
                                letter-spacing: 0.02em;
                                line-height: 2;
                                text-align: left;
                                color: #222;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    display: inline-block;
                                    width: 21px;
                                    height: 16px;
                                    background: url("../images/A.png") no-repeat;
                                    background-size: cover;
                                    left: -37.5px;
                                    top: 7px;
                                }

                                a {
                                    text-decoration: none;
                                    color: #82ade9;
                                    font-weight: 500;
                                }
                                @include bp768(){
                                    font-size: .14rem;
                                }
                            }
                        }
                    }
                    .answer {
                        font-family: $Jalight;
                        font-weight: 300;
                        font-size: 14px;
                        letter-spacing: 0.02em;
                        line-height: 2;
                        text-align: left;
                        color: #222;
                        @include bp768(){
                            font-size: .14rem;
                        }
                    }
                }
            }
        }
    }
}