﻿<%--
=========================================================================================================
  Module      : カスタムページテンプレート画面(CustomPageTemplate.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright w2solution Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
--%>
<%-- ▽ユーザーコントロール宣言領域▽ --%>
<%-- △ユーザーコントロール宣言領域△ --%>
<%@ Page Title="支払い方法について" Language="C#" Inherits="ContentsPage" MasterPageFile="~/Form/Common/DefaultPage.master" %>
<%--

下記のタグはファイル情報保持用です。削除しないでください。
<%@ FileInfo LayoutName="Default" %><%@ FileInfo LastChanged="ｗ２ユーザー" %>

--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<%-- ▽編集可能領域：HEAD追加部分▽ --%>

<%-- △編集可能領域△ --%>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<%-- ▽編集可能領域：コンテンツ▽ --%>
	<div id="dvUserBox">
		<div id="dvUserContents">
			<h2>支払い方法について</h2>
			<div class="unit">
				<h4>【代金引換】</h4>
				商品お届けの際に配送会社（佐川急便）に現金でお支払いください。代引手数料は当社が負担いたします。<br />
				恐れ入りますが、クレジットカードでのお支払はできかねます。<br />
				クレジット決済（注文時のみ）<br />
				<br />
				お電話、オンラインでの注文時のみ決済可能です。<br />
				（代引きではクレジット決済は利用できません。）<br />
				支払手数料は、当社が負担いたします。<br />
				お支払い回数は、一括支払いのみで承っております。<br />
				ご本人さま名義のクレジットカードをご使用ください。<br />
				カード番号・有効期限を、入力またはお伝えいただくことが必要となります。<br />
				お電話でご注文の際は、お手元にカードをご準備ください。<br />
				<br />
				▼ご利用いただけるクレジットカード<br />
				VISA<br />
				MasterCard<br />
				JCB<br />
				AmericanExpress<br />
				SaisonCard<br /><br /><br />
				<h4>【後払い】</h4>
				商品に同封されている振込用紙にて、商品到着後14日以内にお支払いください。なお、この支払方法は、ご購入金額の合計（消費税等込み）が、7,000円未満の場合にのみご利用いただけます。後払い手数料は、当社が負担いたします。振込用紙を紛失された場合は、再発行を承っております。「当社通販お客様センター」へご連絡ください。 7,000円以上の場合には、クレジットカード決済をご選択ください。<br />
				<br />
				ご利用可能なコンビニエンスストアは、次のとおりです。<br />
				セブンイレブン<br />
				ローソン<br />
				ファミリーマート<br />
				サークルK<br />
				サンクス<br />
				デイリーヤマザキ<br />
				ミニストップ<br />
				スリーエフ<br />
				セイコーマート
			</div>
		</div>
	</div>
<%-- △編集可能領域△ --%>
</asp:Content>